Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check

web-js-lint-check:
  name: Web JS Lint Check
  entry: python ./pre-commit/web_lint_check.py js
  language: system

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: python ./pre-commit/web_lint_check.py misc
  language: system

chore: bump version: 0.19.6-dev0 -> 0.19.6-rc0
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  cli/determined_cli/__version__.py
  cli/setup.py
  common/determined_common/__version__.py
  common/setup.py
  deploy/determined_deploy/__version__.py
  deploy/setup.py
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/craco.config.js
Due: none

fix: fetchMyRoles on login, only if rbac is on
  webui/react/src/components/DeterminedAuth.tsx
Due: web-js-lint-check

fix: account for incompatible expconf change
  master/static/migrations/20221019080320_fixup-incompatible-expconf.tx.down.sql
  master/static/migrations/20221019080320_fixup-incompatible-expconf.tx.up.sql
Due: none

fix: fetchMyRoles on login, only if rbac is on (#5291)
  webui/react/src/components/DeterminedAuth.tsx
Due: web-js-lint-check

docs: add documentation for setting up Slack Webhooks [WEB-215] (#5278)
  docs/assets/images/slack-app-configuration.jpeg
  docs/assets/images/slack-base-url-config.png
  docs/assets/images/slack-incoming-webhooks-page.jpeg
  docs/assets/images/slack-message-with-links.png
  docs/assets/images/slack-message-without-links.png
  docs/assets/images/slack-webhook-creation-in-determined.jpeg
  docs/assets/images/test-webhook.png
  docs/assets/images/webhook-test-success.png
  docs/integrations/notification/slack.rst
Due: none

pair review stuff
  docs/integrations/notification/index.rst
  docs/reference/reference-deploy/config/master-config-reference.rst
  master/cmd/determined-master/init.go
  master/cmd/determined-master/root_test.go
  master/go.mod
  master/go.sum
  master/internal/api.go
  master/internal/config/config.go
  master/internal/errgroupx/errgroupx.go
  master/internal/experiment.go
  master/internal/restore.go
  master/internal/webhooks/api_webhook.go
  master/internal/webhooks/postgres_webhook.go
  master/internal/webhooks/shipper.go
  master/internal/webhooks/webhook.go
  master/internal/workspace/postgres_workspace.go
  master/static/migrations/20221006135250_webhook-channel.tx.down.sql
  master/static/migrations/20221006135250_webhook-channel.tx.up.sql
  master/static/migrations/20221011124252_edit-webhook-events.tx.down.sql
  master/static/migrations/20221011124252_edit-webhook-events.tx.up.sql
Due: none

typo changing to queue
  master/internal/webhooks/postgres_webhook.go
  master/internal/webhooks/webhook.go
Due: none

fix: tweak live docs server.
  docs/live.py
Due: none

fix: account for incompatible expconf change (#5292)
  master/static/migrations/20221019080320_fixup-incompatible-expconf.tx.down.sql
  master/static/migrations/20221019080320_fixup-incompatible-expconf.tx.up.sql
Due: none

lint
  master/go.mod
  master/go.sum
Due: none

add condition before fetch role
  webui/react/src/components/DeterminedAuth.tsx
Due: web-js-lint-check

chore: install postcss
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/shared/styles/variables.less
Due: web-misc-lint-check

chore: API and DB error for invalid input
  master/internal/api/apiutils/utils.go
  master/internal/db/database.go
Due: none

improved MapAndFilterErrors
  master/internal/api/apiutils/utils.go
  master/internal/usergroup/api_groups.go
Due: none

add new InvalidInput error to mapping
  master/internal/api/apiutils/utils.go
Due: none

remove redundant nil from ErrorPassthroughSet
  master/internal/api/apiutils/utils.go
Due: none

fix: Avatar text color change (DET-8237) (#5246)
  webui/react/src/shared/components/Avatar/Avatar.module.scss
  webui/react/src/shared/components/Avatar/Avatar.tsx
Due: web-js-lint-check

chore: Revert "chore: update to `Stylelint` v14 (#5238)"
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/Json.module.scss
  webui/react/src/components/Markdown.module.scss
  webui/react/src/components/Navigation.module.scss
  webui/react/src/components/NavigationSideBar.module.scss
  webui/react/src/components/PageHeader/PageHeader.module.scss
  webui/react/src/components/ResponsiveFilters.module.scss
  webui/react/src/components/Table/InteractiveTable.module.scss
  webui/react/src/components/Table/TableBatch.module.scss
  webui/react/src/components/ThemeToggle.module.scss
  webui/react/src/components/UPlot/UPlotChart.module.scss
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.module.scss
  webui/react/src/omnibar/Omnibar.module.scss
  webui/react/src/omnibar/tree-extension/TreeNode.module.scss
  webui/react/src/pages/ModelRegistry.module.scss
  webui/react/src/pages/WebhookList.module.scss
  webui/react/src/pages/WorkspaceDetails/WorkspaceDetailsHeader.module.scss
  webui/react/src/shared/components/AvatarCard/AvatarCard.module.scss
  webui/react/src/shared/configs/.stylelintrc.js
  webui/react/src/shared/styles/antd.scss
  webui/react/src/shared/styles/icons.scss
  webui/react/src/shared/styles/storybook.scss
Due: web-js-lint-check, web-misc-lint-check

chore: Revert "chore: update to `Stylelint` v14 (#5238)" (#5296)
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/Json.module.scss
  webui/react/src/components/Markdown.module.scss
  webui/react/src/components/Navigation.module.scss
  webui/react/src/components/NavigationSideBar.module.scss
  webui/react/src/components/PageHeader/PageHeader.module.scss
  webui/react/src/components/ResponsiveFilters.module.scss
  webui/react/src/components/Table/InteractiveTable.module.scss
  webui/react/src/components/Table/TableBatch.module.scss
  webui/react/src/components/ThemeToggle.module.scss
  webui/react/src/components/UPlot/UPlotChart.module.scss
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.module.scss
  webui/react/src/omnibar/Omnibar.module.scss
  webui/react/src/omnibar/tree-extension/TreeNode.module.scss
  webui/react/src/pages/ModelRegistry.module.scss
  webui/react/src/pages/WebhookList.module.scss
  webui/react/src/pages/WorkspaceDetails/WorkspaceDetailsHeader.module.scss
  webui/react/src/shared/components/AvatarCard/AvatarCard.module.scss
  webui/react/src/shared/configs/.stylelintrc.js
  webui/react/src/shared/styles/antd.scss
  webui/react/src/shared/styles/icons.scss
  webui/react/src/shared/styles/storybook.scss
Due: web-js-lint-check, web-misc-lint-check

fix: `det rbac describe-role` list global assignments for users.
  harness/determined/cli/rbac.py
Due: none

feat(helm): Upgrade to 0.19.5
  helm/charts/determined/Chart.yaml
Due: none

Restore older MapAndFilterErrors behavior for now
  master/internal/api/apiutils/utils.go
  master/internal/usergroup/api_groups.go
Due: none

fix: dont trigger loading state on experiment selection
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/OldProjectDetails.tsx
Due: web-js-lint-check

fix: dont show scrollbars in table cells
  webui/react/src/components/Table/InteractiveTable.module.scss
  webui/react/src/components/Table/Table.tsx
  webui/react/src/components/TagList.module.scss
  webui/react/src/components/TagList.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/ModelDetails.module.scss
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelRegistry.module.scss
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/OldProjectDetails.tsx
  webui/react/src/pages/ProjectDetails.module.scss
  webui/react/src/shared/styles/antd.scss
Due: web-js-lint-check

chore: take out manual shared testing instructions (#5270)
  .github/pull_request_template.md
Due: none

fix: dont show scrollbars in table cells (#5290)
  webui/react/src/components/Table/InteractiveTable.module.scss
  webui/react/src/components/Table/Table.tsx
  webui/react/src/components/TagList.module.scss
  webui/react/src/components/TagList.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/ModelDetails.module.scss
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelRegistry.module.scss
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/OldProjectDetails.tsx
  webui/react/src/pages/ProjectDetails.module.scss
  webui/react/src/shared/styles/antd.scss
Due: web-js-lint-check

fix: dont show loading state when polling trial details
  webui/react/src/pages/ExperimentDetails/ExperimentMultiTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/TrialDetails.tsx
Due: web-js-lint-check

fmt
  webui/react/src/pages/TrialDetails.tsx
Due: web-js-lint-check

edit
  webui/react/src/pages/TrialDetails.tsx
Due: web-js-lint-check

fix: remove compare for experiments batch actions
  webui/react/src/pages/OldProjectDetails.tsx
Due: web-js-lint-check

cleanup
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/OldProjectDetails.tsx
  webui/react/src/types.ts
  webui/react/src/utils/experiment.ts
Due: web-js-lint-check

chore: bump version: 0.19.6-rc0 -> 0.19.6-rc1
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  cli/determined_cli/__version__.py
  cli/setup.py
  common/determined_common/__version__.py
  common/setup.py
  deploy/determined_deploy/__version__.py
  deploy/setup.py
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/craco.config.js
Due: none

fix: `det rbac describe-role` list global assignments for users. (#5297)
  harness/determined/cli/rbac.py
Due: none

fmt
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/OldProjectDetails.tsx
Due: web-js-lint-check

Path conditions:
  web-js-lint-check: any of: ^webui/react/src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
