Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint
  require_serial: true

chore: use default workspace for testing
  master/internal/task/postgres_allocations_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: bump version: 0.34.0-rc4 -> 0.34.0-rc5
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

fix: persist workspace id/name & experiment id for historic allocations [DET-10378] (#9550)
  e2e_tests/tests/experiment/test_allocation_csv.py
  master/internal/command/command.go
  master/internal/command/command_intg_test.go
  master/internal/core.go
  master/internal/task/postgres_allocations.go
  master/internal/task/postgres_allocations_intg_test.go
  master/internal/trial.go
  master/internal/trial_intg_test.go
  master/pkg/model/task.go
  master/pkg/model/workspace.go
  master/static/migrations/20240617155550_add-allocation-workspace-table.tx.up.sql
Due: go-fmt-import, gofumpt, golangci-lint

chore: bump version: 0.34.0-rc5 -> 0.34.0-rc6
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

fix query
  master/static/srv/get_workspace_projects.sql
Due: none

update fixture
  harness/tests/fixtures/project.json
Due: none

quick return on matching proj id
  master/internal/api_runs.go
  master/internal/api_runs_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

allow reverting key back to original
  master/internal/api_runs.go
  master/internal/db/postgres_trial.go
  master/internal/experiment/bulk_action.go
  master/internal/project/postgres_project.go
  master/static/migrations/20240620135258_add-local-run-id.tx.up.sql
Due: go-fmt-import, gofumpt, golangci-lint

fix: correct workspace_id column type on allocation_workspace_info migration
  master/static/migrations/20240617155550_add-allocation-workspace-table.tx.up.sql
Due: none

add those logs
  master/internal/experiment.go
  master/internal/rm/kubernetesrm/spec.go
  master/internal/trial.go
  master/pkg/searcher/searcher.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: set resource quota in CLI
  harness/determined/cli/workspace.py
  harness/determined/common/api/bindings.py
  master/internal/api_workspace.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/dispatcherrm/dispatcher_resource_manager.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/multirm/multirm.go
  master/internal/rm/resource_manager_iface.go
  master/internal/workspace/authz_basic_impl.go
  master/internal/workspace/authz_iface.go
  master/internal/workspace/authz_permissive.go
  master/internal/workspace/authz_rbac.go
  master/static/migrations/20240612141019_add-workspace-namespace-binding-perms.tx.up.sql
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/workspace.pb.go
  proto/pkg/rbacv1/rbac.pb.go
  proto/pkg/workspacev1/workspace.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/workspace.proto
  proto/src/determined/rbac/v1/rbac.proto
  proto/src/determined/workspace/v1/workspace.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

fix: correct workspace_id column type on allocation_workspace_info (#9574)
  master/static/migrations/20240617155550_add-allocation-workspace-table.tx.up.sql
Due: none

address PR comments, small changes
  master/internal/api_workspace.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/multirm/multirm.go
Due: go-fmt-import, gofumpt, golangci-lint

test: add missing initial_user_password value to circleci config
  .circleci/real_config.yml
Due: none

add release note
  docs/release-notes/cli-cmd-describe.rst
Due: none

test setup
  webui/react/src/components/Searches/Searches.test.tsx
Due: web-js-lint-check

test id
  webui/react/src/components/ColumnPickerMenu.tsx
Due: web-js-lint-check

fmt
  webui/react/src/components/ColumnPickerMenu.tsx
Due: web-js-lint-check

chore: bump version: 0.34.0-rc6 -> 0.34.0-rc7
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

show continue btn
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
Due: web-js-lint-check

add version info to the note
  docs/release-notes/idle.rst
Due: none

add destructuring for passing values
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Due: web-js-lint-check

fix: wrong notebook idleness payload [MD-447] (#9571)
  docs/release-notes/idle.rst
  master/static/srv/check_idle.py
Due: none

test: workspace and project page model refactor [TESTENG-48] (#9570)
  webui/react/src/e2e/fixtures/dev.fixture.ts
  webui/react/src/e2e/fixtures/global-fixtures.ts
  webui/react/src/e2e/fixtures/user.fixture.ts
  webui/react/src/e2e/models/common/ant/Tabs.ts
  webui/react/src/e2e/models/common/base/BasePage.ts
  webui/react/src/e2e/models/common/hew/Card.ts
  webui/react/src/e2e/models/common/hew/DataGrid.ts
  webui/react/src/e2e/models/components/ModelRegistry.ts
  webui/react/src/e2e/models/components/NavigationSideBar.ts
  webui/react/src/e2e/models/components/ProjectsPage.ts
  webui/react/src/e2e/models/components/ResourcePoolsPage.ts
  webui/react/src/e2e/models/components/TaskList.ts
  webui/react/src/e2e/models/components/TasksPage.ts
  webui/react/src/e2e/models/components/WorkspaceDetails.ts
  webui/react/src/e2e/models/components/WorkspacesList.ts
  webui/react/src/e2e/models/pages/Admin/UserManagement.ts
  webui/react/src/e2e/models/pages/Admin/index.ts
  webui/react/src/e2e/models/pages/Templates/TemplateList.ts
  webui/react/src/e2e/models/pages/WorkspaceDetails.ts
  webui/react/src/e2e/models/pages/WorkspaceDetails/ResourcePoolsBound.ts
  webui/react/src/e2e/models/pages/WorkspaceDetails/WorkspaceProjects.ts
  webui/react/src/e2e/models/pages/WorkspaceList.ts
  webui/react/src/e2e/models/pages/WorkspaceList/WorkspaceCard.ts
  webui/react/src/e2e/tests/experimentList.spec.ts
  webui/react/src/e2e/tests/projectsWorkspaces.spec.ts
  webui/react/src/e2e/tests/userManagement.spec.ts
Due: web-js-lint-check

only display the latest allocation data
  master/internal/api_tasks.go
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

fix: use post for searchRuns/use accurate multitrial detection (#9546)
  e2e_tests/tests/run/test_api.py
  harness/determined/common/api/bindings.py
  performance/src/api_performance_tests.ts
  performance/src/utils/helpers.ts
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/src/determined/api/v1/api.proto
  webui/react/src/components/RunFilterInterstitialModalComponent.tsx
  webui/react/src/components/RunMoveWarningModalComponent.test.tsx
  webui/react/src/components/RunMoveWarningModalComponent.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
Due: web-js-lint-check

chore: disable mmdet test
  e2e_tests/tests/model_hub/test_mmdetection.py
Due: none

fix: feedback
  webui/react/src/components/FilterForm/components/ConjunctionContainer.test.tsx
Due: web-js-lint-check

attend to PR comments:
  webui/react/src/ioTypes.ts
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
  webui/react/src/types.ts
  webui/react/src/utils/integrations.ts
Due: web-js-lint-check

ran lint and prettier
  webui/react/src/ioTypes.ts
  webui/react/src/types.ts
Due: web-js-lint-check

chore: bump version: 0.34.0-rc7 -> 0.34.0-rc8
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

test: add `ConjunctionContainer` test cases (#9541)
  webui/react/src/components/FilterForm/components/ConjunctionContainer.test.tsx
Due: web-js-lint-check

changed the function for the integration link
  webui/react/src/components/CheckpointModal.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
  webui/react/src/utils/integrations.ts
Due: web-js-lint-check

docs: add release notes for 0.34.0
  docs/release-notes.rst
  docs/release-notes/cluster-message.rst
  docs/release-notes/deploy-local-auto-password.rst
  docs/release-notes/deprecate-ppc64.rst
  docs/release-notes/deprecate-roundrobin.rst
  docs/release-notes/feature-checkpointGC.rst
  docs/release-notes/feature-node-selectors.rst
  docs/release-notes/framework-splitting.rst
  docs/release-notes/gateway.rst
  docs/release-notes/job-state.rst
  docs/release-notes/pods-to-jobs.rst
Due: none

Update docs/release-notes.rst
  docs/release-notes.rst
Due: none

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
