Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system

do'nt check for view workspace perm
  master/internal/api_notebook.go
Due: none

react-window grid
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/pages/DesignKit.tsx
Due: web-js-lint-check, web-misc-lint-check

fix: useModalCustomizeColumns values not updating on page change [WEB-696] (#5724)
  webui/react/src/hooks/useModal/Columns/useModalColumnsCustomize.tsx
Due: web-js-lint-check

test launching notebook in archived workspace
  e2e_tests/tests/cluster/test_workspace_org.py
Due: none

fmt added test
  e2e_tests/tests/cluster/test_workspace_org.py
Due: none

fix: make LegacyConfig the default choice (#5294)
  harness/determined/exec/tensorboard.py
  harness/determined/tensorboard/fetchers/__init__.py
  master/go.mod
  master/internal/api_checkpoint.go
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_tasks.go
  master/internal/api_tensorboard.go
  master/internal/api_trials.go
  master/internal/core_checkpoint.go
  master/internal/core_checkpoint_intg_test.go
  master/internal/core_experiment.go
  master/internal/core_experiment_intg_test.go
  master/internal/core_trial.go
  master/internal/db/database.go
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_test_utils.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/experiment.go
  master/internal/hpimportance/hpimportance.go
  master/internal/hpimportance/hpimportance_test.go
  master/internal/hpimportance/manager.go
  master/internal/hpimportance/worker.go
  master/internal/mocks/db.go
  master/internal/restore.go
  master/internal/telemetry/reports.go
  master/internal/webhooks/postgres_webhook.go
  master/internal/webhooks/postgres_webhook_intg_test.go
  master/internal/webhooks/shipper_test.go
  master/internal/webhooks/webhook.go
  master/pkg/model/experiment.go
  master/pkg/model/test_utils.go
  master/pkg/schemas/expconf/experiment_config.go
  master/pkg/schemas/expconf/legacy.go
  master/pkg/schemas/expconf/legacy_test.go
  master/pkg/schemas/expconf/searcher_config.go
  master/pkg/tasks/task_gc.go
  master/test/integration/api/api_checkpoints_test.go
  master/test/integration/api/api_trials_test.go
Due: none

serie/series
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/pages/DesignKit.tsx
Due: web-js-lint-check

chore: add common workspaces checks nb and tsb (#5741)
  e2e_tests/tests/api_utils.py
  e2e_tests/tests/cluster/test_workspace_org.py
  e2e_tests/tests/experiment/experiment.py
  master/internal/api_notebook.go
  master/internal/api_tensorboard.go
  master/internal/command/api.go
Due: none

add workspace id check
  master/internal/api_command.go
  master/internal/api_notebook.go
Due: none

bold closest vertical in tooltip
  webui/react/src/components/UPlot/UPlotChart/tooltipsPlugin.ts
  webui/react/src/components/kit/LineChart.tsx
Due: web-js-lint-check

fix for paths + lint
  harness/determined/common/storage/shared.py
  harness/determined/core/_checkpoint.py
Due: none

chore: remove unused code (#5733)
  master/internal/sproto/resources.go
  master/internal/sproto/task.go
Due: none

fix getnsc test
  master/internal/api_ntsc_intg_test.go
Due: none

fixing bug
  master/internal/api_shell.go
Due: none

fix missing error handling for killing commands
  master/internal/api_command.go
Due: none

set error status on set priority
  master/internal/api_command.go
  master/internal/api_ntsc_intg_test.go
Due: none

comments
  master/internal/api_command.go
Due: none

Revert "WIP"
  e2e_tests/tests/cluster/test_master_restart.py
  e2e_tests/tests/cluster/utils.py
Due: none

Add metrics in wall time
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_trials.go
  master/internal/db/database.go
  master/internal/db/postgres_experiments.go
  master/internal/mocks/db.go
  proto/pkg/apiv1/experiment.pb.go
  proto/pkg/apiv1/trial.pb.go
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/api/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check

chore: ignore generated code
  .gitattributes
Due: none

test it
  harness/determined/common/api/bindings.py
  proto/pkg/commonv1/common.pb.go
  proto/src/determined/common/v1/common.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check

fix fmt
  .gitattributes
Due: none

add workspace id to proto cmd repr
  master/internal/command/command.go
Due: none

Revert "test it"
  harness/determined/common/api/bindings.py
  proto/pkg/commonv1/common.pb.go
  proto/src/determined/common/v1/common.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check

docs: fix make live
  docs/live.py
Due: none

test for symlinks. even simpler copytree
  harness/determined/common/storage/shared.py
  harness/tests/storage/test_shared_fs.py
Due: none

update to use common launch authz fn
  master/internal/api_shell.go
Due: none

nice nit
  harness/determined/core/_checkpoint.py
Due: none

fix: minor changes
  webui/react/src/pages/WorkspaceDetails/WorkspaceQuickSearch.tsx
Due: web-js-lint-check

perf: make `get_workspace_projects` query super faster
  master/static/srv/get_workspace_projects.sql
Due: none

paths as set
  harness/determined/common/storage/base.py
  harness/determined/common/storage/shared.py
  harness/determined/core/_checkpoint.py
  harness/tests/storage/util.py
Due: none

docs: python sdk title resolving issues
  docs/conf.py
  docs/index.rst
  docs/reference/python-sdk.rst
  docs/training/model-management/checkpoints.rst
  docs/training/model-management/model-registry-org.rst
  examples/custom_search_method/asha_search_method/remote_search_runner/run_experiment.py
Due: none

docs: FOUNDENG-321 On aizn-admin with PodMan cancelling causes slurm and podman problems
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-known-issues.rst
Due: none

feat: allow heterogeneous fits
  master/internal/config/scheduler_config.go
  master/internal/rm/agentrm/fair_share.go
  master/internal/rm/agentrm/fair_share_test.go
  master/internal/rm/agentrm/fitting.go
  master/internal/rm/agentrm/fitting_test.go
  master/internal/rm/agentrm/priority.go
  master/internal/rm/agentrm/priority_test.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/agentrm/round_robin.go
  master/internal/rm/agentrm/round_robin_test.go
  master/internal/rm/agentrm/scheduler_test.go
Due: none

docs: fix make live (#5746)
  docs/live.py
Due: none

docs: python sdk title (#5700)
  docs/conf.py
  docs/index.rst
  docs/integrations/ecosystem/ecosystem-integration.rst
  docs/introduction.rst
  docs/reference/python-sdk.rst
  docs/release-notes.rst
  docs/training/apis-howto/api-estimator-ug.rst
  docs/training/apis-howto/api-keras-ug.rst
  docs/training/apis-howto/api-pytorch-ug.rst
  docs/training/model-management/checkpoints.rst
  docs/training/model-management/model-registry-org.rst
  examples/custom_search_method/asha_search_method/remote_search_runner/run_experiment.py
  model_hub/examples/mmdetection/hydra/README.md
Due: none

chore: remove unused webpack plugin
  webui/react/craco.config.js
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/shared/styles/index.less
  webui/react/src/shared/styles/variables.less
Due: web-misc-lint-check

Inputs, labels and validation
  webui/react/src/components/kit/Input.tsx
  webui/react/src/components/kit/NumberInput.tsx
  webui/react/src/pages/DesignKit.tsx
Due: web-js-lint-check

fmt
  webui/react/src/components/kit/Input.tsx
  webui/react/src/components/kit/NumberInput.tsx
Due: web-js-lint-check

docs: Add HPC Launcher architectural information [FOUNDENG-406]
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/callout-1.png
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/callout-2.png
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/callout-3.png
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/hpc-launching-arch-diagram.png
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/hpc-launching-architecture.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/overview.rst
Due: none

Path conditions:
  web-js-lint-check: any of: ^webui/react/src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
