Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint
  require_serial: true

add a check for existence of startup hooks
  e2e_tests/tests/api_utils.py
  e2e_tests/tests/cluster/test_logging.py
Due: none

add a startuphook to k8s in ci; enable k8s logging tests
  .circleci/real_config.yml
  e2e_tests/tests/cluster/test_logging.py
Due: none

add the override to to setup-gke-cluster config as well
  .circleci/real_config.yml
Due: none

Fix after rebase
  harness/determined/common/api/bindings.py
  proto/buf.image.bin
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.settings.ts
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
  webui/react/src/pages/FlatRuns/columns.ts
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check

already killed should pass
  e2e_tests/tests/run/test_api.py
  master/internal/api_runs.go
Due: go-fmt-import, gofumpt, golangci-lint

pr comments
  webui/react/src/e2e/models/components/F_ExperiementList.ts
  webui/react/src/e2e/models/hew/DataGrid.ts
  webui/react/src/e2e/tests/experimentList.spec.ts
Due: web-js-lint-check

chore: bump version: 0.31.0-rc2 -> 0.31.0-rc3
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

Changing style
  harness/determined/keras/_tf_keras_trial.py
Due: none

fix importing autotrackable
  harness/determined/keras/_load.py
Due: none

fix: keras import errors in new versions
  harness/determined/keras/_tf_keras_trial.py
Due: none

fix importing callbacks
  harness/determined/keras/_tf_keras_trial.py
Due: none

fix bug
  harness/determined/keras/_tf_keras_trial.py
Due: none

address PR comments
  harness/determined/keras/_load.py
Due: none

chore: add a devcluster config to run Determined across multiple Kubernetes clusters locally (#9151)
  tools/k8s/README.md
  tools/k8s/multicluster.yaml
Due: none

feat: create flat runs view [ET-24] (#9023)
  harness/determined/common/api/bindings.py
  master/internal/api_project.go
  master/internal/api_runs.go
  proto/buf.image.bin
  proto/pkg/runv1/run.pb.go
  proto/src/determined/run/v1/run.proto
  webui/react/src/components/OptionsMenu.settings.ts
  webui/react/src/components/Searches/Searches.settings.ts
  webui/react/src/components/Searches/Searches.tsx
  webui/react/src/components/UserSettings.tsx
  webui/react/src/components/exceptions.tsx
  webui/react/src/ioTypes.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.settings.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/expListColumns.ts
  webui/react/src/pages/FlatRuns/FlatRuns.module.scss
  webui/react/src/pages/FlatRuns/FlatRuns.settings.ts
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
  webui/react/src/pages/FlatRuns/columns.ts
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

fix: keras and tensorflow import errors in new versions (#9141)
  harness/determined/keras/_load.py
  harness/determined/keras/_tf_keras_trial.py
Due: none

Feedback
  docs/integrations/prometheus/_index.rst
Due: none

ci: publish-docs installs awscli into user space
  .circleci/real_config.yml
Due: none

chore: add alert metric for Prometheus and add Grafana alert docs [RM-118] (#9150)
  docs/assets/images/grafana-alert-config.png
  docs/integrations/prometheus/_index.rst
  master/internal/core.go
Due: go-fmt-import, gofumpt, golangci-lint

ci: publish-docs installs awscli into user space (#9153)
  .circleci/real_config.yml
Due: none

remove kill + move tests to intg
  e2e_tests/tests/run/test_api.py
  master/internal/api_runs.go
  master/internal/api_runs_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

attempts at fixing workspace name propagation
  master/internal/api_command.go
  master/internal/core_experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

attempt at fixing workspace name propagation
  master/internal/api_command.go
  master/internal/core_experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: add helm master level config for tcd startup hooks (#9135)
  .circleci/real_config.yml
  docs/reference/deploy/helm-config-reference.rst
  e2e_tests/tests/api_utils.py
  e2e_tests/tests/cluster/test_logging.py
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
Due: none

more tyding
  tools/scripts/update-docker-tags.sh
Due: none

environments file
  tools/scripts/environments-target.txt
  tools/scripts/update-docker-tags.sh
Due: none

feat: new image publishing
  tools/scripts/retag-bumpenvs-yaml.py
  tools/scripts/update-docker-tags.sh
Due: none

linting
  tools/scripts/update-docker-tags.sh
Due: none

linting
  tools/scripts/retag-bumpenvs-yaml.py
  tools/scripts/update-docker-tags.sh
Due: none

feedback updates
  tools/scripts/update-bumpenvs-yaml.py
  tools/scripts/update-docker-tags.sh
Due: none

use file as old tag
  tools/scripts/update-docker-tags.sh
Due: none

update envs file when doing bumpenvs procedure
  tools/scripts/update-bumpenvs-yaml.py
Due: none

error message
  tools/scripts/update-docker-tags.sh
Due: none

workspace delete, needs action menu work
  webui/react/src/e2e/models/components/NavigationSideBar.ts
  webui/react/src/e2e/models/components/WorkspaceDeleteModal.ts
  webui/react/src/e2e/models/components/WorkspacesList.ts
  webui/react/src/e2e/models/hew/Card.ts
  webui/react/src/e2e/models/pages/ModalRootPage.ts
  webui/react/src/e2e/models/pages/Workspaces.ts
  webui/react/src/e2e/tests/projectsWorkspaces.spec.ts
  webui/react/src/pages/WorkspaceList/WorkspaceCard.tsx
Due: web-js-lint-check

propagate project and workspace name from CLI
  master/internal/api_command.go
  master/internal/core_experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

bumpenv
  .circleci/real_config.yml
  docs/model-dev-guide/api-guides/apis-howto/_index.rst
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
  docs/reference/job-config-reference.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/gcp/install-gcp.rst
  docs/setup-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/slurm-requirements.rst
  e2e_tests/tests/config.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  harness/tests/fixtures/checkpoint.json
  helm/charts/determined/values.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  tools/scripts/update-bumpenvs-yaml.py
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Due: web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

add experiment and trial request IDs as labels
  master/internal/rm/kubernetesrm/spec.go
Due: go-fmt-import, gofumpt, golangci-lint

use empty string as a default
  master/internal/rm/kubernetesrm/spec.go
Due: go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
