Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

add new fixture for kill resp test
  e2e_tests/tests/fixtures/no_op/grid-long-run.yaml
  e2e_tests/tests/run/test_api.py
Due: none

switch assert order
  e2e_tests/tests/run/test_api.py
Due: none

test state
  .circleci/devcluster/postgres-with-ssl.devcluster.yaml
  .circleci/real_config.yml
  .circleci/scripts/job_level_alerts.py
Due: none

Revert "test state"
  .circleci/devcluster/postgres-with-ssl.devcluster.yaml
  .circleci/real_config.yml
  .circleci/scripts/job_level_alerts.py
Due: none

done
  .circleci/scripts/job_level_alerts.py
Due: none

readonly on some variables
  webui/react/src/e2e/models/components/FilterForm/components/FilterGroup.ts
Due: web-js-lint-check

add sort menu and set up tests
  webui/react/src/components/MultiSortMenu.test.mock.tsx
  webui/react/src/components/MultiSortMenu.test.tsx
  webui/react/src/components/MultiSortMenu.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Due: web-js-lint-check

address PR feedback
  webui/react/src/components/ColumnPickerMenu.test.mock.tsx
  webui/react/src/components/ColumnPickerMenu.test.tsx
  webui/react/src/components/ColumnPickerMenu.tsx
Due: web-js-lint-check

increase grid item widths
  webui/react/src/components/CompareHeatMaps.tsx
  webui/react/src/components/CompareScatterPlots.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpHeatMaps.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpScatterPlots.tsx
Due: web-js-lint-check

no infinite recursion
  webui/react/src/e2e/models/components/FilterForm/components/FilterGroup.ts
Due: web-js-lint-check

test: More Page Models for Experiment Tracking [INFENG-694] (#9367)
  webui/react/src/components/ColumnPickerMenu.tsx
  webui/react/src/components/FilterForm/components/ConjunctionContainer.tsx
  webui/react/src/components/FilterForm/components/FilterField.tsx
  webui/react/src/components/FilterForm/components/FilterForm.tsx
  webui/react/src/components/FilterForm/components/FilterGroup.tsx
  webui/react/src/components/OptionsMenu.tsx
  webui/react/src/e2e/models/README.md
  webui/react/src/e2e/models/ant/DatePicker.ts
  webui/react/src/e2e/models/ant/Tabs.ts
  webui/react/src/e2e/models/components/ColumnPickerMenu.ts
  webui/react/src/e2e/models/components/FilterForm/TableFilter.ts
  webui/react/src/e2e/models/components/FilterForm/components/ConjunctionContainer.ts
  webui/react/src/e2e/models/components/FilterForm/components/FilterField.ts
  webui/react/src/e2e/models/components/FilterForm/components/FilterForm.ts
  webui/react/src/e2e/models/components/FilterForm/components/FilterGroup.ts
  webui/react/src/e2e/models/components/MultiSortMenu.ts
  webui/react/src/e2e/models/components/OptionsMenu.ts
  webui/react/src/e2e/models/components/TableActionBar.ts
  webui/react/src/e2e/models/components/WorkspaceDetails.ts
  webui/react/src/e2e/models/components/WorkspacesList.ts
  webui/react/src/e2e/models/hew/DataGrid.ts
  webui/react/src/e2e/models/hew/DatePicker.ts
  webui/react/src/e2e/models/hew/Message.ts
  webui/react/src/e2e/models/hew/Nameplate.ts
  webui/react/src/e2e/models/pages/Admin/index.ts
  webui/react/src/e2e/models/pages/ProjectDetails.ts
  webui/react/src/e2e/models/utils/error.ts
  webui/react/src/e2e/tests/userManagement.spec.ts
Due: web-js-lint-check, web-misc-lint-check

stopped at
  .circleci/scripts/job_level_alerts.py
Due: none

test non main
  .circleci/real_config.yml
Due: none

incl task name and remove additional get call. only on shell
  harness/determined/cli/render.py
  harness/determined/cli/shell.py
Due: none

cover tensorboard and notebooks as well
  harness/determined/cli/notebook.py
  harness/determined/cli/tensorboard.py
Due: none

apply to commands
  harness/determined/cli/command.py
Due: none

removing flaky test
  master/internal/rm/kubernetesrm/resource_pool_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fmt
  webui/react/src/components/ColumnPickerMenu.tsx
  webui/react/src/components/JupyterLabModal.tsx
  webui/react/src/stores/cluster.tsx
Due: web-js-lint-check

Revert "test non main"
  .circleci/real_config.yml
Due: none

ci: keep waiting on failing workloads for sending slack alerts (#9371)
  .circleci/scripts/job_level_alerts.py
Due: none

chore: initial proxy support for external to k8s masters [RM-266] (#9347)
  .circleci/devcluster/multi-k8s.devcluster.yaml
  .circleci/real_config.yml
  e2e_tests/tests/cluster/test_proxy.py
  e2e_tests/tests/command/test_notebook.py
  e2e_tests/tests/command/test_shell.py
  go.mod
  go.sum
  master/Makefile
  master/internal/config/resource_config_test.go
  master/internal/config/resource_manager_config.go
  master/internal/rm/kubernetesrm/gateway_service.go
  master/internal/rm/kubernetesrm/gateway_service_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/mock_client_test.go
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/pod_test.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/request_queue.go
  master/internal/rm/kubernetesrm/request_queue_test.go
  master/internal/rm/kubernetesrm/request_workers.go
  master/internal/rm/kubernetesrm/spec.go
  master/internal/rm/kubernetesrm/spec_test.go
  tools/k8s/launch-minikube-with-gateway.sh
Due: go-fmt-import, gofumpt, golangci-lint

fix deadlock
  master/internal/db/migrations.go
  master/internal/db/postgres.go
  master/internal/db/postgres_test_utils.go
Due: go-fmt-import, gofumpt, golangci-lint

uhhhh
  master/internal/db/migrations.go
  master/static/migrations/20240502203516_database-code.tx.up.sql
Due: go-fmt-import, gofumpt, golangci-lint

fix dbs
  master/internal/checkpoint_gc_test.go
  master/internal/command/command_intg_test.go
  master/internal/db/postgres_jobs_intg_test.go
  master/internal/db/postgres_rbac_intg_test.go
  master/internal/db/postgres_tasks_intg_test.go
  master/internal/rm/agentrm/agent_resource_manager_intg_test.go
  master/internal/task/allocation_intg_test.go
  master/internal/trials/postgres_trials_intg_test.go
  master/internal/usergroup/group_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: store database code as code
  master/cmd/determined-master/migrate.go
  master/internal/config/config.go
  master/internal/db/database.go
  master/internal/db/migrations.go
  master/internal/db/postgres.go
  master/internal/db/postgres_test_utils.go
  master/internal/db/setup.go
  master/static/db_code/README.md
  master/static/db_code/checkpoints.sql
  master/static/db_code/metrics.sql
  master/static/db_code/model.sql
  master/static/db_code/project.sql
  master/static/db_code/users.sql
  master/static/db_code/util.sql
  master/static/migrations/20240502203516_database-code.tx.down.sql
  master/static/migrations/20240502203516_database-code.tx.up.sql
  master/static/srv/proto_get_trial_ids_for_experiment.sql
  master/static/srv/proto_get_trial_workloads.sql
  master/static/srv/proto_get_trials_plus.sql
Due: go-fmt-import, gofumpt, golangci-lint

sean's feedback
  master/cmd/determined-master/migrate.go
  master/internal/config/config.go
  master/internal/db/migrations.go
  master/internal/db/postgres_test_utils.go
  master/internal/db/setup.go
  master/static/migrations/20240502203516_database-code.tx.up.sql
  master/static/views_and_triggers/README.md
  master/static/views_and_triggers/checkpoints.sql
  master/static/views_and_triggers/metrics.sql
  master/static/views_and_triggers/model.sql
  master/static/views_and_triggers/project.sql
  master/static/views_and_triggers/users.sql
  master/static/views_and_triggers/util.sql
Due: go-fmt-import, gofumpt, golangci-lint

lighting
  master/internal/rbac/rbac_intg_test.go
  master/internal/usergroup/group_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

rebase fix
  master/internal/db/migrations.go
  master/internal/db/postgres_experiments_intg_test.go
  master/static/migrations/20240502203516_database-code.tx.down.sql
  master/static/migrations/20240515150216_database-code.tx.up.sql
Due: go-fmt-import, gofumpt, golangci-lint

update seconds
  e2e_tests/tests/fixtures/no_op/grid-long-run.yaml
Due: none

chore: report ntsc names via cli at launch (#9228)
  e2e_tests/tests/command/command.py
  harness/determined/cli/command.py
  harness/determined/cli/notebook.py
  harness/determined/cli/render.py
  harness/determined/cli/shell.py
  harness/determined/cli/tensorboard.py
Due: none

test: report individual test results from python tests (#9366)
  .circleci/real_config.yml
  harness/Makefile
Due: none

fmt
  webui/react/src/components/JupyterLabModal.tsx
  webui/react/src/stores/cluster.tsx
Due: web-js-lint-check

helper function
  master/internal/api_project.go
  master/internal/db/postgres_trial_metrics.go
Due: go-fmt-import, gofumpt, golangci-lint

test: Remove flakiness of KillRun test (#9370)
  e2e_tests/tests/fixtures/no_op/grid-long-run.yaml
  e2e_tests/tests/run/test_api.py
Due: none

feat: add columns menu to Runs view (#9323)
  webui/react/src/components/ColumnPickerMenu.test.mock.tsx
  webui/react/src/components/ColumnPickerMenu.test.tsx
  webui/react/src/components/ColumnPickerMenu.tsx
  webui/react/src/components/Searches/Searches.tsx
  webui/react/src/components/TableActionBar.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Due: web-js-lint-check

docs: Describe admin mtc banner
  docs/tools/webui-if.rst
Due: none
