Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

docs: Copy debug to exp config (#9120)
  docs/index.rst
  docs/reference/deploy/agent-config-reference.rst
  docs/reference/experiment-config-reference.rst
Due: none

ci: merge EE and OSS doc deploy together [INFENG-625] (#9162)
  docs/Makefile
  docs/deploy/.gitignore
  docs/deploy/Makefile
  docs/deploy/README.md
  docs/deploy/backend_EE.conf
  docs/deploy/backend_OSS.conf
  docs/deploy/cdn.tf
  docs/deploy/input.tf
  docs/deploy/main.tf
  docs/deploy/s3.tf
  docs/deploy/vars_EE.yaml
  docs/deploy/vars_OSS.yaml
Due: none

add performance tests
  performance/src/api_performance_tests.ts
Due: none

test: experiment list page models and sample test [INFENG-451] (#9139)
  webui/react/src/components/TableActionBar.tsx
  webui/react/src/e2e/fixtures/dev.fixture.ts
  webui/react/src/e2e/models/BaseComponent.ts
  webui/react/src/e2e/models/BasePage.ts
  webui/react/src/e2e/models/components/AddUsersToGroupsModal.ts
  webui/react/src/e2e/models/components/ChangeUserStatusModal.ts
  webui/react/src/e2e/models/components/ComparisonView.ts
  webui/react/src/e2e/models/components/CreateUserModal.ts
  webui/react/src/e2e/models/components/DeterminedAuth.ts
  webui/react/src/e2e/models/components/DynamicTabs.ts
  webui/react/src/e2e/models/components/ExperimentActionDropdown.ts
  webui/react/src/e2e/models/components/F_ExperiementList.ts
  webui/react/src/e2e/models/components/Navigation.ts
  webui/react/src/e2e/models/components/NavigationSideBar.ts
  webui/react/src/e2e/models/components/Page.ts
  webui/react/src/e2e/models/components/SetUserRolesModal.ts
  webui/react/src/e2e/models/components/SkeletonSection.ts
  webui/react/src/e2e/models/components/Table/InteractiveTable.ts
  webui/react/src/e2e/models/components/Table/SkeletonTable.ts
  webui/react/src/e2e/models/components/TableActionBar.ts
  webui/react/src/e2e/models/hew/DataGrid.ts
  webui/react/src/e2e/models/hew/Dropdown.ts
  webui/react/src/e2e/models/hew/Modal.ts
  webui/react/src/e2e/models/hew/Pagination.ts
  webui/react/src/e2e/models/hew/Pivot.ts
  webui/react/src/e2e/models/hew/SplitPane.ts
  webui/react/src/e2e/models/hew/Toast.ts
  webui/react/src/e2e/models/pages/Admin/UserManagement.ts
  webui/react/src/e2e/models/pages/Admin/index.ts
  webui/react/src/e2e/models/pages/ProjectDetails.ts
  webui/react/src/e2e/models/utils/error.ts
  webui/react/src/e2e/tests/experimentList.spec.ts
Due: web-js-lint-check

create project and car generics
  webui/react/src/components/ProjectCard.tsx
  webui/react/src/e2e/models/components/ProjcetActionDropdown.ts
  webui/react/src/e2e/models/components/ProjectCreateModal.ts
  webui/react/src/e2e/models/components/ProjectsPage.ts
  webui/react/src/e2e/models/components/ResourcePoolsPage.ts
  webui/react/src/e2e/models/components/TasksPage.ts
  webui/react/src/e2e/models/components/WorkspaceDetails.ts
  webui/react/src/e2e/models/components/WorkspacesList.ts
  webui/react/src/e2e/models/hew/Card.ts
  webui/react/src/e2e/models/pages/Workspaces.ts
  webui/react/src/e2e/tests/projectsWorkspaces.spec.ts
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.tsx
Due: web-js-lint-check

chore: add flake8 relative-import rule
  harness/.flake8
  requirements.txt
Due: none

fix integration tests
  master/internal/api_experiment_intg_test.go
  master/internal/api_ntsc_intg_test.go
  master/internal/api_tensorboard.go
  master/internal/api_trials_intg_test.go
  master/internal/api_workspace_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

add CanGetWorkspace mocks to intg tests
  master/internal/api_experiment_intg_test.go
  master/internal/api_ntsc_intg_test.go
  master/internal/api_trials_intg_test.go
  master/internal/api_workspace_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix some relative imports!
  harness/determined/tensorboard/fetchers/__init__.py
Due: none

more linting
  model_hub/model_hub/huggingface/_utils.py
  model_hub/model_hub/mmdetection/_data_backends.py
Due: none

feat: support for mounting a hostPath for the shared file system in genai (#9161)
  helm/charts/determined/templates/NOTES.txt
  helm/charts/determined/templates/genai/genai-deployment.yaml
  helm/charts/determined/templates/genai/genai-persistent-volume-claim.yaml
Due: none

chore: add flake8 relative-import rule (#9169)
  harness/.flake8
  harness/determined/tensorboard/fetchers/__init__.py
  model_hub/model_hub/huggingface/_utils.py
  model_hub/model_hub/mmdetection/_data_backends.py
  requirements.txt
Due: none

docs: remove max supported k8s version.
  docs/setup-cluster/k8s/install-on-kubernetes.rst
Due: none

chore: style fix for helm initialUserPassword
  helm/charts/determined/values.yaml
Due: none

docs: remove max supported k8s version. (#9171)
  docs/setup-cluster/k8s/install-on-kubernetes.rst
Due: none

Update master/pkg/tasks/task_trial.go
  master/pkg/tasks/task_trial.go
Due: go-fmt-import, gofumpt, golangci-lint

Update master/internal/rm/kubernetesrm/spec_test.go
  master/internal/rm/kubernetesrm/spec_test.go
Due: go-fmt-import, gofumpt, golangci-lint

add extraPodLabels coverage
  master/internal/rm/kubernetesrm/spec_test.go
Due: go-fmt-import, gofumpt, golangci-lint

update comments
  master/internal/rm/kubernetesrm/spec.go
Due: go-fmt-import, gofumpt, golangci-lint

return error if workspace not found
  master/internal/api_command.go
Due: go-fmt-import, gofumpt, golangci-lint

simplify query
  master/internal/api_project.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: Reset table offset when filtering for models (#9167)
  webui/react/src/components/ModelRegistry.tsx
Due: web-js-lint-check

chore: make the data_dir consistent to other advertised devc configs (#9157)
  tools/k8s/multicluster.yaml
Due: none

init a basic sample kind config
  tools/k8s/kind-config.yaml
Due: none

Update master/internal/api_runs.go
  master/internal/api_runs.go
Due: go-fmt-import, gofumpt, golangci-lint

flip indentation
  master/internal/api_runs.go
Due: go-fmt-import, gofumpt, golangci-lint

docs: refactor SAML ee docs
  docs/manage/security/saml.rst
  docs/manage/users-remote.rst
  docs/reference/deploy/master-config-reference.rst
Due: none

add intg test for trigger
  master/internal/api_runs_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

can delete archived
  master/internal/api_runs.go
Due: go-fmt-import, gofumpt, golangci-lint

don't wrap error
  master/internal/api_command.go
Due: go-fmt-import, gofumpt, golangci-lint

docs: Add readme to toc
  docs/deploy/_index.rst
Due: none

docs: Add readme to toc (#9175)
  docs/deploy/_index.rst
Due: none

chore: add typing annotations for zmq
  harness/determined/ipc.py
Due: none

working dropdown and lint
  webui/react/src/components/WorkspaceCreateModal.tsx
  webui/react/src/e2e/models/ant/Switch.ts
  webui/react/src/e2e/models/components/ModelRegistryPage.ts
  webui/react/src/e2e/models/components/NavigationSideBar.ts
  webui/react/src/e2e/models/components/WorkspaceActionDropdown.ts
  webui/react/src/e2e/models/components/WorkspaceCreateModal.ts
  webui/react/src/e2e/models/components/WorkspaceDeleteModal.ts
  webui/react/src/e2e/models/components/WorkspaceDetails.ts
  webui/react/src/e2e/models/components/WorkspacesList.ts
  webui/react/src/e2e/models/hew/Card.ts
  webui/react/src/e2e/models/hew/Dropdown.ts
  webui/react/src/e2e/models/pages/Workspaces.ts
  webui/react/src/e2e/tests/navigation.spec.ts
  webui/react/src/e2e/tests/projectsWorkspaces.spec.ts
  webui/react/src/pages/WorkspaceList.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceCard.tsx
Due: web-js-lint-check

Draft: use workspaces page in nav test and skeleton test
  webui/react/playwright.config.ts
  webui/react/src/e2e/models/components/NavigationSideBar.ts
  webui/react/src/e2e/models/pages/Workspaces.ts
  webui/react/src/e2e/tests/navigation.spec.ts
  webui/react/src/e2e/tests/projectsWorkspaces.spec.ts
Due: web-js-lint-check

bump hew version
  webui/react/package-lock.json
  webui/react/package.json
Due: web-misc-lint-check

workspace delete, needs action menu work
  webui/react/src/e2e/models/components/NavigationSideBar.ts
  webui/react/src/e2e/models/components/WorkspaceDeleteModal.ts
  webui/react/src/e2e/models/components/WorkspacesList.ts
  webui/react/src/e2e/models/hew/Card.ts
  webui/react/src/e2e/models/pages/ModalRootPage.ts
  webui/react/src/e2e/models/pages/Workspaces.ts
  webui/react/src/e2e/tests/projectsWorkspaces.spec.ts
  webui/react/src/pages/WorkspaceList/WorkspaceCard.tsx
Due: web-js-lint-check

new workspace modal and revert config change
  webui/react/playwright.config.ts
  webui/react/src/e2e/models/components/ModelRegistryPage.ts
  webui/react/src/e2e/models/components/WorkspaceDetails.ts
  webui/react/src/e2e/models/components/WorkspacesList.ts
  webui/react/src/e2e/models/pages/Workspaces.ts
  webui/react/src/e2e/tests/projectsWorkspaces.spec.ts
  webui/react/src/pages/WorkspaceList.tsx
Due: web-js-lint-check

test specific timeout
  webui/react/playwright.config.ts
  webui/react/src/e2e/tests/projectsWorkspaces.spec.ts
Due: web-js-lint-check

timeout update
  webui/react/playwright.config.ts
  webui/react/src/e2e/models/components/ModelRegistry.ts
Due: web-js-lint-check
