Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint

update remains of metric type
  harness/determined/common/api/bindings.py
  proto/buf.image.bin
  proto/pkg/apiv1/trial.pb.go
  proto/src/determined/api/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check

update affected go code
  master/internal/api_trials.go
  master/internal/api_trials_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: replace `div` with `table` in trial comparison view
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/kit/Empty.module.scss
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.module.scss
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
Due: web-js-lint-check, web-misc-lint-check

fix: feedback
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.module.scss
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
Due: web-js-lint-check, web-misc-lint-check

chore: npm dedupe
  webui/react/package-lock.json
Due: web-misc-lint-check

Fix test mock
  webui/react/src/hooks/useSettings.test.tsx
Due: web-js-lint-check

update a new usage
  harness/determined/common/experimental/trial.py
  harness/determined/core/_train.py
Due: none

trust remote code in run_clm fix
  examples/hf_trainer_api/hf_language_modeling/run_clm.py
Due: none

fix: userSettings store should function correctly when useSettings is active (#7409)
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/hooks/useSettings.test.tsx
  webui/react/src/hooks/useSettings.ts
  webui/react/src/utils/observable.ts
Due: web-js-lint-check, web-misc-lint-check

chore: rename Trial to LegacyTrial and TrialReference/ExperimentReference to Trial/Experiment in SDK [MLG-547] (#6940)
  docs/model-dev-guide/model-management/checkpoints.rst
  docs/reference/python-sdk.rst
  docs/release-notes.rst
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/fixtures/no_op/model_def.py
  e2e_tests/tests/test_sdk.py
  harness/determined/__init__.py
  harness/determined/_execution.py
  harness/determined/_trial.py
  harness/determined/_trial_controller.py
  harness/determined/cli/experiment.py
  harness/determined/common/experimental/__init__.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/trial.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/experimental/__init__.py
  harness/determined/experimental/_native.py
  harness/determined/experimental/client.py
  harness/determined/keras/_tf_keras_trial.py
  harness/determined/load.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
  harness/tests/cli/test_experiment.py
  harness/tests/experiment/utils.py
Due: none

fix typing
  harness/tests/determined/common/experimental/test_experiment.py
Due: none

missing decorator
  harness/tests/determined/common/experimental/test_experiment.py
Due: none

chore: cache and reload in Python SDK [MLG-549] (#6853)
  e2e_tests/tests/cluster/test_model_registry.py
  e2e_tests/tests/cluster/test_resource_pools.py
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/test_sdk.py
  harness/determined/cli/checkpoint.py
  harness/determined/cli/experiment.py
  harness/determined/cli/model.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/model.py
  harness/determined/common/experimental/trial.py
  harness/determined/common/experimental/user.py
  harness/tests/cli/test_experiment.py
  harness/tests/common/api_server.py
  harness/tests/common/test_api_server.py
  harness/tests/determined/common/experimental/test_experiment.py
  harness/tests/fixtures/experiment.json
Due: none

chore: reload only when explicit (#7404)
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/model.py
Due: none

chore: fix bad merge rebase (#7346)
  harness/determined/common/api/_util.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/model.py
  harness/determined/experimental/client.py
  harness/tests/determined/common/experimental/test_experiment.py
Due: none

feat: add summary metrics to SDK and CLI [MLG-648] (#7255)
  harness/determined/cli/trial.py
  harness/determined/common/experimental/trial.py
  harness/tests/determined/common/experimental/test_determined.py
  harness/tests/fixtures/api_responses.py
  harness/tests/fixtures/trial.json
Due: none

chore: Expose trial state to Trial (#7406)
  harness/determined/common/experimental/trial.py
  harness/tests/determined/common/experimental/test_determined.py
Due: none

test: Add another mock to checkpoint tests (#7260)
  harness/tests/determined/common/experimental/test_checkpoint.py
Due: none

chore: update left over api references to metric type (#7399)
  harness/determined/common/api/bindings.py
  harness/determined/common/experimental/trial.py
  harness/determined/core/_train.py
  master/internal/api_trials.go
  master/internal/api_trials_intg_test.go
  proto/buf.image.bin
  proto/pkg/apiv1/trial.pb.go
  proto/src/determined/api/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

chore: cache and reload in Python SDK [MLG-549] (#6853)
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/model.py
Due: none

tests
  harness/determined/common/experimental/trial.py
  harness/determined/common/util.py
  harness/tests/determined/common/experimental/test_trial.py
  harness/tests/fixtures/api_responses.py
  harness/tests/fixtures/trial_logs.json
Due: none

mypy
  harness/determined/common/experimental/trial.py
Due: none

feat: improved SDK trial.logs() - allows for searching logs for a string - allows for filtering by timestamp and log source (master/agent)
  harness/determined/common/api/logs.py
  harness/determined/common/experimental/trial.py
Due: none

bad merge
  harness/determined/common/experimental/model.py
Due: none

fix rebaes
  harness/determined/common/experimental/checkpoint/_checkpoint.py
Due: none

add pendingEdit prop
  webui/react/src/components/PasswordChangeModal.tsx
  webui/react/src/components/kit/InlineForm.tsx
  webui/react/src/pages/Settings/SettingsAccount.tsx
Due: web-js-lint-check

docs: hpe docs compliance for section 5 [WEB-1292] (#7383)
  docs/_templates/page.html
  docs/_templates/search-field.html
  docs/conf.py
  docs/index.rst
Due: none

comment about hf fp16 not accurately represented
  harness/determined/pytorch/dsat/_dsat_search_method.py
Due: none

fix: add `background-clip`
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.module.scss
Due: none

chore: add release notes for notebook tls (#7408)
  docs/release-notes/6735-add-tls-to-notebooks.rst
Due: none

chore: change compare tab refresh behavior [WEB-1434] (#7397)
  webui/react/src/pages/F_ExpList/CompareMetrics.tsx
  webui/react/src/pages/F_ExpList/CompareParallelCoordinates.tsx
  webui/react/src/pages/F_ExpList/ComparisonView.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
Due: web-js-lint-check

chore: update data loading in Keras CIFAR10 example (#7378)
  examples/computer_vision/cifar10_tf_keras/cifar_model.py
  examples/computer_vision/cifar10_tf_keras/const.yaml
  examples/computer_vision/cifar10_tf_keras/data.py
  examples/computer_vision/cifar10_tf_keras/distributed.yaml
  examples/computer_vision/cifar10_tf_keras/model_def.py
  harness/tests/experiment/keras/test_tf_keras_trial.py
Due: none

fix small activation mem computation error
  harness/determined/pytorch/dsat/_dsat_search_method.py
Due: none

fix: replace div with table in Trial Comparison View (#7341)
  webui/react/src/components/kit/Empty.module.scss
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.module.scss
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
Due: web-js-lint-check

fix: custom column resize [WEB-1341] (#7365)
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/App.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/checkboxCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/experimentStateCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/linkCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/loadingCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/progressCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/sparklineCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/tagsCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/userAvatarCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/index.tsx
  webui/react/src/pages/F_ExpList/glide-table/menu.tsx
  webui/react/src/pages/F_ExpList/glide-table/tooltip.tsx
  webui/react/src/pages/F_ExpList/glide-table/utils.ts
Due: web-js-lint-check, web-misc-lint-check

pr comments
  harness/determined/common/experimental/trial.py
  harness/determined/common/util.py
  harness/tests/determined/common/experimental/test_trial.py
Due: none

docs: add release notes for 0.23.3
  docs/release-notes.rst
  docs/release-notes/6735-add-tls-to-notebooks.rst
  docs/release-notes/7278-remove-log-option.rst
  docs/release-notes/removed_config_endpoint.rst
Due: none

controlled open prop for InlineForm
  webui/react/src/components/kit/InlineForm.tsx
  webui/react/src/pages/Settings/SettingsAccount.tsx
Due: web-js-lint-check

InlineForm label margin
  webui/react/src/components/kit/InlineForm.module.scss
Due: none

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
