Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint
  require_serial: true

add intg tests and fix bugs
  master/internal/stream/projects.go
  master/internal/stream/system.go
  master/internal/stream/system_intg_test.go
  master/internal/stream/test_util.go
  master/test/streamdata/stream_data.go
Due: go-fmt-import, gofumpt, golangci-lint

modify stream.py
  master/stream.py
Due: none

clean up release note from comment
  docs/release-notes/checkpoint-fs-server-download.rst
Due: none

cleanup
  master/pkg/schemas/expconf/storage_config.go
Due: go-fmt-import, gofumpt, golangci-lint

cleanup host path check
  master/internal/api_tensorboard.go
  master/pkg/checkpoints/checkpoints.go
  master/pkg/schemas/expconf/storage_config.go
Due: go-fmt-import, gofumpt, golangci-lint

add release note
  docs/release-notes/checkpoint-fs-server-download.rst
Due: none

feat: add local checkpoint storage download through server
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  master/pkg/checkpoints/checkpoints.go
  master/pkg/checkpoints/gcs/gcs_checkpoints.go
  master/pkg/checkpoints/local/local_checkpoints.go
  master/pkg/checkpoints/s3/s3checkpoints.go
  master/pkg/schemas/expconf/storage_config.go
Due: go-fmt-import, gofumpt, golangci-lint

update from testing
  e2e_tests/tests/cluster/test_checkpoints.py
  master/pkg/schemas/expconf/storage_config.go
Due: go-fmt-import, gofumpt, golangci-lint

update det deploy local to mount checkpoint storage
  harness/determined/deploy/local/cluster_utils.py
Due: none

update release note
  docs/release-notes/checkpoint-fs-server-download.rst
Due: none

update from comment
  master/pkg/schemas/expconf/storage_config.go
Due: go-fmt-import, gofumpt, golangci-lint

update testing
  e2e_tests/tests/cluster/test_checkpoints.py
Due: none

chore: bump version: 0.26.6-dev0 -> 0.26.7-dev0
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

Rename lore batch 1
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/aws/constants.py
  harness/determined/deploy/aws/deployment_types/base.py
  harness/determined/deploy/aws/deployment_types/vpc.py
Due: none

fix(tasks): persist rendezvous readiness (#8545)
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  master/internal/task/allocation_service.go
  master/internal/task/allocation_service_iface.go
  master/internal/task/allocation_service_test.go
  master/pkg/syncx/queue/queue.go
  master/pkg/syncx/queue/queue_test.go
Due: go-fmt-import, gofumpt, golangci-lint

WIP
  harness/determined/deploy/aws/constants.py
  harness/determined/deploy/aws/templates/lore.yaml
Due: none

Update master/internal/stream/projects.go
  master/internal/stream/projects.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: add projects streaming entity (#8585)
  master/internal/stream/authz_basic_impl.go
  master/internal/stream/authz_iface.go
  master/internal/stream/projects.go
  master/internal/stream/system.go
  master/internal/stream/system_intg_test.go
  master/internal/stream/test_util.go
  master/static/migrations/20231211011129_add-projects-trigger.tx.down.sql
  master/static/migrations/20231211011129_add-projects-trigger.tx.up.sql
  master/stream.py
  master/test/streamdata/stream_data.go
Due: go-fmt-import, gofumpt, golangci-lint

update comments
  master/internal/stream/projects.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: lock api state for backward compatibility check
  proto/buf.image.bin
Due: none

chore: add docs dropdown link for new version
  docs/_static/version-switcher/versions.json
Due: none

chore: lock published urls to preserve redirects
  docs/.redirects/all_published_urls_ever.json
Due: none

chore: bump version: 0.26.7-dev0 -> 0.26.7-rc0
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

chore: fix api state
  proto/buf.image.bin
Due: none

cleanup comment
  master/pkg/schemas/expconf/storage_config.go
Due: go-fmt-import, gofumpt, golangci-lint

'finished' migrations
  master/static/migrations/20231212130811_run_collections.tx.down.sql
  master/static/migrations/20231212130811_run_collections.tx.up.sql
Due: none

add tests
  master/internal/api_generic_intg_test.go
  master/internal/api_generic_tasks.go
  master/static/srv/get_task.sql
  proto/pkg/taskv1/task.pb.go
  proto/src/determined/task/v1/task.proto
Due: go-fmt-import, gofumpt, golangci-lint

move migration
  master/static/migrations/20231213121945_add-task-config.tx.down.sql
  master/static/migrations/20231213121945_add-task-config.tx.up.sql
Due: none

wrote db test
  master/internal/run/postgres_run_intg_test.go
  master/static/migrations/20231212130811_run_collections.tx.up.sql
  master/test/olddata/modern_experiments_add.sql
  master/test/olddata/pre_run_trials.go
Due: go-fmt-import, gofumpt, golangci-lint

lint
  harness/determined/cli/task.py
Due: none

chore: fix api state (#8589)
  proto/buf.image.bin
Due: none

move migration
  master/static/migrations/20231213132456_add-parent-id-task-config.tx.down.sql
  master/static/migrations/20231213132456_add-parent-id-task-config.tx.up.sql
Due: none

chore: added integration test for metrics
  master/internal/stream/system_intg_test.go
  master/internal/stream/test_util.go
Due: go-fmt-import, gofumpt, golangci-lint

refactor: removes workspace_id as an exported field, adds additional metric integration tests
  master/internal/stream/checkpoints.go
  master/internal/stream/experiments.go
  master/internal/stream/metrics.go
  master/internal/stream/system_intg_test.go
  master/internal/stream/test_util.go
  master/internal/stream/trials.go
  master/test/streamdata/stream_data.sql
Due: go-fmt-import, gofumpt, golangci-lint

test: skip more `mmdetection` tests [DET-10036]
  e2e_tests/tests/model_hub/test_mmdetection.py
Due: none

feat: add local checkpoint storage download through server (#8505)
  docs/release-notes/checkpoint-fs-server-download.rst
  e2e_tests/tests/cluster/test_checkpoints.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/deploy/local/cluster_utils.py
  master/internal/api_tensorboard.go
  master/pkg/checkpoints/checkpoints.go
  master/pkg/checkpoints/gcs/gcs_checkpoints.go
  master/pkg/checkpoints/local/local_checkpoints.go
  master/pkg/checkpoints/s3/s3checkpoints.go
  master/pkg/schemas/expconf/storage_config.go
Due: go-fmt-import, gofumpt, golangci-lint

test: skip more `mmdetection` tests [DET-10036] (#8592)
  e2e_tests/tests/model_hub/test_mmdetection.py
Due: none

fix: prevent theme settings conflict in multi-client/window scenario
  webui/react/src/App.tsx
  webui/react/src/hooks/useTheme.settings.ts
  webui/react/src/stores/userSettings.tsx
Due: web-js-lint-check

chore: update byExternalToken signature
  master/internal/user/external_users.go
  master/internal/user/postgres_users.go
Due: go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
