Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint
  require_serial: true

chore: add batches and epochs to TFKerasTrial metrics
  harness/determined/keras/_tf_keras_trial.py
Due: none

Mikhail's deepspeed trainer
  examples/deepspeed/dcgan/README.md
  examples/deepspeed/dcgan/data.py
  examples/deepspeed/dcgan/ds_config.json
  examples/deepspeed/dcgan/gan_model.py
  examples/deepspeed/dcgan/mnist.yaml
  examples/deepspeed/dcgan/model.py
  examples/deepspeed/dcgan/trainer.py
  examples/deepspeed/gpt_neox/det_utils.py
  harness/determined/exec/harness.py
  harness/determined/pytorch/__init__.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/_trainer_utils.py
  harness/determined/pytorch/deepspeed/__init__.py
  harness/determined/pytorch/deepspeed/_deepspeed_context.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
  harness/determined/pytorch/deepspeed/_trainer.py
  harness/tests/experiment/fixtures/deepspeed_linear_model.py
  harness/tests/experiment/integrations/test_deepspeed_trial.py
Due: none

legacy entrypoint deprecations
  harness/determined/exec/harness.py
  harness/determined/launch/deepspeed.py
  harness/determined/launch/horovod.py
  harness/determined/launch/torch_distributed.py
Due: none

more comments
  docs/release-notes/log-signal.rst
Due: none

chore: add batches and epochs to TFKerasTrial metrics (#10129)
  harness/determined/keras/_tf_keras_trial.py
Due: none

docs change for epoch->epochs
  docs/tutorials/viewing-epoch-based-metrics.rst
Due: none

docs: change for epoch->epochs (#10130)
  docs/tutorials/viewing-epoch-based-metrics.rst
Due: none

merge
  examples/deepspeed/dcgan/README.md
  examples/deepspeed/dcgan/data.py
  examples/deepspeed/dcgan/ds_config.json
  examples/deepspeed/dcgan/gan_model.py
  examples/deepspeed/dcgan/mnist.yaml
  examples/deepspeed/dcgan/model.py
  examples/deepspeed/dcgan/trainer.py
  examples/deepspeed/gpt_neox/det_utils.py
  harness/determined/exec/harness.py
  harness/determined/pytorch/__init__.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/_trainer_utils.py
  harness/determined/pytorch/deepspeed/__init__.py
  harness/determined/pytorch/deepspeed/_deepspeed_context.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
  harness/determined/pytorch/deepspeed/_trainer.py
  harness/tests/experiment/fixtures/deepspeed_linear_model.py
  harness/tests/experiment/integrations/test_deepspeed_trial.py
Due: none

docs: add log signal release note and update docs (#10126)
  docs/reference/experiment-config-reference.rst
  docs/release-notes/log-search-improvement.rst
  docs/release-notes/log-signal.rst
  docs/tools/webui-if.rst
  docs/tutorials/_index.rst
  docs/tutorials/log-management.rst
Due: none

feat: add actual select all to glide tables [ET-238] (#10081)
  webui/react/src/components/ComparisonView.test.mock.tsx
  webui/react/src/components/ComparisonView.tsx
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/components/ExperimentCreateModal.test.tsx
  webui/react/src/components/ExperimentCreateModal.tsx
  webui/react/src/components/ExperimentMoveModal.tsx
  webui/react/src/components/LoadableCount.tsx
  webui/react/src/components/RunActionDropdown.tsx
  webui/react/src/components/RunFilterInterstitialModalComponent.test.tsx
  webui/react/src/components/RunFilterInterstitialModalComponent.tsx
  webui/react/src/components/SearchTensorBoardModal.tsx
  webui/react/src/components/Searches/Searches.tsx
  webui/react/src/components/TableActionBar.tsx
  webui/react/src/e2e/models/common/hew/DataGrid.ts
  webui/react/src/e2e/models/components/TableActionBar.ts
  webui/react/src/e2e/models/pages/ProjectDetails.ts
  webui/react/src/e2e/tests/experimentList.spec.ts
  webui/react/src/hooks/useSelection.ts
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/FlatRuns/FlatRunActionButton.test.tsx
  webui/react/src/pages/FlatRuns/FlatRunActionButton.tsx
  webui/react/src/pages/FlatRuns/FlatRunMoveModal.test.tsx
  webui/react/src/pages/FlatRuns/FlatRunMoveModal.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
  webui/react/src/utils/experiment.ts
  webui/react/src/utils/task.ts
Due: web-js-lint-check

chore: refactor max_length out of deepspeed trial
  examples/deepspeed/dcgan/mnist.yaml
  examples/deepspeed/dcgan/trainer.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
  harness/determined/pytorch/deepspeed/_trainer.py
Due: none

wrong indent
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
Due: none

chore: refactor max_length out of deepspeed trial (#10128)
  examples/deepspeed/dcgan/mnist.yaml
  examples/deepspeed/dcgan/trainer.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
  harness/determined/pytorch/deepspeed/_trainer.py
Due: none

add test
  master/cmd/determined-master/root_test.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: remove searcher context from DetCallback (#10083)
  docs/model-dev-guide/hyperparameter/search-methods/hp-adaptive-asha.rst
  docs/reference/experiment-config-reference.rst
  docs/reference/training/_index.rst
  docs/reference/training/api-transformers-reference.rst
  e2e_tests/tests/config.py
  e2e_tests/tests/fixtures/hpc/embedded-single-quote.yaml
  examples/hf_trainer_api/hf_image_classification/adaptive.yaml
  examples/hf_trainer_api/hf_image_classification/const.yaml
  examples/hf_trainer_api/hf_image_classification/const_epochs.yaml
  examples/hf_trainer_api/hf_image_classification/deepspeed.yaml
  examples/hf_trainer_api/hf_image_classification/distributed.yaml
  examples/hf_trainer_api/hf_language_modeling/adaptive.yaml
  examples/hf_trainer_api/hf_language_modeling/const.yaml
  examples/hf_trainer_api/hf_language_modeling/const_epochs.yaml
  examples/hf_trainer_api/hf_language_modeling/deepspeed.yaml
  examples/hf_trainer_api/hf_language_modeling/distributed.yaml
  harness/determined/transformers/_hf_callback.py
  harness/tests/experiment/transformers/__init__.py
  harness/tests/experiment/transformers/test_callback.py
Due: none

chore: refactor max length out of pytorch trials (#10091)
  docs/model-dev-guide/api-guides/apis-howto/api-pytorch-ug.rst
  e2e_tests/tests/experiment/test_metrics.py
  examples/tutorials/mnist_pytorch/adaptive.yaml
  examples/tutorials/mnist_pytorch/train.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/_trainer.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Due: none

chore: Remove max_length from WebUI (#10038)
  webui/react/src/components/CompareHyperparameters.test.mock.tsx
  webui/react/src/components/ComparisonView.test.mock.tsx
  webui/react/src/components/ExperimentContinueModal.module.scss
  webui/react/src/components/ExperimentContinueModal.tsx
  webui/react/src/components/ExperimentCreateModal.tsx
  webui/react/src/components/HyperparameterSearchModal.tsx
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/pages/Dashboard.test.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.mock.ts
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.test.tsx
  webui/react/src/types.ts
  webui/react/src/utils/experiment.test.ts
  webui/react/src/utils/experiment.ts
  webui/react/src/utils/tests/generateTestData.ts
Due: web-js-lint-check, web-misc-lint-check

feat: det.keras.DeterminedCallback (#10075)
  docs/model-dev-guide/api-guides/apis-howto/api-core-ug-basic.rst
  docs/model-dev-guide/api-guides/apis-howto/api-keras-ug.rst
  docs/model-dev-guide/create-experiment.rst
  docs/model-dev-guide/debug-models.rst
  docs/model-dev-guide/dtrain/reproducibility.rst
  docs/model-dev-guide/profiling.rst
  docs/reference/experiment-config-reference.rst
  docs/reference/training/api-core-reference.rst
  docs/reference/training/api-det-reference.rst
  docs/reference/training/api-keras-reference.rst
  docs/tools/tensorboard.rst
  e2e_tests/tests/experiment/test_tf_keras.py
  examples/computer_vision/iris_tf_keras/adaptive.yaml
  examples/computer_vision/iris_tf_keras/const.yaml
  examples/computer_vision/iris_tf_keras/distributed.yaml
  examples/computer_vision/iris_tf_keras/model_def.py
  examples/computer_vision/iris_tf_keras/train.py
  harness/determined/core/_distributed.py
  harness/determined/keras/__init__.py
  harness/determined/keras/_callback.py
  harness/determined/keras/_load.py
  harness/determined/keras/_tensorboard_callback.py
  harness/determined/keras/_tf_keras_trial.py
  harness/determined/keras/callbacks.py
  harness/determined/launch/tensorflow.py
  harness/tests/experiment/keras/__init__.py
  harness/tests/experiment/keras/test_callback.py
  harness/tests/experiment/keras/test_tf_keras_trial.py
  harness/tests/experiment/keras/train.py
  harness/tests/experiment/test_utils.py
  harness/tests/experiment/utils.py
  harness/tests/launch/test_tensorflow.py
Due: none

fix adaptive test
  e2e_tests/tests/experiment/test_core.py
Due: none

replace property->get_
  harness/determined/pytorch/deepspeed/_deepspeed_context.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
Due: none

chore: bump Go version used by CI builds to 1.22.8 (#10127)
  .circleci/real_config.yml
Due: none

feat: Deepspeed Trainer (#10100)
  examples/deepspeed/dcgan/README.md
  examples/deepspeed/dcgan/data.py
  examples/deepspeed/dcgan/ds_config.json
  examples/deepspeed/dcgan/gan_model.py
  examples/deepspeed/dcgan/mnist.yaml
  examples/deepspeed/dcgan/model.py
  examples/deepspeed/dcgan/trainer.py
  examples/deepspeed/gpt_neox/det_utils.py
  harness/determined/exec/harness.py
  harness/determined/pytorch/__init__.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/_trainer_utils.py
  harness/determined/pytorch/deepspeed/__init__.py
  harness/determined/pytorch/deepspeed/_deepspeed_context.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
  harness/determined/pytorch/deepspeed/_trainer.py
  harness/tests/experiment/fixtures/deepspeed_linear_model.py
  harness/tests/experiment/integrations/test_deepspeed_trial.py
Due: none

chore: document legacy entrypoints and set XXYYZZ=0.38.0
  docs/reference/training/api-keras-reference.rst
  harness/determined/cli/experiment.py
  harness/determined/core/_searcher.py
  harness/determined/exec/harness.py
  harness/determined/keras/_load.py
  harness/determined/keras/_tf_keras_trial.py
  harness/determined/keras/callbacks.py
  harness/determined/launch/deepspeed.py
  harness/determined/launch/horovod.py
  harness/determined/launch/torch_distributed.py
  harness/determined/pytorch/_trainer.py
Due: none

chore: document legacy entrypoints and set XXYYZZ=0.38.0 (#10133)
  docs/reference/training/api-keras-reference.rst
  harness/determined/cli/experiment.py
  harness/determined/core/_searcher.py
  harness/determined/exec/harness.py
  harness/determined/keras/_load.py
  harness/determined/keras/_tf_keras_trial.py
  harness/determined/keras/callbacks.py
  harness/determined/launch/deepspeed.py
  harness/determined/launch/horovod.py
  harness/determined/launch/torch_distributed.py
  harness/determined/pytorch/_trainer.py
  harness/determined/pytorch/deepspeed/_trainer.py
Due: none

simplify CanSetMaxSlots
  master/internal/configpolicy/utils.go
  master/internal/configpolicy/utils_test.go
  master/internal/experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: improve sorting for multi-type columns
  webui/react/src/components/MultiSortMenu.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Due: web-js-lint-check

chore: determined_master_host and friends helm support, better defaults (#10092)
  .circleci/devcluster/multi-k8s.devcluster.yaml
  .circleci/devcluster/single-k8s.devcluster.yaml
  docs/release-notes/add-host-port-scheme-to-helm.rst
  docs/setup-cluster/k8s/setup-multiple-resource-managers.rst
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
  master/cmd/determined-master/root.go
  master/cmd/determined-master/root_test.go
  master/internal/config/resource_manager_config.go
  master/internal/rm/kubernetesrm/job.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/spec.go
  master/internal/rm/kubernetesrm/spec_test.go
  tools/k8s/devcluster.yaml
  tools/k8s/multicluster.yaml
  tools/k8s/remote_connect.py
Due: go-fmt-import, gofumpt, golangci-lint

fix err message
  master/internal/experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: parse config values, correct docs
  docs/reference/deploy/master-config-reference.rst
  helm/charts/determined/values.yaml
  master/internal/api_token.go
  master/internal/api_user_intg_test.go
  master/internal/config/config.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: add checkpoint and max slots config policy enforcements in PATCH experiment (#10125)
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/configpolicy/postgres_task_config_policy.go
  master/internal/configpolicy/postgres_task_config_policy_intg_test.go
  master/internal/configpolicy/utils.go
  master/internal/configpolicy/utils_test.go
  master/internal/experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

brad review feedback
  master/internal/api_token.go
  master/internal/api_user_intg_test.go
  master/internal/config/config.go
Due: go-fmt-import, gofumpt, golangci-lint

adding read context to the rest
  .circleci/real_config.yml
Due: none

Revert "chore: determined_master_host and friends helm support, better defaults (#10092)"
  .circleci/devcluster/multi-k8s.devcluster.yaml
  .circleci/devcluster/single-k8s.devcluster.yaml
  docs/release-notes/add-host-port-scheme-to-helm.rst
  docs/setup-cluster/k8s/setup-multiple-resource-managers.rst
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
  master/cmd/determined-master/root.go
  master/cmd/determined-master/root_test.go
  master/internal/config/resource_manager_config.go
  master/internal/rm/kubernetesrm/job.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/spec.go
  master/internal/rm/kubernetesrm/spec_test.go
  tools/k8s/devcluster.yaml
  tools/k8s/multicluster.yaml
  tools/k8s/remote_connect.py
Due: go-fmt-import, gofumpt, golangci-lint

revert: "chore: determined_master_host and friends helm support, better defaults" (#10134)
  .circleci/devcluster/multi-k8s.devcluster.yaml
  .circleci/devcluster/single-k8s.devcluster.yaml
  docs/release-notes/add-host-port-scheme-to-helm.rst
  docs/setup-cluster/k8s/setup-multiple-resource-managers.rst
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
  master/cmd/determined-master/root.go
  master/cmd/determined-master/root_test.go
  master/internal/config/resource_manager_config.go
  master/internal/rm/kubernetesrm/job.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/spec.go
  master/internal/rm/kubernetesrm/spec_test.go
  tools/k8s/devcluster.yaml
  tools/k8s/multicluster.yaml
  tools/k8s/remote_connect.py
Due: go-fmt-import, gofumpt, golangci-lint

fix asha test
  e2e_tests/tests/experiment/test_core.py
Due: none

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
