Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint
  require_serial: true

chore: push oss images per commit (#9386)
  .circleci/real_config.yml
Due: none

increment arg
  webui/react/src/e2e/models/components/F_ExperiementList.ts
  webui/react/src/e2e/models/hew/DataGrid.ts
Due: web-js-lint-check

chore: add resource_pools intg test (#9356)
  .circleci/real_config.yml
  master/internal/rm/kubernetesrm/resource_pool_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: disableable rbac audit logging
  master/cmd/determined-master/main.go
  master/internal/config/authz_config.go
  master/internal/config/config.go
  master/internal/config/config_test.go
  master/internal/config/logger.go
  master/internal/rbac/audit/audit.go
  master/pkg/logger/config.go
  tools/devcluster.yaml
Due: go-fmt-import, gofumpt, golangci-lint

fix: agent now with 100% more building
  agent/cmd/determined-agent/main.go
  agent/internal/options/options.go
  master/cmd/determined-master/main.go
  master/internal/config/config.go
  master/pkg/config/logging.go
  master/pkg/logger/config.go
Due: go-fmt-import, gofumpt, golangci-lint

update ubuntu image version in slurm packer
  tools/slurm/packer/scripts/generate-pkr-vars.sh
Due: none

named return values
  master/internal/db/migrations.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: update image tags during releases
  .circleci/real_config.yml
Due: none

chore: pin requests version < 2.32.0 so docker works
  requirements.txt
Due: none

tests
  webui/react/src/components/MultiSortMenu.test.tsx
  webui/react/src/components/MultiSortMenu.tsx
Due: web-js-lint-check

fmt
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Due: web-js-lint-check

Content edits
  docs/tools/webui-if.rst
Due: none

move to cli req
  harness/tests/requirements/requirements-cli.txt
  requirements.txt
Due: none

undo
  e2e_tests/tests/requirements.txt
  harness/setup.py
  harness/tests/requirements/requirements-cli.txt
Due: none

newline
  harness/tests/requirements/requirements-cli.txt
Due: none

follow up ticket
  e2e_tests/tests/requirements.txt
  harness/setup.py
Due: none

chore: don't use a seperate schema for views_and_triggers (#9392)
  master/internal/db/migrations.go
  master/internal/db/postgres.go
  master/static/views_and_triggers/README.md
  master/static/views_and_triggers/down.sql
  master/static/views_and_triggers/up/checkpoints.sql
  master/static/views_and_triggers/up/metrics.sql
  master/static/views_and_triggers/up/model.sql
  master/static/views_and_triggers/up/project.sql
  master/static/views_and_triggers/up/users.sql
  master/static/views_and_triggers/up/util.sql
Due: go-fmt-import, gofumpt, golangci-lint

chore: gateway startup without pwdless sudo (#9382)
  tools/k8s/launch-minikube-with-gateway.sh
Due: none

lint
  e2e_tests/tests/requirements.txt
  harness/setup.py
Due: none

chore: pin requests version < 2.32.0 so docker works (#9395)
  e2e_tests/tests/requirements.txt
  harness/setup.py
Due: none

fixes
  master/internal/api_project.go
  performance/src/api_performance_tests.ts
Due: go-fmt-import, gofumpt, golangci-lint

recursive project hparam insert
  master/static/migrations/20240520104140_add-run-hparam-table.tx.up.sql
Due: none

docs: add exp config for unmanaged example #2.
  examples/features/unmanaged/2.yaml
Due: none

use GetUnmanaged
  master/internal/core_experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

fix
  master/internal/core_experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: Set slots to zero for unmanaged exp
  master/internal/core_experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

conditionally validate resources
  master/internal/core_experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

fmt
  docs/release-notes/webui-manage-templates.rst
Due: none

feat: Release template with notes
  docs/release-notes/webui-manage-templates.rst
  webui/react/src/hooks/useFeature.ts
Due: web-js-lint-check

update slurm scripts
  .circleci/real_config.yml
  tools/slurm/packer/ansible-playbook.yml
  tools/slurm/packer/scripts/generate-pkr-vars.sh
Due: none

docs: add exp config for unmanaged example #2. (#9397)
  examples/features/unmanaged/2.yaml
Due: none

rev add listener changes
  master/internal/rm/kubernetesrm/gateway_service.go
Due: go-fmt-import, gofumpt, golangci-lint

give pod a gwserv ref. don't rely on in memory portrange
  master/internal/rm/kubernetesrm/gateway_service.go
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/pod_test.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/spec.go
Due: go-fmt-import, gofumpt, golangci-lint

wip adding support for kind backed cluster
  tools/k8s/launch-kind-with-gateway.sh
Due: none

use oldest supported k8s version
  tools/k8s/launch-minikube-with-gateway.sh
Due: none

add a note for port conflict resolution
  master/internal/rm/kubernetesrm/request_workers.go
Due: go-fmt-import, gofumpt, golangci-lint

setScale
  webui/react/src/components/CompareHyperparameters.tsx
Due: web-js-lint-check

release note suggestions
  docs/release-notes/feature-clean-up.rst
Due: none

test: put flaky fix back in [INFENG-694] (#9394)
  webui/react/src/e2e/tests/userManagement.spec.ts
Due: web-js-lint-check

feat: Add charts to Comparison View (ET-99) (#9215)
  webui/react/src/components/CompareHeatMaps.tsx
  webui/react/src/components/CompareHyperparameters.settings.ts
  webui/react/src/components/CompareHyperparameters.test.mock.tsx
  webui/react/src/components/CompareHyperparameters.test.tsx
  webui/react/src/components/CompareHyperparameters.tsx
  webui/react/src/components/CompareParallelCoordinates.tsx
  webui/react/src/components/CompareScatterPlots.tsx
  webui/react/src/components/ComparisonView.tsx
  webui/react/src/components/GalleryModalComponent.tsx
  webui/react/src/components/ParallelCoordinates.tsx
  webui/react/src/components/UPlot/UPlotChart.tsx
  webui/react/src/components/UPlot/UPlotScatter/UPlotScatter.utils.ts
  webui/react/src/components/UPlot/UPlotScatter/useScatterPointTooltipPlugin.ts
  webui/react/src/components/UPlot/types.ts
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpScatterPlots.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Due: web-js-lint-check

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
