Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint
  require_serial: true

* Remove unnecessary importlib.metadata import from harness/setup.py
  harness/setup.py
  model_hub/setup.py
Due: none

Use previously created experiment for pause test
  webui/react/src/e2e/tests/experimentList.spec.ts
Due: web-js-lint-check

* Add an extra newline after imports, because isort is complaining about improper import formatting, and I believe this is what it wants.
  harness/setup.py
  model_hub/setup.py
Due: none

chore: bump current environment image versions to 0.35.0
  .circleci/real_config.yml
  .circleci/scripts/pull_image_daemonset.yaml
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/model-dev-guide/prepare-container/tensorflow-support.rst
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
  docs/reference/job-config-reference.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/gcp/install-gcp.rst
  docs/setup-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/slurm-requirements.rst
  e2e_tests/tests/config.py
  e2e_tests/tests/fixtures/ports-proxy/config.yaml
  examples/computer_vision/iris_tf_keras/adaptive.yaml
  examples/computer_vision/iris_tf_keras/const.yaml
  examples/computer_vision/iris_tf_keras/distributed.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_cancelable.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_high_priority.yaml
  examples/deepspeed_autotune/torchvision/core_api/deepspeed.yaml
  examples/deepspeed_autotune/torchvision/deepspeed_trial/deepspeed.yaml
  examples/hf_trainer_api/hf_image_classification/deepspeed.yaml
  examples/hf_trainer_api/hf_language_modeling/deepspeed.yaml
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  harness/tests/fixtures/checkpoint.json
  helm/charts/determined/values.yaml
  master/pkg/schemas/expconf/const.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  tools/scripts/environments-target.txt
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Due: web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

fix tests
  master/internal/run/runs_test.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: bump current environment image versions to 0.35.0 (#9760)
  .circleci/real_config.yml
  .circleci/scripts/pull_image_daemonset.yaml
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/model-dev-guide/prepare-container/tensorflow-support.rst
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
  docs/reference/job-config-reference.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/gcp/install-gcp.rst
  docs/setup-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/slurm-requirements.rst
  e2e_tests/tests/config.py
  e2e_tests/tests/fixtures/ports-proxy/config.yaml
  examples/computer_vision/iris_tf_keras/adaptive.yaml
  examples/computer_vision/iris_tf_keras/const.yaml
  examples/computer_vision/iris_tf_keras/distributed.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_cancelable.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_high_priority.yaml
  examples/deepspeed_autotune/torchvision/core_api/deepspeed.yaml
  examples/deepspeed_autotune/torchvision/deepspeed_trial/deepspeed.yaml
  examples/hf_trainer_api/hf_image_classification/deepspeed.yaml
  examples/hf_trainer_api/hf_language_modeling/deepspeed.yaml
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  harness/tests/fixtures/checkpoint.json
  helm/charts/determined/values.yaml
  master/pkg/schemas/expconf/const.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  tools/scripts/environments-target.txt
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Due: web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

add operator to array column type
  webui/react/src/components/FilterForm/components/type.ts
Due: web-js-lint-check

add type again
  webui/react/src/ioTypes.ts
Due: web-js-lint-check

more fixes
  webui/react/src/components/FilterForm/components/type.ts
  webui/react/src/components/MultiSortMenu.tsx
Due: web-js-lint-check

Split up actions
  webui/react/src/e2e/tests/experimentList.spec.ts
Due: web-js-lint-check

feat: add Metadata section to TrialDetailsOverview (ET-224) (#9639)
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/Metadata.module.scss
  webui/react/src/components/Metadata.test.tsx
  webui/react/src/components/Metadata.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Due: web-js-lint-check, web-misc-lint-check

* Make isort happy, because setuptools is a third-party package, and needs to be in a separate section.
  harness/setup.py
  model_hub/setup.py
Due: none

chore: pin numpy version and upgrade sphinx [MD-468] (#9736)
  docs/requirements.txt
Due: none

fix: fix missing task_stats start_time on restored allocation (#9745)
  docs/release-notes/fix-taskstats.rst
  e2e_tests/tests/cluster/managed_cluster.py
  e2e_tests/tests/cluster/test_master_restart.py
  master/internal/rm/db.go
  master/internal/task/allocation.go
  master/static/srv/update_aggregated_queued_time.sql
Due: go-fmt-import, gofumpt, golangci-lint

chore: bump version: 0.35.0-rc7 -> 0.35.0-rc8
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

chore: deprecate k8s priority scheduler with preemption
  helm/charts/determined/templates/NOTES.txt
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/templates/scheduler-config.yaml
  helm/charts/determined/templates/scheduler-deployment.yaml
  helm/charts/determined/templates/scheduler-permissions.yaml
  helm/charts/determined/values.yaml
  master/internal/config/config.go
  master/internal/config/resource_manager_config.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/spec.go
Due: go-fmt-import, gofumpt, golangci-lint

ci: Fix import sorting.
  performance/daist/daist/framework/log.py
  performance/daist/daist/framework/main.py
  performance/daist/daist/framework/paths.py
  performance/daist/daist/framework/repo.py
  performance/daist/daist/metrics/base.py
  performance/daist/daist/metrics/model_def.py
  performance/daist/daist/metrics/test_latency.py
  performance/daist/daist/models/base.py
  performance/daist/daist/models/config.py
  performance/daist/daist/models/db.py
  performance/daist/daist/models/environment.py
  performance/daist/daist/models/locust.py
  performance/daist/daist/models/metric_latency.py
  performance/daist/daist/models/result.py
  performance/daist/daist/models/session.py
  performance/daist/daist/models/timestamp.py
  performance/daist/daist/rest_api/locust_utils.py
  performance/daist/daist/rest_api/tasks.py
  performance/daist/daist/rest_api/test_locust.py
  performance/daist/daist/utils/timestamp.py
  performance/daist/make_venv.py
  performance/daist/run.py
  performance/daist/setup.py
  performance/daist/uts/framework/test_log.py
  performance/daist/uts/models/test_base.py
  performance/daist/uts/models/test_db.py
  performance/daist/uts/models/test_result.py
Due: none

Add chart '1.0.1-dev33 0.15.3 7.0.19 5.41.4 0.2.16 4.0.15 25.8.2 1.7.0 5.15.2 4.24.0 2.4.2 6.15.3' due to release
  aioli-helm-chart_1.0.1-dev33.tgz
  index.yaml
Due: none

docs wip
  docs/get-started/architecture/introduction.rst
  docs/reference/deploy/helm-config-reference.rst
Due: none

checkpoint
  master/internal/config/saml_config.go
  master/internal/plugin/saml/service.go
  master/internal/plugin/saml/service_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

saml tests
  master/internal/plugin/saml/service_intg_test.go
  master/internal/user/postgres_agentusergroup.go
Due: go-fmt-import, gofumpt, golangci-lint

oidc
  master/internal/config/oidc_config.go
  master/internal/plugin/oidc/service.go
  master/internal/plugin/oidc/service_intg_test.go
  master/internal/plugin/saml/service.go
Due: go-fmt-import, gofumpt, golangci-lint

fix docs formatting
  docs/release-notes/auto-populate-posix.rst
Due: none

lint fixes
  master/internal/plugin/oidc/service.go
  master/internal/plugin/oidc/service_intg_test.go
  master/internal/plugin/saml/service.go
  master/internal/plugin/saml/service_intg_test.go
  master/internal/user/postgres_agentusergroup.go
Due: go-fmt-import, gofumpt, golangci-lint

undo unintentional docs change
  docs/reference/deploy/master-config-reference.rst
Due: none

update docs for new configuration fields
  docs/reference/deploy/master-config-reference.rst
  docs/release-notes/auto-populate-posix.rst
Due: none

Add wait
  webui/react/src/e2e/tests/experimentList.spec.ts
Due: web-js-lint-check

fix: extract searcher metric from experiment payload
  webui/react/src/services/decoder.ts
Due: web-js-lint-check

fix: use run checkpoint data instead of experiment for run table filter
  master/internal/experiment_filter.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: extract searcher metric from experiment payload (#9768)
  webui/react/src/services/decoder.ts
Due: web-js-lint-check

fix: use run checkpoint data instead of experiment for run table filter (#9767)
  master/internal/experiment_filter.go
Due: go-fmt-import, gofumpt, golangci-lint

Clarify new NGC containers are amd64 only
  docs/release-notes.rst
Due: none

Remove reference to macOS in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Remove Homebrew installation guide
  docs/setup-cluster/on-prem/options/homebrew.rst
Due: none

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
