Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

revert doc chagnes avoid lint and doc build failures
  docs/model-dev-guide/api-guides/apis-howto/_index.rst
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
  docs/reference/job-config-reference.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/gcp/install-gcp.rst
  docs/setup-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/slurm-requirements.rst
Due: none

bumpenv yaml
  .circleci/real_config.yml
  docs/model-dev-guide/api-guides/apis-howto/_index.rst
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
  docs/reference/job-config-reference.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/gcp/install-gcp.rst
  docs/setup-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/slurm-requirements.rst
  e2e_tests/tests/config.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  harness/tests/fixtures/checkpoint.json
  helm/charts/determined/values.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Due: web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

bump env to updated AMIs for det deploy
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
Due: none

chore: add multirm module
  master/internal/checkpoint_gc.go
  master/internal/command/command_job_service.go
  master/internal/config/config.go
  master/internal/config/config_test.go
  master/internal/config/resource_config.go
  master/internal/core.go
  master/internal/experiment_job_service.go
  master/internal/rm/multirm/multirm.go
  master/internal/rm/multirm/multirm_intg_test.go
  master/internal/rm/setup.go
Due: go-fmt-import, gofumpt, golangci-lint

tc: Remove broken link
  docs/index.rst
Due: none

tc: Remove broken link (#8924)
  docs/index.rst
Due: none

chore: add codeowners for resource-mgmt team files (#8879)
  .github/CODEOWNERS
Due: none

fix: SSO button link target
  webui/react/src/pages/SignIn.tsx
Due: web-js-lint-check

refined
  docs/release-notes/8851-force-default-passwords.rst
Due: none

fix
  .circleci/real_config.yml
Due: none

fix: SSO button link target (#8925)
  webui/react/src/pages/SignIn.tsx
Due: web-js-lint-check

progress
  e2e_tests/tests/cluster/test_multi_k8s.py
Due: none

chore: bump up ebs size to 400gb for genai deployments
  harness/determined/deploy/aws/templates/lore.yaml
Due: none

kubectl install
  .circleci/devcluster/multi-k8s.devcluster.yaml
Due: none

lint
  e2e_tests/tests/test_sdk.py
Due: none

feat: Add template to sdk create_experiment
  e2e_tests/tests/test_sdk.py
  harness/determined/common/experimental/determined.py
Due: none

chore: cover and bunify project functions in postgres_experiments.go (#8912)
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_project.go
  master/internal/api_workspace.go
  master/internal/core_experiment.go
  master/internal/db/database.go
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_test_utils.go
  master/internal/project/postgres_project.go
  master/internal/project/postgres_project_intg_test.go
  master/internal/webhooks/postgres_webhook.go
  master/internal/workspace/postgres_workspace.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: slurm launcher authenticates preemption notification
  harness/determined/exec/launch.py
Due: none

tc: Add release note 8851 (#8864)
  docs/release-notes/8851-force-default-passwords.rst
Due: none

fix: slurm launcher authenticates preemption notification (#8928)
  harness/determined/exec/launch.py
Due: none

chore: bump version: 0.29.0-rc1 -> 0.29.0-rc2
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

chore: fix mp.pool test_streaming_metrics_api (#8917)
  e2e_tests/tests/experiment/test_metrics.py
Due: none

chore: bump version: 0.29.0-rc2 -> 0.29.0-rc3
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

fix: cli fails when listing providers [DET-10127] (#8903)
  harness/determined/cli/sso.py
Due: none

fix: specify go1.22.0
  go.mod
Due: none

add performance tests
  performance/src/api_performance_tests.ts
Due: none

fix: specify go1.22.0 (#8929)
  go.mod
Due: none

fix step numbering in tools
  tools/scripts/README.md
Due: none

fix: `det dev curl` support for URLs with curly brackets.
  harness/determined/cli/dev.py
Due: none

TF2 instead of TF1 as image for k8s tests.
  e2e_tests/tests/command/test_run.py
Due: none

schemas also run mypy against 3.8 rules
  schemas/mypy.ini
Due: none

Removes pip upgrade from "make" instructions.
  CONTRIBUTING.md
Due: none
