Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

fix failing test
  e2e_tests/tests/cluster/test_rbac.py
  harness/determined/common/api/bindings.py
  master/static/migrations/20240827132157_add-config-policies-permissions.tx.up.sql
  proto/pkg/rbacv1/rbac.pb.go
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check

fix lint
  master/internal/configpolicy/task_config_policy.go
  master/pkg/model/task_config_policy.go
  master/pkg/model/task_config_policy_test.go
  proto/pkg/configpolicyv1/configpolicy.pb.go
  proto/src/determined/configpolicy/v1/configpolicy.proto
Due: go-fmt-import, gofumpt, golangci-lint

chore: create WorkloadType enum and Go config + constraints structs (#9885)
  master/internal/configpolicy/task_config_policy.go
  master/pkg/model/task_config_policy.go
  master/pkg/model/task_config_policy_test.go
  proto/pkg/configpolicyv1/configpolicy.pb.go
  proto/src/determined/configpolicy/v1/configpolicy.proto
Due: go-fmt-import, gofumpt, golangci-lint

Update master/internal/api_config_policies.go
  master/internal/api_config_policies.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: Add rbac for config policies (#9873)
  e2e_tests/tests/cluster/test_rbac.py
  harness/determined/common/api/bindings.py
  master/internal/cluster/authz_basic_impl.go
  master/internal/cluster/authz_iface.go
  master/internal/cluster/authz_permissive.go
  master/internal/cluster/authz_rbac.go
  master/internal/db/postgres_rbac_intg_test.go
  master/internal/workspace/authz_basic_impl.go
  master/internal/workspace/authz_iface.go
  master/internal/workspace/authz_permissive.go
  master/internal/workspace/authz_rbac.go
  master/static/migrations/20240827132157_add-config-policies-permissions.tx.up.sql
  proto/pkg/rbacv1/rbac.pb.go
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

incorporate feedback
  master/internal/api_config_policies.go
  proto/src/determined/api/v1/api.proto
Due: go-fmt-import, gofumpt, golangci-lint

test: Delete workspace after webhook test (#9891)
  e2e_tests/tests/cluster/test_webhooks.py
Due: none

fixes
  webui/react/src/components/WebhookCreateModal.tsx
Due: web-js-lint-check

restore test
  e2e_tests/tests/cluster/test_webhooks.py
Due: none

update build
  proto/pkg/apiv1/api.pb.go
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check

fmt
  webui/react/src/components/WebhookCreateModal.tsx
Due: web-js-lint-check

Update proto/src/determined/api/v1/config_policies.proto
  proto/src/determined/api/v1/config_policies.proto
Due: none

replace more task with workload
  proto/src/determined/api/v1/config_policies.proto
Due: none

refine API comments/description
  harness/determined/common/api/bindings.py
  proto/pkg/apiv1/config_policies.pb.go
  proto/src/determined/api/v1/config_policies.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check

fmt/lint
  harness/determined/common/api/bindings.py
  proto/pkg/apiv1/config_policies.pb.go
  proto/src/determined/api/v1/config_policies.proto
Due: none

chore: stub new APIs for task config policies [CM-485] (#9880)
  harness/determined/common/api/bindings.py
  master/internal/api_config_policies.go
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/config_policies.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/config_policies.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

fixes
  master/internal/webhooks/api_webhook.go
  master/internal/webhooks/postgres_webhook.go
  proto/pkg/webhookv1/webhook.pb.go
  proto/src/determined/webhook/v1/webhook.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

Add chart '1.2.0-dev16 6.15.3 0.15.3 7.0.19 5.41.4 0.2.16 4.0.15 25.8.2 1.7.0 5.15.2 4.24.0 2.4.2' due to release
  aioli-helm-chart_1.2.0-dev16.tgz
  index.yaml
Due: none

chore: create config policy table and add db CRUD operations on table [CM-484]
  master/internal/configpolicy/task_config_policy.go
  master/internal/db/postgres_task_config_policy.go
  master/pkg/model/task_config_policy.go
  master/pkg/schemas/configpolicy/task_config_policy.go
  master/static/migrations/20240829000038_add-task-config-policy-table.tx.up.sql
Due: go-fmt-import, gofumpt, golangci-lint

spike: check if additional_bindings is of any help with new endpoint definitions (ET-693)
  proto/src/determined/api/v1/api.proto
Due: none

test: cover project id filtering on bulk actions [ET-138] (#9870)
  master/internal/experiment/bulk_action_intg_test.go
  master/internal/experiment/bulk_action_test.go
Due: go-fmt-import, gofumpt, golangci-lint

progress on tests
  master/internal/db/postgres_task_config_policy_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: timezone handling error in queued allocation time update
  master/internal/db/postgres_cluster_intg_test.go
  master/static/srv/update_aggregated_queued_time.sql
Due: go-fmt-import, gofumpt, golangci-lint

remove extra transaction
  master/internal/api_workspace.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: add unmarshal functions for task config policies
  master/internal/api_config_policies.go
  master/internal/configpolicy/task_config_policy.go
  master/internal/configpolicy/utils.go
  master/internal/configpolicy/utils_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: timezone handling error in queued allocation time update (#9892)
  master/internal/db/postgres_cluster_intg_test.go
  master/static/srv/update_aggregated_queued_time.sql
Due: go-fmt-import, gofumpt, golangci-lint

clean up API descriptions
  harness/determined/common/api/bindings.py
  master/internal/configpolicy/utils.go
  proto/pkg/apiv1/config_policies.pb.go
  proto/src/determined/api/v1/config_policies.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

feat: new run object for Run Centric API
  proto/src/determined/run/v1/run.proto
Due: none

reduce duplicate code; add comments to exported functions
  master/internal/configpolicy/utils.go
  master/internal/configpolicy/utils_test.go
Due: go-fmt-import, gofumpt, golangci-lint

import
  proto/pkg/runv1/run.pb.go
  proto/src/determined/run/v1/run.proto
Due: none

testing progress
  master/internal/db/postgres_task_config_policy.go
  master/internal/db/postgres_task_config_policy_intg_test.go
  master/pkg/model/task_config_policy.go
  master/static/migrations/20240829000038_add-task-config-policy-table.tx.up.sql
Due: go-fmt-import, gofumpt, golangci-lint

move structs into models package
  master/internal/configpolicy/task_config_policy.go
  master/pkg/model/task_config_policy.go
  master/pkg/schemas/configpolicy/task_config_policy.go
Due: go-fmt-import, gofumpt, golangci-lint

remove helper function to reduce unnecessary abstraction
  master/internal/db/postgres_task_config_policy.go
  master/internal/db/postgres_task_config_policy_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fixes
  master/internal/webhooks/postgres_webhook.go
Due: go-fmt-import, gofumpt, golangci-lint
