Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint
  require_serial: true

fix: historical allocations not picking up task workspace
  master/internal/core.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: minor fixes
  proto/pkg/runv1/run.pb.go
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/utils/flatRun.ts
Due: web-js-lint-check

Add chart '1.0.0-dev0 7.0.19 5.41.4 0.2.16 4.0.15 25.8.2 1.7.0 5.15.2 4.24.0 2.4.2 6.15.3 0.15.3' due to release
  aioli-helm-chart_1.0.0-dev0.tgz
  index.yaml
Due: none

test: fix existing test and extend for task workspace
  e2e_tests/tests/experiment/test_allocation_csv.py
Due: none

feat: add cluster-wide message
  harness/determined/cli/master.py
  harness/determined/common/api/bindings.py
  master/internal/api_master.go
  master/pkg/model/maintenance_message.go
  master/static/migrations/20240429122703_server-cluster-message.tx.down.sql
  master/static/migrations/20240429122703_server-cluster-message.tx.up.sql
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/master.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/master.proto
  webui/react/src/App.module.scss
  webui/react/src/App.tsx
  webui/react/src/components/ClusterMessage.module.scss
  webui/react/src/components/ClusterMessage.tsx
  webui/react/src/components/Navigation.module.scss
  webui/react/src/components/Navigation.tsx
  webui/react/src/components/Page.module.scss
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
  webui/react/src/stores/determinedInfo.tsx
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

bump migration date
  master/static/migrations/20240508152904_server-cluster-message.tx.up.sql
Due: none

test: add webui unit test for cluster message banner
  webui/react/src/components/ClusterMessage.test.tsx
  webui/react/src/components/ClusterMessage.tsx
Due: web-js-lint-check

More cleanup
  master/internal/db/postgres_clustermessage.go
Due: go-fmt-import, gofumpt, golangci-lint

Docs and release notes
  docs/release-notes/cluster-message.rst
  docs/tools/webui-if.rst
Due: none

use GetClusterMessage endpoint for det master cluster-message get
  harness/determined/cli/master.py
Due: none

add clear cluster msg test
  master/internal/db/postgres_clustermessage_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

WIP: refactor out data layer to facilitate integration tests
  master/internal/api_master.go
  master/internal/db/postgres_clustermessage.go
Due: go-fmt-import, gofumpt, golangci-lint

get rid of pkg/errors
  master/internal/db/postgres_clustermessage.go
Due: go-fmt-import, gofumpt, golangci-lint

Remove now-extraneous down migration
  master/static/migrations/20240429122703_server-cluster-message.tx.down.sql
Due: none

set up intg test
  master/internal/db/postgres_clustermessage_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

new test cases and some cleanup
  master/internal/api_master.go
  master/internal/db/postgres_clustermessage_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

Content edits
  docs/tools/webui-if.rst
Due: none

fix null end time bug + intg test
  master/internal/db/postgres_clustermessage.go
  master/internal/db/postgres_clustermessage_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

godoc tweak
  master/internal/db/postgres_clustermessage.go
Due: go-fmt-import, gofumpt, golangci-lint

Docs updates
  docs/release-notes/cluster-message.rst
  docs/tools/webui-if.rst
Due: none

poll for master info updates every 60s
  webui/react/src/App.tsx
Due: web-js-lint-check

cluster message e2e tests with some fixes
  e2e_tests/tests/cluster/test_cluster_message.py
  harness/determined/cli/master.py
  master/internal/api_master.go
  webui/react/src/App.tsx
  webui/react/src/components/ClusterMessage.tsx
  webui/react/src/stores/determinedInfo.tsx
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

fix: typing for ClusterMessageBanner test
  webui/react/src/components/ClusterMessage.test.tsx
Due: web-js-lint-check

docs: Describe admin mtc banner
  docs/tools/webui-if.rst
Due: none

chore: first pass at intg tests
  master/internal/db/postgres_clustermessage_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

bump migration date
  master/static/migrations/20240606110238_server-cluster-message.tx.up.sql
Due: none

linting
  harness/determined/common/api/bindings.py
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/master.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/master.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check

ClusterMessage component test fixup
  webui/react/src/components/ClusterMessage.test.tsx
Due: web-js-lint-check

even more lint
  harness/determined/cli/master.py
Due: none

cleanup: stop using TypeScript as and removed unnecessary fragment
  webui/react/src/components/ClusterMessage.tsx
  webui/react/src/services/decoder.ts
Due: web-js-lint-check

more CSS cleanup
  webui/react/src/components/Navigation.module.scss
Due: none

test polish
  webui/react/src/components/ClusterMessage.test.tsx
Due: web-js-lint-check

Some lint I guess 😔
  e2e_tests/tests/cluster/test_cluster_message.py
Due: none

limit max_conc_trials to 1
  e2e_tests/tests/cluster/test_proxy.py
Due: none

Add chart '1.0.0-dev1 6.15.3 0.15.3 7.0.19 5.41.4 4.0.15 0.2.16 25.8.2 5.15.2 4.24.0 2.4.2 1.7.0' due to release
  aioli-helm-chart_1.0.0-dev1.tgz
  index.yaml
Due: none

finished final interaction
  webui/react/src/components/CheckpointModal.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
  webui/react/src/types.ts
  webui/react/src/utils/integrations.ts
Due: web-js-lint-check

record redirect on project patch
  master/internal/api_project_intg_test.go
  master/internal/api_runs_intg_test.go
  master/internal/project/postgres_project.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: use num pods in k8 job summary
  master/internal/rm/kubernetesrm/resource_pool.go
Due: go-fmt-import, gofumpt, golangci-lint

even more linting
  e2e_tests/tests/cluster/test_cluster_message.py
  harness/determined/cli/master.py
Due: none

replace ignore_env with ci config removal
  .circleci/real_config.yml
  e2e_tests/tests/config.py
  e2e_tests/tests/experiment/test_tf_keras.py
Due: none

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
