Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

fix: Deactivate User test flake
  webui/react/src/e2e/tests/userManagement.spec.ts
Due: web-js-lint-check

change trials view
  master/static/srv/proto_get_trials_plus.sql
  master/static/views_and_triggers/up/metrics.sql
Due: none

fix: Cluster page height
  webui/react/src/pages/Cluster.module.scss
Due: none

feat: workspace task config policies UI [CM-478] (#9950)
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/ConfigPolicies.test.tsx
  webui/react/src/components/ConfigPolicies.tsx
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Due: web-js-lint-check, web-misc-lint-check

fix: show search progress in run table
  webui/react/src/pages/FlatRuns/columns.ts
Due: web-js-lint-check

lint
  webui/react/src/pages/FlatRuns/columns.ts
Due: web-js-lint-check

update trial view
  master/static/migrations/20240918161807_add-log-signal.tx.up.sql
Due: none

fix: show search progress in run table (#9976)
  webui/react/src/pages/FlatRuns/columns.ts
Due: web-js-lint-check

fix: authentication of multi login, add tokenType while rendering
  harness/determined/cli/user.py
  master/internal/api_auth.go
  master/internal/user/postgres_users.go
Due: go-fmt-import, gofumpt, golangci-lint

fix migration
  master/static/migrations/20240918161807_add-log-signal.tx.up.sql
Due: none

fix: Deactivate User test flake (#9974)
  webui/react/src/e2e/tests/userManagement.spec.ts
Due: web-js-lint-check

fix: Cluster page height (#9975)
  webui/react/src/pages/Cluster.module.scss
Due: none

tests play nicely in parallel
  master/internal/rm/multirm/multirm_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix test
  master/internal/run/postgres_run_intg_test.go
  master/static/migrations/20240918161807_add-log-signal.tx.up.sql
Due: go-fmt-import, gofumpt, golangci-lint

fix: correct `dataPath` for hyperparameters (#9971)
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Due: web-js-lint-check

chore: bump version: 0.37.0-rc1 -> 0.37.0-rc2
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  webui/react/vite.config.mts
Due: web-js-lint-check

fixes problems with nth and the debug function, while working on thiago's branch
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/e2e/fixtures/dev.fixture.ts
  webui/react/src/e2e/models/components/MultiSortMenu.ts
  webui/react/src/e2e/tests/experimentList.spec.ts
  webui/react/src/e2e/utils/debug.ts
Due: web-js-lint-check, web-misc-lint-check

fix: fix hf on_save raise exception
  harness/determined/transformers/_hf_callback.py
Due: none

fix: Reactivate User test flake
  webui/react/src/e2e/tests/userManagement.spec.ts
Due: web-js-lint-check

fix: fix hf on_save raise exception (#9977)
  harness/determined/transformers/_hf_callback.py
Due: none

fix: Reactivate User test flake (#9979)
  webui/react/src/e2e/tests/userManagement.spec.ts
Due: web-js-lint-check

TaskLogs
  webui/react/src/components/TaskList.tsx
  webui/react/src/e2e/models/common/hew/LogViewer.ts
  webui/react/src/e2e/models/components/TaskList.ts
  webui/react/src/e2e/models/pages/TaskLogs.ts
  webui/react/src/e2e/tests/workspaceTasks.spec.ts
Due: web-js-lint-check

fmt
  webui/react/src/components/TaskList.tsx
Due: web-js-lint-check

chore: implement PUT APIs for task config policies
  master/internal/api_config_policies.go
  master/internal/api_config_policies_intg_test.go
  master/internal/configpolicy/utils.go
Due: go-fmt-import, gofumpt, golangci-lint

Add chart '1.2.0-dev29+ed6fad2a 5.41.4 0.2.16 4.0.15 25.8.2 1.7.0 5.15.2 4.24.0 2.4.2 6.15.3 0.15.3 7.0.19' due to release
  aioli-helm-chart_1.2.0-dev29+ed6fad2a.tgz
  index.yaml
Due: none

fix: change name from long-lived to access token and RBAC access only to ClusterAdmin
  harness/determined/cli/user.py
  harness/determined/common/api/bindings.py
  harness/determined/common/experimental/user.py
  master/internal/api_auth.go
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
  master/internal/user/authz_rbac.go
  master/internal/user/postgres_users.go
  master/internal/user/postgres_users_intg_test.go
  master/pkg/model/user.go
  master/static/migrations/20240918200533_add-token-rbac-permissions.tx.up.sql
  master/static/migrations/20240924151659_alter-user-session-add-access-token-info.tx.up.sql
  master/static/migrations/20240924152222_add-access-token-rbac-permissions.tx.up.sql
  proto/pkg/userv1/user.pb.go
  proto/src/determined/user/v1/user.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

fix: bring in handleEmptyCell from #9963
  webui/react/src/pages/FlatRuns/columns.ts
  webui/react/src/utils/table.test.ts
  webui/react/src/utils/table.ts
Due: web-js-lint-check

Add chart '1.2.0-dev29+72d9eaef 6.15.3 0.15.3 7.0.19 5.41.4 4.0.15 0.2.16 25.8.2 5.15.2 4.24.0 2.4.2 1.7.0' due to release
  aioli-helm-chart_1.2.0-dev29+72d9eaef.tgz
  index.yaml
Due: none

fix: bring in handleEmptyCell from #9963 (#9984)
  webui/react/src/pages/FlatRuns/columns.ts
  webui/react/src/utils/table.test.ts
  webui/react/src/utils/table.ts
Due: web-js-lint-check

chore: bump version: 0.37.0-rc2 -> 0.37.0-rc3
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  webui/react/vite.config.mts
Due: web-js-lint-check

Perf Test
  .circleci/real_config.yml
Due: none
