Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

feat: Enable username and display name search on cluster user list
  harness/determined/common/api/bindings.py
  master/internal/api_user.go
  master/static/srv/get_users.sql
  proto/pkg/apiv1/user.pb.go
  proto/src/determined/api/v1/user.proto
  webui/react/src/pages/Settings/UserManagement.settings.ts
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Due: web-js-lint-check

formatting
  master/internal/api_user.go
Due: none

chore: move assigned event to correct location
  master/internal/sproto/task.go
  master/internal/task/allocation.go
Due: none

update spacing
  master/internal/api_user.go
Due: none

feat: add `TransferRoles` api
  harness/determined/common/api/bindings.py
  master/internal/rbac/api_rbac.go
  master/internal/rbac/api_rbac_stub.go
  master/internal/rbac/api_rbac_wrapper.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/rbac.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/rbac.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check

remove isLoading
  webui/react/src/hooks/useSettings.ts
Due: web-js-lint-check

perf: remove `Trialv1.latest_training` field.
  docs/release-notes/nuke-latest-training.rst
  harness/determined/common/api/bindings.py
  master/static/srv/proto_get_trials_plus.sql
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/trial/v1/trial.proto
Due: none

address review comment
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.mock.ts
Due: web-js-lint-check

refresh buf image and bindings
  proto/buf.image.bin
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check

perf: remove `Trialv1.latest_training` field. (#6155)
  docs/release-notes/nuke-latest-training.rst
  harness/determined/common/api/bindings.py
  master/static/srv/proto_get_trials_plus.sql
  proto/buf.image.bin
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.mock.ts
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check

fix: add `archived` param and simplify query (#6175)
  master/internal/api_project.go
Due: none

fix: pass workspace ID when creating tensor board from WebUI [WEB-1019] (#6186)
  docs/release-notes/rbac-ntsc-mr.rst
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHeader.tsx
  webui/react/src/pages/TrialsComparison/Actions/useTrialActions.tsx
  webui/react/src/pages/TrialsComparison/Actions/utils.ts
  webui/react/src/pages/TrialsComparison/TrialsComparison.tsx
  webui/react/src/services/types.ts
Due: web-js-lint-check

chore: bumpenvs reflecting tf27 not having pytorch (#6182)
  .circleci/config.yml
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/singularity.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
  docs/training/apis-howto/overview.rst
  e2e_tests/tests/config.py
  examples/computer_vision/unets_tf_keras/const.yaml
  examples/computer_vision/unets_tf_keras/distributed.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_3_cpu_offload.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_no_offload.yaml
  examples/deepspeed/cifar10_moe/moe.yaml
  examples/deepspeed/cifar10_moe/zero_stages.yaml
  examples/deepspeed/gpt_neox/Dockerfile
  examples/deepspeed/pipeline_parallelism/distributed.yaml
  examples/graphs/proteins_pytorch_geometric/adaptive.yaml
  examples/graphs/proteins_pytorch_geometric/const.yaml
  examples/graphs/proteins_pytorch_geometric/distributed.yaml
  harness/determined/common/schemas/expconf/_v0.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-estimator/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  helm/charts/determined/templates/master-config.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.mock.ts
Due: web-js-lint-check, web-misc-lint-check

fix: modified historical task allocation endpoint to instead aggregate allocations (#6184)
  e2e_tests/tests/experiment/test_allocation_csv.py
  master/internal/core.go
  webui/react/src/pages/Cluster/ClusterHistoricalUsageCsvModal.tsx
Due: web-js-lint-check

fix: support mixed CPU/GPU k8s quotas (#6195)
  master/internal/rm/kubernetesrm/pods.go
Due: none

chore: bump version: 0.20.1-rc2 -> 0.20.1-rc3
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  cli/determined_cli/__version__.py
  cli/setup.py
  common/determined_common/__version__.py
  common/setup.py
  deploy/determined_deploy/__version__.py
  deploy/setup.py
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/craco.config.js
  webui/react/vite.config.ts
Due: none

go formatting
  master/internal/api_user.go
Due: none

fix conflicts
  harness/determined/common/api/bindings.py
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check

update build
  .bumpversion.cfg
  webui/react/Makefile
Due: none

update test commands
  webui/react/package-lock.json
  webui/react/package.json
Due: web-misc-lint-check

fix build issues
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.mock.ts
Due: web-js-lint-check, web-misc-lint-check

use default output + junit
  webui/react/Makefile
Due: none

don't waitFor user click
  webui/react/src/hooks/useModal/JupyterLab/useModalJupyterLab.test.tsx
Due: web-js-lint-check

don't await modal title in usemodaljupyterlab test
  webui/react/src/hooks/useModal/JupyterLab/useModalJupyterLab.test.tsx
Due: web-js-lint-check

temporarily hide console out
  webui/react/package.json
Due: web-misc-lint-check

fix some failing tests, test balloons for fixing others
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.test.tsx
  webui/react/src/hooks/useModal/JupyterLab/useModalJupyterLab.test.tsx
  webui/react/vite.config.ts
Due: web-js-lint-check

extend timeout for certain tests
  webui/react/src/hooks/useModal/Columns/useModalColumnsCustomize.test.tsx
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.test.tsx
Due: web-js-lint-check

more test fixes?
  webui/react/src/components/kit/LogViewer/LogViewer.test.tsx
  webui/react/src/pages/Settings/UserManagement.test.tsx
Due: web-js-lint-check

fix coverage test command
  webui/react/Makefile
Due: none

remove duplicate bumpversion line
  .bumpversion.cfg
Due: none

drop logviewer test count again?
  webui/react/src/components/kit/LogViewer/LogViewer.test.tsx
Due: web-js-lint-check

fix thread count location
  webui/react/Makefile
Due: none

back out logviewer changes, reduce number of logs streamed
  webui/react/src/components/kit/LogViewer/LogViewer.test.tsx
Due: web-js-lint-check

diagnose test order issue?
  webui/react/src/components/kit/LogViewer/LogViewer.test.tsx
Due: web-js-lint-check

get rid of streaming timeout?
  webui/react/src/components/kit/LogViewer/LogViewer.test.tsx
Due: web-js-lint-check

it's slower
  webui/react/Makefile
Due: none

lint!
  webui/react/src/pages/Settings/UserManagement.test.tsx
Due: web-js-lint-check

waitfor logviewer tests
  webui/react/src/components/kit/LogViewer/LogViewer.test.tsx
Due: web-js-lint-check

add back nodejs changes to circle
  .circleci/config.yml
Due: none

Path conditions:
  web-js-lint-check: any of: ^webui/react/src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
