Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

fixes
  e2e_tests/tests/fixtures/unmanaged/checkpoint_distributed.py
  e2e_tests/tests/fixtures/unmanaged/checkpointing.py
  e2e_tests/tests/fixtures/unmanaged/error_termination.py
  examples/features/unmanaged/1_singleton.py
  examples/features/unmanaged/ptl/PTL-Demo.ipynb
  harness/determined/experimental/core_v2/_core_v2.py
  harness/determined/lightning/experimental.py
Due: none

feat: Add/remove HPs when creating experiment through HP search (#9610)
  webui/react/src/components/HyperparameterSearchModal.module.scss
  webui/react/src/components/HyperparameterSearchModal.tsx
Due: web-js-lint-check

fix
  examples/features/unmanaged/2_checkpoints.py
Due: none

update userSettings store mock and remove unused code
  webui/react/src/pages/FlatRuns/FlatRuns.test.tsx
Due: web-js-lint-check

fixes
  webui/react/src/components/Metadata.test.tsx
  webui/react/src/components/Metadata.tsx
Due: web-js-lint-check

chore: swap hacky date parsing for dayjs
  webui/react/src/pages/Cluster/ClusterHistoricalUsageChart.tsx
Due: web-js-lint-check

feat: Add flat run searches path and update project card click event handling
  webui/react/src/components/ProjectCard.tsx
  webui/react/src/routes/utils.ts
Due: web-js-lint-check

test: more test cases
  webui/react/src/components/FilterForm/components/FilterGroup.test.tsx
Due: web-js-lint-check

typo
  harness/determined/experimental/core_v2/_core_v2.py
Due: none

test: minor fixes
  webui/react/src/components/FilterForm/components/ConjunctionContainer.test.tsx
  webui/react/src/components/FilterForm/components/FilterGroup.test.tsx
Due: web-js-lint-check

fix: minor fix
  webui/react/src/components/FilterForm/components/FilterGroup.tsx
Due: web-js-lint-check

feat: support image pull secrets in genai (#9653)
  helm/charts/determined/templates/genai/genai-deployment.yaml
Due: none

docs: Describe flat runs view (#9644)
  docs/assets/images/webui-runs-compared.png
  docs/assets/images/webui-runs.png
  docs/tools/webui-if.rst
Due: none

docs: Update historical csv release note
  docs/release-notes/relabel-allocation-csv.rst
Due: none

Add chart '1.0.1-dev24 0.15.3 7.0.19 5.41.4 0.2.16 4.0.15 25.8.2 1.7.0 5.15.2 4.24.0 2.4.2 6.15.3' due to release
  aioli-helm-chart_1.0.1-dev24.tgz
  index.yaml
Due: none

chore: hide the docker password in cloudformation stacks (#9641)
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
Due: none

Address comment
  .circleci/real_config.yml
Due: none

feat: add metadata filtering to SearchRuns (#9611)
  harness/determined/common/api/bindings.py
  master/internal/api_runs_intg_test.go
  master/internal/experiment_filter.go
  proto/pkg/projectv1/project.pb.go
  proto/src/determined/project/v1/project.proto
  webui/react/src/ioTypes.ts
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

chore: deprecating container_runtime config, agentrm supporting singularity,podman, and apptainer (#9516)
  .circleci/real_config.yml
  agent/cmd/determined-agent/init.go
  agent/internal/agent.go
  agent/internal/container/container_runtime.go
  agent/internal/options/options.go
  agent/internal/options/options_test.go
  agent/pkg/podman/podman.go
  agent/pkg/podman/podman_test.go
  agent/pkg/singularity/singularity.go
  agent/pkg/singularity/singularity_api_test.go
  docs/.redirects/redirects.json
  docs/release-notes/deprecate-containerRuntime.rst
  docs/setup-cluster/slurm/_index.rst
  docs/setup-cluster/slurm/hpc-with-agent.rst
  tools/slurm/README.md
  tools/slurm/scripts/slurmcluster.sh
Due: go-fmt-import, gofumpt, golangci-lint

docs: Update historical csv release note (#9654)
  docs/release-notes/relabel-allocation-csv.rst
Due: none

ci: environment in e2e-slurm-enroot-znode [MD-451] (#9617)
  .circleci/real_config.yml
Due: none

feat: Add resources allocation-csv to det cli [DFR-519] (#9649)
  harness/determined/cli/resources.py
Due: none

Expand version.sh
  version.sh
Due: none

fix: ensure historic usage charts assume the correct timezone (DET-10407) (#9650)
  docs/release-notes/historic-usage-chart-timezones.rst
  webui/react/src/pages/Cluster/ClusterHistoricalUsage.settings.ts
  webui/react/src/pages/Cluster/ClusterHistoricalUsage.tsx
  webui/react/src/pages/Cluster/ClusterHistoricalUsageChart.tsx
  webui/react/src/pages/Cluster/ClusterHistoricalUsageCsvModalComponent.tsx
  webui/react/src/pages/Cluster/ClusterHistoricalUsageFilters.tsx
Due: web-js-lint-check

Expand some comments in version.sh.
  version.sh
Due: none

Expand version.sh git DAG diagram to add HEAD pointer.
  version.sh
Due: none

fix: SearchDetails Pivot bug
  webui/react/src/pages/SearchDetails.tsx
Due: web-js-lint-check

chore: Improve core v2 init API [MD-441] (#9560)
  docs/release-notes/detached-mode-config-improvement.rst
  docs/tutorials/detached-mode/distributed-training-checkpointing.rst
  docs/tutorials/detached-mode/save-load-checkpoints.rst
  docs/tutorials/detached-mode/simple-metrics-reporting.rst
  e2e_tests/tests/fixtures/core_api/pytorch_profiler_sync.py
  e2e_tests/tests/fixtures/unmanaged/checkpoint_distributed.py
  e2e_tests/tests/fixtures/unmanaged/checkpointing.py
  e2e_tests/tests/fixtures/unmanaged/error_termination.py
  examples/features/unmanaged/1_singleton.py
  examples/features/unmanaged/2_checkpoints.py
  examples/features/unmanaged/3_torch_distributed.py
  examples/features/unmanaged/advanced/checkpoints_advanced.py
  examples/features/unmanaged/advanced/context_manager.py
  examples/features/unmanaged/ray/ray_hp_search.py
  examples/features/unmanaged/ray/ray_hp_search_cleanup.py
  harness/determined/experimental/core_v2/__init__.py
  harness/determined/experimental/core_v2/_core_v2.py
  harness/determined/lightning/experimental.py
Due: none

docs: announce deprecation of Kubernetes priority scheduler with preemption
  docs/release-notes/deprecate-priority-scheduler.rst
Due: none

remove unit test for page
  webui/react/src/pages/SearchDetails.test.tsx
Due: web-js-lint-check

test: add test cases for filter group (#9647)
  webui/react/src/components/FilterForm/components/ConjunctionContainer.test.tsx
  webui/react/src/components/FilterForm/components/FilterGroup.test.tsx
  webui/react/src/components/FilterForm/components/FilterGroup.tsx
Due: web-js-lint-check

fix: upload non-conflicting files for sharded checkpointing [MD-298] (#9598)
  harness/determined/common/storage/base.py
  harness/determined/common/storage/cloud.py
  harness/determined/common/storage/shared.py
  harness/determined/core/_checkpoint.py
  harness/tests/core/test_checkpoint.py
Due: none

INFENG-744: Remove VERSION file
  .bumpversion.cfg
  .devcontainer/server.sh
  .github/workflows/lint-python.yml
  agent/Makefile
  docs/Makefile
  docs/conf.py
  docs/deploy/Makefile
  docs/deploy/scrape.py
  docs/deploy/upload.py
  harness/Makefile
  harness/pyproject.toml
  harness/setup.py
  helm/Makefile
  master/Makefile
  model_hub/Makefile
  version.sh
Due: none

Restore accidentally-deleted os module dependency.
  harness/setup.py
Due: none

Add version.sh invocation into VERSION environment variable to top-level Makefile.
  Makefile
Due: none

Remove setuptools-scm dependency from requirements.txt.
  requirements.txt
Due: none

set up for accepting 4 variations
  master/internal/config/config.go
  master/internal/core.go
Due: go-fmt-import, gofumpt, golangci-lint

report as custom logo
  harness/determined/common/api/bindings.py
  master/internal/api_master.go
  proto/pkg/apiv1/master.pb.go
  proto/src/determined/api/v1/master.proto
  webui/react/src/components/Logo.tsx
  webui/react/src/components/PageMessage.tsx
  webui/react/src/pages/SignIn.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
  webui/react/src/stores/determinedInfo.tsx
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

prioritize same color logo
  master/internal/config/ui_config.go
Due: go-fmt-import, gofumpt, golangci-lint

take out custom branding type
  webui/react/src/stores/determinedInfo.tsx
Due: web-js-lint-check
