Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

orphan
  docs/integrations/observability/_index.rst
Due: none

test: use devcluster for react tests [INFENG-449] (#9185)
  .circleci/devcluster/react.devcluster.yaml
  .circleci/real_config.yml
  webui/react/src/e2e/models/pages/Admin/UserManagement.ts
  webui/react/src/e2e/models/pages/ProjectDetails.ts
  webui/react/src/e2e/models/pages/SignIn.ts
  webui/react/src/e2e/models/pages/Workspaces.ts
  webui/react/src/e2e/tests/auth.spec.ts
  webui/react/src/e2e/tests/navigation.spec.ts
  webui/react/src/e2e/tests/projectsWorkspaces.spec.ts
Due: web-js-lint-check

remove orphan
  docs/integrations/observability/_index.rst
Due: none

docs: add documentation on how to deploy kube prom stack for k8s [RM-132] (#9205)
  docs/integrations/observability/_index.rst
  helm/charts/determined/templates/master-service.yaml
  tools/observability/README.md
  tools/observability/api-dash.json
  tools/observability/gkeDCGMExporterService.yaml
  tools/observability/grafana-prom-values.yaml
  tools/observability/tokenRefresher.yaml
Due: none

small name fix
  master/internal/api_project.go
Due: go-fmt-import, gofumpt, golangci-lint

small update
  master/internal/api_project.go
  master/internal/api_project_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: allow JupyterLab to listen on all interfaces
  master/static/srv/notebook-entrypoint.sh
Due: none

feat: add kill run endpoint (#9061)
  e2e_tests/tests/run/__init__.py
  e2e_tests/tests/run/test_api.py
  harness/determined/common/api/bindings.py
  master/internal/api_runs.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/run.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/run.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

build
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/run.pb.go
Due: none

remove unused struct
  master/internal/api_runs.go
Due: go-fmt-import, gofumpt, golangci-lint

Add chart '0.2.1-dev1 6.15.3 0.15.3 7.0.19 5.41.4 0.2.16 4.0.15 25.8.2 1.7.0 5.15.2 4.24.0 2.4.2' due to release
  aioli-helm-chart_0.2.1-dev1.tgz
  index.yaml
Due: none

Fix: Skip expected error from websocket
  master/internal/stream/publisher.go
Due: go-fmt-import, gofumpt, golangci-lint

Address comments
  master/internal/core.go
Due: go-fmt-import, gofumpt, golangci-lint

add streaming updates feature flag
  master/internal/core.go
  master/internal/stream/util.go
Due: go-fmt-import, gofumpt, golangci-lint

merge conflict fix
  webui/react/src/e2e/models/hew/Pagination.ts
Due: web-js-lint-check

battling flaky
  webui/react/src/e2e/tests/userManagement.spec.ts
Due: web-js-lint-check

edit user test working
  webui/react/playwright.config.ts
  webui/react/src/e2e/fixtures/global-fixtures.ts
  webui/react/src/e2e/fixtures/user.fixture.ts
  webui/react/src/e2e/models/components/CreateUserModal.ts
  webui/react/src/e2e/models/hew/Modal.ts
  webui/react/src/e2e/models/hew/Toast.ts
  webui/react/src/e2e/models/pages/Admin/UserManagement.ts
  webui/react/src/e2e/tests/userManagement.spec.ts
Due: web-js-lint-check

review comment
  webui/react/playwright.config.ts
Due: web-js-lint-check

Update webui/react/playwright.config.ts
  webui/react/playwright.config.ts
Due: web-js-lint-check

inital commit with a new test
  webui/react/src/e2e/models/hew/Select.ts
  webui/react/src/e2e/tests/userManagement.spec.ts
Due: web-js-lint-check

combat flaky
  webui/react/src/e2e/models/pages/Admin/UserManagement.ts
  webui/react/src/e2e/tests/userManagement.spec.ts
  webui/react/src/e2e/utils/polling.ts
Due: web-js-lint-check

combat flaky
  webui/react/src/e2e/tests/userManagement.spec.ts
Due: web-js-lint-check

match logic in user test
  webui/react/src/e2e/fixtures/user.fixture.ts
  webui/react/src/e2e/tests/userManagement.spec.ts
Due: web-js-lint-check

combat flaky
  webui/react/src/e2e/models/pages/Admin/UserManagement.ts
  webui/react/src/e2e/tests/userManagement.spec.ts
Due: web-js-lint-check

review comment
  webui/react/playwright.config.ts
  webui/react/src/e2e/fixtures/user.fixture.ts
Due: web-js-lint-check

why cant i click pagination
  webui/react/src/e2e/models/pages/Admin/UserManagement.ts
Due: web-js-lint-check

move to test fixtures
  webui/react/src/e2e/fixtures/global-fixtures.ts
  webui/react/src/e2e/tests/userManagement.spec.ts
Due: web-js-lint-check

port default
  webui/react/playwright.config.ts
Due: web-js-lint-check

fix port
  webui/react/playwright.config.ts
Due: web-js-lint-check

battling flaky
  webui/react/src/e2e/models/pages/Admin/UserManagement.ts
  webui/react/src/e2e/tests/userManagement.spec.ts
Due: web-js-lint-check

timeout increase and naming util
  webui/react/playwright.config.ts
  webui/react/src/e2e/fixtures/user.fixture.ts
  webui/react/src/e2e/tests/projectsWorkspaces.spec.ts
  webui/react/src/e2e/tests/userManagement.spec.ts
  webui/react/src/e2e/utils/naming.ts
  webui/react/src/e2e/utils/polling.ts
Due: web-js-lint-check

codeowners
  .github/CODEOWNERS
Due: none

try timeout here
  webui/react/src/e2e/tests/userManagement.spec.ts
Due: web-js-lint-check

combat flaky
  webui/react/src/e2e/models/pages/Admin/UserManagement.ts
  webui/react/src/e2e/tests/projectsWorkspaces.spec.ts
  webui/react/src/e2e/tests/userManagement.spec.ts
Due: web-js-lint-check

skip pagination test until the other PR gets merged
  webui/react/src/e2e/tests/userManagement.spec.ts
Due: web-js-lint-check

CompareHeatMaps
  webui/react/src/components/CompareHeatMaps.tsx
  webui/react/src/components/CompareHyperparameters.tsx
Due: web-js-lint-check

UPlotChart fix
  webui/react/src/components/UPlot/UPlotChart.tsx
Due: web-js-lint-check
