Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

subcomponents
  webui/react/src/e2e/fixtures/auth.fixture.ts
  webui/react/src/e2e/models/BaseComponent.ts
Due: web-js-lint-check

fix sort sql volnurability
  master/internal/api_runs.go
Due: go-fmt-import, gofumpt, golangci-lint

add gitattributes
  .gitattributes
Due: none

loc.fill works
  webui/react/src/e2e/fixtures/auth.fixture.ts
  webui/react/src/e2e/models/BaseComponent.ts
  webui/react/src/e2e/models/BasePage.ts
Due: web-js-lint-check

no need for haslocator, getslocator
  webui/react/src/e2e/models/BaseComponent.ts
Due: web-js-lint-check

feat: SearchFlatRuns api call for flat runs table support (#8852)
  harness/determined/common/api/bindings.py
  master/internal/api_runs.go
  master/internal/api_runs_intg_test.go
  master/internal/experiment_filter.go
  performance/src/api_performance_tests.ts
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/run.pb.go
  proto/pkg/projectv1/project.pb.go
  proto/pkg/runv1/run.pb.go
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/run.proto
  proto/src/determined/project/v1/project.proto
  proto/src/determined/run/v1/run.proto
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/ioTypes.ts
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

chore: logins return Sessions (#8883)
  .circleci/scripts/wait_for_perf_migration_upload_results.py
  e2e_tests/tests/api_utils.py
  e2e_tests/tests/deploy/test_local.py
  harness/determined/cli/_util.py
  harness/determined/cli/tunnel.py
  harness/determined/cli/user.py
  harness/determined/common/api/__init__.py
  harness/determined/common/api/_session.py
  harness/determined/common/api/authentication.py
  harness/determined/common/experimental/determined.py
  harness/determined/core/_context.py
  harness/determined/deploy/healthcheck.py
  harness/determined/exec/gc_checkpoints.py
  harness/determined/exec/launch.py
  harness/determined/exec/prep_container.py
  harness/determined/experimental/core_v2/_core_context_v2.py
  harness/determined/launch/deepspeed.py
  harness/determined/launch/horovod.py
  harness/tests/checkpoints/test_checkpoint.py
  harness/tests/cli/test_auth.py
  harness/tests/cli/test_experiment.py
  harness/tests/determined/common/experimental/test_checkpoint.py
  harness/tests/determined/common/experimental/test_determined.py
  harness/tests/determined/common/experimental/test_experiment.py
  harness/tests/determined/common/experimental/test_model.py
  harness/tests/determined/common/experimental/test_project.py
  harness/tests/determined/common/experimental/test_resource_pool.py
  harness/tests/determined/common/experimental/test_trial.py
  harness/tests/determined/common/experimental/test_workspace.py
  harness/tests/launch/test_deepspeed.py
  harness/tests/launch/test_horovod.py
  master/static/srv/check_idle.py
  master/static/srv/check_ready_logs.py
Due: none

test CI
  .circleci/real_config.yml
Due: none

export selection types from component
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Due: web-js-lint-check

lint
  webui/react/src/components/TableActionBar.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Due: web-js-lint-check

install CLI
  master/Dockerfile
Due: none

lint
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Due: web-js-lint-check

update col and fix hyperparam
  harness/determined/common/api/bindings.py
  master/internal/api_runs.go
  proto/pkg/runv1/run.pb.go
  proto/src/determined/run/v1/run.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

cmt and indent
  harness/determined/common/experimental/determined.py
  harness/determined/experimental/client.py
Due: none

fix test
  e2e_tests/tests/test_sdk.py
  harness/determined/common/experimental/determined.py
  harness/determined/experimental/client.py
Due: none

make sure all namespaces are unique
  .circleci/real_config.yml
Due: none

fix: Experiment.await_first_trial exits when Experiment is terminal
  harness/determined/common/experimental/experiment.py
  harness/tests/determined/common/experimental/test_experiment.py
Due: none

feat: add GET endpoint pachyderm repo URL
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/experiment.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/experiment.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

feat: add IntegrationConfig to expconf
  master/internal/api_experiment_intg_test.go
  master/pkg/schemas/expconf/experiment_config.go
  master/pkg/schemas/expconf/integration.go
  master/pkg/schemas/expconf/latest.go
  proto/pkg/apiv1/experiment.pb.go
  proto/src/determined/api/v1/experiment.proto
Due: go-fmt-import, gofumpt, golangci-lint

refactor: remove uncessary line breaks
  master/internal/api_experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

refactor: remove nolint label on createTestExpwithProjectID
  master/internal/api_experiment_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: add expconf to be used for pachyderm integration in future migration
  master/internal/api_experiment_intg_test.go
  master/pkg/schemas/expconf/zgen_experiment_config_v0.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/experiment.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/experiment.proto
Due: go-fmt-import, gofumpt, golangci-lint

chore: add jsonschema for integration & pachyderm configs
  harness/determined/common/api/bindings.py
  master/pkg/schemas/expconf/zgen_experiment_config_v0.go
  master/pkg/schemas/zgen_schemas.go
  schemas/expconf/v0/experiment.json
  schemas/expconf/v0/integration.json
  schemas/expconf/v0/pachyderm.json
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

chore: build master with updated integration schema
  master/pkg/schemas/zgen_schemas.go
Due: go-fmt-import, gofumpt, golangci-lint

refactor: defines expconf pachd and pachyderm proxy
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/config/config.go
  master/pkg/schemas/expconf/integration.go
  master/pkg/schemas/expconf/latest.go
  master/pkg/schemas/expconf/zgen_experiment_config_v0.go
  master/pkg/schemas/zgen_schemas.go
  proto/pkg/apiv1/api.pb.go
  proto/src/determined/api/v1/api.proto
  schemas/expconf/v0/experiment.json
  schemas/expconf/v0/integration.json
  schemas/expconf/v0/pachyderm-pachd.json
  schemas/expconf/v0/pachyderm-proxy.json
  schemas/expconf/v0/pachyderm.json
Due: go-fmt-import, gofumpt, golangci-lint

chore: add cleanup to integration test
  master/internal/api_experiment_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: fix linter issue
  proto/src/determined/api/v1/experiment.proto
Due: none

chore: updated proto response comment
  proto/src/determined/api/v1/experiment.proto
Due: none

refactor: adjust defaults and test file
  harness/determined/common/api/bindings.py
  master/pkg/schemas/expconf/zgen_experiment_config_v0.go
  master/pkg/schemas/zgen_schemas.go
  proto/pkg/apiv1/experiment.pb.go
  schemas/expconf/v0/experiment.json
  schemas/expconf/v0/integration.json
  schemas/expconf/v0/pachyderm-pachd.json
  schemas/expconf/v0/pachyderm-proxy.json
  schemas/expconf/v0/pachyderm.json
  schemas/test_cases/v0/experiment.yaml
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

config tweaks for testing
  webui/react/playwright.config.ts
  webui/react/src/e2e/README.md
  webui/react/vite.config.mts
Due: web-js-lint-check, web-misc-lint-check

refactor: adjust for testing for defaults
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  proto/pkg/apiv1/api.pb.go
Due: go-fmt-import, gofumpt, golangci-lint

lint
  webui/react/playwright.config.ts
  webui/react/src/e2e/README.md
Due: web-js-lint-check, web-misc-lint-check

fix: Experiment.await_first_trial exits when Experiment is terminal (#9022)
  harness/determined/common/experimental/experiment.py
  harness/tests/determined/common/experimental/test_experiment.py
Due: none

it compiles but i dont like pwLocator
  webui/react/src/e2e/fixtures/auth.fixture.ts
  webui/react/src/e2e/models/BaseComponent.ts
  webui/react/src/e2e/models/BasePage.ts
  webui/react/src/e2e/models/components/DeterminedAuth.ts
  webui/react/src/e2e/models/components/Page.ts
  webui/react/src/e2e/models/pages/SignIn.ts
Due: web-js-lint-check

locator stuff feels much better now
  webui/react/src/e2e/fixtures/auth.fixture.ts
  webui/react/src/e2e/models/BaseComponent.ts
  webui/react/src/e2e/models/BasePage.ts
Due: web-js-lint-check

remove pre-package hook
  .circleci/real_config.yml
  master/.goreleaser_sharedcluster.yml
Due: none

test update
  master/internal/api_user_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

change version
  .circleci/real_config.yml
Due: none

clean up files
  agent/Makefile
  master/.goreleaser.yml
  master/Dockerfile
  master/Makefile
Due: none

make required
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/templates/master-deployment.yaml
Due: none
