Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check

.pre-commit-config.yaml:

---
repos:
  - repo: local
    hooks:
      - id: web-js-lint-check
        name: Web JS Lint Check
        entry: ./pre-commit/web_lint_check.py js
        language: system
        files: '^webui/react/src/'
        types_or: [javascript, jsx, ts, tsx]
      - id: web-css-lint-check
        name: Web CSS Lint Check
        entry: ./pre-commit/web_lint_check.py css
        language: system
        files: '^webui/react/src/'
        types_or: [css, less, scss]
      - id: web-misc-lint-check
        name: Web Misc Lint Check
        entry: ./pre-commit/web_lint_check.py misc
        language: system
        files: '^webui/react/'
        types_or: [markdown, json]
      - id: shell-fmt-docker
        name: shfmt
        description: Format shell scripts with shfmt
        entry: mvdan/shfmt:v3
        language: docker_image
        exclude: ^(webui/react/src/services/api-ts-sdk/)
        types:
          - file
          - shell
        exclude_types:
          - zsh
        args: [-w, -s, -l, -i, '4', -ci, -bn]

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.28.0
    hooks:
      - id: yamllint
        files: >
          (?x)^(
          .github/
          | .pre-commit-config.yaml
          )$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.19.2
    hooks:
      - id: check-dependabot
      - id: check-github-actions
      - id: check-github-workflows

  - repo: https://github.com/psf/black
    rev: 22.12.0
    hooks:
      - id: black
        exclude: ^(harness/determined/common/api/bindings.py)

  # - repo: https://github.com/jumanjihouse/pre-commit-hooks
  #   rev: 3.0.0
  #   hooks:
  #     - id: markdownlint  # Configure in .mdlrc
  #       exclude: >
  #         (?x)^(
  #         examples/.*
  #         | model_hub/examples/.*
  #         | (webui/react/src/shared/)?\.github/.*template\.md
  #         | docs/release-notes/README\.md
  #         )$
  #     - id: markdownlint
  #       name: special markdown lint for templates (skip header & blank lines)
  #       args:
  #         - --rules
  #         - ~MD002,~MD041,~MD012
  #       files: >
  #         (?x)^(
  #         (webui/react/src/shared/)?.github/.*template\.md
  #         )$
  #     - id: markdownlint
  #       # bug in markdownlint handling ul inside of ol :/
  #       # https://github.com/markdownlint/markdownlint/issues/313
  #       name: special markdown lint for release notes (bullet indentation)
  #       args:
  #         - --rules
  #         - ~MD007
  #       files: ^docs/release-notes/README\.md$
  #     # - id: git-check
  #     # - id: git-dirty

Revert "Revert "fix: tensorboard cli should report workspace name""
  harness/determined/cli/command.py
Due: none

fix: clear workspaces on signout to prevent seeing other users pinned workspaces (#5971)
  webui/react/src/pages/SignOut.tsx
  webui/react/src/stores/workspaces.tsx
Due: web-js-lint-check

fix: Revert "refactor: change auth store to use observables (#5963)"
  webui/react/src/App.tsx
  webui/react/src/components/CheckpointModalTrigger.test.tsx
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/components/Router.tsx
  webui/react/src/hooks/useAuthCheck.ts
  webui/react/src/hooks/useModal/Experiment/useModalExperimentCreate.test.tsx
  webui/react/src/hooks/useModal/JupyterLab/useModalJupyterLab.test.tsx
  webui/react/src/hooks/useModal/JupyterLab/useModalJupyterLab.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateGroup.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalPasswordChange.test.tsx
  webui/react/src/hooks/usePermissions.test.tsx
  webui/react/src/hooks/useSettings.test.tsx
  webui/react/src/hooks/useSettingsProvider.tsx
  webui/react/src/index.tsx
  webui/react/src/pages/Cluster/ClusterOverallStats.test.tsx
  webui/react/src/pages/ExperimentDetails/CodeViewer/CodeViewer.test.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.tsx
  webui/react/src/pages/InteractiveTask.test.tsx
  webui/react/src/pages/Settings/Settings.test.tsx
  webui/react/src/pages/Settings/SettingsAccount.test.tsx
  webui/react/src/pages/Settings/UserManagement.test.tsx
  webui/react/src/pages/SignIn.tsx
  webui/react/src/pages/SignOut.tsx
  webui/react/src/setupTests.ts
  webui/react/src/stores/auth.ts
  webui/react/src/stores/auth.tsx
  webui/react/src/stores/index.tsx
  webui/react/src/utils/dialogApi.ts
Due: web-js-lint-check

fix: hide 404 until permissions are loaded
  webui/react/src/components/Page.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
Due: web-js-lint-check

fix: tensorboard cli should report workspace name (#5970)
  harness/determined/cli/command.py
Due: none

fix: prevent login redirect happening constantly
  webui/react/src/stores/auth.ts
Due: web-js-lint-check

fix: detect .ipynb suffix only for code viewer
  webui/react/src/pages/ExperimentDetails/CodeViewer/CodeViewer.tsx
Due: web-js-lint-check

fix: update IpynbRenderer to handle failures
  webui/react/src/pages/ExperimentDetails/CodeViewer/IpynbRenderer.tsx
Due: web-js-lint-check

fix: prevent login redirect happening constantly (#5974)
  webui/react/src/stores/auth.ts
Due: web-js-lint-check

build: Correct typo on PHONY target designation
  master/Makefile
Due: none

chore: Reimplement KnownRoles store with observable
  webui/react/src/hooks/useModal/UserSettings/useModalCreateGroup.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
  webui/react/src/pages/Settings/GroupManagement.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/stores/index.tsx
  webui/react/src/stores/knowRoles.tsx
Due: web-js-lint-check

fix file name
  webui/react/src/hooks/useModal/UserSettings/useModalCreateGroup.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
  webui/react/src/pages/Settings/GroupManagement.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/stores/knownRoles.tsx
Due: web-js-lint-check

fix: fix spinner regression
  webui/react/src/hooks/useSettingsProvider.tsx
Due: web-js-lint-check

feat: add command echo around startup hook (#5967)
  master/static/srv/entrypoint.sh
  master/static/srv/notebook-entrypoint.sh
  master/static/srv/shell-entrypoint.sh
  master/static/srv/tensorboard-entrypoint.sh
Due: none

store name updated
  webui/react/src/hooks/useModal/UserSettings/useModalCreateGroup.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
  webui/react/src/pages/Settings/GroupManagement.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/stores/roles.tsx
Due: web-js-lint-check

rename RolesService to RoleStore
  webui/react/src/hooks/useModal/UserSettings/useModalCreateGroup.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
  webui/react/src/pages/Settings/GroupManagement.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/stores/roles.tsx
Due: web-js-lint-check

remove extra loadable unpacking
  webui/react/src/hooks/useModal/UserSettings/useModalCreateGroup.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
Due: web-js-lint-check

proto and bindings re workspace_id on model labels
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/model.pb.go
  proto/src/determined/api/v1/model.proto
Due: none

webui fix up and format
  master/internal/api_model.go
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Due: web-js-lint-check

FilterReadableModelsQuery for model labels (todo: GetModel / GetModels)
  master/internal/api_model.go
  master/internal/model/authz_basic_impl.go
  master/internal/model/authz_iface.go
  master/static/srv/get_model_labels.sql
Due: none

add to mocks
  master/internal/mocks/authz_model_iface.go
Due: none

bindings after merge
  harness/determined/common/api/bindings.py
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check

chore: change min npm version
  .circleci/config.yml
  CONTRIBUTING.md
  webui/react/package-lock.json
  webui/react/package.json
Due: web-misc-lint-check

chore: wider range of npm version
  .circleci/config.yml
  CONTRIBUTING.md
  webui/react/package-lock.json
  webui/react/package.json
Due: web-misc-lint-check

cleanup xAxis setting
  webui/react/src/components/kit/LineChart.tsx
Due: web-js-lint-check

build: Correct typo on PHONY target designation (#5977)
  master/Makefile
Due: none

docs: root user usage for HPC
  docs/cluster-setup-guide/users.rst
Due: none

chore: update ntsc err handling response types (#5947)
  e2e_tests/tests/cluster/test_workspace_org.py
  harness/determined/common/api/_util.py
  master/internal/api_command.go
  master/internal/api_shell.go
  master/internal/api_tensorboard.go
Due: none

feat: Model labels queryable by workspace, filterable by authz [WEB-873] (#5951)
  harness/determined/common/api/bindings.py
  master/internal/api_model.go
  master/internal/mocks/authz_model_iface.go
  master/internal/model/authz_basic_impl.go
  master/internal/model/authz_iface.go
  master/static/srv/get_model_labels.sql
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/model.pb.go
  proto/src/determined/api/v1/model.proto
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Due: web-js-lint-check

fix: hide 404 until permissions are loaded (#5973)
  webui/react/src/components/Page.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
Due: web-js-lint-check

docs: remove link to outdated project roadmap wiki page
  CONTRIBUTING.md
Due: none

chore: remove dashboard feature switch
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/hooks/useFeature.ts
  webui/react/src/pages/DefaultRoute.tsx
  webui/react/src/routes/index.tsx
Due: web-js-lint-check

chore(circleci): switch over to dedicated GCP CI project [INFENG-74] (#5937)
  .circleci/config.yml
Due: none

docs: remove link to outdated project roadmap wiki page (#5965)
  CONTRIBUTING.md
Due: none

build: Solve typescript library checks
  bindings/Makefile
  bindings/templates/Makefile
  bindings/templates/README.md
  bindings/templates/pom.xml
  bindings/templates/src/main/java/com/determined/codegen/TypeScriptFetchGlobalsClientCodegen.java
  bindings/templates/src/main/resources/META-INF/services/io.swagger.codegen.CodegenConfig
  bindings/templates/src/main/resources/typescript-fetch-globals/README.mustache
  bindings/templates/src/main/resources/typescript-fetch-globals/api.mustache
  bindings/templates/src/main/resources/typescript-fetch-globals/configuration.mustache
  bindings/templates/src/main/resources/typescript-fetch-globals/index.mustache
  bindings/templates/src/main/resources/typescript-fetch-globals/licenseInfo.mustache
  bindings/templates/src/main/resources/typescript-fetch-globals/model.mustache
  bindings/templates/src/main/resources/typescript-fetch-globals/modelEnum.mustache
  bindings/templates/src/main/resources/typescript-fetch-globals/modelGeneric.mustache
  bindings/templates/src/main/resources/typescript-fetch-globals/package.mustache
  bindings/templates/src/main/resources/typescript-fetch-globals/tsconfig.mustache
  tools/scripts/licenses/swagger-codegen
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/Table/InteractiveTable.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api-ts-sdk/custom.d.ts
  webui/react/src/shared/configs/tsconfig.json
  webui/react/typings/dayjs.d.ts
  webui/react/typings/notebook.d.ts
  webui/react/vite.config.ts
Due: web-js-lint-check, web-misc-lint-check

fix: satisfy lint for `stacklevel` to `warnings.warn`
  cli/determined_cli/__init__.py
  common/determined_common/__init__.py
  deploy/determined_deploy/__init__.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/model.py
  harness/determined/deploy/cli.py
  harness/determined/experimental/client.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
Due: none

chore: revert the notebook file name test to work again
  webui/react/src/pages/ExperimentDetails/CodeViewer/CodeViewer.tsx
Due: web-js-lint-check

chore(cli): address B028 flake8+bugbear error
  cli/determined_cli/__init__.py
Due: none

fix: satisfy lint for `stacklevel` argument to `warnings.warn` (#5986)
  cli/determined_cli/__init__.py
  common/determined_common/__init__.py
  deploy/determined_deploy/__init__.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/model.py
  harness/determined/deploy/cli.py
  harness/determined/experimental/client.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
Due: none

added back Tara's comments / descriptions at top of files
  examples/tutorials/core_api_mnist/adaptive.yaml
  examples/tutorials/core_api_mnist/const.yaml
  examples/tutorials/core_api_mnist/distributed.yaml
  examples/tutorials/core_api_mnist/model_def.py
  examples/tutorials/core_api_mnist/model_def_adaptive.py
  examples/tutorials/core_api_mnist/model_def_checkpoints.py
  examples/tutorials/core_api_mnist/model_def_distributed.py
  examples/tutorials/core_api_mnist/model_def_metrics.py
Due: none
