Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

fmt
  helm/charts/determined/templates/master-config.yaml
Due: none

up[date
  helm/charts/determined/values.yaml
Due: none

fix after merge
  master/internal/api_runs.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/run.pb.go
Due: go-fmt-import, gofumpt, golangci-lint

misc cleanup
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/expListColumns.ts
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/progressCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/userAvatarCell.tsx
Due: web-js-lint-check

link click changes
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/expListColumns.ts
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/linkCell.tsx
Due: web-js-lint-check

chore: add grpc based auth fallback to proxied requests (#8980)
  master/internal/api_auth.go
  master/internal/api_user_intg_test.go
  master/internal/grpcutil/auth.go
Due: go-fmt-import, gofumpt, golangci-lint

update props
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Due: web-js-lint-check

add tests and filtering
  harness/determined/common/api/bindings.py
  master/internal/api_runs.go
  master/internal/api_runs_intg_test.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/run.pb.go
  proto/pkg/runv1/run.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/run.proto
  proto/src/determined/run/v1/run.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

some of nick's edits
  docs/reference/deploy/master-config-reference.rst
Due: none

edits
  docs/reference/deploy/master-config-reference.rst
Due: none

feat: update documentation for multirm
  docs/reference/deploy/master-config-reference.rst
  docs/release-notes/multirm-for-k8s.rst
Due: none

tara's edits
  docs/reference/deploy/master-config-reference.rst
  docs/release-notes/multirm-for-k8s.rst
Due: none

final edits
  docs/reference/deploy/master-config-reference.rst
  docs/release-notes/multirm-for-k8s.rst
Due: none

edits'
  docs/reference/deploy/master-config-reference.rst
  docs/release-notes/multirm-for-k8s.rst
Due: none

update comment
  e2e_tests/tests/test_sdk.py
Due: none

lint
  e2e_tests/tests/test_sdk.py
Due: none

docs: add documentation for multirm (#9016)
  docs/reference/deploy/master-config-reference.rst
  docs/release-notes/multirm-for-k8s.rst
Due: none

lint
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Due: web-js-lint-check

feat: streaming update code generation for typescript (#8988)
  .gitattributes
  go.mod
  master/Makefile
  master/cmd/stream-gen/main.go
  master/internal/stream/projects.go
  webui/react/.eslintrc.js
  webui/react/.prettierignore
  webui/react/src/services/stream/experiments.ts
  webui/react/src/services/stream/index.ts
  webui/react/src/services/stream/projects.ts
  webui/react/src/services/stream/stream.test.ts
  webui/react/src/services/stream/wire.ts
  webui/react/src/stores/projects.tsx
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

chore: helm for multirm kubeconfig_path (#9015)
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/templates/master-deployment.yaml
Due: none

require height
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Due: web-js-lint-check

chore: revert helm for multirm kubeconfig_path
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/templates/master-deployment.yaml
Due: none

comment
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Due: web-js-lint-check

chore: revert helm for multirm kubeconfig_path (#9030)
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/templates/master-deployment.yaml
Due: none

wip: http config for mocking
  webui/react/src/e2e/mocks/proxy-once.json
Due: web-misc-lint-check

mandator default selectors
  webui/react/src/e2e/models/BaseComponent.ts
  webui/react/src/e2e/models/components/DeterminedAuth.ts
Due: web-js-lint-check

feat: Add template to py sdk `create_experiment` (#8927)
  e2e_tests/tests/test_sdk.py
  harness/determined/common/experimental/determined.py
  harness/determined/experimental/client.py
Due: none

chore: add nightly gke cluster cleanup job
  .circleci/real_config.yml
Due: none

cleanup
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Due: web-js-lint-check

move job into nightly
  .circleci/real_config.yml
Due: none

Backend support for persisting profiling/system metrics to (#8884)
  master/internal/api_checkpoint_intg_test.go
  master/internal/api_trials_intg_test.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_model_intg_test.go
  master/internal/db/postgres_test_utils.go
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/db/postgres_trial_metrics.go
  master/internal/populate_metrics.go
  master/pkg/model/metrics.go
  master/static/migrations/20240229114929_generic-metrics-nullable-batches.tx.down.sql
  master/static/migrations/20240229114929_generic-metrics-nullable-batches.tx.up.sql
  master/static/migrations/20240229114949_generic-metrics-text-partition-type.tx.down.sql
  master/static/migrations/20240229114949_generic-metrics-text-partition-type.tx.up.sql
  master/static/migrations/20240229115000_generic-metrics-profiling-partition.tx.down.sql
  master/static/migrations/20240229115000_generic-metrics-profiling-partition.tx.up.sql
  master/test/integration/api/api_checkpoints_test.go
  master/test/integration/api/api_trials_test.go
  proto/buf.image.bin
  proto/pkg/apiv1/experiment.pb.go
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/trial/v1/trial.proto
Due: go-fmt-import, gofumpt, golangci-lint

feat: implement profiler in Core API [MD-10] [MD-302] (#8964)
  e2e_tests/tests/conftest.py
  e2e_tests/tests/experiment/record_profiling.py
  e2e_tests/tests/experiment/test_launch.py
  e2e_tests/tests/experiment/test_tf_keras.py
  harness/determined/_trial_controller.py
  harness/determined/core/__init__.py
  harness/determined/core/_context.py
  harness/determined/core/_profiler.py
  harness/determined/exec/harness.py
  harness/determined/keras/_tf_keras_trial.py
  harness/determined/keras/callbacks.py
  harness/determined/profiler.py
  harness/determined/pytorch/_pytorch_context.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/_trainer.py
  harness/determined/pytorch/deepspeed/_deepspeed_context.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
  harness/tests/experiment/pytorch_utils.py
Due: none

feat: migrate existing profiler metrics to generic metrics [MD-300] [MD-301] (#8970)
  master/internal/api_trials.go
  master/internal/db/database.go
  master/internal/db/postgres_trial_profiler_metrics.go
  master/static/migrations/20240308104759_trial-profiler-metrics-migration.tx.down.sql
  master/static/migrations/20240308104759_trial-profiler-metrics-migration.tx.up.sql
  master/static/srv/get_trial_available_series.sql
  master/test/integration/api/api_trials_test.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: aggregate system profiling metrics (#8995)
  harness/determined/core/_profiler.py
Due: none

feat: remove throughput and timing metrics views on web UI (#8992)
  webui/react/src/pages/TrialDetails/Profiles/Charts/ThroughputMetricChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/TimingMetricChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/Profiler.tsx
Due: web-js-lint-check

chore: add unit tests for profiler avg method
  harness/determined/core/_profiler.py
  harness/tests/core/test_profiler.py
Due: none

docs: better docs for profiling in determined [MD-252] (#9011)
  docs/.redirects/redirects.json
  docs/get-started/architecture/introduction.rst
  docs/model-dev-guide/api-guides/apis-howto/api-core-ug.rst
  docs/model-dev-guide/api-guides/apis-howto/api-keras-ug.rst
  docs/model-dev-guide/api-guides/apis-howto/api-pytorch-ug.rst
  docs/model-dev-guide/api-guides/apis-howto/deepspeed/deepspeed.rst
  docs/model-dev-guide/dtrain/_index.rst
  docs/model-dev-guide/dtrain/optimize-training.rst
  docs/model-dev-guide/profiling.rst
  docs/reference/experiment-config-reference.rst
Due: none

require onScroll
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Due: web-js-lint-check

fix
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Due: web-js-lint-check

this doesn't work either
  webui/react/src/e2e/fixtures/auth.fixture.ts
  webui/react/src/e2e/models/BaseComponent.ts
  webui/react/src/e2e/models/BasePage.ts
Due: web-js-lint-check
