Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint

fix boolean
  harness/determined/pytorch/_pytorch_context.py
Due: none

only set_enable_tensorboard if not default
  harness/determined/pytorch/_trainer.py
Due: none

minor fix
  harness/determined/pytorch/_trainer.py
Due: none

format
  harness/determined/pytorch/_pytorch_context.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/_trainer.py
Due: none

format
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Due: none

add deepspeed flag
  harness/determined/pytorch/deepspeed/_deepspeed_context.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
Due: none

fix: det tunnel should work with proxy port exposed [FE-121]
  master/static/srv/command-entrypoint.sh
Due: none

Don't fail e2e test for commands if Python is not installed, as not all images have Python installed
  master/static/srv/command-entrypoint.sh
Due: none

chore: bump version: 0.23.4-rc2 -> 0.23.4-rc3
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Due: web-js-lint-check

fix: det tunnel should work with proxy port exposed [FE-121] (#7492)
  master/static/srv/command-entrypoint.sh
Due: none

removed mockConfigMapInterface
  master/internal/rm/kubernetesrm/mock_client_test.go
  master/internal/rm/kubernetesrm/pod_test.go
  master/internal/rm/kubernetesrm/request_queue_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: disable Manage Bindings option for default pools [WEB-1521]
  webui/react/src/components/ResourcePoolBindings.tsx
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/pages/ResourcepoolDetail.tsx
Due: web-js-lint-check

removed mock_client_test.go
  master/internal/rm/kubernetesrm/mock_client_test.go
  master/internal/rm/kubernetesrm/pod_test.go
Due: go-fmt-import, gofumpt, golangci-lint

update metric and chart rendering logic
  webui/react/src/hooks/useMetricNames.ts
  webui/react/src/pages/F_ExpList/CompareMetrics.tsx
Due: web-js-lint-check

use Tooltip in TableActionBar menus
  webui/react/src/components/FilterForm/TableFilter.tsx
  webui/react/src/components/kit/Tooltip.module.scss
  webui/react/src/components/kit/Tooltip.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
Due: web-js-lint-check

style: add dividers for actions dropdown menu
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/types.ts
Due: web-js-lint-check

chore: rename exp list action bar action button from edit to action
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
Due: web-js-lint-check

chore: update based on PR review
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
Due: web-js-lint-check

chore: remove double newline in cli error messages (#7472)
  harness/determined/cli/cli.py
Due: none

fix: rename checkpoints (#7513)
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Due: web-js-lint-check

style: update copy and add dividers to exp list table action dropdown [WEB-1490] (#7506)
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/types.ts
Due: web-js-lint-check

chore: update vite (#7505)
  webui/react/package-lock.json
Due: web-misc-lint-check

fmt
  webui/react/src/pages/DesignKit.tsx
Due: web-js-lint-check

cleanup
  webui/react/src/components/kit/Tooltip.module.scss
Due: none

cleanup
  webui/react/src/components/kit/Tooltip.tsx
Due: web-js-lint-check

feat: add experiment attributes to SDK Experiment [MLG-738] (#7512)
  harness/determined/common/experimental/experiment.py
  harness/tests/determined/common/experimental/test_experiment.py
Due: none

add fn return type
  harness/determined/pytorch/_pytorch_context.py
  harness/determined/pytorch/deepspeed/_deepspeed_context.py
Due: none

chore: bump version: 0.23.4-rc3 -> 0.23.4-rc4
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Due: web-js-lint-check

add/remove/set labels
  harness/determined/common/experimental/experiment.py
Due: none

backend APIs
  harness/determined/common/api/bindings.py
  harness/determined/common/experimental/experiment.py
  master/internal/api_experiment.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/experiment.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/experiment.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

fmt
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
Due: web-js-lint-check

python-sdk labels
  harness/determined/common/experimental/experiment.py
  harness/tests/determined/common/experimental/test_experiment.py
Due: none

mypy and fmt
  harness/determined/common/experimental/experiment.py
Due: none

wrap db query in transaction
  master/internal/api_experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

mypy and linting
  harness/determined/common/experimental/experiment.py
Due: none

remove unneeded responses.activate
  harness/tests/determined/common/experimental/test_experiment.py
Due: none

for update
  master/internal/api_experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

docs: add release notes for 0.23.4
  docs/release-notes.rst
  docs/release-notes/7377-edit-user-settings.rst
  docs/release-notes/7561-rp-workspace-mapping.rst
  docs/release-notes/9355-allow-security-context
  docs/release-notes/metric-merge.rst
  docs/release-notes/new-experiment-list.rst
  docs/release-notes/patch_master_config.rst
Due: none

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
