Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

Fix tests
  webui/react/src/hooks/useSettings.test.tsx
Due: web-js-lint-check

PR feedback
  webui/react/src/hooks/useSettings.ts
Due: web-js-lint-check

Reset the store on signout
  webui/react/src/pages/SignOut.tsx
  webui/react/src/stores/userSettings.tsx
Due: web-js-lint-check

Minor type fix
  webui/react/src/stores/userSettings.tsx
Due: web-js-lint-check

chore: Add new UserSettings store [WEB-1353] (#7322)
  webui/react/src/App.tsx
  webui/react/src/hooks/useSettings.test.tsx
  webui/react/src/hooks/useSettings.ts
  webui/react/src/hooks/useSettingsProvider.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/SignOut.tsx
  webui/react/src/stores/userSettings.tsx
Due: web-js-lint-check

feat: added rbac to grpc master config
  harness/determined/common/api/bindings.py
  master/internal/api_master.go
  master/internal/cluster/authz_basic_impl.go
  master/internal/cluster/authz_iface.go
  proto/pkg/rbacv1/rbac.pb.go
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

fix naming
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Due: web-js-lint-check

fix: Fix type mismatch on design page
  webui/react/design/index.tsx
Due: web-js-lint-check

fix: Fix type mismatch on design page (#7334)
  webui/react/design/index.tsx
Due: web-js-lint-check

fix: harmonize python & golang GET NotFound errs
  e2e_tests/tests/cluster/test_groups.py
  e2e_tests/tests/command/test_run.py
  harness/determined/cli/__init__.py
  harness/determined/cli/_util.py
  harness/determined/cli/command.py
  harness/determined/cli/experiment.py
  harness/determined/cli/project.py
  harness/determined/cli/user_groups.py
  harness/determined/cli/workspace.py
  harness/determined/common/api/errors.py
  harness/determined/common/api/request.py
  master/internal/api/error.go
  master/internal/core_checkpoint_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: ensure design kit landing page is typechecked
  webui/react/design/index.tsx
  webui/react/tsconfig.json
Due: web-js-lint-check, web-misc-lint-check

Add proper Json type to the code
  webui/react/src/components/Json.tsx
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/hooks/useSettingsProvider.tsx
  webui/react/src/stores/userSettings.tsx
  webui/react/src/types.ts
  webui/react/src/utils/data.ts
Due: web-js-lint-check

fix: harmonize python & golang GET NotFound errs (#7252)
  e2e_tests/tests/cluster/test_groups.py
  e2e_tests/tests/command/test_run.py
  harness/determined/cli/__init__.py
  harness/determined/cli/_util.py
  harness/determined/cli/command.py
  harness/determined/cli/experiment.py
  harness/determined/cli/project.py
  harness/determined/cli/user_groups.py
  harness/determined/cli/workspace.py
  harness/determined/common/api/errors.py
  harness/determined/common/api/request.py
  master/internal/api/error.go
  master/internal/core_checkpoint_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: Download to existing directory from shared_fs source [MLG-672] (#7328)
  harness/determined/common/experimental/checkpoint/_checkpoint.py
Due: none

chore: temporarily disable python-coverage on test-gpu (#7331)
  .circleci/config.yml
Due: none

chore: migrate to singularity --nvccli
  agent/pkg/singularity/singularity.go
Due: go-fmt-import, gofumpt, golangci-lint

Update webui/react/src/components/Json.tsx
  webui/react/src/components/Json.tsx
Due: web-js-lint-check

Add a debug entry for NVIDIA_VISIBLE_DEVICES
  master/static/srv/singularity-entrypoint-wrapper.sh
Due: none

Some comments
  agent/pkg/singularity/singularity.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: fix flaky TestReceiveContainerLog
  master/internal/rm/kubernetesrm/pod.go
Due: go-fmt-import, gofumpt, golangci-lint

add kubernetes RM workspace RP default
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
Due: go-fmt-import, gofumpt, golangci-lint

refactor code to take workspace ID
  master/internal/api_command.go
  master/internal/checkpoint_gc.go
  master/internal/core_experiment.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/experiment.go
  master/internal/restore.go
  master/internal/rm/actorrm/actor_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/resource_manager_iface.go
Due: go-fmt-import, gofumpt, golangci-lint

change interface & agent RM & add db function
  master/internal/api_command.go
  master/internal/checkpoint_gc.go
  master/internal/core_experiment.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/experiment.go
  master/internal/restore.go
  master/internal/rm/actorrm/actor_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/resource_manager_iface.go
Due: go-fmt-import, gofumpt, golangci-lint

propagate workspaceId throuh to the resource pool resolving function
  master/internal/api_notebook.go
  master/internal/api_shell.go
  master/internal/api_tensorboard.go
Due: go-fmt-import, gofumpt, golangci-lint

update workspace bun model
  master/pkg/model/workspace.go
Due: go-fmt-import, gofumpt, golangci-lint

docs: correct release date (#7333)
  docs/release-notes.rst
Due: none

remove testing code
  master/internal/experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: Add proper Json type to the code (#7335)
  webui/react/src/components/Json.tsx
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/hooks/useSettingsProvider.tsx
  webui/react/src/stores/userSettings.tsx
  webui/react/src/types.ts
  webui/react/src/utils/data.ts
Due: web-js-lint-check

chore: fix flaky TestReceiveContainerLog (#7338)
  master/internal/rm/kubernetesrm/pod.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: fix ray proxy pydantic testing issue
  examples/features/ports/startup-hook.sh
Due: none

chore: fix ray proxy pydantic testing issue (#7340)
  examples/features/ports/startup-hook.sh
Due: none

feat: create bindings tab in resource pool detail page
  webui/react/src/components/ResourcePoolBindings.module.scss
  webui/react/src/components/ResourcePoolBindings.tsx
  webui/react/src/pages/ResourcepoolDetail.tsx
Due: web-js-lint-check

chore: useMemo
  webui/react/src/components/ResourcePoolBindings.tsx
Due: web-js-lint-check

linting
  master/internal/config/resource_config.go
Due: go-fmt-import, gofumpt, golangci-lint

more attempts to use the metrics endpoint correct and fully run the queries with bun
  master/internal/api_trials.go
  master/internal/api_trials_intg_test.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/db/postgres_trial_metrics.go
  master/pkg/model/metrics.go
  proto/pkg/apiv1/trial.pb.go
  proto/src/determined/api/v1/trial.proto
Due: go-fmt-import, gofumpt, golangci-lint

docs: Add saas directory
  docs/index.rst
  docs/saas/bring-aws-cloud.rst
  docs/saas/bring-gcp-cloud.rst
  docs/saas/get-started.rst
  docs/saas/index.rst
  docs/saas/team-mgmt.rst
  docs/saas/usage.rst
  docs/setup-cluster/deploy-cluster/index.rst
Due: none

docs/Edit homepage title
  docs/index.rst
Due: none

fix: ensure design kit landing page is typechecked (#7336)
  webui/react/design/index.tsx
  webui/react/tsconfig.json
Due: web-js-lint-check, web-misc-lint-check

docs/Edit homepage title (#7342)
  docs/index.rst
Due: none

docs: fix version switcher (#7327)
  docs/_templates/sidebar-version.html
  docs/conf.py
Due: none
