Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint
  require_serial: true

test: fix failing det deploy local tests by incorrect cache
  e2e_tests/tests/api_utils.py
Due: none

fix: trial comparison text overflow bug fix (#8869)
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
Due: web-js-lint-check

formatting
  e2e_tests/tests/experiment/test_custom_searcher.py
Due: none

remove more cacheing
  e2e_tests/tests/api_utils.py
Due: none

fix: Genai helm service fix (#8885)
  helm/charts/determined/templates/genai/genai-backend-service.yaml
  helm/charts/determined/templates/genai/genai-deployment.yaml
  helm/charts/determined/templates/genai/genai-queue-service.yaml
  helm/charts/determined/templates/master-config.yaml
Due: none

test: fix tensorboard reattach k8s flake
  e2e_tests/tests/cluster/test_master_restart.py
  e2e_tests/tests/fixtures/no_op/short-default-ckpt.yaml
Due: none

debug true
  e2e_tests/tests/fixtures/no_op/short-default-ckpt.yaml
Due: none

style: update genai logo on sidebar
  webui/react/src/assets/images/logo-genai.svg
  webui/react/src/components/NavigationSideBar.tsx
Due: web-js-lint-check

chore: refactor proto, schema, and jobservice for multiRM (#8875)
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_job.go
  master/internal/api_user_intg_test.go
  master/internal/checkpoint_gc_test.go
  master/internal/command/command.go
  master/internal/command/command_job_service.go
  master/internal/experiment.go
  master/internal/experiment_job_service.go
  master/internal/job/jobservice/jobservice.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/resource_manager_iface.go
  master/internal/sproto/jobs.go
  master/pkg/model/compat.go
  master/pkg/model/experiment_config.go
  master/pkg/model/generic_task_config.go
  master/pkg/schemas/expconf/experiment_config.go
  master/pkg/schemas/expconf/zgen_resources_config_v0.go
  master/pkg/schemas/zgen_schemas.go
  master/pkg/tasks/task_generic.go
  proto/pkg/apiv1/agent.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/job.pb.go
  proto/pkg/apiv1/resourcepool.pb.go
  proto/pkg/experimentv1/experiment.pb.go
  proto/pkg/jobv1/job.pb.go
  proto/src/determined/api/v1/agent.proto
  proto/src/determined/api/v1/job.proto
  proto/src/determined/api/v1/resourcepool.proto
  proto/src/determined/experiment/v1/experiment.proto
  proto/src/determined/job/v1/job.proto
  schemas/expconf/v0/resources.json
  schemas/test_cases/v0/defaults.yaml
  schemas/test_cases/v0/experiment.yaml
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

add num runs
  harness/determined/common/api/bindings.py
  master/internal/api_runs.go
  master/internal/experiment_filter.go
  proto/pkg/runv1/run.pb.go
  proto/src/determined/run/v1/run.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

chore: minor tweaks as modev takes over streaming updates
  master/internal/stream/DESIGN.md
  master/internal/stream/projects.go
  master/internal/stream/publisher.go
  master/internal/stream/supervisor.go
Due: go-fmt-import, gofumpt, golangci-lint

test: unquarantine deploy-local tests (#8896)
  .circleci/real_config.yml
  e2e_tests/pytest.ini
  e2e_tests/tests/conftest.py
  e2e_tests/tests/deploy/test_local.py
Due: none

chore: fix lint
  webui/react/src/components/NavigationSideBar.tsx
Due: web-js-lint-check

move agent duplicate conn id test to internal/rm/agentrm, misc PR cleanup
  master/internal/rm/agentrm/agents_test.go
Due: go-fmt-import, gofumpt, golangci-lint

yaml syntax
  .circleci/real_config.yml
Due: none

try pytest DD integration
  .circleci/real_config.yml
Due: none

move install to install place
  .circleci/real_config.yml
Due: none

pytest syntax
  .circleci/real_config.yml
Due: none

move to test requirements
  .circleci/real_config.yml
  e2e_tests/tests/requirements.txt
Due: none

upload to data dog for e2e tests
  .circleci/real_config.yml
Due: none

more compiler errors
  .circleci/real_config.yml
Due: none

test: skip tests that need to get scheduler type
  e2e_tests/tests/deploy/test_local.py
Due: none

test: fix tensorboard reattach k8s flake [RM-39] (#8906)
  e2e_tests/tests/cluster/test_master_restart.py
  e2e_tests/tests/fixtures/no_op/short-default-ckpt.yaml
Due: none

style: update genai logo on sidebar (#8907)
  webui/react/src/assets/images/logo-genai.svg
  webui/react/src/components/NavigationSideBar.tsx
Due: web-js-lint-check

fix: return error from websocket handler if socket id is taken (#8877)
  docs/release-notes/7940-socket-error.rst
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/agents.go
  master/internal/rm/agentrm/agents_test.go
Due: go-fmt-import, gofumpt, golangci-lint

updates
  master/internal/api_trials.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/resource_manager_iface.go
Due: go-fmt-import, gofumpt, golangci-lint

initial commit to save progress
  master/internal/api_project.go
  master/internal/core_experiment.go
  master/internal/db/database.go
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_test_utils.go
  master/internal/project/postgres_project.go
  master/internal/project/postgres_project_intg_test.go
  master/internal/webhooks/postgres_webhook.go
Due: go-fmt-import, gofumpt, golangci-lint

missed a file
  master/internal/api_workspace.go
Due: go-fmt-import, gofumpt, golangci-lint

remove legacy expconf changes
  master/internal/api_checkpoint.go
  master/internal/api_experiment.go
  master/internal/checkpoint_gc.go
  master/internal/checkpoint_gc_test.go
  master/internal/experiment.go
  master/pkg/schemas/expconf/experiment_config.go
  master/pkg/schemas/expconf/legacy.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: upgrade Go from 1.21 -> 1.22
  .circleci/real_config.yml
  Makefile
  docs/setup-cluster/k8s/k8s-dev-guide.rst
  go.mod
Due: none

fix mockery panic
  master/get-deps.sh
Due: none

save mocks
  .circleci/real_config.yml
Due: none

nested hyper parameters
  master/internal/api_runs_intg_test.go
  master/internal/experiment_filter.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: bump version: 0.28.2-dev0 -> 0.29.0-dev0
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

chore: lock published urls to preserve redirects
  docs/.redirects/all_published_urls_ever.json
Due: none

chore: lock api state for backward compatibility check
  proto/buf.image.bin
Due: none

chore: bump version: 0.29.0-dev0 -> 0.29.0-rc0
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

summary metrics struct
  harness/determined/common/api/bindings.py
  master/internal/api_runs.go
  proto/pkg/runv1/run.pb.go
  proto/src/determined/run/v1/run.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

chore: upgrade Go from 1.21 -> 1.22 (#8914)
  .circleci/real_config.yml
  Makefile
  docs/setup-cluster/k8s/k8s-dev-guide.rst
  go.mod
  master/get-deps.sh
Due: none

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
