Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint
  require_serial: true

style: refactor admin user management action bar styling, remove redundant grid container.
  webui/react/src/pages/Admin/UserManagement.module.scss
  webui/react/src/pages/Admin/UserManagement.tsx
Due: web-js-lint-check

feat: Add endpoints for search actions (#9990)
  master/internal/api_search.go
  master/internal/api_search_intg_test.go
  proto/pkg/apiv2/api.pb.go
  proto/pkg/apiv2/search.pb.go
  proto/src/determined/api/v2/api.proto
  proto/src/determined/api/v2/search.proto
Due: go-fmt-import, gofumpt, golangci-lint

style: Format grid-template lines for responsiveness in UserManagement module.
  webui/react/src/pages/Admin/UserManagement.module.scss
Due: none

style: Update grid layout and alignment in User Management page.
  webui/react/src/pages/Admin/UserManagement.module.scss
Due: none

fix: correct expToWebhookConfig cache locking (#10014)
  master/internal/webhooks/postgres_webhook.go
Due: go-fmt-import, gofumpt, golangci-lint

refactor: Refactor sorting logic in Experiment List Multi-sort test cases.
  webui/react/src/e2e/tests/experimentList.spec.ts
Due: web-js-lint-check

refactor(webui): Simplify user search inputs and selectors in Admin/UserManagement.
  webui/react/src/pages/Admin/UserManagement.tsx
Due: web-js-lint-check

style: Update grid template layout in UserManagement module CSS.
  webui/react/src/pages/Admin/UserManagement.module.scss
Due: none

refactor(e2e): Improve code readability in experimentList.spec.ts.
  webui/react/src/e2e/tests/experimentList.spec.ts
Due: web-js-lint-check

refactor: Update sorting options for Experiment List Multi-sort.
  webui/react/src/e2e/tests/experimentList.spec.ts
Due: web-js-lint-check

chore: check experiment constraints
  master/internal/api_command.go
  master/internal/api_experiment.go
  master/internal/configpolicy/task_config_policy.go
  master/internal/configpolicy/task_config_policy_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

Add chart '1.2.0-dev38 25.8.2 2.4.2 1.7.0 5.15.2 4.24.0 6.15.3 0.15.3 7.0.19 5.41.4 4.0.15 0.2.16' due to release
  aioli-helm-chart_1.2.0-dev38.tgz
  index.yaml
Due: none

progress: lint, tests
  master/internal/api_experiment.go
  master/internal/api_logretention_intg_test.go
  master/internal/configpolicy/task_config_policy.go
  master/internal/configpolicy/task_config_policy_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

change rm error handling
  master/internal/configpolicy/task_config_policy.go
Due: go-fmt-import, gofumpt, golangci-lint

Docs: describe data files apptainer
  docs/setup-cluster/slurm/singularity.rst
Due: none

lint
  master/internal/configpolicy/task_config_policy.go
Due: go-fmt-import, gofumpt, golangci-lint

fix
  master/internal/configpolicy/task_config_policy.go
Due: go-fmt-import, gofumpt, golangci-lint

fix intg tests
  master/internal/api_experiment_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: Add regex search to task logs API (#9994)
  harness/determined/common/api/bindings.py
  master/internal/api/filters.go
  master/internal/api_tasks.go
  master/internal/api_tasks_intg_test.go
  master/internal/api_trials.go
  master/internal/db/postgres_filters.go
  master/internal/db/postgres_tasks_intg_test.go
  master/internal/elastic/elastic_task_logs.go
  proto/pkg/apiv1/task.pb.go
  proto/pkg/apiv1/trial.pb.go
  proto/src/determined/api/v1/task.proto
  proto/src/determined/api/v1/trial.proto
  webui/react/src/components/TrialLogPreview.tsx
  webui/react/src/pages/TaskLogs.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

docs: Update release notes date
  docs/release-notes.rst
Due: none

chore: remove checkpoint gc task from aggregated queue time
  master/static/srv/update_aggregated_queued_time.sql
Due: none

chore: correct parameterized image name
  .circleci/devcluster/custom-agent-version.devcluster.yaml
  .circleci/devcluster/double-priority.devcluster.yaml
  .circleci/devcluster/double-reattach.devcluster.yaml
  .circleci/devcluster/double.devcluster.yaml
  .circleci/devcluster/elastic-base.devcluster.yaml
  .circleci/devcluster/elastic.devcluster.yaml
  .circleci/devcluster/multi-k8s.devcluster.yaml
  .circleci/devcluster/multi-resource-pools.devcluster.yaml
  .circleci/devcluster/oauth.devcluster.yaml
  .circleci/devcluster/port-registry.devcluster.yaml
  .circleci/devcluster/priority.devcluster.yaml
  .circleci/devcluster/rbac-model-registry.yaml
  .circleci/devcluster/react.devcluster.yaml
  .circleci/devcluster/saml.devcluster.yaml
  .circleci/devcluster/single-k8s.devcluster.yaml
  .circleci/devcluster/single-rbac.devcluster.yaml
Due: none

docs: Update release notes date (#9999)
  docs/release-notes.rst
Due: none

fix: remove `formatDatetime` (#10011)
  webui/react/src/components/CheckpointModal.tsx
  webui/react/src/components/TrialLogPreview.tsx
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
  webui/react/src/utils/datetime.test.ts
  webui/react/src/utils/datetime.ts
Due: web-js-lint-check

chore: Revoke Access Tokens when a User is Deactivated (#10013)
  master/internal/user/postgres_users.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: global Config Policies UI
  webui/react/src/components/ConfigPolicies.test.tsx
  webui/react/src/components/ConfigPolicies.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/ConfigPoliciesPage.tsx
  webui/react/src/routes/index.tsx
  webui/react/src/routes/routes.ts
  webui/react/src/routes/utils.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Due: web-js-lint-check

fmt
  webui/react/src/components/ConfigPolicies.tsx
Due: web-js-lint-check

use logEntry for left pane
  webui/react/package-lock.json
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.module.scss
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
Due: web-js-lint-check, web-misc-lint-check

auto commit: wip
  examples/tutorials/mnist_pytorch/adaptive.yaml
  examples/tutorials/mnist_pytorch/const.yaml
Due: none

auto commit: wip
  master/internal/experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

Add chart '1.2.0-dev39 0.15.3 7.0.19 5.41.4 0.2.16 4.0.15 25.8.2 1.7.0 5.15.2 4.24.0 2.4.2 6.15.3' due to release
  aioli-helm-chart_1.2.0-dev39.tgz
  index.yaml
Due: none

chore: check experiment constraints (#10018)
  master/internal/api_command.go
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_logretention_intg_test.go
  master/internal/configpolicy/task_config_policy.go
  master/internal/configpolicy/task_config_policy_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

save
  master/internal/configpolicy/task_config_policy.go
  master/internal/configpolicy/task_config_policy_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

check invariant config for priority
  master/internal/command/command_job_service.go
  master/internal/configpolicy/task_config_policy.go
  master/internal/configpolicy/task_config_policy_intg_test.go
  master/internal/experiment_job_service.go
Due: go-fmt-import, gofumpt, golangci-lint

update draggable header
  webui/react/package-lock.json
  webui/react/src/pages/TrialDetails/LogViewer.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.module.scss
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
Due: web-js-lint-check, web-misc-lint-check

fmt
  master/internal/configpolicy/task_config_policy.go
  master/internal/configpolicy/task_config_policy_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

compile
  proto/pkg/apiv2/api.pb.go
  proto/pkg/apiv2/search.pb.go
Due: none

lint
  proto/src/determined/api/v2/run.proto
Due: none

refactor: correct string interopolation in yaml files
  .circleci/devcluster/custom-agent-version.devcluster.yaml
  .circleci/devcluster/double-priority.devcluster.yaml
  .circleci/devcluster/double-reattach.devcluster.yaml
  .circleci/devcluster/double.devcluster.yaml
  .circleci/devcluster/elastic-base.devcluster.yaml
  .circleci/devcluster/elastic.devcluster.yaml
  .circleci/devcluster/multi-k8s.devcluster.yaml
  .circleci/devcluster/multi-resource-pools.devcluster.yaml
  .circleci/devcluster/oauth.devcluster.yaml
  .circleci/devcluster/port-registry.devcluster.yaml
  .circleci/devcluster/postgres-with-ssl.devcluster.yaml
  .circleci/devcluster/priority.devcluster.yaml
  .circleci/devcluster/rbac-model-registry.yaml
  .circleci/devcluster/react.devcluster.yaml
  .circleci/devcluster/saml.devcluster.yaml
  .circleci/devcluster/single-k8s.devcluster.yaml
  .circleci/devcluster/single-rbac.devcluster.yaml
Due: none

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
