Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

fix: set the defaults for shared_fs mount in genai correctly
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/aws/templates/lore.yaml
Due: none

remove flaky
  webui/react/src/e2e/models/ant/Dropdown.ts
  webui/react/src/e2e/models/ant/Select.ts
  webui/react/src/e2e/models/hew/DataGrid.ts
  webui/react/src/e2e/tests/experimentList.spec.ts
Due: web-js-lint-check

chore: skip TestSchedule until flake is fixed
  master/internal/rm/kubernetesrm/resource_pool_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

slurm default image
  .circleci/real_config.yml
  master/pkg/schemas/expconf/const.go
  tools/slurm/packer/scripts/generate-pkr-vars.sh
  tools/slurm/scripts/slurmcluster.sh
  tools/slurm/scripts/slurmcluster.yaml
Due: go-fmt-import, gofumpt, golangci-lint

chore: skip TestSchedule until flake is fixed (#9434)
  master/internal/rm/kubernetesrm/resource_pool_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

restore config
  .circleci/real_config.yml
Due: none

use FlatRuns component in Trials tab
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/SearchDetails.tsx
Due: web-js-lint-check

use searchDetails path in TrialDetails
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/TrialDetails/Header/TrialHeaderLeft.tsx
Due: web-js-lint-check

fmt
  webui/react/src/components/TableActionBar.tsx
Due: web-js-lint-check

bradley fixes
  tools/slurm/packer/scripts/generate-pkr-vars.sh
  tools/slurm/scripts/slurmcluster.sh
  tools/slurm/scripts/slurmcluster.yaml
  tools/slurm/terraform/images.conf
Due: none

fix: set the defaults for shared_fs mount in genai correctly (#9433)
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/aws/templates/lore.yaml
Due: none

fix: add Admin Settings to NavigationTabbar (ET-194) (#9423)
  webui/react/src/components/NavigationTabbar.tsx
Due: web-js-lint-check

chore: bump version: 0.33.0-rc3 -> 0.33.0-rc4
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

test: use api to set up user test
  webui/react/.gitignore
  webui/react/playwright.config.ts
  webui/react/src/e2e/fixtures/api.auth.fixture.ts
  webui/react/src/e2e/fixtures/api.user.fixture.ts
  webui/react/src/e2e/fixtures/global-fixtures.ts
  webui/react/src/e2e/fixtures/user.fixture.ts
  webui/react/src/e2e/models/ant/Dropdown.ts
  webui/react/src/e2e/models/ant/Select.ts
  webui/react/src/e2e/tests/userManagement.spec.ts
  webui/react/src/e2e/utils/users.ts
Due: web-js-lint-check

various fixes
  master/internal/rm/kubernetesrm/job.go
  master/internal/task/allocation.go
Due: go-fmt-import, gofumpt, golangci-lint

fix 'Kill a pod in pod status phase pending results in a success'
  master/internal/rm/kubernetesrm/job.go
  master/internal/rm/kubernetesrm/jobs_test.go
Due: go-fmt-import, gofumpt, golangci-lint

bring back user-readable pod names
  master/internal/rm/kubernetesrm/job.go
  master/internal/rm/kubernetesrm/job_test.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/kubernetesrm/resource_pool_intg_test.go
  master/internal/rm/kubernetesrm/spec.go
Due: go-fmt-import, gofumpt, golangci-lint

various test and lint fixes
  master/internal/rm/kubernetesrm/job_test.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/jobs_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/kubernetesrm/log.go
  master/internal/rm/kubernetesrm/request_workers.go
  master/internal/rm/kubernetesrm/spec.go
Due: go-fmt-import, gofumpt, golangci-lint

various review feedback
  master/internal/rm/kubernetesrm/job.go
  master/internal/rm/kubernetesrm/jobs.go
Due: go-fmt-import, gofumpt, golangci-lint

various pr feedback
  harness/determined/exec/prep_container.py
  master/internal/rm/kubernetesrm/job_test.go
Due: go-fmt-import, gofumpt, golangci-lint

add isSuccessfulExit
  master/internal/rm/kubernetesrm/job.go
Due: go-fmt-import, gofumpt, golangci-lint

get rid of job submission info
  master/internal/rm/kubernetesrm/job.go
  master/internal/rm/kubernetesrm/job_test.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/spec.go
  master/internal/rm/kubernetesrm/spec_test.go
Due: go-fmt-import, gofumpt, golangci-lint

various renames and refactor
  master/internal/rm/kubernetesrm/job.go
  master/internal/rm/kubernetesrm/job_test.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/jobs_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/kubernetesrm/resource_pool_intg_test.go
  master/internal/rm/kubernetesrm/spec.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: convert k8s submissions from pods to jobs
  harness/determined/exec/prep_container.py
  helm/charts/determined/templates/master-permissions.yaml
  master/.gitignore
  master/Makefile
  master/internal/db/postgres_agent_intg_test.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
  master/internal/db/postgres_test_utils.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/kubernetesrm/informer.go
  master/internal/rm/kubernetesrm/job.go
  master/internal/rm/kubernetesrm/job_test.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/jobs_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/kubernetesrm/mock_client_test.go
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/pod_test.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/pods_test.go
  master/internal/rm/kubernetesrm/request_queue.go
  master/internal/rm/kubernetesrm/request_queue_test.go
  master/internal/rm/kubernetesrm/request_workers.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/kubernetesrm/spec.go
  master/internal/rm/kubernetesrm/spec_test.go
  master/internal/sproto/resources.go
  master/internal/sproto/task.go
  master/internal/sproto/task_actor.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/allocation_service_test.go
  master/internal/webhooks/postgres_webhook.go
  master/pkg/cproto/state.go
  master/pkg/tasks/task.go
  master/pkg/tasks/task_trial.go
  master/test/testutils/fixtures.go
Due: go-fmt-import, gofumpt, golangci-lint

various logging fixes
  master/internal/rm/kubernetesrm/job.go
  master/internal/rm/kubernetesrm/jobs_test.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/task/allocation.go
Due: go-fmt-import, gofumpt, golangci-lint

rearrange jobsService
  master/internal/rm/kubernetesrm/jobs.go
Due: go-fmt-import, gofumpt, golangci-lint

various pr feedback
  master/.gitignore
  master/internal/rm/kubernetesrm/job.go
  master/internal/rm/kubernetesrm/job_test.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/jobs_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: remove stdlib errors package from lint blocklist
  master/.golangci.yml
Due: none

lint
  webui/react/src/e2e/fixtures/api.auth.fixture.ts
Due: web-js-lint-check

chore: remove stdlib errors package from lint blocklist (#9381)
  master/.golangci.yml
Due: none

fix: dont utilize the default efs mount on normal aws deploys
  harness/determined/deploy/aws/cli.py
Due: none

fix: redirect on sso login (#9369)
  webui/react/src/globalStorage.ts
  webui/react/src/pages/SignIn.tsx
Due: web-js-lint-check

fix: dont utilize the default efs mount on normal aws deploys (#9437)
  harness/determined/deploy/aws/cli.py
Due: none

using wrong cpu image, but try this for now
  .circleci/real_config.yml
  tools/slurm/scripts/slurmcluster.sh
Due: none

Add option for Checkpoint_GC pod spec
  master/cmd/determined-master/root.go
  master/pkg/model/task_container_defaults.go
  master/pkg/model/task_container_defaults_test.go
  tools/devcluster.yaml
Due: go-fmt-import, gofumpt, golangci-lint

overwrite the ExpPodSpec and cover with unit tests
  master/pkg/tasks/task_gc.go
  master/pkg/tasks/task_gc_test.go
Due: go-fmt-import, gofumpt, golangci-lint

add docs
  docs/reference/deploy/helm-config-reference.rst
  docs/release-notes/feature-checkpointGC.rst
  docs/setup-cluster/k8s/custom-pod-specs.rst
  harness/determined/deploy/gke/cli.py
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
  master/cmd/determined-master/root.go
Due: go-fmt-import, gofumpt, golangci-lint
