Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint
  require_serial: true

fix variable name casing; do not require specific RM order
  master/internal/config/config_test.go
Due: go-fmt-import, gofumpt, golangci-lint

docs: add release notes for 0.29.0
  docs/release-notes.rst
  docs/release-notes/7940-socket-error.rst
  docs/release-notes/8437-auth-refactor.rst
  docs/release-notes/8851-force-default-passwords.rst
  docs/release-notes/log-level-config.rst
Due: none

chore: fix multirm unit test flake (#8949)
  master/internal/rm/multirm/multirm.go
Due: go-fmt-import, gofumpt, golangci-lint

make glide-table generic for Experiments
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/exceptions.tsx
  webui/react/src/pages/F_ExpList/expListColumns.ts
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
  webui/react/src/pages/F_ExpList/glide-table/exceptions.module.scss
  webui/react/src/pages/F_ExpList/glide-table/tooltip.tsx
  webui/react/src/pages/F_ExpList/utils.ts
Due: web-js-lint-check

chore: set CGO_ENABLED=0 (#8941)
  agent/Makefile
  master/Makefile
Due: none

remove ProjectColumn from default columns.ts defs
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
Due: web-js-lint-check

make stateCell generic
  webui/react/src/pages/F_ExpList/expListColumns.ts
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/README.md
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/stateCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/index.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/utils.ts
Due: web-js-lint-check, web-misc-lint-check

Update docs/release-notes.rst
  docs/release-notes.rst
Due: none

fmt release notes
  docs/release-notes.rst
Due: none

chore: update AMIs - Nvidia minor version bump (#8945)
  .circleci/real_config.yml
  docs/model-dev-guide/api-guides/apis-howto/_index.rst
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
  docs/reference/job-config-reference.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/gcp/install-gcp.rst
  docs/setup-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/slurm-requirements.rst
  e2e_tests/tests/config.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  harness/tests/fixtures/checkpoint.json
  helm/charts/determined/values.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Due: web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

refactor OptionsMenu and move MultiSortMenu
  webui/react/src/components/UserSettings.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.settings.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/MultiSortMenu.module.scss
  webui/react/src/pages/F_ExpList/MultiSortMenu.tsx
  webui/react/src/pages/F_ExpList/OptionsMenu.module.scss
  webui/react/src/pages/F_ExpList/OptionsMenu.tsx
  webui/react/src/pages/F_ExpList/TableActionBar.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Due: web-js-lint-check

add index to key prop to avoid collapsing
  webui/react/src/components/ResourceAllocationModal.tsx
Due: web-js-lint-check

docs: add release notes for 0.29.0 (#8955)
  docs/release-notes.rst
  docs/release-notes/7940-socket-error.rst
  docs/release-notes/8437-auth-refactor.rst
  docs/release-notes/8851-force-default-passwords.rst
  docs/release-notes/log-level-config.rst
Due: none

chore: bump version: 0.29.0-rc4 -> 0.29.0
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

Add chart '0.29.0' due to release
  determined-helm-chart_0.29.0.tgz
  index.yaml
Due: none

change appearance
  webui/react/src/pages/ResourcePool/ResourcepoolDetail.tsx
Due: web-js-lint-check

Backend support for persisting profiling/system metrics to generic_metrics: - DB schema changes - Changes to backend ReportTrialMetrics APIs
  harness/determined/common/api/bindings.py
  master/internal/api_checkpoint_intg_test.go
  master/internal/api_trials_intg_test.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_model_intg_test.go
  master/internal/db/postgres_test_utils.go
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/db/postgres_trial_metrics.go
  master/internal/populate_metrics.go
  master/pkg/model/metrics.go
  master/static/migrations/20240229114929_generic-metrics-nullable-batches.tx.down.sql
  master/static/migrations/20240229114929_generic-metrics-nullable-batches.tx.up.sql
  master/static/migrations/20240229114949_generic-metrics-text-partition-type.tx.down.sql
  master/static/migrations/20240229114949_generic-metrics-text-partition-type.tx.up.sql
  master/static/migrations/20240229115000_generic-metrics-profiling-partition.tx.down.sql
  master/static/migrations/20240229115000_generic-metrics-profiling-partition.tx.up.sql
  master/test/integration/api/api_checkpoints_test.go
  master/test/integration/api/api_trials_test.go
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/experiment.pb.go
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

getHeaderMenuItems and onLinkClick
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/MultiSortMenu.tsx
  webui/react/src/pages/F_ExpList/TableActionBar.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/icons.tsx
Due: web-js-lint-check

fmt
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/MultiSortMenu.tsx
  webui/react/src/pages/F_ExpList/TableActionBar.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/contextMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/tooltip.tsx
Due: web-js-lint-check

small test
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/pods_test.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: allow k8srm to connect with a kubeconfig
  master/internal/config/resource_manager_config.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/pods.go
  tools/k8s/README.md
  tools/k8s/devcluster.yaml
  tools/k8s/fetch-creds.sh
  tools/k8s/my-service-account.yaml
Due: go-fmt-import, gofumpt, golangci-lint

review feedback
  master/internal/config/resource_manager_config.go
  master/internal/rm/kubernetesrm/pods.go
  tools/k8s/devcluster.yaml
Due: go-fmt-import, gofumpt, golangci-lint

set package.json to PR
  webui/react/package-lock.json
  webui/react/package.json
Due: web-misc-lint-check

Style fixes
  webui/react/src/components/TaskList.module.scss
  webui/react/src/pages/Cluster.module.scss
  webui/react/src/pages/ClusterLogs.tsx
  webui/react/src/pages/TaskLogs.module.scss
Due: web-js-lint-check

Upgrade hew
  webui/react/package-lock.json
  webui/react/package.json
Due: web-misc-lint-check

Actually remove test
  webui/react/src/pages/TaskLogs.test.tsx
Due: web-js-lint-check

Update to latest hew commit
  webui/react/package-lock.json
  webui/react/package.json
Due: web-misc-lint-check

Fix test
  webui/react/package-lock.json
  webui/react/src/pages/TaskLogs.test.tsx
Due: web-js-lint-check, web-misc-lint-check

Update package.json
  webui/react/package-lock.json
  webui/react/package.json
Due: web-misc-lint-check

switch to virtuoso logviewer for testing
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/pages/ClusterLogs.tsx
  webui/react/src/pages/TaskLogs.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
Due: web-js-lint-check, web-misc-lint-check

Update to latest commit
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/pages/ClusterLogs.tsx
  webui/react/src/pages/TaskLogs.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
Due: web-js-lint-check, web-misc-lint-check

Update version
  webui/react/package-lock.json
  webui/react/package.json
Due: web-misc-lint-check

Replace ssh in package-lock
  webui/react/package-lock.json
Due: web-misc-lint-check

Fix search and ModelReg page
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/ModelRegistry.module.scss
Due: web-misc-lint-check

Fix z-index
  webui/react/src/components/Page.module.scss
  webui/react/src/components/PageHeader/PageHeader.module.scss
Due: none

Remove redundant test
  webui/react/src/pages/TaskLogs.test.tsx
Due: web-js-lint-check

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
