Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

Revert "chore: track dead code [WEB-258] (#7767)"
  webui/react/.eslintrc.js
  webui/react/.unimportedrc.json
  webui/react/design/index.tsx
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/ActionSheet.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/vite.config.mts
Due: web-js-lint-check, web-misc-lint-check

Have agent pass parameter 'hostname' to master
  agent/internal/agent.go
  master/internal/rm/agentrm/agent.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: handles custom TLS certs in enrich_task_logs.py [DET-9803] (#7782)
  master/static/srv/enrich_task_logs.py
Due: none

Fixed formatting issue
  agent/internal/agent.go
Due: go-fmt-import, gofumpt, golangci-lint

Made suggested cosmetic changes by Bradley
  master/internal/rm/agentrm/agent.go
Due: go-fmt-import, gofumpt, golangci-lint

Revert "chore: track dead code [WEB-258] (#7767)" (#7793)
  webui/react/.eslintrc.js
  webui/react/.unimportedrc.json
  webui/react/design/index.tsx
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/ActionSheet.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/vite.config.mts
Due: web-js-lint-check, web-misc-lint-check

chore: Create/document a mechanism to run the nightly tests on a PR [FE-146] (#7750)
  .circleci/config.yml
Due: none

chore: reduce master log noise (#7794)
  master/internal/rm/agentrm/resource_pool.go
Due: go-fmt-import, gofumpt, golangci-lint

ci: quarantining some flaky nightlies
  .circleci/config.yml
  e2e_tests/pytest.ini
  e2e_tests/tests/conftest.py
  e2e_tests/tests/nightly/test_convergence.py
  e2e_tests/tests/nightly/test_distributed.py
Due: none

de-quarantine some hf tests, quarantine something else, separate quarantined nightlies into new workflow
  .circleci/config.yml
  e2e_tests/tests/nightly/test_convergence.py
  e2e_tests/tests/nightly/test_distributed.py
Due: none

chore: tools/k8s doesn't use coscheduler
  tools/k8s/devcluster.yaml
Due: none

docs: quick fix for version dropdown
  docs/_static/version-switcher/versions.json
Due: none

docs: quick fix for version dropdown (#7796)
  docs/_static/version-switcher/versions.json
Due: none

drop parallelism for nightly-quarantine
  .circleci/config.yml
Due: none

chore: revert trial actor refactor
  master/internal/api_experiment.go
  master/internal/api_trials.go
  master/internal/experiment.go
  master/internal/restore.go
  master/internal/restore_test.go
  master/internal/task/allocation_service.go
  master/internal/trial.go
  master/internal/trial_intg_test.go
  master/pkg/actor/actors/test_actor.go
  master/test/testutils/fixtures.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: revert trial actor refactor (#7797)
  master/internal/api_experiment.go
  master/internal/api_trials.go
  master/internal/experiment.go
  master/internal/restore.go
  master/internal/restore_test.go
  master/internal/task/allocation_service.go
  master/internal/trial.go
  master/internal/trial_intg_test.go
  master/pkg/actor/actors/test_actor.go
  master/test/testutils/fixtures.go
Due: go-fmt-import, gofumpt, golangci-lint

deprecating `total_batches`
  e2e_tests/tests/fixtures/custom_searcher/model_coreapi.py
  e2e_tests/tests/test_sdk.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/metrics.py
  harness/determined/common/experimental/trial.py
  harness/determined/core/_train.py
  harness/determined/experimental/client.py
Due: none

add a reference and remove some links
  docs/example-solutions/examples.rst
  docs/model-dev-guide/api-guides/batch-processing/batch-process-api-ug.rst
  docs/model-dev-guide/hyperparameter/hp-constraints-det.rst
Due: none

refactoring the inference example to hide core_context
  docs/model-dev-guide/api-guides/batch-processing/batch-process-api-ug.rst
  examples/computer_vision/cifar10_pytorch/inference_example.py
  harness/determined/core/__init__.py
  harness/determined/core/_experimental.py
  harness/determined/pytorch/experimental/_torch_batch_process.py
Due: none

fix: Get distributed jobs working with devcluster [FE-181] (#7785)
  agent/internal/agent.go
  master/internal/rm/agentrm/agent.go
Due: go-fmt-import, gofumpt, golangci-lint

fixing some tests
  harness/determined/pytorch/experimental/_torch_batch_process.py
  harness/tests/determined/pytorch/experimental/test_torch_batch_process.py
  harness/tests/experiment/pytorch/test_examples.py
Due: none

use partial types
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/ExperimentVisualizationFilters.tsx
  webui/react/src/pages/F_ExpList/CompareParallelCoordinates.tsx
  webui/react/src/pages/TrialDetails/MultiTrialDetailsHyperparameters.tsx
  webui/react/src/stores/userSettings.tsx
Due: web-js-lint-check

dummy context for mypy
  harness/determined/core/__init__.py
  harness/determined/core/_context.py
  harness/determined/core/_experimental.py
  harness/tests/determined/pytorch/experimental/test_torch_batch_process.py
Due: none

put error into get default
  master/internal/rm/actorrm/actor_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager.go
Due: go-fmt-import, gofumpt, golangci-lint

fix test
  harness/tests/determined/pytorch/experimental/test_torch_batch_process.py
Due: none

chore: lock api state for backward compatibility check
  proto/buf.image.bin
Due: none

chore: lock published urls to preserve redirects
  docs/.redirects/all_published_urls_ever.json
Due: none

chore: bump version: 0.25.1-dev0 -> 0.25.1-rc0
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

ci: quarantine some flaky nightlies (#7725)
  .circleci/config.yml
  e2e_tests/pytest.ini
  e2e_tests/tests/conftest.py
  e2e_tests/tests/nightly/test_distributed.py
Due: none

update references to cluster configuration
  docs/model-dev-guide/api-guides/index.rst
  docs/model-dev-guide/dtrain/dtrain-implement.rst
  docs/setup-cluster/deploy-cluster/firewall-rules.rst
  docs/setup-cluster/deploy-cluster/internet-access.rst
  docs/setup-cluster/deploy-cluster/setup-clients.rst
Due: none

minor fix
  docs/setup-cluster/deploy-cluster/installation-options.rst
Due: none

docs: Update the installation guide
  docs/.redirects/redirects.json
  docs/index.rst
  docs/model-dev-guide/debug-models.rst
  docs/model-dev-guide/dtrain/dtrain-implement.rst
  docs/setup-cluster/basic.rst
  docs/setup-cluster/deploy-cluster/basic.rst
  docs/setup-cluster/deploy-cluster/index.rst
  docs/setup-cluster/deploy-cluster/installation-options.rst
  docs/tutorials/pytorch-mnist-tutorial.rst
  docs/tutorials/quickstart-mdldev.rst
  docs/tutorials/tf-mnist-tutorial.rst
Due: none

resolve review comments
  docs/_shared/basic-installation.txt
  docs/model-dev-guide/api-guides/apis-howto/api-core-ug.rst
  docs/model-dev-guide/dtrain/dtrain-implement.rst
  docs/reference/deploy/config/master-config-reference.rst
  docs/setup-cluster/deploy-cluster/cluster-configuration.rst
  docs/setup-cluster/deploy-cluster/index.rst
  docs/setup-cluster/deploy-cluster/on-prem/overview.rst
  docs/tutorials/pytorch-mnist-local-qs.rst
  docs/tutorials/quickstart-mdldev.rst
Due: none

resolve review comments
  docs/_shared/basic-installation.txt
  docs/articles/viewing-epoch-based-metrics.rst
  docs/model-dev-guide/api-guides/apis-howto/api-core-ug.rst
  docs/model-dev-guide/debug-models.rst
  docs/setup-cluster/deploy-cluster/basic.rst
  docs/setup-cluster/deploy-cluster/cluster-configuration.rst
  docs/setup-cluster/deploy-cluster/firewall-rules.rst
  docs/setup-cluster/deploy-cluster/index.rst
  docs/setup-cluster/deploy-cluster/installation-options.rst
  docs/setup-cluster/deploy-cluster/internet-access.rst
  docs/setup-cluster/deploy-cluster/setup-clients.rst
  docs/tutorials/pytorch-mnist-local-qs.rst
  docs/tutorials/quickstart-mdldev.rst
Due: none

edit port reference
  docs/setup-cluster/deploy-cluster/firewall-rules.rst
Due: none

fix: avoid dropdown key issue
  webui/react/src/components/FilterForm/components/FilterField.tsx
Due: web-js-lint-check

add descriptions to deploy cluster index page
  docs/setup-cluster/deploy-cluster/index.rst
Due: none

decode intersaction type
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/ExperimentVisualizationFilters.tsx
  webui/react/src/stores/userSettings.tsx
Due: web-js-lint-check

add custom error
  master/internal/rm/actorrm/actor_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/rmerrors/errors.go
Due: go-fmt-import, gofumpt, golangci-lint

docs: Update the installation guide (#7762)
  docs/.redirects/redirects.json
  docs/_shared/basic-installation.txt
  docs/articles/viewing-epoch-based-metrics.rst
  docs/index.rst
  docs/model-dev-guide/api-guides/apis-howto/api-core-ug.rst
  docs/model-dev-guide/api-guides/index.rst
  docs/model-dev-guide/debug-models.rst
  docs/model-dev-guide/dtrain/dtrain-implement.rst
  docs/reference/deploy/config/master-config-reference.rst
  docs/setup-cluster/basic.rst
  docs/setup-cluster/deploy-cluster/basic.rst
  docs/setup-cluster/deploy-cluster/cluster-configuration.rst
  docs/setup-cluster/deploy-cluster/firewall-rules.rst
  docs/setup-cluster/deploy-cluster/index.rst
  docs/setup-cluster/deploy-cluster/internet-access.rst
  docs/setup-cluster/deploy-cluster/on-prem/overview.rst
  docs/setup-cluster/deploy-cluster/setup-clients.rst
  docs/tutorials/pytorch-mnist-local-qs.rst
  docs/tutorials/pytorch-mnist-tutorial.rst
  docs/tutorials/quickstart-mdldev.rst
  docs/tutorials/tf-mnist-tutorial.rst
Due: none
