Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

fix: log retention tests
  master/internal/api_logretention_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix env vars and change zone to region
  .circleci/real_config.yml
Due: none

add project id to TestDeleteExperimentsFiltered
  master/internal/api_experiment_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

remove redundant steps and move job back to nightly
  .circleci/real_config.yml
Due: none

chore: add nightly gke cluster cleanup job (#9031)
  .circleci/real_config.yml
Due: none

feat: define and export api.check_password_complexity
  harness/determined/common/api/__init__.py
  harness/determined/common/api/authentication.py
Due: none

feat: sdk create_user checks password complexity
  harness/determined/common/experimental/determined.py
Due: none

feat: sdk change_password checks password complexity
  harness/determined/common/experimental/user.py
Due: none

move shared cluster tests out of e2e to make non-blocking
  .circleci/real_config.yml
Due: none

shorten cache
  .circleci/real_config.yml
Due: none

change test naming convention
  .circleci/real_config.yml
Due: none

chore: better k8s testing
  .circleci/real_config.yml
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/templates/master-service.yaml
  helm/charts/determined/values.yaml
  master/.goreleaser_sharedcluster.yml
  master/Makefile
Due: none

address comments and make small changes
  .circleci/real_config.yml
  helm/charts/determined/templates/priority-classes.yaml
  helm/charts/determined/values.yaml
Due: none

test: python sdk and cli tests use passwords conforming to new requirements
  e2e_tests/tests/api_utils.py
  e2e_tests/tests/cluster/test_users.py
  harness/tests/cli/test_user.py
Due: none

more changes
  master/internal/api_logretention_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

small changes
  .circleci/real_config.yml
  helm/charts/determined/values.yaml
Due: none

chore: better k8s testing with shared gke cluster (#9074)
  .circleci/real_config.yml
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/templates/master-service.yaml
  helm/charts/determined/templates/priority-classes.yaml
  helm/charts/determined/values.yaml
  master/.goreleaser_sharedcluster.yml
  master/Makefile
Due: none

feat: user create allows and requires setting a password
  harness/determined/cli/user.py
  harness/tests/cli/test_user.py
Due: none

docs: explain breaking change for creating users with passwords
  docs/release-notes/allow-and-require-user-passwords.rst
Due: none

fix: helm prefers initialUserPassword over defaultPassword, never makes a sidecar
  docs/reference/deploy/helm-config-reference.rst
  docs/release-notes/helm-requires-user-password.rst
  helm/charts/determined/scripts/k8s-password-change.py
  helm/charts/determined/templates/change-password.yaml
  helm/charts/determined/templates/master-config.yaml
Due: none

test: add simple unit tests for auth methods
  harness/tests/common/api/test_authentication.py
Due: none

cleanup after merge
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/run.pb.go
Due: none

fix: match GetJobQueueStats behavior in k8s RM to agent RM
  master/internal/rm/agentrm/agent_resource_manager_intg_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

comments for multirm
  master/internal/rm/multirm/multirm_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

docs: satisfy PR comment
  docs/release-notes/allow-and-require-user-passwords.rst
Due: none

docs: use PR suggestions
  docs/reference/deploy/helm-config-reference.rst
  docs/release-notes/helm-requires-user-password.rst
Due: none

fix: helm value for gke tests
  .circleci/real_config.yml
  helm/charts/determined/values.yaml
Due: none

docs: apply modified suggestions from PR
  docs/release-notes/allow-and-require-user-passwords.rst
Due: none

fix: match GetJobQueueStats behavior in k8s RM to agent RM [RM-136] (#9097)
  master/internal/rm/agentrm/agent_resource_manager_intg_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/multirm/multirm_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

more page model changes
  webui/react/src/e2e/models/BaseComponent.ts
  webui/react/src/e2e/models/BasePage.ts
  webui/react/src/e2e/models/pages/ExperimentList.ts
  webui/react/src/e2e/tests/experiment-list.spec.ts
  webui/react/src/pages/ExperimentList.tsx
Due: web-js-lint-check

codeowners with test engineers
  .github/CODEOWNERS
Due: none

fix: helm value for gke tests (#9114)
  .circleci/real_config.yml
  helm/charts/determined/values.yaml
Due: none

fix api desc
  proto/pkg/apiv1/run.pb.go
  proto/src/determined/api/v1/run.proto
Due: none

fix after merge
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/run.pb.go
Due: none

feat: master: provide password complexity checker, use it when setting a plaintext user password
  master/internal/user/passwords.go
Due: go-fmt-import, gofumpt, golangci-lint

test: add tests for password complexity checker
  master/internal/user/passwords_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: master: UpdatePasswordHash assumes the input password is not blank
  master/pkg/model/user.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: master: user post and patch methods require passwords to meet complexity requirements or come pre-hashed
  master/internal/api_experiment_intg_test.go
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
  master/internal/user/service.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: add test to CODEOWNERS [INFENG-605] (#9115)
  .github/CODEOWNERS
Due: none

Draft: use workspaces page in nav test and skeleton test
  webui/react/playwright.config.ts
  webui/react/src/e2e/models/components/NavigationSideBar.ts
  webui/react/src/e2e/models/pages/Workspaces.ts
  webui/react/src/e2e/tests/navigation.spec.ts
  webui/react/src/e2e/tests/projectsWorkspaces.spec.ts
Due: web-js-lint-check
