Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

tidy rebase
  webui/react/package-lock.json
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
Due: web-js-lint-check, web-misc-lint-check

spacing and css
  webui/react/src/components/OverviewStats.module.scss
  webui/react/src/components/OverviewStats.tsx
  webui/react/src/components/ProjectCard.module.scss
  webui/react/src/components/ProjectCard.tsx
Due: web-js-lint-check

rename lore_version references
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/aws/constants.py
  harness/determined/deploy/aws/deployment_types/base.py
  harness/determined/deploy/aws/deployment_types/vpc.py
  harness/determined/deploy/aws/injector/master.yaml.tmpl
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
Due: none

tidying up
  webui/react/src/components/ProjectCard.module.scss
  webui/react/src/components/ProjectCard.tsx
Due: web-js-lint-check

PR feedback
  webui/react/package-lock.json
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.tsx
  webui/react/src/pages/Cluster/ClusterQueuedChart.tsx
Due: web-js-lint-check, web-misc-lint-check

cleanup excess css
  webui/react/src/components/OverviewStats.module.scss
  webui/react/src/components/OverviewStats.tsx
  webui/react/src/components/ProjectCard.module.scss
  webui/react/src/components/ProjectCard.tsx
Due: web-js-lint-check

fix: antd.Typography with expansion tooltips moved to hew [WEB-1862] (#8513)
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/ExperimentMoveModal.tsx
  webui/react/src/components/ModelRegistry.tsx
  webui/react/src/components/OverviewStats.module.scss
  webui/react/src/components/OverviewStats.tsx
  webui/react/src/components/ProjectCard.module.scss
  webui/react/src/components/ProjectCard.tsx
  webui/react/src/components/ProjectMoveModal.tsx
  webui/react/src/components/Table/Table.tsx
  webui/react/src/components/UserSettings.tsx
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpTrialTable.tsx
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceCard.module.scss
  webui/react/src/pages/WorkspaceList/WorkspaceCard.tsx
Due: web-js-lint-check, web-misc-lint-check

fmt
  webui/react/package-lock.json
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.tsx
Due: web-js-lint-check, web-misc-lint-check

bump hew
  webui/react/package-lock.json
  webui/react/package.json
Due: web-misc-lint-check

refactor: Replace antd imports with UI kit usage [WEB-1723] (#8582)
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/CreateUserModal.tsx
  webui/react/src/components/DynamicTabs.tsx
  webui/react/src/components/ExperimentStopModal.tsx
  webui/react/src/components/FilterForm/components/FilterField.tsx
  webui/react/src/components/GridListRadioGroup.tsx
  webui/react/src/components/HpSelect.tsx
  webui/react/src/components/Markdown.tsx
  webui/react/src/components/Metadata/MetadataCard.tsx
  webui/react/src/components/MetricSelect.tsx
  webui/react/src/components/ModelRegistry.tsx
  webui/react/src/components/ProjectMoveModal.tsx
  webui/react/src/components/RadioGroup.module.scss
  webui/react/src/components/RadioGroup.test.tsx
  webui/react/src/components/RadioGroup.tsx
  webui/react/src/components/TaskList.tsx
  webui/react/src/components/UserSettings.tsx
  webui/react/src/components/WorkspaceCreateModal.tsx
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.module.scss
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.tsx
  webui/react/src/pages/Admin/index.tsx
  webui/react/src/pages/Cluster.tsx
  webui/react/src/pages/Cluster/ClusterQueuedChart.module.scss
  webui/react/src/pages/Cluster/ClusterQueuedChart.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentMultiTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/ExperimentVisualizationFilters.tsx
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/ResourcePool/ResourcepoolDetail.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
Due: web-js-lint-check, web-misc-lint-check

add task kill
  master/internal/api_generic_tasks.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/task.pb.go
  proto/pkg/taskv1/task.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/task.proto
Due: go-fmt-import, gofumpt, golangci-lint

re-add logic preventing ui from updating settings before ready
  webui/react/src/App.tsx
Due: web-js-lint-check

keep the name the same, don't update local state when settings change
  webui/react/src/App.tsx
Due: web-js-lint-check

a few touch ups
  model_hub/model_hub/huggingface/_config_parser.py
  model_hub/model_hub/huggingface/_trial.py
  model_hub/model_hub/mmdetection/_trial.py
Due: none

use experiments directly
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Due: web-js-lint-check

fix: prevent theme settings conflict in multi-client/window scenario (#8596)
  webui/react/src/App.tsx
  webui/react/src/hooks/useTheme.settings.ts
  webui/react/src/stores/userSettings.tsx
Due: web-js-lint-check

a few more touchups
  model_hub/model_hub/huggingface/_trial.py
  model_hub/tests/test_mmdetection.py
Due: none

chore: Change CLI and constants from lore to genai (#8593)
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/aws/constants.py
  harness/determined/deploy/aws/deployment_types/base.py
  harness/determined/deploy/aws/deployment_types/vpc.py
  harness/determined/deploy/aws/injector/master.yaml.tmpl
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
Due: none

chore: Upgrade hew to 0.6.19
  webui/react/package-lock.json
  webui/react/package.json
Due: web-misc-lint-check

typing
  model_hub/model_hub/huggingface/_config_parser.py
Due: none

comma
  model_hub/model_hub/huggingface/_config_parser.py
Due: none

chore: Upgrade hew to 0.6.19 (#8597)
  webui/react/package-lock.json
  webui/react/package.json
Due: web-misc-lint-check

chore: Remove attrdict from model hub (#8554)
  model_hub/docker/Dockerfile.transformers
  model_hub/model_hub/huggingface/_config_parser.py
  model_hub/model_hub/huggingface/_trial.py
  model_hub/model_hub/mmdetection/_trial.py
  model_hub/model_hub/utils.py
  model_hub/setup.py
  model_hub/tests/test_hf.py
  model_hub/tests/test_mmdetection.py
Due: none

fix: Change slot number back to 2 in Keras example (#8595)
  examples/computer_vision/iris_tf_keras/distributed.yaml
Due: none

chore: bump version: 0.26.7-rc0 -> 0.26.7-rc1
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

fix: Show experiment loading state before first loading (#8583)
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Due: web-js-lint-check

fix combining of config and store non-defaults only
  master/internal/api_generic_tasks.go
Due: go-fmt-import, gofumpt, golangci-lint

docs: add release notes for 0.26.7
  docs/release-notes.rst
  docs/release-notes/fix-master-download.rst
  docs/release-notes/list-active-users.rst
  docs/release-notes/remove-dry-run-det-deploy-aws.rst
Due: none

changes from review
  docs/release-notes.rst
Due: none

fixed lint issues
  docs/release-notes.rst
Due: none

replace antd card with surface
  webui/react/src/components/Metadata/EditableMetadata.tsx
Due: web-js-lint-check

adjust metadata component
  webui/react/src/components/Metadata/EditableMetadata.tsx
Due: web-js-lint-check

modelversion updates
  webui/react/src/pages/ModelVersionDetails.tsx
Due: web-js-lint-check

docs: add release notes for 0.26.7 (#8601)
  docs/release-notes.rst
  docs/release-notes/fix-master-download.rst
  docs/release-notes/list-active-users.rst
  docs/release-notes/remove-dry-run-det-deploy-aws.rst
Due: none

replace List and Form
  webui/react/src/pages/Cluster/ClusterHistoricalUsageCsvModalComponent.tsx
  webui/react/src/pages/JobQueue/ManageJob.module.scss
  webui/react/src/pages/JobQueue/ManageJob.tsx
Due: web-js-lint-check

chore: bump version: 0.26.7-rc1 -> 0.26.7
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

model version details to semantic Hew UI
  webui/react/src/components/Metadata/MetadataCard.module.scss
  webui/react/src/components/Metadata/MetadataCard.tsx
  webui/react/src/pages/ModelVersionDetails.module.scss
  webui/react/src/pages/ModelVersionDetails.tsx
Due: web-js-lint-check

Add chart '0.26.7' due to release
  determined-helm-chart_0.26.7.tgz
  index.yaml
Due: none

replace Space
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/ExperimentContinueModal.tsx
  webui/react/src/components/Table/Table.module.scss
  webui/react/src/components/Table/Table.tsx
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.tsx
  webui/react/src/pages/Admin/GroupManagement.tsx
  webui/react/src/pages/Cluster/ClusterHistoricalUsage.module.scss
  webui/react/src/pages/Cluster/ClusterHistoricalUsage.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.module.scss
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.module.scss
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.module.scss
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.module.scss
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/pages/ModelDetails/ModelHeader.module.scss
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
  webui/react/src/pages/TrialDetails/MultiTrialDetailsHyperparameters.tsx
  webui/react/src/pages/WebhookList.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.tsx
  webui/react/src/pages/WorkspaceList.tsx
Due: web-js-lint-check, web-misc-lint-check
