Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

feat: initial implementation of flat run actions
  webui/react/src/pages/FlatRuns/FlatRunActionButton.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
Due: web-js-lint-check

fix: minor changes
  webui/react/src/pages/FlatRuns/FlatRunActionButton.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Due: web-js-lint-check

feat: add RBAC permissions for flatRuns
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/FlatRuns/FlatRunActionButton.tsx
  webui/react/src/types.ts
  webui/react/src/utils/flatRun.ts
Due: web-js-lint-check

feat: return `archived` for FlatRun
  harness/determined/common/api/bindings.py
  master/internal/api_runs.go
  proto/pkg/runv1/run.pb.go
  proto/src/determined/run/v1/run.proto
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/types.ts
  webui/react/src/utils/flatRun.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

test: `canActionFlatRun` test cases
  webui/react/src/constants/states.ts
  webui/react/src/utils/flatRun.test.ts
Due: web-js-lint-check

test: `FlatRunActionButton` test
  webui/react/src/pages/FlatRuns/FlatRunActionButton.test.tsx
Due: web-js-lint-check

chore: minor changes
  webui/react/src/pages/FlatRuns/FlatRunActionButton.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
  webui/react/src/utils/flatRun.ts
Due: web-js-lint-check

chore: better type
  webui/react/src/pages/FlatRuns/FlatRunActionButton.tsx
  webui/react/src/utils/flatRun.ts
Due: web-js-lint-check

chore: run bulk action interstitial component (#9390)
  webui/react/src/components/InterstitialModalComponent.tsx
  webui/react/src/components/RunFilterInterstitialModalComponent.test.tsx
  webui/react/src/components/RunFilterInterstitialModalComponent.tsx
  webui/react/src/components/RunMoveWarningModalComponent.test.tsx
  webui/react/src/components/RunMoveWarningModalComponent.tsx
  webui/react/src/hooks/useTypedParams.test.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
  webui/react/src/setupTests.ts
  webui/react/src/utils/mergeAbortControllers.test.ts
  webui/react/src/utils/mergeAbortControllers.ts
Due: web-js-lint-check

fix: fix run `archived` logic in postgres
  master/internal/api_runs.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: feedback
  webui/react/src/pages/FlatRuns/FlatRunActionButton.test.tsx
  webui/react/src/pages/FlatRuns/FlatRunActionButton.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Due: web-js-lint-check

feat: basic move action
  webui/react/src/pages/FlatRuns/FlatRunActionButton.test.tsx
  webui/react/src/pages/FlatRuns/FlatRunActionButton.tsx
  webui/react/src/pages/FlatRuns/FlatRunMoveModal.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/SearchDetails.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
Due: web-js-lint-check

feat: move warning modal
  webui/react/src/components/FilterForm/components/FilterFormStore.ts
  webui/react/src/pages/FlatRuns/FlatRunActionButton.test.tsx
  webui/react/src/pages/FlatRuns/FlatRunActionButton.tsx
  webui/react/src/pages/FlatRuns/FlatRunMoveModal.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Due: web-js-lint-check

fix: unarchive behavior
  master/internal/api_runs.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: feedback
  webui/react/src/pages/FlatRuns/FlatRunMoveModal.tsx
Due: web-js-lint-check

fix: minor fixes
  webui/react/src/pages/FlatRuns/FlatRunMoveModal.tsx
Due: web-js-lint-check

delete doomed resources
  master/internal/rm/kubernetesrm/gateway_service.go
  master/internal/rm/kubernetesrm/gateway_spec.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/spec_test.go
Due: go-fmt-import, gofumpt, golangci-lint

change the directory in the test but change it back, idk
  master/internal/api_experiment_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix sort multitrial
  master/internal/api_runs.go
Due: go-fmt-import, gofumpt, golangci-lint

fix malformed json
  master/internal/api_experiment_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: pin huggdingface version
  examples/features/torch_batch_process_embeddings/requirements.txt
Due: none

finished first interaction
  webui/react/src/components/OverviewStats.tsx
  webui/react/src/ioTypes.ts
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Due: web-js-lint-check

Add gen-versions.py script
  docs/gen-versions.py
Due: none

test: update playwright [TESTENG-4]
  package-lock.json
  package.json
Due: none

fixes
  webui/react/src/components/Searches/Searches.tsx
  webui/react/src/pages/SearchDetails.tsx
Due: web-js-lint-check

fix: delete bindings flake
  master/internal/workspace/postgres_workspace_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

pin versions
  examples/hf_trainer_api/hf_image_classification/requirements.txt
  examples/hf_trainer_api/hf_language_modeling/requirements.txt
Due: none

ci: lower hf trainer accuracy target + improve failure messages (#9322)
  e2e_tests/tests/nightly/test_convergence.py
  e2e_tests/tests/run/test_api.py
Due: none

fix: archive/unarchive error text fix
  master/internal/api_runs.go
Due: go-fmt-import, gofumpt, golangci-lint

Add chart '0.2.4-rc7 5.41.4 0.2.16 4.0.15 25.8.2 5.15.2 4.24.0 2.4.2 1.7.0 6.15.3 0.15.3 7.0.19' due to release
  aioli-helm-chart_0.2.4-rc7.tgz
  index.yaml
Due: none

test: `FlatRunMoveModal`
  webui/react/src/pages/FlatRuns/FlatRunActionButton.test.tsx
  webui/react/src/pages/FlatRuns/FlatRunMoveModal.test.tsx
Due: web-js-lint-check

chore: cleanup determined-created namespaces and quotas during workspace deletion
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/templates/master-deployment.yaml
  helm/charts/determined/values.yaml
  master/internal/api_workspace.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/dispatcherrm/dispatcher_resource_manager.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/multirm/multirm.go
  master/internal/rm/resource_manager_iface.go
  master/internal/workspace/postgres_workspace_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

pin in diffuser
  examples/diffusion/textual_inversion_stable_diffusion/startup-hook.sh
Due: none

review comment
  webui/react/src/e2e/tests/userManagement.spec.ts
Due: web-js-lint-check

change FlatRuns pagination
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Due: web-js-lint-check

defaultSearchRunColumns
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
  webui/react/src/pages/FlatRuns/columns.ts
Due: web-js-lint-check

separate settings for Project Runs and Search Runs
  webui/react/src/pages/FlatRuns/FlatRuns.settings.ts
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Due: web-js-lint-check

test: ignore `bindings.py` for codecov
  codecov.yml
Due: none
