Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

Add chart '1.0.1-dev39+5ca179860539dc80079878677a503b30ce31c6fe 7.0.19 5.41.4 0.2.16 4.0.15 25.8.2 1.7.0 5.15.2 4.24.0 2.4.2 6.15.3 0.15.3' due to release
  aioli-helm-chart_1.0.1-dev39+5ca179860539dc80079878677a503b30ce31c6fe.tgz
  index.yaml
Due: none

fix: fix contains filter for hyperparameters and metadata
  master/internal/api_runs_intg_test.go
  master/internal/experiment_filter.go
Due: go-fmt-import, gofumpt, golangci-lint

lint
  master/internal/api_runs_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

undoing change to see if test passes
  master/internal/experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

Add chart '1.0.1-dev39 0.15.3 7.0.19 5.41.4 0.2.16 4.0.15 25.8.2 1.7.0 5.15.2 4.24.0 2.4.2 6.15.3' due to release
  aioli-helm-chart_1.0.1-dev39.tgz
  index.yaml
Due: none

* Remove some CircleCI filtering logic I was playing with. I'll submit that as part of a separate changeset, given the work I think it might require.
  .circleci/config.yml
Due: none

* Remove .bumpversion.cfg, as all of its previous stanzas have been converted to being dynamically generated as needed.
  .bumpversion.cfg
  requirements.txt
Due: none

* Remove .circleci/real_config.yml comment referencing bumpversion.
  .circleci/real_config.yml
  docs/README.md
Due: none

testing something weird
  e2e_tests/tests/cluster/test_master_restart.py
Due: none

ci: Update url in setup.cfg.
  performance/daist/setup.cfg
Due: none

wip?
  e2e_tests/tests/cluster/test_master_restart.py
  master/internal/experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

no direct use of hparam/metadata key vals in sql
  master/internal/experiment_filter.go
Due: go-fmt-import, gofumpt, golangci-lint

Add chart '1.0.1-dev40 0.15.3 7.0.19 5.41.4 0.2.16 4.0.15 25.8.2 1.7.0 5.15.2 4.24.0 2.4.2 6.15.3' due to release
  aioli-helm-chart_1.0.1-dev40.tgz
  index.yaml
Due: none

oops forgot to add this back in
  master/internal/experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: fix contains filter for hyperparameters and metadata (#9779)
  master/internal/api_runs_intg_test.go
  master/internal/experiment_filter.go
Due: go-fmt-import, gofumpt, golangci-lint

ensure job state accuracy by checking for listeners to start
  master/internal/rm/kubernetesrm/jobs.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: bump version: 0.35.0-rc11 -> 0.35.0-rc12
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

Add chart '1.0.1-dev40 0.15.3 7.0.19 5.41.4 0.2.16 4.0.15 25.8.2 4.24.0 2.4.2 1.7.0 5.15.2 6.15.3' due to release
  aioli-helm-chart_1.0.1-dev40.tgz
  index.yaml
Due: none

Revise helm template and values to exclude namespace changes for multi-rm
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
Due: none

Add chart '1.0.1-dev40+3c26612 7.0.19 5.41.4 0.2.16 4.0.15 25.8.2 5.15.2 4.24.0 2.4.2 1.7.0 6.15.3 0.15.3' due to release
  aioli-helm-chart_1.0.1-dev40+3c26612.tgz
  index.yaml
Due: none

feat: show metadata in run table
  webui/react/src/components/ColumnPickerMenu.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Due: web-js-lint-check

componentcontainer
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/e2e/fixtures/dev.fixture.ts
  webui/react/src/e2e/models/common/ant/Popover.ts
  webui/react/src/e2e/models/common/hew/DataGrid.ts
  webui/react/src/e2e/models/components/ColumnPickerMenu.ts
  webui/react/src/e2e/models/components/FilterForm/TableFilter.ts
  webui/react/src/e2e/models/components/FilterForm/components/FilterGroup.ts
  webui/react/src/e2e/models/components/MultiSortMenu.ts
  webui/react/src/e2e/models/components/OptionsMenu.ts
Due: web-js-lint-check, web-misc-lint-check

chore: add Cluster Name title and change helm value (#9775)
  helm/charts/determined/values.yaml
  webui/react/src/components/WorkspaceCreateModal.tsx
Due: web-js-lint-check

chore: add a utility for connecting devcluster to remote k8s clusters (#9739)
  tools/k8s/.gitignore
  tools/k8s/contour.yaml
  tools/k8s/launch-minikube-with-gateway.sh
  tools/k8s/remote_connect.md
  tools/k8s/remote_connect.py
Due: none

fix: prevent extra initial calls to search endpoints
  webui/react/src/components/ComparisonView.tsx
  webui/react/src/components/Searches/Searches.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Due: web-js-lint-check

test: fix test case
  webui/react/src/components/ColumnPickerMenu.module.scss
  webui/react/src/components/ColumnPickerMenu.test.mock.tsx
  webui/react/src/components/ColumnPickerMenu.test.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Due: web-js-lint-check

Add chart '1.0.1-dev40+3d4b178 0.15.3 7.0.19 5.41.4 0.2.16 4.0.15 25.8.2 1.7.0 5.15.2 4.24.0 2.4.2 6.15.3' due to release
  aioli-helm-chart_1.0.1-dev40+3d4b178.tgz
  index.yaml
Due: none

include defaults
  webui/react/src/components/Searches/Searches.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Due: web-js-lint-check

chore: bump version: 0.35.0-rc12 -> 0.35.0-rc13
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

test: skip flaky test
  webui/react/src/e2e/tests/experimentList.spec.ts
Due: web-js-lint-check

test: skip flaky test (#9784)
  webui/react/src/e2e/tests/experimentList.spec.ts
Due: web-js-lint-check

Update version.sh to use shfmt suggested changes.
  version.sh
Due: none

ci: work on sequential metric sweep test.
  performance/daist/daist/metrics/model_def.py
  performance/daist/daist/metrics/test_latency.py
Due: none

docs: add release notes for 0.35.0
  docs/release-notes.rst
  docs/release-notes/basic-lineage.rst
  docs/release-notes/cli-cmd-describe.rst
  docs/release-notes/compare-selected-experiments.rst
  docs/release-notes/continue-trial.rst
  docs/release-notes/delete-namespace-bindings.rst
  docs/release-notes/deprecate-containerRuntime.rst
  docs/release-notes/deprecate-job-move.rst
  docs/release-notes/deprecate-name-use-cluster-name.rst
  docs/release-notes/deprecate-priority-scheduler.rst
  docs/release-notes/detached-mode-config-improvement.rst
  docs/release-notes/edit-HP-search.rst
  docs/release-notes/fetching-metrics-fix.rst
  docs/release-notes/fix-taskstats.rst
  docs/release-notes/historic-usage-chart-timezones.rst
  docs/release-notes/m6i.rst
  docs/release-notes/model-hub-deprecation.rst
  docs/release-notes/relabel-allocation-csv.rst
  docs/release-notes/remove-agent-labels.rst
  docs/release-notes/resource-allocation.rst
  docs/release-notes/run-centric-ux.rst
  docs/release-notes/secret-experiment-config.rst
  docs/release-notes/sso-auto-redirect.rst
  docs/release-notes/wksp-slot-caps-webui.rst
  docs/release-notes/workspace-namespace-binding.rst
Due: none

Add chart '1.0.1-dev41 6.15.3 0.15.3 7.0.19 5.41.4 0.2.16 4.0.15 25.8.2 4.24.0 2.4.2 1.7.0 5.15.2' due to release
  aioli-helm-chart_1.0.1-dev41.tgz
  index.yaml
Due: none

objects inside arrays are not arrays
  master/internal/run/runs.go
Due: go-fmt-import, gofumpt, golangci-lint

Update docs/release-notes.rst
  docs/release-notes.rst
Due: none
