Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

chore: prepare for strict rbac jq control
  docs/reference/deploy/config/master-config-reference.rst
  e2e_tests/tests/api_utils.py
  e2e_tests/tests/cluster/test_rbac.py
  harness/determined/common/api/bindings.py
  master/internal/api_job.go
  master/internal/api_master.go
  master/internal/config/authz_config.go
  master/internal/job/authz_basic_impl.go
  master/internal/job/authz_iface.go
  proto/pkg/apiv1/master.pb.go
  proto/pkg/rbacv1/rbac.pb.go
  proto/src/determined/api/v1/master.proto
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

chore: cache and reload in Python SDK [MLG-549] (#6853)
  e2e_tests/tests/cluster/test_model_registry.py
  e2e_tests/tests/cluster/test_resource_pools.py
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/test_sdk.py
  harness/determined/cli/checkpoint.py
  harness/determined/cli/experiment.py
  harness/determined/cli/model.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/model.py
  harness/determined/common/experimental/trial.py
  harness/determined/common/experimental/user.py
  harness/tests/cli/test_experiment.py
  harness/tests/common/api_server.py
  harness/tests/common/test_api_server.py
  harness/tests/determined/common/experimental/test_experiment.py
  harness/tests/fixtures/experiment.json
Due: none

fix typing
  harness/tests/determined/common/experimental/test_experiment.py
Due: none

test: Add another mock to checkpoint tests (#7260)
  harness/tests/determined/common/experimental/test_checkpoint.py
Due: none

missing decorator
  harness/tests/determined/common/experimental/test_experiment.py
Due: none

chore: rename Trial to LegacyTrial and TrialReference/ExperimentReference to Trial/Experiment in SDK [MLG-547] (#6940)
  docs/model-dev-guide/model-management/checkpoints.rst
  docs/reference/python-sdk.rst
  docs/release-notes.rst
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/fixtures/no_op/model_def.py
  e2e_tests/tests/test_sdk.py
  harness/determined/__init__.py
  harness/determined/_execution.py
  harness/determined/_trial.py
  harness/determined/_trial_controller.py
  harness/determined/cli/experiment.py
  harness/determined/common/experimental/__init__.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/trial.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/experimental/__init__.py
  harness/determined/experimental/_native.py
  harness/determined/experimental/client.py
  harness/determined/keras/_tf_keras_trial.py
  harness/determined/load.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
  harness/tests/cli/test_experiment.py
  harness/tests/experiment/utils.py
Due: none

feat: add trial summary metrics for SDK and CLI
  harness/determined/cli/trial.py
  harness/determined/common/experimental/trial.py
  harness/tests/determined/common/experimental/test_trial.py
  harness/tests/fixtures/api_responses.py
  harness/tests/fixtures/trial.json
Due: none

move test
  harness/tests/determined/common/experimental/test_determined.py
  harness/tests/determined/common/experimental/test_trial.py
  harness/tests/fixtures/api_responses.py
Due: none

naming
  harness/tests/determined/common/experimental/test_determined.py
Due: none

docstring
  harness/determined/common/experimental/trial.py
Due: none

change name
  harness/determined/common/experimental/trial.py
  harness/tests/determined/common/experimental/test_determined.py
Due: none

set user in client instantiation
  harness/determined/cli/model.py
Due: none

also checkpoint/trial
  harness/determined/cli/checkpoint.py
  harness/determined/cli/trial.py
Due: none

wip, adding the ability to query by the trial source info and populate metrics
  harness/determined/common/api/bindings.py
  master/internal/api_trials.go
  master/internal/api_trials_intg_test.go
  master/internal/db/postgres_trial_metrics.go
  master/static/srv/get_trials_by_checkpoint.sql
  master/static/srv/insert_trial_source_info.sql
  proto/pkg/apiv1/trial.pb.go
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/api/v1/trial.proto
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

fix docstring
  harness/determined/common/experimental/trial.py
Due: none

chore: ml-sys onboarding exercises
  onboarding/mlsys/2-autodiff.md
Due: none

feat: List RPs Avaiable to Workspace [DET-9531]
  master/internal/api_workspace.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: List RPs Avaiable to Workspace [DET-9531]
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: List RPs Avaiable to Workspace [DET-9531]
  master/internal/api_workspace.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
  master/internal/mocks/workspace_authz_iface.go
  master/internal/workspace/authz_basic_impl.go
  master/internal/workspace/authz_iface.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: add summary metrics to SDK and CLI [MLG-648] (#7255)
  harness/determined/cli/trial.py
  harness/determined/common/experimental/trial.py
  harness/tests/determined/common/experimental/test_determined.py
  harness/tests/fixtures/api_responses.py
  harness/tests/fixtures/trial.json
Due: none

fix: set user in model CLI client [DET-9612] (#7220)
  harness/determined/cli/checkpoint.py
  harness/determined/cli/model.py
  harness/determined/cli/trial.py
Due: none

add status property to Trial SDK
  harness/determined/common/experimental/trial.py
  harness/tests/determined/common/experimental/test_determined.py
Due: none

use experimentstate
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/trial.py
Due: none

parameterize test
  harness/tests/determined/common/experimental/test_determined.py
Due: none

fix test
  harness/tests/determined/common/experimental/test_determined.py
Due: none

chore: update pillow version for test requirements (#7291)
  examples/tests/requirements.txt
Due: none

fix: Link omnibar shortcut to new Space convention [WEB-1418] (#7293)
  webui/react/src/pages/Settings/UserSettings.settings.ts
Due: web-js-lint-check

test: pin pydantic in e2e_tests (#7302)
  e2e_tests/tests/requirements.txt
Due: none

feat: list resource pool binding (#7286)
  webui/react/src/components/ResourcePoolCard.module.scss
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/hooks/useFeature.ts
Due: web-js-lint-check

docs: Rename image assets (#7283)
  docs/architecture/index.rst
  docs/architecture/system-architecture.rst
  docs/assets/images/_det-ai-sys-arch-01-dark.png
  docs/assets/images/_det-ai-sys-arch-01-light.png
  docs/assets/images/_det-ai-sys-arch-01-start-dark.png
  docs/assets/images/_det-ai-sys-arch-01-start-light.png
  docs/assets/images/_dtrain-loop-dark.png
  docs/assets/images/_dtrain-loop-light.png
  docs/assets/images/_rbac-example-setup-dark.png
  docs/assets/images/_rbac-example-setup-light.png
  docs/model-dev-guide/dtrain/dtrain-introduction.rst
  docs/setup-cluster/security/rbac.rst
Due: none

docs: add release notes for 0.23.2 (#7285)
  docs/release-notes.rst
  docs/release-notes/gcp_cluster_management.rst
Due: none

chore: bump version: 0.23.2-dev0 -> 0.23.3-dev0
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Due: web-js-lint-check

chore: validate ROCM support
  agent/pkg/singularity/singularity.go
  master/static/srv/singularity-entrypoint-wrapper.sh
Due: go-fmt-import, gofumpt, golangci-lint

Organize environment setting code
  agent/pkg/singularity/singularity.go
Due: go-fmt-import, gofumpt, golangci-lint

Rename method; elaborate comments
  agent/pkg/singularity/singularity.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: TypeError 'NoneType' object processing exp config
  harness/determined/cli/command.py
  harness/determined/cli/experiment.py
Due: none

refactor: remove unused `Trial.JobID` property.
  master/internal/api_experiment.go
  master/internal/db/postgres_test_utils.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/populate_metrics.go
  master/internal/trial.go
  master/pkg/model/experiment.go
  master/test/integration/api/api_checkpoints_test.go
  master/test/integration/api/api_trials_test.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: prepare for strict rbac jq control (#7305)
  docs/reference/deploy/config/master-config-reference.rst
  e2e_tests/tests/api_utils.py
  e2e_tests/tests/cluster/test_rbac.py
  harness/determined/common/api/bindings.py
  master/internal/api_job.go
  master/internal/api_master.go
  master/internal/config/authz_config.go
  master/internal/job/authz_basic_impl.go
  master/internal/job/authz_iface.go
  proto/pkg/apiv1/master.pb.go
  proto/pkg/rbacv1/rbac.pb.go
  proto/src/determined/api/v1/master.proto
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

feat: launch.deepspeed passes (almost) all envvars
  harness/determined/launch/deepspeed.py
  harness/tests/launch/test_deepspeed.py
Due: none
