Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint
  require_serial: true

config permissions
  .circleci/real_config.yml
Due: none

debug
  .circleci/real_config.yml
Due: none

ddtrace settings tweaks
  .circleci/real_config.yml
Due: none

redundant variable
  .circleci/real_config.yml
Due: none

config update
  .circleci/datadog/ci-local-config.yaml
  .circleci/real_config.yml
Due: none

reorder config
  .circleci/datadog/ci-local-config.yaml
  .circleci/real_config.yml
Due: none

remove url
  .circleci/real_config.yml
Due: none

folder structure
  .circleci/real_config.yml
Due: none

syntax
  .circleci/real_config.yml
Due: none

debug tracing
  .circleci/real_config.yml
Due: none

fixing quotes
  .circleci/real_config.yml
Due: none

tag formatting
  .circleci/real_config.yml
Due: none

docs: Add link to FSDP example
  docs/model-dev-guide/api-guides/apis-howto/deepspeed/deepspeed.rst
Due: none

docs: Add link to FSDP example (#9606)
  docs/model-dev-guide/api-guides/apis-howto/deepspeed/deepspeed.rst
Due: none

docs: Describe supported k8s versions (#9277)
  docs/reference/deploy/_index.rst
  docs/setup-cluster/checklists/k8s-versions.rst
Due: none

docs: Improve sample master yaml
  docs/reference/deploy/master-config-reference.rst
Due: none

docs: Improve sample master yaml
  docs/reference/experiment-config-reference.rst
Due: none

include review comment
  docs/reference/experiment-config-reference.rst
Due: none

Docs/improve sample master yaml (#9607)
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
Due: none

lint fixes and webui fixes
  master/internal/api_workspace.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/multirm/multirm.go
  webui/react/src/components/WorkspaceCreateModal.tsx
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

feat: add auto namespace and resource quota inputs to webui (#9542)
  harness/determined/common/api/bindings.py
  helm/charts/determined/templates/master-permissions.yaml
  master/.mockery.yaml
  master/internal/api_workspace.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/dispatcherrm/dispatcher_resource_manager.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/multirm/multirm.go
  master/internal/rm/resource_manager_iface.go
  master/pkg/model/workspace.go
  master/static/migrations/20240702135314_add-workspace-namespace-bindings-table.tx.up.sql
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/workspace.pb.go
  proto/pkg/workspacev1/workspace.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/workspace.proto
  proto/src/determined/workspace/v1/workspace.proto
  webui/react/src/components/WorkspaceCreateModal.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

fix: column picker should effect pinned columns in compare view [ET-605]
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Due: web-js-lint-check

Test setuptools_scm config, requires commit.
  harness/pyproject.toml
Due: none

debug logging
  .circleci/real_config.yml
Due: none

config debug
  .circleci/datadog/ci-local-config.yaml
  .circleci/real_config.yml
Due: none

fmt
  harness/determined/experimental/core_v2/_core_v2.py
Due: none

add filter
  master/internal/experiment_filter.go
  proto/pkg/projectv1/project.pb.go
  proto/src/determined/project/v1/project.proto
Due: go-fmt-import, gofumpt, golangci-lint

logging testing
  e2e_tests/tests/cluster/test_rbac_ntsc.py
Due: none

formatting
  .circleci/real_config.yml
Due: none

feat: switch default rsa_key_size to 2048.
  docs/release-notes/rsa-2048.rst
  master/internal/config/config.go
Due: go-fmt-import, gofumpt, golangci-lint

get task logs on failure too
  .circleci/real_config.yml
Due: none

debugging
  .circleci/real_config.yml
  e2e_tests/tests/cluster/test_rbac_ntsc.py
  e2e_tests/tests/cluster/test_users.py
Due: none

corrections
  agent/internal/agent.go
  agent/internal/container/container_runtime.go
  agent/internal/options/options.go
  agent/pkg/singularity/singularity.go
  agent/pkg/singularity/singularity_api_test.go
Due: go-fmt-import, gofumpt, golangci-lint

remove from agent configs
  .circleci/real_config.yml
  docs/setup-cluster/slurm/hpc-with-agent.rst
  tools/slurm/README.md
Due: none

corrections based of discussions
  agent/cmd/determined-agent/init.go
  agent/cmd/determined-agent/run_test.go
  agent/internal/agent.go
  agent/internal/options/options.go
  agent/internal/options/options_test.go
Due: go-fmt-import, gofumpt, golangci-lint

remove from integ tests
  agent/cmd/determined-agent/run_test.go
  agent/internal/options/options_test.go
Due: go-fmt-import, gofumpt, golangci-lint

removed slurm-agent tests
  .circleci/real_config.yml
  agent/internal/options/options.go
  tools/slurm/scripts/slurmcluster.sh
Due: go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
