Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint
  require_serial: true

Update docs/release-notes.rst
  docs/release-notes.rst
Due: none

docs: add release notes for 0.25.0 (#7756)
  docs/release-notes.rst
  docs/release-notes/remove_estimatortrial.rst
  docs/release-notes/tpl-list-fix.rst
  docs/release-notes/trial-logs-failing.rst
Due: none

chore: bump version: 0.25.0-rc7 -> 0.25.0
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

Add chart '0.25.0' due to release
  determined-helm-chart_0.25.0.tgz
  index.yaml
Due: none

chore: bump version: 0.25.0-dev0 -> 0.25.1-dev0
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

Add line to disable sphinx tabs predefined CSS
  docs/conf.py
Due: none

New structure for review
  docs/setup-cluster/basic.rst
  docs/setup-cluster/deploy-cluster/index.rst
  docs/setup-cluster/deploy-cluster/setup-guide/overview.rst
  docs/setup-cluster/deploy-cluster/setup-guide/postgresql.rst
  docs/setup-cluster/setup-guide.rst
Due: none

Modify conf py
  docs/conf.py
  docs/setup-cluster/basic-setup-guide/basic.rst
Due: none

add test tab content
  docs/setup-cluster/basic.rst
  docs/setup-cluster/deploy-cluster/aws/install-on-aws.rst
  docs/setup-cluster/deploy-cluster/gcp/install-gcp.rst
  docs/setup-cluster/deploy-cluster/index.rst
  docs/setup-cluster/deploy-cluster/k8s/setup-aks-cluster.rst
  docs/setup-cluster/deploy-cluster/k8s/setup-eks-cluster.rst
  docs/setup-cluster/deploy-cluster/k8s/setup-gke-cluster.rst
  docs/setup-cluster/deploy-cluster/on-prem/docker.rst
  docs/setup-cluster/deploy-cluster/on-prem/homebrew.rst
  docs/setup-cluster/deploy-cluster/on-prem/linux-packages.rst
  docs/setup-cluster/deploy-cluster/on-prem/overview.rst
  docs/setup-cluster/security/tls.rst
  docs/setup-cluster/setup-guide.rst
Due: none

Add content
  docs/setup-cluster/deploy-cluster/index.rst
  docs/setup-cluster/deploy-cluster/on-prem/docker.rst
  docs/setup-cluster/deploy-cluster/on-prem/linux-packages.rst
  docs/setup-cluster/deploy-cluster/setup-guide/overview.rst
  docs/setup-cluster/deploy-cluster/setup-guide/postgresql.rst
  docs/setup-cluster/setup-guide.rst
Due: none

Content updates after meeting with ml-sys SME
  docs/setup-cluster/advanced-setup-guide/cluster-config.rst
  docs/setup-cluster/advanced-setup-guide/context-dir.rst
  docs/setup-cluster/advanced-setup-guide/firewall-rules.rst
  docs/setup-cluster/advanced-setup-guide/internet-access.rst
  docs/setup-cluster/advanced-setup-guide/overview.rst
  docs/setup-cluster/basic-setup-guide/basic.rst
  docs/setup-cluster/deploy-cluster/index.rst
Due: none

Modify the setup-cluster directory and basic rst file
  docs/setup-cluster/advanced-setup-guide/overview.rst
  docs/setup-cluster/advanced-setup-guide/postgresql.rst
  docs/setup-cluster/advanced-setup-guide/setup-clients.rst
  docs/setup-cluster/basic-setup-guide/basic.rst
Due: none

Amending structure and content after a merge conflict
  docs/.redirects/redirects.json
  docs/index.rst
  docs/setup-cluster/advanced-setup-guide/cluster-config.rst
  docs/setup-cluster/basic-setup-guide/basic-old.rst
  docs/setup-cluster/basic-setup-guide/basic-setup.rst
  docs/setup-cluster/basic-setup-guide/basic.rst
  docs/setup-cluster/deploy-cluster/index.rst
  docs/setup-cluster/deploy-cluster/setup-guide/overview.rst
  docs/setup-cluster/deploy-cluster/setup-guide/postgresql.rst
  docs/tutorials/quickstart-mdldev.rst
Due: none

Remove unnecessary files
  docs/index.rst
  docs/setup-cluster/basic-setup-guide/basic-old.rst
  docs/setup-cluster/basic-setup-guide/basic-setup.rst
  docs/setup-cluster/basic-setup-guide/basic.rst
  docs/setup-cluster/deploy-cluster/setup-guide/overview.rst
  docs/setup-cluster/deploy-cluster/setup-guide/postgresql.rst
  docs/setup-cluster/setup-guide.rst
Due: none

Resolve basic setup feedback
  docs/articles/viewing-epoch-based-metrics.rst
  docs/setup-cluster/basic-setup-guide/basic.rst
  docs/setup-cluster/deploy-cluster/on-prem/requirements.rst
Due: none

basic setup and advanced setup
  docs/integrations/prometheus/prometheus.rst
  docs/setup-cluster/advanced-setup-guide/cluster-config.rst
  docs/setup-cluster/advanced-setup-guide/context-dir.rst
  docs/setup-cluster/advanced-setup-guide/overview.rst
  docs/setup-cluster/advanced-setup-guide/setup-clients.rst
  docs/setup-cluster/security/tls.rst
Due: none

Update package name to tasklog
  master/pkg/archive/archive.go
  master/pkg/model/task.go
  master/pkg/tasklog/log_levels.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: ignore flake8 import restrictions pre-commit check
  .flake8
Due: none

cleanup
  master/internal/experiment.go
  master/internal/trial.go
Due: go-fmt-import, gofumpt, golangci-lint

result reporting updates
  performance/src/api_performance_tests.ts
  performance/src/utils/k6-summary.js
Due: none

fix: handle chart x-axis with all points at x=0
  webui/react/src/components/UPlot/SyncProvider.tsx
  webui/react/src/components/kit/internal/UPlot/SyncProvider.tsx
Due: web-js-lint-check

chore: ignore flake8 import restrictions pre-commit check (#7759)
  .flake8
Due: none

chore: add db migrations for permission CAN_VIEW_EXTERNAL_JOBS
  master/static/migrations/20230830120745_add-rbac-external-jobs.tx.down.sql
  master/static/migrations/20230830120745_add-rbac-external-jobs.tx.up.sql
Due: none

add zeroline example to linechart in uikit
  webui/react/src/pages/DesignKit.tsx
Due: web-js-lint-check

chore: rearrange log level constants (#7752)
  master/pkg/archive/archive.go
  master/pkg/model/task.go
  master/pkg/tasklog/log_levels.go
Due: go-fmt-import, gofumpt, golangci-lint

update threshold definition
  performance/src/api_performance_tests.ts
Due: none

update stages
  performance/src/api_performance_tests.ts
Due: none

fix: Handle chart x-axis with all points at x=0 [WEB-1622] (#7760)
  webui/react/src/components/UPlot/SyncProvider.tsx
  webui/react/src/components/kit/internal/UPlot/SyncProvider.tsx
  webui/react/src/pages/DesignKit.tsx
Due: web-js-lint-check

cleanup
  master/internal/experiment.go
  master/internal/restore_test.go
  master/internal/task/allocation_service.go
Due: go-fmt-import, gofumpt, golangci-lint

remove unnecessary proto from previous version
  proto/buf.image.bin
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/trial/v1/trial.proto
Due: none

remove asha custom searcher
  docs/example-solutions/examples.rst
  docs/model-dev-guide/hyperparameter/search-methods/hp-custom.rst
  e2e_tests/tests/config.py
  e2e_tests/tests/nightly/test_distributed.py
  examples/Makefile
  examples/README.md
  examples/legacy/custom_search_method/asha_search_method/README.md
  examples/legacy/custom_search_method/asha_search_method/asha.py
  examples/legacy/custom_search_method/asha_search_method/experiment_files/config.yaml
  examples/legacy/custom_search_method/asha_search_method/experiment_files/data.py
  examples/legacy/custom_search_method/asha_search_method/experiment_files/layers.py
  examples/legacy/custom_search_method/asha_search_method/experiment_files/model_def.py
  examples/legacy/custom_search_method/asha_search_method/local_search_runner/README.md
  examples/legacy/custom_search_method/asha_search_method/local_search_runner/run_experiment.py
  examples/legacy/custom_search_method/asha_search_method/remote_search_runner/README.md
  examples/legacy/custom_search_method/asha_search_method/remote_search_runner/run_experiment.py
  examples/legacy/custom_search_method/asha_search_method/remote_search_runner/searcher.yaml
Due: none

chore: suppress the daemonize message on HPC jobs
  master/internal/mocks/rm.go
  master/internal/rm/actorrm/actor_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/resource_manager_iface.go
  master/internal/task/allocation.go
Due: go-fmt-import, gofumpt, golangci-lint

legacy deepspeed stuff
  docs/example-solutions/examples.rst
  e2e_tests/tests/nightly/test_distributed.py
  examples/README.md
  examples/legacy/deepspeed/cifar10_cpu_offloading/README.md
  examples/legacy/deepspeed/cifar10_cpu_offloading/ds_config_no_offload.json
  examples/legacy/deepspeed/cifar10_cpu_offloading/ds_config_offload.json
  examples/legacy/deepspeed/cifar10_cpu_offloading/model_def.py
  examples/legacy/deepspeed/cifar10_cpu_offloading/zero_3_cpu_offload.yaml
  examples/legacy/deepspeed/cifar10_cpu_offloading/zero_no_offload.yaml
  examples/legacy/deepspeed/cifar10_moe/README.md
  examples/legacy/deepspeed/cifar10_moe/ds_config.json
  examples/legacy/deepspeed/cifar10_moe/model_def.py
  examples/legacy/deepspeed/cifar10_moe/moe.yaml
  examples/legacy/deepspeed/cifar10_moe/zero_stages.yaml
  examples/legacy/deepspeed/deepspeed_dcgan/README.md
  examples/legacy/deepspeed/deepspeed_dcgan/cifar10_zero2.yaml
  examples/legacy/deepspeed/deepspeed_dcgan/data.py
  examples/legacy/deepspeed/deepspeed_dcgan/ds_config.json
  examples/legacy/deepspeed/deepspeed_dcgan/gan_model.py
  examples/legacy/deepspeed/deepspeed_dcgan/mnist.yaml
  examples/legacy/deepspeed/deepspeed_dcgan/mnist_grad_accum.yaml
  examples/legacy/deepspeed/deepspeed_dcgan/model_def.py
  examples/legacy/deepspeed/pipeline_parallelism/README.md
  examples/legacy/deepspeed/pipeline_parallelism/alexnet.py
  examples/legacy/deepspeed/pipeline_parallelism/distributed.yaml
  examples/legacy/deepspeed/pipeline_parallelism/ds_config.json
  examples/legacy/deepspeed/pipeline_parallelism/model_def.py
Due: none

remove from test_official
  examples/tests/test_official.py
Due: none

chore: update based on PR review
  webui/react/src/pages/Cluster/ClusterHistoricalUsageChart.tsx
Due: web-js-lint-check

remove meta learning and a bunch of makefile stuff
  docs/example-solutions/examples.rst
  e2e_tests/tests/config.py
  examples/Makefile
  examples/README.md
Due: none

feat: Create performance tests [WEB-1458] (#7741)
  performance/.babelrc
  performance/package-lock.json
  performance/package.json
  performance/src/api_performance_tests.ts
  performance/src/utils/helpers.ts
  performance/src/utils/k6-summary.js
  performance/tsconfig.json
  performance/webpack.config.js
Due: none

feat(update): 0.25.0
  helm/charts/determined/Chart.yaml
Due: none

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
