Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint
  require_serial: true

lint fixes
  harness/determined/cli/user.py
Due: none

test lint
  e2e_tests/tests/cluster/test_users.py
Due: none

wip
  harness/determined/pytorch/deepspeed/_deepspeed_context.py
Due: none

chore: move files from /Clusters into /Cluster [WEB-1730] (#8231)
  webui/react/src/pages/Cluster.tsx
  webui/react/src/pages/Cluster/ClusterOverview.tsx
  webui/react/src/pages/Cluster/ClusterQueuedChart.module.scss
  webui/react/src/pages/Cluster/ClusterQueuedChart.tsx
  webui/react/src/pages/ResourcePool/ResourcepoolDetail.tsx
  webui/react/src/routes/index.tsx
Due: web-js-lint-check

fix reload
  harness/determined/common/experimental/user.py
Due: none

rm reload
  harness/determined/common/experimental/user.py
Due: none

make updating to the same value a no-op
  webui/react/src/components/FilterForm/components/FilterFormStore.ts
Due: web-js-lint-check

move getFormset to top of scope
  webui/react/src/components/FilterForm/components/FilterFormStore.test.ts
Due: web-js-lint-check

feat: add new CLI command to edit multiple fields at once (#8075)
  docs/release-notes/cli-user-edit.rst
  e2e_tests/tests/cluster/test_users.py
  harness/determined/cli/user.py
  harness/determined/common/declarative_argparse.py
Due: none

fix: dont suggest registering or deleting a checkpoint that is already deleted
  webui/react/src/components/CheckpointModal.tsx
  webui/react/src/utils/checkpoint.ts
Due: web-js-lint-check

fix: dont suggest registering or deleting a checkpoint that is already deleted (#8246)
  webui/react/src/components/CheckpointModal.tsx
  webui/react/src/utils/checkpoint.ts
Due: web-js-lint-check

feat: Update "Add Members" to Workspace experience (#8195)
  webui/react/src/components/CreateGroupModal.tsx
  webui/react/src/components/WorkspaceMemberAddModal.tsx
  webui/react/src/pages/WorkspaceDetails/RoleRenderer.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceMembers.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
Due: web-js-lint-check

docs: check for dropped urls in PRs
  docs/redirects.py
Due: none

fix: prevent passing login r= param to relayState (#8244)
  webui/react/src/ee/SamlAuth.test.ts
  webui/react/src/ee/SamlAuth.ts
Due: web-js-lint-check

refactored to pass nodes on AllocateRequest
  master/internal/api_tasks_intg_test.go
  master/internal/logpattern/logpattern.go
  master/internal/logpattern/logpattern_intg.go
  master/internal/logpattern/logpattern_intg_test.go
  master/internal/logpattern/singleton.go
  master/internal/rm/agentrm/fitting_intg_test.go
  master/internal/rm/agentrm/fitting_methods.go
  master/internal/rm/agentrm/fitting_test.go
  master/internal/rm/kubernetesrm/message.go
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/pod_test.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/kubernetesrm/spec.go
  master/internal/rm/kubernetesrm/spec_intg_test.go
  master/internal/rm/kubernetesrm/spec_test.go
  master/internal/sproto/task.go
  master/internal/trial.go
Due: go-fmt-import, gofumpt, golangci-lint

removed unneeded query
  master/internal/db/postgres_tasks.go
Due: go-fmt-import, gofumpt, golangci-lint

deleted active
  master/internal/logpattern/logpattern.go
  master/internal/logpattern/logpattern_intg_test.go
  master/static/migrations/20231016092637_add-log-pattern-actions.tx.up.sql
Due: go-fmt-import, gofumpt, golangci-lint

Apply suggestions from code review
  docs/release-notes.rst
Due: none

fix: deepspeed e2e_tests fail when environment variable contains a newline character [FE-256] (#8154)
  harness/determined/launch/deepspeed.py
Due: none

fmt
  docs/release-notes.rst
Due: none

return after both checks happen
  docs/redirects.py
Due: none

add redirects
  docs/.redirects/redirects.json
Due: none

fix: support ruamel.yaml>=0.18.0
  e2e_tests/tests/cluster/test_checkpoints.py
  e2e_tests/tests/cluster/test_exp_continue.py
  e2e_tests/tests/cluster/test_resource_manager.py
  e2e_tests/tests/cluster/test_users.py
  e2e_tests/tests/command/test_run.py
  e2e_tests/tests/command/test_tensorboard.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/experiment/test_custom_searcher.py
  e2e_tests/tests/experiment/test_noop.py
  e2e_tests/tests/experiment/test_profiling.py
  e2e_tests/tests/nightly/test_distributed.py
  e2e_tests/tests/template/test_template.py
  e2e_tests/tests/test_sdk.py
  examples/legacy/gan/pix2pix_tf_keras/data.py
  examples/legacy/gan/pix2pix_tf_keras/fit.py
  harness/determined/cli/command.py
  harness/determined/cli/experiment.py
  harness/determined/cli/job.py
  harness/determined/cli/master.py
  harness/determined/cli/render.py
  harness/determined/cli/template.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/util.py
  harness/determined/deploy/aws/gen_vcpu_mapping.py
  harness/determined/deploy/aws/preflight.py
  harness/determined/deploy/gcp/gcp.py
  harness/determined/deploy/local/cluster_utils.py
  harness/determined/experimental/core_v2/_core_v2.py
  harness/determined/experimental/core_v2/_unmanaged.py
  harness/setup.py
  harness/tests/common/test_yaml.py
  harness/tests/experiment/fixtures/pytorch_onevar_model.py
  tools/scripts/bumpenvs.py
  tools/scripts/refresh-ubuntu-amis.py
  tools/scripts/update-bumpenvs-yaml.py
Due: none

docs: check for dropped urls in PRs (#8247)
  docs/.redirects/redirects.json
  docs/redirects.py
Due: none

update deepspeed guide to include profiling
  docs/model-dev-guide/api-guides/apis-howto/deepspeed/deepspeed.rst
Due: none

remove extra spaces
  docs/release-notes.rst
Due: none

fix: support ruamel.yaml>=0.18.0 (#8237)
  e2e_tests/tests/cluster/test_checkpoints.py
  e2e_tests/tests/cluster/test_exp_continue.py
  e2e_tests/tests/cluster/test_resource_manager.py
  e2e_tests/tests/cluster/test_users.py
  e2e_tests/tests/command/test_run.py
  e2e_tests/tests/command/test_tensorboard.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/experiment/test_custom_searcher.py
  e2e_tests/tests/experiment/test_noop.py
  e2e_tests/tests/experiment/test_profiling.py
  e2e_tests/tests/nightly/test_distributed.py
  e2e_tests/tests/template/test_template.py
  e2e_tests/tests/test_sdk.py
  examples/legacy/gan/pix2pix_tf_keras/data.py
  examples/legacy/gan/pix2pix_tf_keras/fit.py
  harness/determined/cli/command.py
  harness/determined/cli/experiment.py
  harness/determined/cli/job.py
  harness/determined/cli/master.py
  harness/determined/cli/render.py
  harness/determined/cli/template.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/util.py
  harness/determined/deploy/aws/gen_vcpu_mapping.py
  harness/determined/deploy/aws/preflight.py
  harness/determined/deploy/gcp/gcp.py
  harness/determined/deploy/local/cluster_utils.py
  harness/determined/experimental/core_v2/_core_v2.py
  harness/determined/experimental/core_v2/_unmanaged.py
  harness/setup.py
  harness/tests/common/test_yaml.py
  harness/tests/experiment/fixtures/pytorch_onevar_model.py
  tools/scripts/bumpenvs.py
  tools/scripts/refresh-ubuntu-amis.py
  tools/scripts/update-bumpenvs-yaml.py
Due: none

docs: fix inaccuracies in `bind_mounts` docs.
  docs/reference/deploy/master-config-reference.rst
  docs/reference/training/experiment-config-reference.rst
Due: none

chore: add documentation for Keras and PyTorch profilers
  docs/model-dev-guide/api-guides/apis-howto/api-keras-ug.rst
  docs/model-dev-guide/api-guides/apis-howto/api-pytorch-ug.rst
Due: none

Update release-notes.rst
  docs/release-notes.rst
Due: none

docs: add release notes for 0.26.2 (#8245)
  docs/release-notes.rst
  docs/release-notes/core-v2-tensorboard.rst
  docs/release-notes/python-sdk.rst
Due: none

chore: bump version: 0.26.2-rc4 -> 0.26.2
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

Add chart '0.26.2' due to release
  determined-helm-chart_0.26.2.tgz
  index.yaml
Due: none

test: add a README to .circleci
  .circleci/README.md
  .circleci/config.yml
Due: none

pass db connection info into the container
  harness/determined/deploy/aws/templates/simple.yaml
Due: none

fair share failing test
  master/internal/rm/agentrm/fair_share_intg_test.go
  master/internal/rm/agentrm/mock_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix issue
  master/internal/rm/agentrm/fair_share.go
  master/internal/rm/agentrm/fair_share_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

initial fix
  master/internal/rm/agentrm/fair_share.go
Due: go-fmt-import, gofumpt, golangci-lint

more tests
  master/internal/rm/agentrm/fair_share_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
