Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint
  require_serial: true

add comment and modify client
  harness/determined/common/experimental/determined.py
  harness/determined/experimental/client.py
Due: none

columns
  webui/react/src/pages/F_ExpList/F_ExperimentList.settings.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/expListColumns.ts
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
  webui/react/src/pages/F_ExpList/glide-table/tooltip.tsx
Due: web-js-lint-check

lint
  harness/determined/common/experimental/determined.py
Due: none

fix import
  e2e_tests/tests/streaming/test_client.py
Due: none

test_local using resource_up|down
  e2e_tests/tests/deploy/test_local.py
Due: none

test: WIP
  e2e_tests/tests/deploy/test_local.py
Due: none

resources with a context manager
  e2e_tests/tests/deploy/test_local.py
Due: none

general cleanup
  e2e_tests/tests/api_utils.py
  e2e_tests/tests/deploy/test_local.py
Due: none

style
  e2e_tests/tests/api_utils.py
  e2e_tests/tests/experiment/experiment.py
Due: none

Cache busting _is_hpc when running experiment
  e2e_tests/tests/api_utils.py
  e2e_tests/tests/deploy/test_local.py
  e2e_tests/tests/experiment/experiment.py
Due: none

Change back to session-less methods that back decorators
  e2e_tests/tests/api_utils.py
  e2e_tests/tests/nightly/compute_stats.py
Due: none

Caching is per-session
  e2e_tests/tests/api_utils.py
  e2e_tests/tests/deploy/test_local.py
  e2e_tests/tests/experiment/experiment.py
Due: none

test: CLI workflows in CI use new Python images (#8943)
  .circleci/real_config.yml
Due: none

chore: add multirm module to ResourceManager (#8857)
  master/internal/checkpoint_gc.go
  master/internal/command/command_job_service.go
  master/internal/config/config.go
  master/internal/config/config_test.go
  master/internal/config/resource_config.go
  master/internal/config/resource_manager_config.go
  master/internal/core.go
  master/internal/experiment_job_service.go
  master/internal/rm/multirm/multirm.go
  master/internal/rm/multirm/multirm_intg_test.go
  master/internal/rm/setup.go
Due: go-fmt-import, gofumpt, golangci-lint

contextMenu
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/contextMenu.tsx
Due: web-js-lint-check

test: refactor usage within test_local (#8913)
  e2e_tests/tests/api_utils.py
  e2e_tests/tests/deploy/test_local.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/nightly/compute_stats.py
Due: none

fix: `no data plot` in chart with data (#8935)
  webui/react/src/hooks/useMetricNames.ts
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/TrialDetails/MultiTrialDetailsHyperparameters.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.tsx
Due: web-js-lint-check

chore: add stream.Supervisor tests
  master/internal/stream/publisher.go
  master/internal/stream/supervisor.go
  master/internal/stream/supervisor_intg_test.go
  master/internal/stream/system_intg_test.go
  master/internal/stream/test_util.go
Due: go-fmt-import, gofumpt, golangci-lint

rowIdPath prop
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Due: web-js-lint-check

test: Add e2e test for streaming updates python client (#8901)
  e2e_tests/tests/streaming/test_client.py
Due: none

renderContextMenuComponent optional
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/contextMenu.tsx
Due: web-js-lint-check

fmt
  harness/determined/common/experimental/determined.py
Due: none

solve bugs
  webui/react/src/components/ResourceAllocationModal.tsx
  webui/react/src/pages/ResourcePool/NodeElement.module.scss
  webui/react/src/pages/ResourcePool/NodeElement.tsx
Due: web-js-lint-check

chore: bump version: 0.29.0-rc3 -> 0.29.0-rc4
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

Separate ActionBar from grid
  webui/react/src/pages/F_ExpList/ColumnPickerMenu.module.scss
  webui/react/src/pages/F_ExpList/ColumnPickerMenu.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/TableActionBar.module.scss
  webui/react/src/pages/F_ExpList/TableActionBar.tsx
Due: web-js-lint-check

fix: don't access agentState when it may be nil
  master/internal/rm/agentrm/agent.go
Due: go-fmt-import, gofumpt, golangci-lint

review feedback (double panic)
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/agent_test.go
Due: go-fmt-import, gofumpt, golangci-lint

add test
  master/internal/rm/agentrm/agent_test.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: fix multirm unit test flake
  master/internal/rm/multirm/multirm_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: amend contributing doc to point to correct make rule, as of #2892
  CONTRIBUTING.md
Due: none

chore: add resource manager name/metadata to resourcepoolv1 proto
  harness/determined/common/api/bindings.py
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager_intg_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  proto/pkg/resourcepoolv1/resourcepool.pb.go
  proto/src/determined/resourcepool/v1/resourcepool.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

chore: add resource manager name/metadata to resourcepoolv1 proto (#8948)
  harness/determined/common/api/bindings.py
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager_intg_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  proto/pkg/resourcepoolv1/resourcepool.pb.go
  proto/src/determined/resourcepool/v1/resourcepool.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

adding extra param
  master/internal/rm/multirm/multirm_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

table test version
  master/internal/config/config_test.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: Display resource managers information
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/pages/ResourcePool/ResourcepoolDetail.tsx
  webui/react/src/stores/cluster.tsx
Due: web-js-lint-check

chore: make cluster id a singleton
  master/internal/api_master.go
  master/internal/cluster/cluster_id.go
  master/internal/core.go
  master/internal/db/database.go
  master/internal/db/postgres_agent_intg_test.go
  master/internal/db/postgres_cluster.go
  master/internal/db/postgres_cluster_intg_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetesrm_test.go
  master/internal/rm/kubernetesrm/pods.go
Due: go-fmt-import, gofumpt, golangci-lint

using t.Run as other option
  master/internal/config/config_test.go
Due: go-fmt-import, gofumpt, golangci-lint

use t.Run for better readability
  master/internal/config/config_test.go
Due: go-fmt-import, gofumpt, golangci-lint

changing err to sort slices
  master/internal/rm/multirm/multirm.go
  master/internal/rm/multirm/multirm_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
