Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

feat: unify new/edit group modals [WEB-1741]
  webui/react/src/components/CreateGroupModal.test.tsx
  webui/react/src/components/CreateGroupModal.tsx
  webui/react/src/pages/Admin/GroupManagement.tsx
Due: web-js-lint-check

Review changes
  webui/react/src/components/CreateGroupModal.tsx
Due: web-js-lint-check

feat: unify new/edit group modals [WEB-1741] (#8236)
  webui/react/src/components/CreateGroupModal.test.tsx
  webui/react/src/components/CreateGroupModal.tsx
  webui/react/src/pages/Admin/GroupManagement.tsx
Due: web-js-lint-check

feedback and did simpler solution
  master/internal/rm/agentrm/fair_share.go
  master/internal/rm/agentrm/fair_share_intg_test.go
  master/internal/rm/agentrm/fair_share_test.go
  master/internal/rm/agentrm/mock_test.go
Due: go-fmt-import, gofumpt, golangci-lint

docs: fix inaccuracies in `bind_mounts` docs. (#8254)
  docs/reference/deploy/master-config-reference.rst
  docs/reference/training/experiment-config-reference.rst
Due: none

chore: ci should always setup python venv for caching
  .circleci/real_config.yml
Due: none

ci: wart removal
  e2e_tests/tests/cluster/test_logging.py
  e2e_tests/tests/experiment/experiment.py
Due: none

feat: remove additional props and updated code
  webui/react/src/components/kit/CodeEditor.tsx
  webui/react/src/components/kit/LogViewer/LogViewer.tsx
  webui/react/src/components/kit/Section.module.scss
  webui/react/src/components/kit/Section.tsx
  webui/react/src/pages/Admin/GroupManagement.tsx
  webui/react/src/pages/Admin/UserManagement.tsx
  webui/react/src/pages/Cluster/ClusterHistoricalUsage.tsx
  webui/react/src/pages/Cluster/ClusterOverallBar.tsx
  webui/react/src/pages/Cluster/ClusterOverallStats.tsx
  webui/react/src/pages/Cluster/ClusterQueuedChart.module.scss
  webui/react/src/pages/Cluster/ClusterQueuedChart.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpHeatMaps.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpHeatMaps.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpScatterPlots.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpScatterPlots.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
  webui/react/src/pages/F_ExpList/CompareParallelCoordinates.tsx
  webui/react/src/pages/F_ExpList/HpParallelCoordinates.module.scss
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/SystemMetricChart.module.scss
  webui/react/src/pages/TrialDetails/Profiles/Charts/SystemMetricChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/ThroughputMetricChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/TimingMetricChart.tsx
  webui/react/src/pages/TrialDetails/TrialChart.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsWorkloads.tsx
Due: web-js-lint-check

fix: solve bad merge
  webui/react/src/components/kit/CodeEditor.tsx
  webui/react/src/components/kit/LogViewer/LogViewer.module.scss
  webui/react/src/components/kit/LogViewer/LogViewer.tsx
Due: web-js-lint-check

feat: add Section component to UI kit
  webui/react/src/components/Section.test.tsx
  webui/react/src/components/UserSettings.tsx
  webui/react/src/components/kit/CodeEditor.tsx
  webui/react/src/components/kit/LogViewer/LogViewer.tsx
  webui/react/src/components/kit/Section.module.scss
  webui/react/src/components/kit/Section.tsx
  webui/react/src/pages/Admin/GroupManagement.tsx
  webui/react/src/pages/Admin/UserManagement.tsx
  webui/react/src/pages/Cluster/ClusterHistoricalUsage.tsx
  webui/react/src/pages/Cluster/ClusterOverallBar.tsx
  webui/react/src/pages/Cluster/ClusterOverallStats.tsx
  webui/react/src/pages/Cluster/ClusterOverview.tsx
  webui/react/src/pages/Cluster/ClusterQueuedChart.tsx
  webui/react/src/pages/Dashboard.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpHeatMaps.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpScatterPlots.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
  webui/react/src/pages/F_ExpList/CompareParallelCoordinates.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/ResourcePool/ResourcepoolDetail.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/SystemMetricChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/ThroughputMetricChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/TimingMetricChart.tsx
  webui/react/src/pages/TrialDetails/TrialChart.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsWorkloads.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
  webui/react/src/pages/WorkspaceDetails/ResourcePoolsBound.tsx
Due: web-js-lint-check

fix: solve visual glitch
  webui/react/src/components/kit/CodeEditor.tsx
  webui/react/src/components/kit/LogViewer/LogViewer.module.scss
  webui/react/src/components/kit/LogViewer/LogViewer.tsx
  webui/react/src/components/kit/Section.module.scss
  webui/react/src/pages/Cluster/ClusterHistoricalUsage.tsx
  webui/react/src/pages/DesignKit.tsx
Due: web-js-lint-check

feat: add css rule for immediate sibilin sections
  webui/react/src/components/kit/Section.module.scss
  webui/react/src/pages/DesignKit.tsx
Due: web-js-lint-check

chore: add lorem ipsum text
  webui/react/src/pages/DesignKit.tsx
Due: web-js-lint-check

fix: solve bad merge
  webui/react/src/components/Section.tsx
  webui/react/src/pages/ResourcePool/Topology.tsx
Due: web-js-lint-check

ci: wart removal (#8147)
  e2e_tests/tests/cluster/test_logging.py
  e2e_tests/tests/experiment/experiment.py
Due: none

feat: used Section component from ui kit lib
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/UserSettings.tsx
  webui/react/src/components/kit/Section.module.scss
  webui/react/src/components/kit/Section.tsx
  webui/react/src/pages/Admin/GroupManagement.tsx
  webui/react/src/pages/Admin/UserManagement.tsx
  webui/react/src/pages/Cluster/ClusterHistoricalUsage.tsx
  webui/react/src/pages/Cluster/ClusterOverallBar.tsx
  webui/react/src/pages/Cluster/ClusterOverallStats.tsx
  webui/react/src/pages/Cluster/ClusterOverview.tsx
  webui/react/src/pages/Cluster/ClusterQueuedChart.tsx
  webui/react/src/pages/Dashboard.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpHeatMaps.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpScatterPlots.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
  webui/react/src/pages/F_ExpList/CompareParallelCoordinates.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/ResourcePool/ResourcepoolDetail.tsx
  webui/react/src/pages/ResourcePool/Topology.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/SystemMetricChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/ThroughputMetricChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/TimingMetricChart.tsx
  webui/react/src/pages/TrialDetails/TrialChart.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsWorkloads.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
  webui/react/src/pages/WorkspaceDetails/ResourcePoolsBound.tsx
Due: web-js-lint-check, web-misc-lint-check

fix: only train for one batch in PyTorch Trainer test mode
  harness/determined/pytorch/_pytorch_trial.py
Due: none

fix: icon size in TaskBar
  webui/react/src/components/TaskBar.tsx
Due: web-js-lint-check

chore: ci should always setup python venv for caching (#8257)
  .circleci/real_config.yml
Due: none

chore(actors): remove actors from resource aggregation
  master/internal/core.go
  master/internal/resource_allocation.go
Due: go-fmt-import, gofumpt, golangci-lint

chore(actors): remove slots, slot proxy hacks from agentrm
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/agent_slot.go
  master/internal/rm/agentrm/agent_slots.go
Due: go-fmt-import, gofumpt, golangci-lint

adding lore image deploy
  harness/determined/deploy/aws/templates/efs.yaml
Due: none

WIP efs support for master
  harness/determined/deploy/aws/templates/efs.yaml
  master-efs-install.sh
Due: none

install efs utils on master
  harness/determined/deploy/aws/templates/efs.yaml
  master-efs-install.sh
Due: none

give the sidecar access to the efs mount
  harness/determined/deploy/aws/templates/efs.yaml
Due: none

readd mock check
  master/Makefile
Due: none

make file changes
  .gitignore
  master/Makefile
Due: none

add makefile for mocks
  master/Makefile
Due: none

delete mocks
  master/internal/mocks/allocationmocks/allocation_service.go
  master/internal/mocks/authz_experiment_iface.go
  master/internal/mocks/authz_model_iface.go
  master/internal/mocks/db.go
  master/internal/mocks/event_iface.go
  master/internal/mocks/node_iface.go
  master/internal/mocks/nsc_authz_iface.go
  master/internal/mocks/pod_iface.go
  master/internal/mocks/project_authz_iface.go
  master/internal/mocks/resources.go
  master/internal/mocks/rm.go
  master/internal/mocks/rm_authz_iface.go
  master/internal/mocks/user_authz_iface.go
  master/internal/mocks/workspace_authz_iface.go
Due: go-fmt-import, gofumpt, golangci-lint

test: don't commit Go mocks (#8258)
  .gitignore
  master/Makefile
  master/internal/mocks/allocationmocks/allocation_service.go
  master/internal/mocks/authz_experiment_iface.go
  master/internal/mocks/authz_model_iface.go
  master/internal/mocks/db.go
  master/internal/mocks/event_iface.go
  master/internal/mocks/node_iface.go
  master/internal/mocks/nsc_authz_iface.go
  master/internal/mocks/pod_iface.go
  master/internal/mocks/project_authz_iface.go
  master/internal/mocks/resources.go
  master/internal/mocks/rm.go
  master/internal/mocks/rm_authz_iface.go
  master/internal/mocks/user_authz_iface.go
  master/internal/mocks/workspace_authz_iface.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: upgrade go otel dependencies
  agent/go.mod
  agent/go.sum
  master/go.mod
  master/go.sum
Due: none

pull in old bcrypt behavior while we work on a better solution
  master/pkg/model/user.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: update add members to group
  webui/react/src/components/AddMemberModal.tsx
  webui/react/src/pages/Admin/GroupManagement.tsx
Due: web-js-lint-check

fix: use userStore
  webui/react/src/pages/Admin/GroupManagement.tsx
Due: web-js-lint-check

fix: icon size in TaskBar (#8263)
  webui/react/src/components/TaskBar.tsx
Due: web-js-lint-check

chore: rename file
  webui/react/src/components/AddUsersToGroupModal.tsx
  webui/react/src/pages/Admin/GroupManagement.tsx
Due: web-js-lint-check

mod
  go.work
  master/Makefile
  master/go.mod
  master/go.sum
Due: none

more proto clean
  .circleci/real_config.yml
  .devcontainer/setup.sh
  .gitattributes
  .github/CODEOWNERS
  .github/workflows/lint-bindings.yml
  .github/workflows/lint-go.yml
  .pre-commit-config.yaml
  master/.golangci.yml
Due: none
