Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint
  require_serial: true

test: Add e2e test for streaming updates python client (#8901)
  e2e_tests/tests/streaming/test_client.py
Due: none

chore: remove unused constant (#8934)
  harness/determined/constants.py
Due: none

fix: cli fails when listing providers [DET-10127] (#8903)
  harness/determined/cli/sso.py
Due: none

chore: bump up ebs size to 400gb for genai deployments
  harness/determined/deploy/aws/templates/lore.yaml
Due: none

chore: cover and bunify project functions in postgres_experiments.go (#8912)
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_project.go
  master/internal/api_workspace.go
  master/internal/core_experiment.go
  master/internal/db/database.go
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_test_utils.go
  master/internal/project/postgres_project.go
  master/internal/project/postgres_project_intg_test.go
  master/internal/webhooks/postgres_webhook.go
  master/internal/workspace/postgres_workspace.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: `det dev curl` support for URLs with curly brackets. (#8930)
  harness/determined/cli/dev.py
Due: none

fix: slurm launcher authenticates preemption notification (#8928)
  harness/determined/exec/launch.py
Due: none

feat: streaming updates python client [MD-246] (#8778)
  .gitattributes
  harness/.flake8
  harness/determined/cli/proxy.py
  harness/determined/common/detlomond.py
  harness/determined/common/streams/__init__.py
  harness/determined/common/streams/_client.py
  harness/determined/common/streams/_util.py
  harness/determined/common/streams/wire.py
  harness/determined/core/_train.py
  harness/tests/common/streams/test_client.py
  master/Makefile
  master/cmd/stream-gen/main.go
  master/internal/stream/projects.go
  tools/devcluster.yaml
Due: go-fmt-import, gofumpt, golangci-lint

test: skip tests that need to get scheduler type (#8911)
  e2e_tests/tests/deploy/test_local.py
Due: none

build: bump up ci setup_remote_docker version (#8942)
  .circleci/real_config.yml
Due: none

feat: log podspec [DET-9861] (#8899)
  master/internal/rm/kubernetesrm/spec.go
Due: go-fmt-import, gofumpt, golangci-lint

test: upload test results to datadog (#8910)
  .circleci/real_config.yml
  e2e_tests/tests/requirements.txt
Due: none

chore: upgrade Go from 1.21 -> 1.22 (#8914)
  .circleci/real_config.yml
  Makefile
  docs/setup-cluster/k8s/k8s-dev-guide.rst
  go.mod
  master/get-deps.sh
Due: none

chore: lock api state for backward compatibility check
  proto/buf.image.bin
Due: none

chore: add codeowners for resource-mgmt team files (#8879)
  .github/CODEOWNERS
Due: none

fix: SSO button link target (#8925)
  webui/react/src/pages/SignIn.tsx
Due: web-js-lint-check

tc: Add release note 8851 (#8864)
  docs/release-notes/8851-force-default-passwords.rst
Due: none

fix: specify go1.22.0 (#8929)
  go.mod
Due: none

fix: malformed config with gcp up with --initial-user-password (#8936)
  harness/determined/deploy/gcp/terraform/modules/compute/main.tf
Due: none

chore: remove support for Python 3.7; prefer 3.8 (#7329)
  .circleci/real_config.yml
  CONTRIBUTING.md
  docs/model-dev-guide/api-guides/apis-howto/_index.rst
  docs/tools/cli/cli-ug.rst
  e2e_tests/mypy.ini
  e2e_tests/tests/command/test_run.py
  e2e_tests/tests/config.py
  e2e_tests/tests/model_hub/test_mmdetection.py
  harness/determined/cli/dev.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/mypy.ini
  model_hub/mypy.ini
  schemas/mypy.ini
  tools/mypy.ini
  tools/scripts/bumpenvs.yaml
Due: none

chore: add resource manager name/metadata to resourcepoolv1 proto (#8948)
  harness/determined/common/api/bindings.py
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager_intg_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  proto/pkg/resourcepoolv1/resourcepool.pb.go
  proto/src/determined/resourcepool/v1/resourcepool.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

fix: don't access agentState when it may be nil (#8921)
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/agent_test.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: fix multirm unit test flake (#8949)
  master/internal/rm/multirm/multirm.go
Due: go-fmt-import, gofumpt, golangci-lint

ci: update performance test script for breaking Determined change (#8961)
  .circleci/scripts/wait_for_perf_migration_upload_results.py
Due: none

feat: Connect ProjectStore with streaming updates (#8834)
  master/internal/api/handler.go
  master/internal/core.go
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/App.tsx
  webui/react/src/components/ExperimentMoveModal.tsx
  webui/react/src/components/ProjectCard.tsx
  webui/react/src/components/UserSettings.test.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/services/stream/experiments.ts
  webui/react/src/services/stream/index.ts
  webui/react/src/services/stream/keyCache.ts
  webui/react/src/services/stream/projects.ts
  webui/react/src/services/stream/stream.test.ts
  webui/react/src/services/stream/stream.ts
  webui/react/src/stores/projects.test.tsx
  webui/react/src/stores/projects.tsx
  webui/react/src/stores/stream.ts
  webui/react/src/types.ts
  webui/react/vite.config.mts
Due: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

docs: fix pre_publish check (#8957)
  docs/Makefile
Due: none

chore: update AMIs - Nvidia minor version bump (#8945)
  .circleci/real_config.yml
  docs/model-dev-guide/api-guides/apis-howto/_index.rst
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
  docs/reference/job-config-reference.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/gcp/install-gcp.rst
  docs/setup-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/slurm-requirements.rst
  e2e_tests/tests/config.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  harness/tests/fixtures/checkpoint.json
  helm/charts/determined/values.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Due: web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

chore: set CGO_ENABLED=0 (#8941)
  agent/Makefile
  master/Makefile
Due: none

chore: [RM-68] improve readability for unit test (#8950)
  master/internal/config/config_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: update default aux container limits and instance types (#8959)
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
Due: none

test: remove last quarantined test (#8922)
  .circleci/real_config.yml
Due: none

feat: Display resource managers information (#8951)
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/pages/ResourcePool/ResourcepoolDetail.tsx
  webui/react/src/stores/cluster.tsx
Due: web-js-lint-check

chore: multirm unique resource pool config changes [RM-74] (#8974)
  master/internal/config/resource_config.go
  master/internal/config/resource_config_test.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: amend contributing doc to point to correct make rule, as of #2892 (#8947)
  CONTRIBUTING.md
Due: none

chore: react-virtuoso LogViewer companion (#8862)
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/ModelRegistry.module.scss
  webui/react/src/components/Page.module.scss
  webui/react/src/components/PageHeader/PageHeader.module.scss
  webui/react/src/components/TaskList.module.scss
  webui/react/src/pages/Cluster.module.scss
  webui/react/src/pages/ClusterLogs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.module.scss
  webui/react/src/pages/TaskLogs.module.scss
  webui/react/src/pages/TaskLogs.test.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.module.scss
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
Due: web-js-lint-check, web-misc-lint-check

fix: Check auth validity before setting isAuthenticated (#8967)
  webui/react/src/hooks/useAuthCheck.ts
Due: web-js-lint-check

fix: remove duplicate permissions in rbac CLI output (#8972)
  e2e_tests/tests/cluster/test_rbac.py
  harness/determined/cli/rbac.py
Due: none

chore: add multirm router layer to rm module (#8963)
  master/internal/api_agents.go
  master/internal/api_resourcepool.go
  master/internal/api_resourcepool_intg_test.go
  master/internal/api_tasks.go
  master/internal/api_tasks_intg_test.go
  master/internal/api_user_intg_test.go
  master/internal/config/config.go
  master/internal/config/config_test.go
  master/internal/config/resource_config.go
  master/internal/config/resource_manager_config.go
  master/internal/core.go
  master/internal/core_observability.go
  master/internal/core_task.go
  master/internal/experiment.go
  master/internal/job/jobservice/jobservice.go
  master/internal/restore.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager_intg_test.go
  master/internal/rm/agentrm/agents.go
  master/internal/rm/agentrm/resource_managers_test.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/agentrm/resource_pool_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/multirm/multirm.go
  master/internal/rm/multirm/multirm_intg_test.go
  master/internal/rm/resource_manager_iface.go
  master/internal/rm/setup.go
  master/internal/spec_util.go
  master/internal/spec_util_intg_test.go
  master/internal/sproto/globals.go
  master/internal/sproto/jobs.go
  master/internal/sproto/task.go
  master/internal/telemetry/reports.go
  master/internal/trial.go
Due: go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
