Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint
  require_serial: true

Test new mark
  .circleci/real_config.yml
  e2e_tests/pytest.ini
  e2e_tests/tests/cluster/test_master_restart.py
  e2e_tests/tests/conftest.py
Due: none

remove comments/unused lines
  .circleci/devcluster/multi-resource-pools.devcluster.yaml
  e2e_tests/tests/cluster/test_master_restart.py
Due: none

minor correction
  e2e_tests/tests/cluster/managed_cluster.py
Due: none

Add chart '1.2.0-dev6 7.0.19 5.41.4 4.0.15 0.2.16 25.8.2 1.7.0 5.15.2 4.24.0 2.4.2 6.15.3 0.15.3' due to release
  aioli-helm-chart_1.2.0-dev6.tgz
  index.yaml
Due: none

fix: reset pinned column state when resetting columns (#9852)
  webui/react/src/components/ColumnPickerMenu.test.tsx
  webui/react/src/components/ColumnPickerMenu.tsx
  webui/react/src/components/TableActionBar.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Due: web-js-lint-check

feat: Add workspaceId, mode, name to webhook (#9820)
  e2e_tests/tests/cluster/test_webhooks.py
  harness/determined/common/api/bindings.py
  master/internal/webhooks/postgres_webhook_intg_test.go
  master/internal/webhooks/shipper_test.go
  master/internal/webhooks/webhook.go
  master/static/migrations/20240820114209_extend-webhooks-table.tx.up.sql
  proto/pkg/webhookv1/webhook.pb.go
  proto/src/determined/webhook/v1/webhook.proto
  webui/react/src/components/Table/Table.tsx
  webui/react/src/components/WebhookCreateModal.tsx
  webui/react/src/hooks/useFeature.ts
  webui/react/src/pages/WebhookList.settings.ts
  webui/react/src/pages/WebhookList.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

rbac backend
  e2e_tests/tests/cluster/test_webhooks.py
  harness/determined/common/api/bindings.py
  master/internal/webhooks/api_webhook.go
  master/internal/webhooks/authz_basic_impl.go
  master/internal/webhooks/authz_iface.go
  master/internal/webhooks/authz_permissive.go
  master/internal/webhooks/authz_rbac.go
  master/internal/webhooks/postgres_webhook.go
  master/internal/webhooks/postgres_webhook_intg_test.go
  master/static/migrations/20240821124235_webhooks-rbac.tx.up.sql
  proto/pkg/rbacv1/rbac.pb.go
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

Add chart '1.2.0-dev5+aed510c7 0.15.3 7.0.19 5.41.4 4.0.15 0.2.16 25.8.2 1.7.0 5.15.2 4.24.0 2.4.2 6.15.3' due to release
  aioli-helm-chart_1.2.0-dev5+aed510c7.tgz
  index.yaml
Due: none

feat: configurable preemption timeout [MD-500] (#9833)
  .circleci/devcluster/double-reattach.devcluster.yaml
  master/cmd/determined-master/root.go
  master/cmd/determined-master/root_test.go
  master/internal/api_generic_tasks.go
  master/internal/config/config.go
  master/internal/config/config_test.go
  master/internal/rm/agentrm/fair_share.go
  master/internal/rm/agentrm/mock_test.go
  master/internal/rm/agentrm/priority.go
  master/internal/rm/agentrm/scheduler_test.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/kubernetesrm/resource_pool_intg_test.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/allocation_service_test.go
  master/internal/task/preemptible/preemptible.go
  master/internal/task/preemptible/preemptible_test.go
  master/internal/task/preemptible/service.go
  master/internal/trial.go
  master/internal/trial_intg_test.go
  master/pkg/model/generic_task_config.go
  master/pkg/model/task_container_defaults.go
  master/pkg/model/task_container_defaults_test.go
  master/pkg/schemas/expconf/experiment_config.go
  master/pkg/schemas/expconf/zgen_experiment_config_v0.go
  master/pkg/schemas/zgen_schemas.go
  schemas/expconf/v0/experiment.json
  schemas/test_cases/v0/experiment.yaml
Due: go-fmt-import, gofumpt, golangci-lint

testing priority scheduler
  e2e_tests/tests/cluster/test_master_restart.py
  e2e_tests/tests/cluster/test_priority_scheduler.py
Due: none

input user to function
  master/internal/api_runs.go
  master/internal/api_tensorboard.go
  master/internal/api_trials.go
  master/internal/trials/api_trial_source_info.go
  master/internal/trials/utils.go
  master/internal/trials/utils_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

update tests
  master/internal/trials/utils_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

goimport
  master/internal/trials/utils_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

bump npm version
  webui/react/package-lock.json
  webui/react/package.json
Due: web-misc-lint-check

validate permission denied error
  master/internal/trials/utils_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

test: successful login with weak or strong password
  webui/react/src/components/DeterminedAuth.test.tsx
  webui/react/src/components/DeterminedAuth.tsx
Due: web-js-lint-check

adding blank line
  .github/workflows/backport.yaml
Due: none

edit
  .github/workflows/backport.yaml
Due: none

fix: prevent loading issues with ipynb files (#9850)
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/pages/ExperimentDetails/ExperimentCodeViewer.tsx
Due: web-js-lint-check, web-misc-lint-check

ci: pin chromadb version to avoid incompatibility
  examples/features/torch_batch_process_embeddings/requirements.txt
Due: none

chore: add backport github action (#9835)
  .github/workflows/backport.yaml
Due: none

fix: replace tree with code mirror for metadata view
  webui/react/src/components/Metadata.module.scss
  webui/react/src/components/Metadata.tsx
Due: web-js-lint-check

chore: remove metadata test since its just a code editor
  webui/react/src/components/Metadata.test.tsx
Due: web-js-lint-check

chore: update hew for code view
  webui/react/package-lock.json
  webui/react/package.json
Due: web-misc-lint-check

chore: remove unnecesary npm deps
  webui/react/package-lock.json
  webui/react/package.json
Due: web-misc-lint-check

Add chart '1.2.0-dev5+96fe2928 6.15.3 0.15.3 7.0.19 5.41.4 0.2.16 4.0.15 25.8.2 1.7.0 5.15.2 4.24.0 2.4.2' due to release
  aioli-helm-chart_1.2.0-dev5+96fe2928.tgz
  index.yaml
Due: none

make parallel run for multi resource pools
  .circleci/devcluster/multi-resource-pools.devcluster.yaml
  agent/cmd/determined-agent/run_test.go
  agent/internal/agent.go
  agent/internal/options/options.go
  agent/internal/options/options_test.go
  e2e_tests/tests/cluster/conftest.py
  e2e_tests/tests/cluster/managed_cluster.py
  e2e_tests/tests/cluster/test_master_restart.py
  e2e_tests/tests/cluster/test_multi_resource_pools.py
  e2e_tests/tests/cluster/test_priority_scheduler.py
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/agent_state.go
  master/internal/rm/agentrm/agent_state_test.go
  master/internal/rm/agentrm/resource_managers_test.go
  master/pkg/aproto/master_message.go
Due: go-fmt-import, gofumpt, golangci-lint

change ports
  .circleci/devcluster/multi-resource-pools.devcluster.yaml
Due: none

add different artifacts
  .circleci/devcluster/multi-resource-pools.devcluster.yaml
  .circleci/real_config.yml
Due: none

* Add release-dryrun filter, although there's a chance this specific tag regex is disallowed by either Python or Docker, or both. We shall see.
  .circleci/real_config.yml
Due: none

webUI webhook rbac
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/WebhookCreateModal.tsx
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/WebhookList.tsx
Due: web-js-lint-check

* Replace -dryrun suffix with +dryrun for the release-dryrun workflow filter.
  .circleci/real_config.yml
Due: none

comment existing test
  e2e_tests/tests/cluster/test_agent.py
Due: none

fix: use task sessions in Core API
  harness/determined/common/api/__init__.py
  harness/determined/common/api/_session.py
  harness/determined/common/api/authentication.py
  harness/determined/core/_context.py
  harness/determined/exec/gc_checkpoints.py
  harness/determined/exec/launch.py
  harness/determined/exec/prep_container.py
  harness/determined/experimental/core_v2/_core_context_v2.py
  harness/determined/launch/deepspeed.py
  harness/determined/launch/horovod.py
  harness/tests/cli/test_auth.py
  master/static/srv/check_idle.py
  master/static/srv/check_ready_logs.py
Due: none

add permission to EditorProjectRestricted
  master/static/migrations/20240821124235_webhooks-rbac.tx.up.sql
Due: none

remove db name
  .circleci/devcluster/multi-resource-pools.devcluster.yaml
Due: none

add webhook permission to EditorRestricted
  master/static/migrations/20240821124235_webhooks-rbac.tx.up.sql
Due: none

change to user session
  e2e_tests/tests/cluster/test_agent.py
  e2e_tests/tests/cluster/test_multi_resource_pools.py
Due: none

clean up some tests
  harness/tests/launch/test_deepspeed.py
  harness/tests/launch/test_horovod.py
  harness/tests/launch/test_launch.py
  harness/tests/launch/test_torch_distributed.py
  harness/tests/launch/test_util.py
Due: none

fix test
  harness/tests/launch/test_util.py
Due: none

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
