Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint
  require_serial: true

config change for mocks
  webui/react/playwright.config.ts
Due: web-js-lint-check

faster migrations
  master/static/migrations/20240325144650_generic-metrics-nullable-batches.tx.down.sql
  master/static/migrations/20240325144650_generic-metrics-nullable-batches.tx.up.sql
  master/static/migrations/20240325144710_generic-metrics-text-partition-type.tx.down.sql
  master/static/migrations/20240325144710_generic-metrics-text-partition-type.tx.up.sql
Due: none

faster migrations (#9060)
  master/static/migrations/20240325144650_generic-metrics-nullable-batches.tx.down.sql
  master/static/migrations/20240325144650_generic-metrics-nullable-batches.tx.up.sql
  master/static/migrations/20240325144710_generic-metrics-text-partition-type.tx.down.sql
  master/static/migrations/20240325144710_generic-metrics-text-partition-type.tx.up.sql
Due: none

chore: bump version: 0.30.0-rc0 -> 0.30.0-rc1
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

cleanup
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Due: web-js-lint-check

fix
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Due: web-js-lint-check

navigation test
  webui/react/src/e2e/models/BaseComponent.ts
  webui/react/src/e2e/models/BasePage.ts
  webui/react/src/e2e/models/pages/Admin/UserManagement.ts
  webui/react/src/e2e/models/pages/SignIn.ts
  webui/react/src/e2e/tests/userManagement.spec.ts
Due: web-js-lint-check

fix: loading experiments without filterset (#9059)
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Due: web-js-lint-check

edit requested
  docs/release-notes.rst
Due: none

docs: Update release notes
  docs/release-notes.rst
Due: none

linter
  docs/release-notes.rst
Due: none

WIP fixing maint message
  harness/determined/common/api/bindings.py
  master/internal/api_master.go
  master/pkg/model/maintenance_message.go
  proto/pkg/apiv1/master.pb.go
  proto/src/determined/api/v1/master.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

docs: Update release notes (#9044)
  docs/release-notes.rst
Due: none

Start copying from explist_v2
  webui/react/src/pages/FlatTrials/FlatTrials.settings.ts
  webui/react/src/pages/FlatTrials/FlatTrials.tsx
  webui/react/src/pages/ProjectDetails.tsx
Due: web-js-lint-check

Add feature flag
  webui/react/package-lock.json
  webui/react/src/hooks/useFeature.ts
Due: web-js-lint-check, web-misc-lint-check

Change to FlatRuns
  webui/react/src/pages/FlatRuns/FlatRuns.settings.ts
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
  webui/react/src/pages/FlatTrials/FlatTrials.tsx
  webui/react/src/pages/ProjectDetails.tsx
Due: web-js-lint-check

Fix settings and columns
  webui/react/src/components/UserSettings.tsx
  webui/react/src/hooks/useFeature.ts
  webui/react/src/pages/FlatRuns/FlatRuns.settings.ts
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
  webui/react/src/pages/FlatRuns/columns.ts
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/types.ts
Due: web-js-lint-check

Fix columns
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/exceptions.tsx
  webui/react/src/hooks/useFeature.ts
  webui/react/src/pages/FlatRuns/FlatRuns.module.scss
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
  webui/react/src/pages/FlatRuns/columns.ts
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/types.ts
Due: web-js-lint-check, web-misc-lint-check

Update hew
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Due: web-js-lint-check, web-misc-lint-check

Get ready to add api
  proto/pkg/apiv1/api.pb.go
  webui/react/src/pages/FlatRuns/columns.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
Due: web-js-lint-check

update col and fix hyperparam
  master/internal/api_runs.go
  proto/pkg/runv1/run.pb.go
  proto/src/determined/run/v1/run.proto
Due: go-fmt-import, gofumpt, golangci-lint

Use api
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Due: web-js-lint-check

Fix column bugs
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
  webui/react/src/pages/FlatRuns/columns.ts
Due: web-js-lint-check, web-misc-lint-check

fix
  e2e_tests/tests/streaming/test_client.py
Due: none

Fix state and user
  webui/react/src/pages/FlatRuns/columns.ts
Due: web-js-lint-check

fix searcher metric/val return
  master/internal/api_runs.go
  proto/pkg/apiv1/api.pb.go
Due: go-fmt-import, gofumpt, golangci-lint

make searcher metric value optional
  proto/pkg/runv1/run.pb.go
  proto/src/determined/run/v1/run.proto
Due: none

Simplify height
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Due: web-js-lint-check, web-misc-lint-check

Fix tab redirects
  webui/react/src/components/DynamicTabs.tsx
Due: web-js-lint-check

Fix package-lock
  webui/react/package-lock.json
Due: web-misc-lint-check

Rework selection
  webui/react/src/pages/FlatRuns/FlatRuns.settings.ts
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
  webui/react/src/pages/FlatRuns/columns.ts
Due: web-js-lint-check

Feedback + performance
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
  webui/react/src/pages/FlatRuns/columns.ts
Due: web-js-lint-check, web-misc-lint-check

Update hew
  webui/react/package-lock.json
  webui/react/package.json
Due: web-misc-lint-check

Update to latest hew
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
  webui/react/src/pages/FlatRuns/columns.ts
Due: web-js-lint-check, web-misc-lint-check

fix makefile
  master/Makefile
Due: none

Fix after rebase
  harness/determined/common/api/bindings.py
  proto/pkg/apiv1/api.pb.go
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/pages/FlatRuns/FlatRuns.settings.ts
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
  webui/react/src/pages/FlatRuns/columns.ts
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, web-misc-lint-check

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
