Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint
  require_serial: true

test: skip tests that need to get scheduler type (#8911)
  e2e_tests/tests/deploy/test_local.py
Due: none

remove duplicate func from workspace
  master/internal/workspace/postgres_workspace.go
Due: go-fmt-import, gofumpt, golangci-lint

fix formatting
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_test_utils.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: bump version: 0.29.0-rc0 -> 0.29.0-rc1
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

feat: log podspec [DET-9861] (#8899)
  master/internal/rm/kubernetesrm/spec.go
Due: go-fmt-import, gofumpt, golangci-lint

address feedback
  harness/determined/cli/sso.py
Due: none

fix: tolerate strange cases in container addressing
  master/pkg/aproto/master_message.go
  master/pkg/aproto/master_message_test.go
  master/pkg/aproto/testdata/ipv4_only.input.json
  master/pkg/aproto/testdata/ipv4_only.output.json
  master/pkg/aproto/testdata/ipv6_ipv4_mix.input.json
  master/pkg/aproto/testdata/ipv6_ipv4_mix.output.json
Due: go-fmt-import, gofumpt, golangci-lint

test: remove redundant (and brittle) assertion (#8894)
  e2e_tests/tests/cluster/test_workspace_org.py
Due: none

chore: fix mp.pool test_streaming_metrics_api
  e2e_tests/tests/experiment/test_metrics.py
Due: none

fix bun query; do not redefine table nickname
  master/internal/db/postgres_experiments.go
Due: go-fmt-import, gofumpt, golangci-lint

fix git check issues
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_test_utils.go
  master/internal/project/postgres_project.go
Due: go-fmt-import, gofumpt, golangci-lint

fix
  e2e_tests/tests/experiment/test_metrics.py
Due: none

test: upload test results to datadog (#8910)
  .circleci/real_config.yml
  e2e_tests/tests/requirements.txt
Due: none

chore: fix mp.pool test_streaming_metrics_api (#8917)
  e2e_tests/tests/experiment/test_metrics.py
Due: none

add test cases for all filter types
  master/internal/api_runs_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

test: fix failing Go TestResourceCreationFailed test
  master/internal/rm/kubernetesrm/pod_test.go
Due: go-fmt-import, gofumpt, golangci-lint

ci: fix failing nightlies after auth PR (#8904)
  .circleci/real_config.yml
  e2e_tests/tests/experiment/test_custom_searcher.py
Due: none

chore: minor tweaks as modev takes over streaming updates (#8909)
  master/internal/stream/DESIGN.md
  master/internal/stream/projects.go
  master/internal/stream/publisher.go
  master/internal/stream/supervisor.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: canonicalize master urls shim code
  harness/determined/common/api/authentication.py
  harness/tests/common/api/test_authentication.py
Due: none

test: fix failing Go TestResourceCreationFailed test (#8918)
  master/internal/rm/kubernetesrm/pod_test.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: revert pod spec and test changes
  master/internal/rm/kubernetesrm/pod_test.go
  master/internal/rm/kubernetesrm/spec.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: canonicalize master urls shim code (#8919)
  harness/determined/common/api/authentication.py
  harness/tests/common/api/test_authentication.py
Due: none

add clarity to error handling when workspace/project does not exist
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/core_experiment.go
  master/internal/project/postgres_project.go
  master/internal/workspace/postgres_workspace.go
Due: go-fmt-import, gofumpt, golangci-lint

return error for glide table
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Due: web-js-lint-check

remove unnecessary print statements
  master/internal/api_experiment_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

ci: add `file` for codecov
  .circleci/real_config.yml
Due: none

chore: remove this commit later
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
Due: web-js-lint-check

Revert "ci: add `file` for codecov"
  .circleci/real_config.yml
  codecov.yml
Due: none

ci: add `file` for codecov
  .circleci/real_config.yml
  codecov.yml
Due: none

test: remove last quarantined test
  .circleci/real_config.yml
Due: none

fix: small SDK model-related fixes
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/model.py
  harness/determined/experimental/client.py
Due: none

use new context for ProjectExperiments call
  master/internal/api_workspace.go
Due: go-fmt-import, gofumpt, golangci-lint

ci: store `webui/react/junit.xml`
  .circleci/real_config.yml
Due: none

chore: up EBS size to 400gb for master and agents
  harness/determined/deploy/aws/templates/lore.yaml
Due: none

use fresh context for deleting projects, too
  master/internal/api_project.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: bump up ebs size to 400gb for genai deployments
  harness/determined/deploy/aws/templates/lore.yaml
Due: none

chore: revert pod spec and test changes (#8920)
  master/internal/rm/kubernetesrm/pod_test.go
  master/internal/rm/kubernetesrm/spec.go
Due: go-fmt-import, gofumpt, golangci-lint

just rewrite this how so it makes sense, rather than abiding by the old gods
  master/pkg/aproto/master_message.go
  master/pkg/aproto/master_message_test.go
  master/pkg/cproto/address.go
Due: go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
