Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

parameterize job log collection
  .circleci/real_config.yml
Due: none

fix lint
  master/internal/rm/kubernetesrm/gateway_service_test.go
Due: go-fmt-import, gofumpt, golangci-lint

file location
  .circleci/real_config.yml
Due: none

second chmod
  .circleci/real_config.yml
Due: none

fix remove hyperparameters from projects table
  master/internal/db/postgres_experiments.go
  master/internal/experiment/bulk_action.go
  master/static/migrations/20240612111717_remove-project-hparams-column.tx.up.sql
Due: go-fmt-import, gofumpt, golangci-lint

cleanup
  webui/react/src/components/RunActionDropdown.test.tsx
  webui/react/src/components/RunActionDropdown.tsx
  webui/react/src/pages/FlatRuns/FlatRunActionButton.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Due: web-js-lint-check

remove from tests
  master/internal/db/postgres_experiments_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

update tests; add covereage
  master/internal/config/config.go
  master/internal/config/config_test.go
  master/internal/config/resource_config_test.go
  master/internal/config/scheduler_config_test.go
Due: go-fmt-import, gofumpt, golangci-lint

lint fixes
  master/internal/config/config_test.go
  master/internal/config/scheduler_config_test.go
Due: go-fmt-import, gofumpt, golangci-lint

test: worker scope admin fixture [TESTENG-3]
  webui/react/playwright.config.ts
  webui/react/src/e2e/fixtures/api.auth.fixture.ts
  webui/react/src/e2e/fixtures/api.user.fixture.ts
  webui/react/src/e2e/fixtures/global-fixtures.ts
  webui/react/src/e2e/models/BaseComponent.ts
  webui/react/src/e2e/models/ant/Dropdown.ts
  webui/react/src/e2e/models/ant/Popover.ts
  webui/react/src/e2e/models/components/FilterForm/components/FilterGroup.ts
  webui/react/src/e2e/models/hew/DataGrid.ts
  webui/react/src/e2e/tests/userManagement.spec.ts
Due: web-js-lint-check

docs: gateway doc changes p2 (#9499)
  docs/setup-cluster/k8s/internal-task-gateway.rst
  docs/setup-cluster/k8s/setup-multiple-resource-managers.rst
  master/internal/rm/kubernetesrm/gateway_service.go
  master/internal/rm/kubernetesrm/spec.go
  tools/k8s/gateways/envoy-gw.sh
  tools/k8s/gateways/get-and-patch-gateway-crds.sh
  tools/k8s/gateways/gw-epic.sh
  tools/k8s/gateways/utils.sh
Due: go-fmt-import, gofumpt, golangci-lint

add release note
  docs/release-notes/deprecate-roundrobin.rst
Due: none

docs: Update the URL to the genai docs
  docs/model-dev-guide/_index.rst
  docs/model-dev-guide/create-experiment.rst
  docs/model-dev-guide/debug-models.rst
  docs/model-dev-guide/manage-job-queue.rst
  docs/tools/_index.rst
  docs/tools/genai/_index.rst
Due: none

Add chart '1.0.1-dev0 25.8.2 1.7.0 5.15.2 4.24.0 2.4.2 6.15.3 0.15.3 7.0.19 5.41.4 0.2.16 4.0.15' due to release
  aioli-helm-chart_1.0.1-dev0.tgz
  index.yaml
Due: none

fix formatting
  docs/release-notes/deprecate-roundrobin.rst
Due: none

make fmt
  docs/model-dev-guide/create-experiment.rst
  docs/model-dev-guide/manage-job-queue.rst
Due: none

docs: Update the URL to the genai docs (#9507)
  docs/model-dev-guide/_index.rst
  docs/model-dev-guide/create-experiment.rst
  docs/model-dev-guide/debug-models.rst
  docs/model-dev-guide/manage-job-queue.rst
  docs/tools/_index.rst
  docs/tools/genai/_index.rst
Due: none

fix: ensure number of project keys possible for testing is not exceeded (#9501)
  master/internal/api_project_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: check non-multiples of slots per pod for kubernetes rm [MD-403] (#9393)
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/kubernetesrm/resource_pool_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

test: upload unit and intg tests to datadog[infeng-501] (#9505)
  .circleci/real_config.yml
Due: none

chore: remove debug logs that were accidentally committed (#9503)
  master/internal/api_trials.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: mockery new fmt (#9508)
  master/.mockery.yaml
Due: none

remove need for explicit singluar podPort tracking
  master/internal/rm/kubernetesrm/job.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/spec.go
  master/internal/rm/kubernetesrm/spec_test.go
Due: go-fmt-import, gofumpt, golangci-lint

title, filter, sort, column picker fixes
  webui/react/src/components/ColumnPickerMenu.tsx
  webui/react/src/components/FilterForm/components/FilterFormStore.ts
  webui/react/src/components/MultiSortMenu.tsx
  webui/react/src/components/Searches/Searches.tsx
  webui/react/src/components/TableActionBar.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
  webui/react/src/pages/FlatRuns/columns.ts
Due: web-js-lint-check

fmt
  webui/react/src/components/ColumnPickerMenu.tsx
  webui/react/src/components/MultiSortMenu.tsx
  webui/react/src/components/Searches/Searches.tsx
  webui/react/src/components/TableActionBar.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Due: web-js-lint-check

try join
  master/internal/api_runs.go
  master/internal/experiment_filter.go
Due: go-fmt-import, gofumpt, golangci-lint

change status code returned by DefaultNamespace and handle it in webui
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/dispatcherrm/dispatcher_resource_manager.go
  webui/react/src/components/WorkspaceCreateModal.tsx
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

feat: add API & SDK support for arbitrary run metadata
  harness/determined/common/api/bindings.py
  harness/determined/core/_train.py
  master/internal/api_experiment.go
  master/internal/api_runs.go
  master/internal/api_runs_intg_test.go
  master/internal/db/postgres_runs.go
  master/internal/run/postgres_run_intg_test.go
  master/internal/run/runs.go
  master/internal/run/runs_test.go
  master/pkg/model/experiment.go
  master/pkg/model/run.go
  master/static/migrations/20240409101349_add-arbitrary-metadata-table.tx.down.sql
  master/static/migrations/20240409101349_add-arbitrary-metadata-table.tx.up.sql
  master/static/migrations/20240412145811_add-metadata-to-trials-view.tx.down.sql
  master/static/migrations/20240412145811_add-metadata-to-trials-view.tx.up.sql
  master/static/srv/proto_get_trials_plus.sql
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/run.pb.go
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/run.proto
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

refactor: remove merge, add get logic, seperate run metadata into different table
  harness/determined/common/api/bindings.py
  harness/determined/core/_train.py
  master/internal/api_runs.go
  master/internal/api_runs_intg_test.go
  master/internal/db/postgres_runs.go
  master/internal/run/postgres_run_intg_test.go
  master/internal/run/runs.go
  master/internal/run/runs_test.go
  master/pkg/model/experiment.go
  master/pkg/model/run.go
  master/static/migrations/20240409101349_add-arbitrary-metadata-table.tx.down.sql
  master/static/migrations/20240409101349_add-arbitrary-metadata-table.tx.up.sql
  master/static/migrations/20240412145811_add-metadata-to-trials-view.tx.down.sql
  master/static/migrations/20240412145811_add-metadata-to-trials-view.tx.up.sql
  proto/pkg/runv1/run.pb.go
  proto/src/determined/run/v1/run.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

fix: adjust get_metadata sdk response
  harness/determined/core/_train.py
Due: none

refactor: shift triggers & view work into new view_and_triggers directory
  master/static/migrations/20240412145811_add-metadata-to-trials-view.tx.up.sql
  master/static/migrations/20240520133440_add-arbitrary-metadata-table.tx.up.sql
  master/static/views_and_triggers/runs.sql
  master/static/views_and_triggers/up/metrics.sql
Due: none

fix: avoid summary_metric FOR UPDATE error due to nullable left join on trials view
  master/internal/db/postgres_trial.go
  proto/pkg/apiv1/api.pb.go
Due: go-fmt-import, gofumpt, golangci-lint

refactor: adjust return type to optional
  harness/determined/core/_train.py
Due: none

chore: ensure `get_metadata` return type matches
  harness/determined/core/_train.py
Due: none

refactor: correct binding usage & responses
  harness/determined/core/_train.py
Due: none

refactor: use bindings and return updated metadata when setting metadata in Core API
  harness/determined/core/_train.py
Due: none

refactor: raise error instead of assert in Core API & return empty map if run has no metadata instead of error
  harness/determined/core/_train.py
  master/internal/api_runs.go
  master/internal/db/postgres_runs.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: cleanup after rebase
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/run.pb.go
Due: none

chore: cleanup returns and remove dead code
  master/internal/api_runs.go
  master/internal/db/postgres_runs.go
Due: go-fmt-import, gofumpt, golangci-lint

Update master/static/migrations/20240520133440_add-arbitrary-metadata-table.tx.up.sql
  master/static/migrations/20240520133440_add-arbitrary-metadata-table.tx.up.sql
Due: none
