Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

refactor layer of abstraction to actually be an abstraction
  master/internal/api/handler.go
  master/internal/api/stream.go
  master/internal/stream/system.go
  master/internal/stream/system_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: button in 404 page
  webui/react/src/components/PageNotFound.module.scss
Due: none

feat: Allow passing in swagger json as an argument
  bindings/generate_bindings_py.py
  bindings/generate_bindings_ts.py
Due: none

feat: Allow passing in swagger json as an argument (#7843)
  bindings/generate_bindings_py.py
  bindings/generate_bindings_ts.py
Due: none

chore: include api op and param description in py bindings (#7798)
  bindings/generate_bindings_py.py
  bindings/swagger_parser.py
  harness/determined/common/api/bindings.py
  proto/patches/api.json
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check

remove limit from methods
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/trial.py
  harness/tests/determined/common/experimental/test_experiment.py
Due: none

iter -> list
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/model.py
Due: none

remove tests
  harness/determined/common/experimental/trial.py
  harness/tests/determined/common/experimental/test_experiment.py
Due: none

have echo still be io specific
  master/internal/api/handler.go
  master/internal/stream/system.go
Due: go-fmt-import, gofumpt, golangci-lint

linting
  harness/determined/common/experimental/experiment.py
  harness/determined/experimental/client.py
  harness/tests/determined/common/experimental/test_determined.py
  harness/tests/determined/common/experimental/test_experiment.py
Due: none

chore: bump version: 0.25.2-dev0 -> 0.26.0-dev0
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

chore: lock api state for backward compatibility check
  proto/buf.image.bin
Due: none

chore: lock published urls to preserve redirects
  docs/.redirects/all_published_urls_ever.json
Due: none

chore: bump version: 0.26.0-dev0 -> 0.26.0-rc0
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

update tests
  webui/react/src/components/UserSettings.test.tsx
Due: web-js-lint-check

fix: avoid hiding Pivot/Tabs in single trial experiment
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
Due: web-js-lint-check

remove an important
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.module.scss
Due: none

fix: avoid hiding tabs in single trial experiment [WEB-1651] (#7941)
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.module.scss
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
Due: web-js-lint-check

chore: bunify & tidy up internal/user
  master/internal/api_checkpoint.go
  master/internal/api_command.go
  master/internal/api_experiment.go
  master/internal/experiment.go
  master/internal/user/external_users.go
  master/internal/user/postgres_agentusergroup.go
  master/internal/user/postgres_users.go
  master/pkg/model/agent_user_group.go
Due: go-fmt-import, gofumpt, golangci-lint

Remove references to --auto-bind-mount
  docs/interfaces/notebooks.rst
  docs/setup-cluster/deploy-cluster/on-prem/deploy.rst
Due: none

fix: button in 404 page (#7936)
  webui/react/src/components/PageNotFound.module.scss
Due: none

refactor: css in docs (#7934)
  docs/assets/styles/determined.css
Due: none

fix: clear selection after action (#7921)
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
Due: web-js-lint-check

fix(allocation): allocation lifetimes should contain resource lifetimes
  master/internal/rm/actorrm/actor_resource_manager.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/kubernetesrm/resource_pool.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: show deep files in experiment code viewer
  webui/react/src/components/kit/CodeEditor.tsx
Due: web-js-lint-check

Remove references to --auto-bind-mount (#7910)
  docs/interfaces/notebooks.rst
  docs/setup-cluster/deploy-cluster/on-prem/deploy.rst
Due: none

fix(allocation): allocation lifetimes should contain resource lifetimes (#7944)
  master/internal/rm/actorrm/actor_resource_manager.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/kubernetesrm/resource_pool.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: bunify & tidy up internal/user (#7886)
  master/internal/api_checkpoint.go
  master/internal/api_command.go
  master/internal/api_experiment.go
  master/internal/experiment.go
  master/internal/user/external_users.go
  master/internal/user/postgres_agentusergroup.go
  master/internal/user/postgres_users.go
  master/pkg/model/agent_user_group.go
Due: go-fmt-import, gofumpt, golangci-lint

fix(scheduler): tolerate missing groups in priority scheduling by skipping them
  master/internal/rm/tasklist/job.go
Due: go-fmt-import, gofumpt, golangci-lint

add back limit
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/trial.py
Due: none

fix(scheduler): tolerate missing groups in priority scheduling by skipping them (#7947)
  master/internal/rm/tasklist/job.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: add toast to UI kit
  webui/react/src/App.tsx
  webui/react/src/components/AuthToken.tsx
  webui/react/src/components/ConfigureAgentModal.tsx
  webui/react/src/components/CreateGroupModal.tsx
  webui/react/src/components/CreateUserModal.tsx
  webui/react/src/components/DeleteGroupModal.tsx
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/components/ExperimentMoveModal.tsx
  webui/react/src/components/ManageGroupsModal.tsx
  webui/react/src/components/ModelCreateModal.tsx
  webui/react/src/components/ModelMoveModal.tsx
  webui/react/src/components/Navigation.tsx
  webui/react/src/components/PasswordChangeModal.tsx
  webui/react/src/components/ProjectMoveModal.tsx
  webui/react/src/components/UserSettings.tsx
  webui/react/src/components/WorkspaceMemberAddModal.tsx
  webui/react/src/components/WorkspaceMemberRemoveModal.tsx
  webui/react/src/components/kit/ClipboardButton.tsx
  webui/react/src/components/kit/Toast.tsx
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpointRegister.module.scss
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpointRegister.tsx
  webui/react/src/omnibar/tree-extension/index.ts
  webui/react/src/omnibar/tree-extension/trees/actions.tsx
  webui/react/src/pages/Admin/GroupManagement.tsx
  webui/react/src/pages/Admin/UserManagement.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/pages/SignIn.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
  webui/react/src/utils/dialogApi.ts
  webui/react/src/utils/error.ts
Due: web-js-lint-check

fix: Update tensorboard modal to filter managed experiments serverside
  harness/determined/common/api/bindings.py
  master/internal/api_tensorboard.go
  master/internal/experiment/bulk_action.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/experiment.pb.go
  proto/src/determined/api/v1/experiment.proto
  webui/react/src/components/ExperimentTensorBoardModal.tsx
  webui/react/src/constant.ts
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

use optional bool
  master/internal/api_experiment_intg_test.go
  master/internal/api_tensorboard.go
  master/internal/experiment/bulk_action.go
  proto/pkg/apiv1/experiment.pb.go
  proto/src/determined/api/v1/experiment.proto
Due: go-fmt-import, gofumpt, golangci-lint

check cangetexperiment intg test
  master/internal/api_experiment_intg_test.go
  webui/react/src/components/BatchActionConfirmModal.tsx
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

limit webui changes
  webui/react/src/components/BatchActionConfirmModal.tsx
  webui/react/src/components/ExperimentTensorBoardModal.tsx
  webui/react/src/constant.ts
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
Due: web-js-lint-check

add back unit test for limit
  harness/tests/determined/common/experimental/test_experiment.py
Due: none
