Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint
  require_serial: true

add wider regexes
  master/cmd/cover-regex/cover_regex.go
Due: go-fmt-import, gofumpt, golangci-lint

add parent_id column
  master/static/migrations/20231206140233_add-parent-id-task-config.tx.down.sql
  master/static/migrations/20231206140233_add-parent-id-task-config.tx.up.sql
Due: none

test: skip all failing `mmdetection` tests. (#8540)
  .circleci/real_config.yml
  e2e_tests/pytest.ini
  e2e_tests/tests/conftest.py
  e2e_tests/tests/model_hub/test_mmdetection.py
Due: none

rp tests
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

replace word 'parent' with 'forked'
  master/internal/api_generic_tasks.go
Due: go-fmt-import, gofumpt, golangci-lint

use setattr
  model_hub/model_hub/huggingface/_config_parser.py
  model_hub/model_hub/huggingface/_trial.py
  model_hub/model_hub/mmdetection/_trial.py
  model_hub/model_hub/utils.py
  model_hub/tests/test_hf.py
  model_hub/tests/test_mmdetection.py
Due: none

Revert "chore: Use Hew SplitPane [WEB-1682] (#8482)"
  webui/react/src/components/SplitPane.module.scss
  webui/react/src/components/SplitPane.tsx
  webui/react/src/pages/F_ExpList/ComparisonView.tsx
Due: web-js-lint-check

chore: upgraded /x/net version to 0.17.0
  go.mod
  go.sum
Due: none

fix: truncate password hash for bcrypt length limit
  master/pkg/model/user.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: reformatted go.sum
  go.sum
Due: none

create task with a parent
  harness/determined/cli/task.py
  harness/determined/common/api/bindings.py
  master/internal/api_generic_tasks.go
  master/internal/db/postgres_tasks.go
  master/pkg/model/task.go
  proto/pkg/apiv1/task.pb.go
  proto/pkg/taskv1/task.pb.go
  proto/src/determined/api/v1/task.proto
  proto/src/determined/task/v1/task.proto
Due: go-fmt-import, gofumpt, golangci-lint

postgres_agent
  master/internal/db/postgres_agent.go
  master/internal/db/postgres_agent_intg_test.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

update resource pools modal
  webui/react/src/components/ResourcePoolDetailsModalComponent.tsx
  webui/react/src/pages/Cluster/ClusterOverview.tsx
Due: web-js-lint-check

a count test in db experiments
  master/internal/db/postgres_agent_intg_test.go
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_test_utils.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: resolved rebase conflict
  master/pkg/model/user.go
Due: go-fmt-import, gofumpt, golangci-lint

try running on different db since we touch cluster time
  master/internal/db/postgres_agent_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

git status!
  master/internal/db/database.go
  master/internal/db/postgres_agent_intg_test.go
  master/internal/db/postgres_snapshots.go
Due: go-fmt-import, gofumpt, golangci-lint

namespace is not a dictionary
  model_hub/model_hub/mmdetection/_trial.py
Due: none

docs: Describe remote user management webui (#8479)
  docs/_shared/attn-enterprise-edition.txt
  docs/manage/security/rbac.rst
  docs/manage/users-remote.rst
  docs/manage/users.rst
  docs/reference/deploy/master-config-reference.rst
Due: none

namespace is not a dictionary part 2
  model_hub/model_hub/huggingface/_trial.py
Due: none

fix: prevent workspace list race condition
  webui/react/src/pages/WorkspaceList.tsx
Due: web-js-lint-check

use better ref type
  webui/react/src/pages/WorkspaceList.tsx
Due: web-js-lint-check

mmdet may not need attrdict at all
  model_hub/tests/test_mmdetection.py
Due: none

context dir
  master/internal/command/command.go
  master/internal/db/postgres_tasks.go
  master/internal/db/postgres_tasks_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

this should be a dict
  model_hub/model_hub/mmdetection/_trial.py
Due: none

data config is also a dict
  model_hub/model_hub/mmdetection/_trial.py
Due: none

linting
  model_hub/model_hub/huggingface/_trial.py
  model_hub/model_hub/mmdetection/_trial.py
  model_hub/model_hub/utils.py
  model_hub/tests/test_hf.py
  model_hub/tests/test_mmdetection.py
Due: none

update tasklist modal
  webui/react/src/components/TaskList.module.scss
  webui/react/src/components/TaskList.tsx
  webui/react/src/components/TaskListModalComponent.module.scss
  webui/react/src/components/TaskListModalComponent.tsx
Due: web-js-lint-check

fix test flake
  master/internal/task/allocation.go
  master/internal/task/allocation_service.go
  master/internal/task/allocation_service_test.go
Due: go-fmt-import, gofumpt, golangci-lint

more linting
  model_hub/model_hub/huggingface/_config_parser.py
  model_hub/model_hub/huggingface/_trial.py
  model_hub/model_hub/utils.py
Due: none

linting
  harness/determined/cli/__init__.py
Due: none

fix: makes metrics append-only & resolves deadlock on listener timeouts (#8520)
  master/internal/stream/metrics.go
  master/internal/stream/system.go
  master/internal/stream/test_util.go
  master/static/migrations/20231116155837_add-metrics-trigger.tx.down.sql
  master/static/migrations/20231116155837_add-metrics-trigger.tx.up.sql
  master/stream.py
Due: go-fmt-import, gofumpt, golangci-lint

add checkpoints streaming files
  master/internal/stream/authz_basic_impl.go
  master/internal/stream/authz_iface.go
  master/internal/stream/checkpoints.go
  master/internal/stream/system.go
  master/static/migrations/20231126215150_add-checkpoints-trigger.tx.down.sql
  master/static/migrations/20231126215150_add-checkpoints-trigger.tx.up.sql
  master/stream.py
Due: go-fmt-import, gofumpt, golangci-lint

adding intg tests
  master/internal/stream/checkpoints.go
  master/internal/stream/system_intg_test.go
  master/internal/stream/test_util.go
  master/static/migrations/20231126215150_add-checkpoints-trigger.tx.up.sql
  master/test/streamdata/stream_data.go
  master/test/streamdata/stream_trials.sql
Due: go-fmt-import, gofumpt, golangci-lint

add down migration and address feedback
  master/internal/stream/checkpoints.go
  master/static/migrations/20231126215150_add-checkpoints-trigger.tx.down.sql
Due: go-fmt-import, gofumpt, golangci-lint

argparse import change and remove an extra authentication
  harness/determined/cli/shell.py
Due: none

bad copy-paste
  tools/scripts/update-docker-tags.sh
Due: none

chore: remove OIDC Config from OSS (#8534)
  master/internal/config/config.go
  master/internal/config/oidc_config.go
Due: go-fmt-import, gofumpt, golangci-lint

replace antd card with surface
  webui/react/src/components/Metadata/EditableMetadata.tsx
  webui/react/src/components/Metadata/MetadataCard.tsx
Due: web-js-lint-check

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
