Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: web-js-lint-check
        name: Web JS Lint Check
        entry: python ./pre-commit/web_lint_check.py js
        language: system
        files: '^webui/react/src/'
        types_or: [javascript, jsx, ts, tsx]
      - id: web-css-lint-check
        name: Web CSS Lint Check
        entry: python ./pre-commit/web_lint_check.py css
        language: system
        files: '^webui/react/src/'
        types_or: [css, less, scss]
      - id: web-misc-lint-check
        name: Web Misc Lint Check
        entry: python ./pre-commit/web_lint_check.py misc
        language: system
        files: '^webui/react/'
        types_or: [markdown, json]

remove canGetPermissions
  webui/react/src/hooks/usePermissions.ts
Due: web-js-lint-check

fix fmt
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/Settings/Settings.test.tsx
Due: web-js-lint-check

choir: ran fmt
  webui/react/src/pages/Settings/UserManagement.test.tsx
Due: web-js-lint-check

fat: add timeout for loading state
  webui/react/src/pages/Settings/UserManagement.test.tsx
Due: web-js-lint-check

ci: add release notes header with link [INFENG-115]
  agent/.goreleaser.yml
  helm/.goreleaser.yml
  master/.goreleaser.yml
Due: none

fix: set tests to fit returned subtree
  webui/react/src/pages/Settings/UserManagement.test.tsx
Due: web-js-lint-check

Add comments and get default branch
  .github/workflows/check-rebaseable.yml
Due: none

Add release notes header with link [INFENG-115] (#5327)
  agent/.goreleaser.yml
  helm/.goreleaser.yml
  master/.goreleaser.yml
Due: none

fix: Group management page role edit [WEB-544] (#5339)
  webui/react/src/hooks/useModal/UserSettings/useModalCreateGroup.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalGroupRoles.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalGroupRoles.tsx
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/Settings/GroupManagement.tsx
  webui/react/src/pages/Settings/Settings.test.tsx
  webui/react/src/pages/Settings/Settings.tsx
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
Due: web-js-lint-check

ci: Fix previous tag logic (#5103)
  agent/Makefile
  helm/Makefile
  master/Makefile
Due: none

adjust typescript settings, use of localStorage/MemoryStore types
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/declarations.d.ts
  webui/react/src/globalStorage.ts
  webui/react/src/hooks/useSettings.ts
  webui/react/src/hooks/useStorage.ts
  webui/react/src/react-app-env.d.ts
  webui/react/src/shared/utils/storage.ts
Due: web-js-lint-check

tsfix
  webui/react/src/shared/configs/tsconfig.json
Due: web-misc-lint-check

fix: shiyuan's change to custom searcher release note
  docs/release-notes.rst
Due: none

lint
  docs/release-notes.rst
Due: none

Revert "lint"
  docs/release-notes.rst
Due: none

Revert "fix: shiyuan's change to custom searcher release note"
  docs/release-notes.rst
Due: none

test ci and test shared
  webui/react/src/hooks/useSettings.test.tsx
  webui/react/src/shared/utils/storage.test.ts
Due: web-js-lint-check

fix: Shiyuan's suggestion to release note
  docs/release-notes.rst
Due: none

ci: Add rebase check on PR/main push [INFENG-98] (#5190)
  .github/workflows/check-rebaseable.yml
Due: none

ci: fix action env vars
  .github/workflows/check-rebaseable.yml
Due: none

fix: Shiyuan's suggestion to release note (#5362)
  docs/release-notes.rst
Due: none

ci: add more credentials [INFENG-98]
  .github/workflows/check-rebaseable.yml
Due: none

ci: add more credentials [INFENG-98] (#5363)
  .github/workflows/check-rebaseable.yml
Due: none

LINT
  master/internal/api_workspace.go
  master/internal/workspace/authz_basic_impl.go
Due: none

crud
  master/internal/api_workspace.go
  master/internal/api_workspace_intg_test.go
  master/internal/mocks/workspace_authz_iface.go
  master/internal/workspace/authz_basic_impl.go
  master/internal/workspace/authz_iface.go
  master/pkg/model/workspace.go
  master/static/migrations/20221019161428_add-storage-config-to-workspaces.tx.down.sql
  master/static/migrations/20221019161428_add-storage-config-to-workspaces.tx.up.sql
  master/static/srv/get_workspace.sql
  proto/src/determined/api/v1/workspace.proto
  proto/src/determined/workspace/v1/workspace.proto
Due: none

proto comment
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check

proto gen
  master/internal/api_experiment_intg_test.go
  proto/src/determined/workspace/v1/workspace.proto
Due: none

cli + create exp impl
  harness/determined/cli/workspace.py
  harness/determined/common/api/bindings.py
  master/internal/core_experiment.go
  master/static/srv/get_workspaces.sql
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check

release notes
  docs/release-notes/checkpoint-workspaced.rst
  harness/determined/cli/workspace.py
Due: none

fix test
  master/internal/api_workspace_intg_test.go
Due: none

docs: remove references to PBT
  docs/training/hyperparameter/handle-trial-errors.rst
  docs/training/hyperparameter/search-methods/hp-pbt.rst
  docs/training/hyperparameter/search-methods/overview.rst
Due: none

{} as reset
  e2e_tests/tests/cluster/test_workspace_org.py
  harness/determined/cli/workspace.py
  master/internal/api_workspace.go
Due: none

Tests
  master/internal/api_workspace_intg_test.go
  master/internal/core_experiment.go
  master/static/migrations/20221031144158_add-storage-config-to-workspaces.tx.down.sql
  master/static/migrations/20221031144158_add-storage-config-to-workspaces.tx.up.sql
Due: none

docs: remove references to PBT (#5257)
  docs/training/hyperparameter/handle-trial-errors.rst
  docs/training/hyperparameter/search-methods/hp-pbt.rst
  docs/training/hyperparameter/search-methods/overview.rst
Due: none

chore: Enable library checks for TypeScript; update types [WEB-191] (#5360)
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/declarations.d.ts
  webui/react/src/globalStorage.ts
  webui/react/src/hooks/useSettings.test.tsx
  webui/react/src/hooks/useSettings.ts
  webui/react/src/hooks/useStorage.ts
  webui/react/src/react-app-env.d.ts
  webui/react/src/shared/configs/tsconfig.json
  webui/react/src/shared/utils/storage.test.ts
  webui/react/src/shared/utils/storage.ts
Due: web-js-lint-check, web-misc-lint-check

list dont return checkpoint info
  harness/determined/cli/workspace.py
  master/static/srv/get_workspaces.sql
Due: none

ci: Switch checkout method [INFENG-98]
  .github/workflows/check-rebaseable.yml
Due: none

Various fixes
  .github/workflows/check-rebaseable.yml
Due: none

Check if not EE (can still run in forks, etc)
  .github/workflows/check-rebaseable.yml
Due: none
