Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

feat: add bind endpoint (#7027)
  master/internal/api_resourcepool.go
  master/internal/db/postgres_rp_workspace_bindings.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: unbind rp workspace binding handler + db helper (#7011)
  master/internal/api_resourcepool.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/mocks/workspace_authz_iface.go
  master/internal/workspace/authz_basic_impl.go
  master/internal/workspace/authz_iface.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: add new SVG icons to UI kit (#7142)
  webui/react/src/components/FilterForm/TableFilter.tsx
  webui/react/src/components/Table/TableFilterDropdown.tsx
  webui/react/src/components/Table/TableFilterMultiSearch.tsx
  webui/react/src/components/TaskList.tsx
  webui/react/src/components/kit/Empty.module.scss
  webui/react/src/components/kit/Icon.module.scss
  webui/react/src/components/kit/Icon.test.tsx
  webui/react/src/components/kit/Icon.tsx
  webui/react/src/pages/ExperimentList.settings.ts
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/RowHeightMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/styles/icons.scss
Due: web-js-lint-check

ci(circle/test-unit): split off gpu unit tests (#7207)
  .circleci/config.yml
Due: none

format keys
  webui/react/src/components/kit/InputShortcut.tsx
  webui/react/src/utils/shortcut.ts
Due: web-js-lint-check

check workspace and permissions
  webui/react/src/App.tsx
  webui/react/src/components/JupyterLabGlobal.tsx
Due: web-js-lint-check

lint
  master/pkg/syncx/queue/queue.go
  master/pkg/syncx/queue/queue_test.go
Due: go-fmt-import, gofumpt, golangci-lint

dont really need max size
  master/pkg/syncx/queue/queue.go
  master/pkg/syncx/queue/queue_test.go
Due: go-fmt-import, gofumpt, golangci-lint

remove more unnecessary
  master/pkg/syncx/queue/queue.go
  master/pkg/syncx/queue/queue_test.go
Due: go-fmt-import, gofumpt, golangci-lint

Update master/pkg/syncx/queue/queue.go
  master/pkg/syncx/queue/queue.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: add generic queue for Go
  master/pkg/syncx/queue/queue.go
  master/pkg/syncx/queue/queue_test.go
Due: go-fmt-import, gofumpt, golangci-lint

add MetricName
  master/pkg/model/metrics.go
Due: go-fmt-import, gofumpt, golangci-lint

update tests to use the require module
  master/pkg/model/metrics_test.go
Due: go-fmt-import, gofumpt, golangci-lint

preset slice len
  master/internal/api_trials.go
Due: go-fmt-import, gofumpt, golangci-lint

don't export metricName yet
  master/internal/api_trials.go
  master/pkg/model/metrics.go
Due: go-fmt-import, gofumpt, golangci-lint

chore(go): add a generic queue as a drop-in actor inbox replacement (#6962)
  master/pkg/syncx/queue/queue.go
  master/pkg/syncx/queue/queue_test.go
Due: go-fmt-import, gofumpt, golangci-lint

chore(actors): remove AllocationRef from tasklist.TaskList
  master/internal/api_tasks.go
  master/internal/api_trials.go
  master/internal/core.go
  master/internal/rm/actorrm/actor_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/fair_share.go
  master/internal/rm/agentrm/mock_test.go
  master/internal/rm/agentrm/priority.go
  master/internal/rm/agentrm/priority_test.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/agentrm/round_robin.go
  master/internal/rm/agentrm/scaling.go
  master/internal/rm/agentrm/scheduler_test.go
  master/internal/rm/allocationmap/allocation_map.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/resource_manager_iface.go
  master/internal/rm/tasklist/task_list.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

ci: notify via Slack on cherry-pick conflict during release
  .github/workflows/track-prs-for-release.yml
  .isort.cfg
  tools/scripts/gql.py
  tools/scripts/track-pr
Due: none

ci: notify via Slack on cherry-pick conflict during release (#7211)
  .github/workflows/track-prs-for-release.yml
  .isort.cfg
  tools/scripts/gql.py
  tools/scripts/track-pr
Due: none

chore: delete templates when deleting workspace. with user consent
  harness/determined/cli/workspace.py
  master/internal/api_workspace.go
Due: go-fmt-import, gofumpt, golangci-lint

test?
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

wip setting up the protobuf
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/trial/v1/trial.proto
Due: none

add migration for primary key on table
  master/static/migrations/20230626140104_add-rp-workspace-bindings-constraint.tx.down.sql
  master/static/migrations/20230626140104_add-rp-workspace-bindings-constraint.tx.up.sql
Due: none

fix: add missing searcher types
  webui/react/src/components/FilterForm/components/type.ts
Due: web-js-lint-check

linting
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: chmod on windows
  harness/determined/cli/shell.py
  harness/setup.py
Due: none

test: sort metrics by type in multiTrialSample (#7210)
  master/internal/api_trials.go
  master/pkg/model/metrics.go
  master/pkg/model/metrics_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: delete templates on workspace delete (#7204)
  harness/determined/cli/workspace.py
  master/internal/api_workspace.go
Due: go-fmt-import, gofumpt, golangci-lint

oschmod doesn't accept WindowsPath objects
  harness/determined/cli/shell.py
Due: none

fix: sort of `GetWorkspaceProjects` API
  master/internal/api_workspace.go
Due: go-fmt-import, gofumpt, golangci-lint

Revert "fix: master returns rbacEnabled = false; change filter for rbac tests (#7100)"
  e2e_tests/pytest.ini
  e2e_tests/tests/api_utils.py
  e2e_tests/tests/cluster/managed_cluster.py
  e2e_tests/tests/cluster/managed_cluster_k8s.py
  e2e_tests/tests/cluster/test_agent_disable.py
  e2e_tests/tests/cluster/test_groups.py
  e2e_tests/tests/cluster/test_master_restart.py
  e2e_tests/tests/cluster/test_oauth2_scim_client.py
  e2e_tests/tests/cluster/test_rbac.py
  e2e_tests/tests/cluster/test_users.py
  e2e_tests/tests/cluster/test_users_experiment_api.py
  e2e_tests/tests/cluster/test_workspace_org.py
  e2e_tests/tests/cluster/utils.py
  e2e_tests/tests/conftest.py
  e2e_tests/tests/deploy/test_local.py
  e2e_tests/tests/experiment/test_port_registry.py
  e2e_tests/tests/utils.py
  master/internal/config/authz_config.go
Due: go-fmt-import, gofumpt, golangci-lint

reuse common.util.deprecated for cli deprecation warnings
  harness/determined/common/declarative_argparse.py
Due: none

fix a docstring
  harness/determined/core/_train.py
Due: none

chore(actors): remove GetResourcesContainerState
  master/internal/rm/agentrm/agent.go
Due: go-fmt-import, gofumpt, golangci-lint

remove redundant trust_remote_code
  examples/hf_trainer_api/hf_image_classification/image_classification.py
Due: none

feat: add trust_remote_code to hf dsat examples
  examples/hf_trainer_api/hf_image_classification/adaptive.yaml
  examples/hf_trainer_api/hf_image_classification/const.yaml
  examples/hf_trainer_api/hf_image_classification/const_epochs.yaml
  examples/hf_trainer_api/hf_image_classification/deepspeed.yaml
  examples/hf_trainer_api/hf_image_classification/distributed.yaml
  examples/hf_trainer_api/hf_image_classification/image_classification.py
  examples/hf_trainer_api/hf_language_modeling/adaptive.yaml
  examples/hf_trainer_api/hf_language_modeling/const.yaml
  examples/hf_trainer_api/hf_language_modeling/const_epochs.yaml
  examples/hf_trainer_api/hf_language_modeling/deepspeed.yaml
  examples/hf_trainer_api/hf_language_modeling/distributed.yaml
  examples/hf_trainer_api/hf_language_modeling/run_clm.py
Due: none

also fix underscores in docs
  docs/model-dev-guide/apis-howto/deepspeed/autotuning.rst
Due: none

fix: replace dsat cli underscores with dashes
  harness/determined/pytorch/dsat/_utils.py
Due: none
