Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

mistake changes
  harness/determined/pytorch/_pytorch_trial.py
Due: none

chore(performance): add initial Makefile and README
  performance/.gitignore
  performance/Makefile
  performance/README.md
  performance/reports/.gitkeep
Due: none

Define parameters in yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
Due: none

chore: handle case where steps completed is more than max length (#7816)
  harness/determined/layers/_workload_sequencer.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Due: none

chore(performance): add initial Makefile and README (#7914)
  performance/.gitignore
  performance/Makefile
  performance/README.md
  performance/reports/.gitkeep
Due: none

chore: less verbose mockery output
  master/Makefile
Due: none

chore: less verbose mockery output (#7822)
  master/Makefile
Due: none

chore: fix docs reference in cli
  harness/determined/cli/experiment.py
Due: none

chore: Improve failure diagnostics in shell test [FE-216] (#7932)
  e2e_tests/tests/command/test_shell.py
Due: none

chore: fix docs reference in cli [MLG-891] (#7926)
  harness/determined/cli/experiment.py
Due: none

feat: single experiment continue
  docs/release-notes/continue-experiment.rst
  e2e_tests/tests/cluster/test_exp_continue.py
  e2e_tests/tests/fixtures/mnist_pytorch/failable.yaml
  e2e_tests/tests/fixtures/mnist_pytorch/failable_model_def.py
  harness/determined/cli/experiment.py
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/core_experiment.go
  master/internal/experiment.go
  master/internal/trial.go
  master/pkg/model/experiment.go
  master/pkg/model/job.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/experiment.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/experiment.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

squashed
  docs/release-notes/continue-experiment.rst
  e2e_tests/.flake8
  e2e_tests/tests/cluster/test_exp_continue.py
  e2e_tests/tests/cluster/test_master_restart.py
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/experiment.go
  master/internal/restore.go
  master/pkg/model/job.go
  proto/pkg/apiv1/experiment.pb.go
  proto/src/determined/api/v1/experiment.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

chore: bump version: 0.26.0-rc1 -> 0.26.0-rc2
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

chore: add last_login column to users table/model (#7948)
  harness/determined/common/api/bindings.py
  master/internal/api_experiment_intg_test.go
  master/internal/api_ntsc_intg_test.go
  master/internal/api_tasks_intg_test.go
  master/internal/api_trials_intg_test.go
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
  master/internal/user/postgres_users.go
  master/pkg/model/user.go
  master/static/migrations/20230921162913_add_login_time.tx.down.sql
  master/static/migrations/20230921162913_add_login_time.tx.up.sql
  proto/buf.image.bin
  proto/pkg/userv1/user.pb.go
  proto/src/determined/user/v1/user.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

fix: Change measure of text lines in log containers [WEB-1664] (#7860)
  webui/react/src/components/kit/LogViewer/LogViewer.tsx
  webui/react/src/components/kit/internal/useGetCharMeasureInContainer.ts
  webui/react/src/components/kit/internal/useResize.ts
Due: web-js-lint-check

fix
  webui/react/src/utils/error.ts
Due: web-js-lint-check

feedback
  docs/release-notes/continue-experiment.rst
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/trial.go
Due: go-fmt-import, gofumpt, golangci-lint

rename class to instance class
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/aws/constants.py
  harness/determined/deploy/aws/deployment_types/base.py
Due: none

more renaming
  harness/determined/deploy/aws/templates/simple-rds.yaml
Due: none

fix: update `modified_at` by insert in user table (#7949)
  master/static/migrations/20230920130838_add-update-modified-at-in-user-table-by-insert.tx.down.sql
  master/static/migrations/20230920130838_add-update-modified-at-in-user-table-by-insert.tx.up.sql
Due: none

renaming class to type
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/aws/constants.py
  harness/determined/deploy/aws/deployment_types/base.py
  harness/determined/deploy/aws/templates/simple-rds.yaml
Due: none

update help string
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/aws/templates/simple-rds.yaml
Due: none

add warn message when gcp node name is truncated
  master/internal/rm/agentrm/provisioner/gcp/gcp.go
Due: go-fmt-import, gofumpt, golangci-lint

refactor: uses bootem channel approach for permission changes
  master/internal/stream/system.go
  master/pkg/stream/stream.go
Due: go-fmt-import, gofumpt, golangci-lint

refactor: add retry attempts to demo
  master/stream.py
Due: none

feat: Add instance flavor and size arguments for det deploy aws [INFENG-227] (#7931)
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/aws/constants.py
  harness/determined/deploy/aws/deployment_types/base.py
  harness/determined/deploy/aws/templates/simple-rds.yaml
Due: none

refactor: removed subprocess call in demo
  master/stream.py
Due: none

chore(circleci): sort imported orbs
  .circleci/config.yml
Due: none

avoid remapping exps just to measure if we have some known unmanaged
  webui/react/src/components/ExperimentTensorBoardModal.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
Due: web-js-lint-check

serverside check
  master/internal/api_tensorboard.go
  master/internal/db/postgres_experiments.go
Due: go-fmt-import, gofumpt, golangci-lint

tidy up web
  webui/react/src/components/ExperimentTensorBoardModal.tsx
Due: web-js-lint-check

pass selected exp ids to tensorboard even if they're not in visible set
  webui/react/src/components/ExperimentTensorBoardModal.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
Due: web-js-lint-check

fix: handle nil actor message and nil actor errors in agent RM (#7951)
  master/internal/rm/agentrm/agent_resource_manager.go
Due: go-fmt-import, gofumpt, golangci-lint

docs: document prometheus auth
  docs/integrations/prometheus/prometheus.rst
Due: none

chore(codeowners): map performance dir to web team (#7916)
  .github/CODEOWNERS
Due: none

clean up
  e2e_tests/tests/cluster/test_exp_continue.py
  master/internal/api_experiment.go
  master/internal/core_experiment.go
  master/internal/experiment.go
  master/internal/trial.go
Due: go-fmt-import, gofumpt, golangci-lint

docs: document prometheus auth (#7957)
  docs/integrations/prometheus/prometheus.rst
Due: none

rebase fixes
  e2e_tests/tests/cluster/test_exp_continue.py
  master/internal/experiment.go
  master/internal/restore.go
  master/internal/trial.go
Due: go-fmt-import, gofumpt, golangci-lint
