Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint
  require_serial: true

docs: add release notes for 0.26.2 (#8245)
  docs/release-notes.rst
  docs/release-notes/core-v2-tensorboard.rst
  docs/release-notes/python-sdk.rst
Due: none

chore: bump version: 0.26.2-dev0 -> 0.26.3-dev0
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

chore: bump version: 0.26.3-dev0 -> 0.26.3-rc0
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

chore: bump version: 0.26.3-rc0 -> 0.26.3-rc1
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

add testing
  webui/react/src/stores/userSettings.test.tsx
Due: web-js-lint-check

ci: update wrapper config to always run
  .circleci/config.yml
Due: none

chore: bump version: 0.26.3-rc1 -> 0.26.3-rc2
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

ci: update wrapper config to run on tags
  .circleci/config.yml
Due: none

ci: update wrapper config to run on tags (#8296)
  .circleci/config.yml
Due: none

fix: prevent settings store from triggering rerenders on poll (#8295)
  webui/react/src/stores/userSettings.test.tsx
  webui/react/src/stores/userSettings.tsx
Due: web-js-lint-check

update useasync import
  webui/react/src/hooks/useAsync.ts
Due: web-js-lint-check

rename useAsync/add documentation/clear state on reload
  webui/react/.eslintrc.js
  webui/react/src/hooks/useAsync.ts
  webui/react/src/pages/Admin/UserManagement.tsx
Due: web-js-lint-check

update refresh type
  webui/react/src/pages/Admin/UserManagement.tsx
Due: web-js-lint-check

update api
  webui/react/src/services/types.ts
Due: web-js-lint-check

feat: new user management filters
  webui/react/src/hooks/useLoadable.ts
  webui/react/src/pages/Admin/UserManagement.settings.ts
  webui/react/src/pages/Admin/UserManagement.tsx
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Due: web-js-lint-check

design feedback #1
  webui/react/src/pages/Admin/UserManagement.tsx
Due: web-js-lint-check

adjust dropdown sizes
  webui/react/src/pages/Admin/UserManagement.tsx
Due: web-js-lint-check

clear up documentation
  webui/react/src/hooks/useAsync.ts
Due: web-js-lint-check

fix type issues
  webui/react/src/pages/Admin/UserManagement.tsx
Due: web-js-lint-check

add bar margin
  webui/react/src/pages/Admin/UserManagement.module.scss
  webui/react/src/pages/Admin/UserManagement.tsx
Due: web-js-lint-check

remove columns from settings to prevent confusion
  webui/react/src/pages/Admin/UserManagement.settings.ts
  webui/react/src/pages/Admin/UserManagement.tsx
Due: web-js-lint-check

add back default widths
  webui/react/src/pages/Admin/UserManagement.tsx
Due: web-js-lint-check

fix lint
  webui/react/src/pages/Admin/UserManagement.tsx
  webui/react/src/services/types.ts
Due: web-js-lint-check

rename columns to match mocks
  webui/react/src/pages/Admin/UserManagement.tsx
Due: web-js-lint-check

add omitted design changes
  webui/react/src/pages/Admin/UserManagement.settings.ts
  webui/react/src/pages/Admin/UserManagement.tsx
Due: web-js-lint-check

render text with renamed columns
  webui/react/src/pages/Admin/UserManagement.tsx
Due: web-js-lint-check

fix: check externalConfig is enabled before setting det_jwt as auth header
  master/internal/api_command.go
  master/internal/grpcutil/api.go
  master/internal/user/service.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: hide log policies until it is released
  master/pkg/schemas/expconf/experiment_config.go
Due: go-fmt-import, gofumpt, golangci-lint

adjust column widths and order
  webui/react/src/pages/Admin/UserManagement.settings.ts
Due: web-js-lint-check

wip
  examples/tutorials/mnist_pytorch/model_def.py
Due: none

wording tweaks
  examples/tutorials/mnist_pytorch/README.md
  examples/tutorials/mnist_pytorch/train.py
Due: none

wip: port mnist_pytorch to trainer API
  examples/tutorials/mnist_pytorch/const.yaml
  examples/tutorials/mnist_pytorch/data.py
  examples/tutorials/mnist_pytorch/layers.py
  examples/tutorials/mnist_pytorch/model.py
  examples/tutorials/mnist_pytorch/model_def.py
  examples/tutorials/mnist_pytorch/train.py
Due: none

train.py
  harness/tests/experiment/pytorch/test_examples.py
Due: none

pr comments
  examples/tutorials/mnist_pytorch/README.md
  examples/tutorials/mnist_pytorch/adaptive.yaml
  examples/tutorials/mnist_pytorch/data.py
  examples/tutorials/mnist_pytorch/dist_random.yaml
  examples/tutorials/mnist_pytorch/train.py
Due: none

wip
  examples/tutorials/mnist_pytorch/README.md
  examples/tutorials/mnist_pytorch/adaptive.yaml
  examples/tutorials/mnist_pytorch/const.yaml
  examples/tutorials/mnist_pytorch/data.py
  examples/tutorials/mnist_pytorch/dist_random.yaml
  examples/tutorials/mnist_pytorch/distributed.yaml
  examples/tutorials/mnist_pytorch/train.py
Due: none

readme update
  examples/tutorials/mnist_pytorch/README.md
Due: none

adjust selects
  webui/react/src/pages/Admin/UserManagement.tsx
Due: web-js-lint-check

left align time relativity
  webui/react/src/components/Table/Table.tsx
Due: web-js-lint-check

docs: quick fix for version dropdown
  docs/_static/version-switcher/versions.json
Due: none

docs: quick fix for version dropdown (#8300)
  docs/_static/version-switcher/versions.json
Due: none

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
