Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint
  require_serial: true

remove webhook after test
  e2e_tests/tests/cluster/test_webhooks.py
Due: none

fix
  e2e_tests/tests/cluster/test_webhooks.py
Due: none

address comments
  master/internal/configpolicies/task_config_policy.go
  master/pkg/model/task_config_policy.go
  master/pkg/model/task_config_policy_test.go
  proto/pkg/configpolicyv1/configpolicy.pb.go
  proto/pkg/taskconfigpolicyv1/taskconfigpolicy.pb.go
  proto/src/determined/configpolicy/v1/configpolicy.proto
Due: go-fmt-import, gofumpt, golangci-lint

rename default to uncategorized
  harness/determined/transformers/_hf_callback.py
Due: none

changes per swagger
  harness/determined/common/api/bindings.py
  master/internal/api_user.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/user.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/user.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

lint proto
  proto/src/determined/api/v1/user.proto
Due: none

remove DEFAULT
  harness/determined/transformers/_hf_callback.py
Due: none

fix: Hf callback metric naming (#9887)
  harness/determined/transformers/_hf_callback.py
Due: none

add admin nonadmin user auth
  master/internal/api_user.go
  master/internal/user/authz_basic_impl.go
  master/internal/user/authz_iface.go
  master/internal/user/authz_permissive.go
  master/internal/user/authz_rbac.go
  master/internal/user/postgres_long_lived_tokens.go
  master/internal/user/postgres_long_lived_tokens_intg_test.go
  proto/buf.image.bin
Due: go-fmt-import, gofumpt, golangci-lint

lint
  e2e_tests/tests/cluster/test_webhooks.py
Due: none

Add chart '1.2.0-dev13 0.15.3 7.0.19 5.41.4 0.2.16 4.0.15 25.8.2 1.7.0 5.15.2 4.24.0 2.4.2 6.15.3' due to release
  aioli-helm-chart_1.2.0-dev13.tgz
  index.yaml
Due: none

Add chart '1.2.0-dev14 0.15.3 7.0.19 5.41.4 4.0.15 0.2.16 25.8.2 4.24.0 2.4.2 1.7.0 5.15.2 6.15.3' due to release
  aioli-helm-chart_1.2.0-dev14.tgz
  index.yaml
Due: none

ci: add e2e bulk kill test (#9868)
  webui/react/src/e2e/README.md
  webui/react/src/e2e/tests/experimentList.spec.ts
Due: web-js-lint-check, web-misc-lint-check

address PR comments
  master/internal/configpolicy/task_config_policy.go
Due: go-fmt-import, gofumpt, golangci-lint

test: login redirect with nested route (#9881)
  webui/react/src/e2e/models/pages/Cluster.ts
  webui/react/src/e2e/tests/auth.spec.ts
Due: web-js-lint-check

test: prove we can kill all experiments in a project [ET-241]
  master/internal/experiment/bulk_action_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

test: small rewrite for PR comment
  master/internal/experiment/bulk_action_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

test: cover project id filtering on bulk actions [ET-138]
  master/internal/experiment/bulk_action_intg_test.go
  master/internal/experiment/bulk_action_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: inconsistent timezone handling in daily allocation aggregation
  master/internal/db/postgres_cluster.go
  master/internal/db/postgres_cluster_intg_test.go
  master/static/srv/update_aggregated_allocation.sql
Due: go-fmt-import, gofumpt, golangci-lint

ci: fix master-config syntax
  helm/charts/determined/templates/master-config.yaml
Due: none

fix: inconsistent timezone handling in daily allocation aggregation (#9888)
  master/internal/db/postgres_cluster.go
  master/internal/db/postgres_cluster_intg_test.go
  master/static/srv/update_aggregated_allocation.sql
Due: go-fmt-import, gofumpt, golangci-lint

ci: fix master-config syntax (#9889)
  helm/charts/determined/templates/master-config.yaml
Due: none

address comments
  master/internal/configpolicy/task_config_policy.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: Delete workspace after webhook test
  e2e_tests/tests/cluster/test_webhooks.py
Due: none

chore: add unit testing to resolvePodJobName
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/jobs_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: add backwards compatibility for Pods to Jobs for k8s <v1.27 [CM-461] (#9878)
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/jobs_test.go
Due: go-fmt-import, gofumpt, golangci-lint

add E2E test for POST API
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

naming
  e2e_tests/tests/cluster/test_webhooks.py
Due: none

add GET CRUD ops
  master/internal/user/postgres_long_lived_tokens.go
  master/internal/user/postgres_long_lived_tokens_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

add GET API structure
  harness/determined/common/api/bindings.py
  master/internal/api_user.go
  master/internal/user/postgres_long_lived_tokens.go
  master/pkg/model/user.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/user.pb.go
  proto/pkg/userv1/user.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/user.proto
  proto/src/determined/user/v1/user.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

add test-intg for GET API
  master/internal/api_user_intg_test.go
  proto/pkg/apiv1/user.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/user.proto
Due: go-fmt-import, gofumpt, golangci-lint

Add chart '1.2.0-dev15 0.15.3 7.0.19 5.41.4 0.2.16 4.0.15 25.8.2 1.7.0 5.15.2 4.24.0 2.4.2 6.15.3' due to release
  aioli-helm-chart_1.2.0-dev15.tgz
  index.yaml
Due: none

cleanup
  webui/react/src/e2e/tests/projectsWorkspaces.spec.ts
Due: web-js-lint-check

fix lint and make structs fields nullable
  master/internal/configpolicy/task_config_policy.go
Due: go-fmt-import, gofumpt, golangci-lint

Add chart '1.2.0-dev14+619d6d4b 7.0.19 5.41.4 4.0.15 0.2.16 25.8.2 2.4.2 1.7.0 5.15.2 4.24.0 6.15.3 0.15.3' due to release
  aioli-helm-chart_1.2.0-dev14+619d6d4b.tgz
  index.yaml
Due: none

feat: add RBAC for task config policies
  harness/determined/common/api/bindings.py
  master/internal/cluster/authz_basic_impl.go
  master/internal/cluster/authz_iface.go
  master/internal/cluster/authz_permissive.go
  master/internal/cluster/authz_rbac.go
  master/internal/workspace/authz_basic_impl.go
  master/internal/workspace/authz_iface.go
  master/internal/workspace/authz_permissive.go
  master/internal/workspace/authz_rbac.go
  proto/pkg/rbacv1/rbac.pb.go
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

add tests and migration
  master/internal/db/postgres_rbac_intg_test.go
  master/static/migrations/20240827132157_add-config-policies-permissions.tx.up.sql
Due: go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
