Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

test: Add e2e test for py streaming client
  e2e_tests/tests/streaming/test_client.py
Due: none

chore: pin pandas and ray versions for ray tests (#8932)
  examples/features/ports/startup-hook.sh
Due: none

build: bump up ci setup_remote_docker version (#8942)
  .circleci/real_config.yml
Due: none

fixed
  master/Makefile
Due: none

build
  agent/Makefile
  master/Makefile
Due: none

chore: set CGO_ENABLED=0
  agent/Makefile
  master/Makefile
Due: none

fix: [RM-6] remove global max-slots-per-pod default when multiple RMs… (#8938)
  master/internal/config/config.go
  master/internal/config/config_test.go
Due: go-fmt-import, gofumpt, golangci-lint

lint
  e2e_tests/tests/streaming/test_client.py
Due: none

chore: remove support for Python 3.7; prefer 3.8 (#7329)
  .circleci/real_config.yml
  CONTRIBUTING.md
  docs/model-dev-guide/api-guides/apis-howto/_index.rst
  docs/tools/cli/cli-ug.rst
  e2e_tests/mypy.ini
  e2e_tests/tests/command/test_run.py
  e2e_tests/tests/config.py
  e2e_tests/tests/model_hub/test_mmdetection.py
  harness/determined/cli/dev.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/mypy.ini
  model_hub/mypy.ini
  schemas/mypy.ini
  tools/mypy.ini
  tools/scripts/bumpenvs.yaml
Due: none

test: CLI tests in CI use new Python images
  .circleci/real_config.yml
Due: none

add a new type
  webui/react/src/pages/ResourcePool/NodeElement.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
Due: web-js-lint-check

feat: add resource allocation modal
  webui/react/src/components/ResourceAllocationModal.module.scss
  webui/react/src/components/ResourceAllocationModal.tsx
  webui/react/src/pages/ResourcePool/NodeElement.module.scss
  webui/react/src/pages/ResourcePool/NodeElement.tsx
  webui/react/src/pages/ResourcePool/Topology.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.module.scss
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/types.ts
Due: web-js-lint-check

code improvement
  webui/react/src/components/ResourceAllocationModal.tsx
  webui/react/src/pages/ResourcePool/NodeElement.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
Due: web-js-lint-check

add rp link
  webui/react/src/components/ResourceAllocationModal.tsx
Due: web-js-lint-check

visual fixes
  webui/react/src/components/ResourceAllocationModal.module.scss
  webui/react/src/components/ResourceAllocationModal.tsx
  webui/react/src/pages/ResourcePool/NodeElement.tsx
Due: web-js-lint-check

fix typo and improve code
  webui/react/src/components/ResourceAllocationModal.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
Due: web-js-lint-check

attend to PR comments
  webui/react/src/components/ResourceAllocationModal.module.scss
  webui/react/src/components/ResourceAllocationModal.tsx
  webui/react/src/pages/ResourcePool/NodeElement.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
Due: web-js-lint-check

add finshed/not running state visualization
  webui/react/src/components/ResourceAllocationModal.tsx
  webui/react/src/pages/ResourcePool/NodeElement.module.scss
  webui/react/src/pages/ResourcePool/NodeElement.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
Due: web-js-lint-check

remove usage of useAsync
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
Due: web-js-lint-check

wrapped up
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
Due: web-js-lint-check

remove unused css
  webui/react/src/components/ResourceAllocationModal.module.scss
Due: none

attend to PR comments
  webui/react/src/components/ResourceAllocationModal.module.scss
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
Due: web-js-lint-check

fixed node coloring while runnning experiment/trial and create a new effect for the accelerator data
  webui/react/src/components/ResourceAllocationModal.module.scss
  webui/react/src/components/ResourceAllocationModal.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
Due: web-js-lint-check

attend to PR comments
  webui/react/src/components/ResourceAllocationModal.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
Due: web-js-lint-check

adjusted to design requirements
  webui/react/src/components/ResourceAllocationModal.module.scss
  webui/react/src/components/ResourceAllocationModal.tsx
  webui/react/src/ioTypes.ts
  webui/react/src/pages/ResourcePool/NodeElement.module.scss
  webui/react/src/pages/ResourcePool/NodeElement.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.module.scss
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Due: web-js-lint-check

add taskIds to the decoder
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Due: web-js-lint-check

attend to PR comments
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
Due: web-js-lint-check

change condition and add comment about logic
  webui/react/src/pages/ResourcePool/NodeElement.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
Due: web-js-lint-check

latest; except for some test updates
  master/internal/rm/multirm/multirm.go
  master/internal/rm/multirm/multirm_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

moving around resource pool defn
  master/internal/experiment_job_service.go
Due: go-fmt-import, gofumpt, golangci-lint

add test for newMultiRM
  master/internal/rm/multirm/multirm.go
  master/internal/rm/multirm/multirm_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

added config tests for RM-38
  master/internal/config/config.go
  master/internal/config/config_test.go
  master/internal/config/resource_manager_config.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: add multirm module
  master/internal/checkpoint_gc.go
  master/internal/command/command_job_service.go
  master/internal/config/config.go
  master/internal/config/config_test.go
  master/internal/config/resource_config.go
  master/internal/core.go
  master/internal/experiment_job_service.go
  master/internal/rm/multirm/multirm.go
  master/internal/rm/multirm/multirm_intg_test.go
  master/internal/rm/setup.go
Due: go-fmt-import, gofumpt, golangci-lint

removing intg test tag
  master/internal/rm/multirm/multirm_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

final edits
  master/internal/core.go
  master/internal/rm/multirm/multirm.go
  master/internal/rm/multirm/multirm_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

changing lookup if rm is not named
  master/internal/rm/multirm/multirm.go
  master/internal/rm/multirm/multirm_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

build: bump ci cpu image to latest ubuntu 2004 (#8940)
  .circleci/real_config.yml
Due: none

chore: update old e-mail address
  agent/.goreleaser.yml
  agent/Dockerfile
  docs/conf.py
  harness/setup.py
  master/.goreleaser.yml
  master/Dockerfile
  model_hub/setup.py
Due: none
