Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

generate master certificate on startup instead of lazily
  master/internal/proxy/proxy.go
Due: go-fmt-import, gofumpt, golangci-lint

simplifying function and polish
  master/internal/proxy/tls.go
Due: go-fmt-import, gofumpt, golangci-lint

lint
  master/internal/api_notebook.go
  master/internal/proxy/tls.go
Due: go-fmt-import, gofumpt, golangci-lint

move cert and key store migration to top
  master/static/migrations/20230627110731_add-cert-and-key-store.tx.down.sql
  master/static/migrations/20230627110731_add-cert-and-key-store.tx.up.sql
Due: none

test: Add a unit test for direct downloading from S3. (#7174)
  harness/tests/determined/common/experimental/test_checkpoint.py
  harness/tests/determined/common/storage/__init__.py
  harness/tests/determined/common/storage/test_s3.py
  harness/tests/fixtures/api_responses.py
  harness/tests/fixtures/checkpoint.json
  harness/tests/requirements/requirements-harness.txt
Due: none

continue type alias rm
  harness/determined/common/experimental/trial.py
  harness/determined/experimental/client.py
Due: none

undeprecate
  harness/determined/common/experimental/trial.py
  harness/determined/core/_train.py
Due: none

avoid adding steps_completed to TrialMetrics
  harness/determined/common/experimental/trial.py
Due: none

fix: text overflow
  webui/react/src/components/kit/CodeEditor/CodeEditor.module.scss
  webui/react/src/components/kit/internal/monokai.css
Due: none

leave tsb generic support for another pr
  harness/determined/core/_train.py
Due: none

fix: mobile view
  webui/react/src/components/kit/CodeEditor/CodeEditor.module.scss
Due: none

move comment
  harness/determined/cli/shell.py
Due: none

simplify test
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

review feedback
  master/internal/task/allgather.go
  master/internal/task/allgather/allgather.go
  master/internal/task/preemptible/preemptible.go
Due: go-fmt-import, gofumpt, golangci-lint

chore(actors): refactor allgather
  master/internal/api_tasks.go
  master/internal/task/all_gather.go
  master/internal/task/allgather.go
  master/internal/task/allgather/allgather.go
  master/internal/task/allgather/allgather_api_test.go
  master/internal/task/allgather/service.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/idle/watcher_test.go
  master/internal/task/service.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: Windows file permissions (#7215)
  harness/determined/cli/shell.py
  harness/setup.py
Due: none

fix: text overflow in code view (#7205)
  webui/react/src/components/kit/CodeEditor/CodeEditor.module.scss
  webui/react/src/components/kit/internal/monokai.css
Due: none

feat: add num of experiments in quick search modal
  webui/react/src/pages/WorkspaceDetails/WorkspaceQuickSearch.tsx
Due: web-js-lint-check

pr comments
  harness/determined/common/api/_util.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/tests/determined/common/experimental/test_experiment.py
Due: none

feat: List RPs Avaiable to Workspace [DET-9531]
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

wip getting the endpoints lined up
  harness/determined/common/api/bindings.py
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/trial.pb.go
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/trial.proto
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check

address review feedback
  master/internal/api_resourcepool.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: fill in missing intg tests [DET-9520] (#7222)
  master/internal/api_resourcepool.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
  master/static/migrations/20230626140104_add-rp-workspace-bindings-constraint.tx.down.sql
  master/static/migrations/20230626140104_add-rp-workspace-bindings-constraint.tx.up.sql
Due: go-fmt-import, gofumpt, golangci-lint

lint
  harness/determined/common/experimental/determined.py
  harness/determined/experimental/client.py
  harness/tests/determined/common/experimental/test_experiment.py
Due: none

wip, trying to add the create trial info endpoint
  master/internal/api_trials.go
  master/static/srv/insert_trial_source_info.sql
Due: go-fmt-import, gofumpt, golangci-lint

fix: sort of `GetWorkspaceProjects` API (#7214)
  master/internal/api_workspace.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: lock api state for backward compatibility check
  proto/buf.image.bin
Due: none

chore: lock published urls to preserve redirects
  docs/.redirects/all_published_urls_ever.json
Due: none

chore: bump version: 0.23.2-dev0 -> 0.23.2-rc0
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.ts
Due: web-js-lint-check

Update master/internal/task/preemptible/preemptible.go
  master/internal/task/preemptible/preemptible.go
Due: go-fmt-import, gofumpt, golangci-lint

Docs: Spell out acronyms in a release note
  docs/release-notes/gcp_cluster_management.rst
Due: none

Fix: use user id for new explist user filter
  master/internal/experiment_filter.go
  webui/react/src/components/FilterForm/components/FilterField.tsx
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

fix select label display
  webui/react/src/components/FilterForm/components/FilterField.tsx
Due: web-js-lint-check

fix typing
  harness/determined/common/experimental/determined.py
Due: none

use useObservable hook
  webui/react/src/components/FilterForm/components/FilterField.tsx
Due: web-js-lint-check

feat: List RPs Avaiable to Workspace [DET-9531] (#7176)
  master/internal/api_workspace.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
  master/internal/mocks/workspace_authz_iface.go
  master/internal/workspace/authz_basic_impl.go
  master/internal/workspace/authz_iface.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: experiment list comparison view
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
Due: web-js-lint-check

Docs: Spell out acronyms in a release note (#7247)
  docs/release-notes/gcp_cluster_management.rst
Due: none

make key not optional
  webui/react/src/utils/shortcut.ts
Due: web-js-lint-check

feat: add num of experiments in quick search modal (#7223)
  webui/react/src/pages/WorkspaceDetails/WorkspaceQuickSearch.tsx
Due: web-js-lint-check
