Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

docs: helm doc changes for multirm [RM-37] (#9055)
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  helm/charts/determined/values.yaml
Due: none

fix: spacing issue with exp list pagination
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Due: web-js-lint-check

OSS changes squashed
  docs/release-notes/health-check.rst
  harness/determined/common/api/bindings.py
  master/internal/core.go
  master/internal/core_intg_test.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/resource_managers_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/multirm/multirm.go
  master/internal/rm/multirm/multirm_intg_test.go
  master/internal/rm/resource_manager_iface.go
  master/pkg/model/health.go
  proto/scripts/swagger.py
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

regen protobuf
  proto/buf.image.bin
Due: none

deploy to resource-mgmt
  .github/CODEOWNERS
Due: none

fix: API migration to improve performance in resource pool page (#9056)
  webui/react/src/pages/ResourcePool/ResourcepoolDetail.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/services/types.ts
  webui/react/src/stores/cluster.tsx
  webui/react/src/types.ts
  webui/react/src/utils/cluster.test.ts
  webui/react/src/utils/cluster.ts
Due: web-js-lint-check

change test config
  e2e_tests/tests/streaming/test_client.py
Due: none

WIP: mocks with pass
  webui/react/run-mocked-playwright.sh
  webui/react/src/e2e/mocks/format-recorder-config.sh
  webui/react/src/e2e/mocks/predicate-generator.js
  webui/react/src/e2e/mocks/proxy-always-template.json
  webui/react/src/e2e/mocks/saved-imposters.json
Due: web-js-lint-check, web-misc-lint-check

feat: expose `hyperparameters` in experiments APIs
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  proto/pkg/experimentv1/experiment.pb.go
  proto/src/determined/experiment/v1/experiment.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

test: add intg test
  master/internal/api_experiment_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: remove all deprecated experiment `config` peroperty in web
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/ioTypes.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Due: web-js-lint-check

fix: lint
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Due: web-js-lint-check

kill run
  master/internal/api_runs.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: remove parent_id from create_experiment
  harness/determined/common/experimental/determined.py
  harness/determined/experimental/client.py
Due: none

extend timeout
  webui/react/playwright.config.ts
Due: web-js-lint-check

timeout
  webui/react/playwright.config.ts
Due: web-js-lint-check

fix: remove parent_id from create_experiment (#9068)
  harness/determined/common/experimental/determined.py
  harness/determined/experimental/client.py
Due: none

fix: fix TestScheduleRetention
  master/internal/api_logretention_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

add filter
  harness/determined/common/api/bindings.py
  master/internal/api_runs.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/src/determined/api/v1/api.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

Revert "mark slotstats as optional"
  harness/determined/common/api/bindings.py
  proto/pkg/agentv1/agent.pb.go
  proto/src/determined/agent/v1/agent.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check

wip: trial devcluster
  .circleci/real_config.yml
  webui/react/run-mocked-playwright.sh
  webui/react/src/e2e/mocks/format-recorder-config.sh
  webui/react/src/e2e/mocks/proxy-always-template.json
  webui/react/src/e2e/mocks/proxy-once.json
Due: web-misc-lint-check

install pyhon for devcluster
  .circleci/real_config.yml
Due: none

move migration
  master/static/migrations/20240328144809_add-model-versions-trigger.tx.down.sql
  master/static/migrations/20240328144809_add-model-versions-trigger.tx.up.sql
Due: none

change image
  .circleci/real_config.yml
Due: none

fix step order
  .circleci/real_config.yml
Due: none

fix
  e2e_tests/tests/streaming/test_client.py
Due: none

fix: fix TestScheduleRetention (#9069)
  master/internal/api_logretention_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: slot stats are not filled in everywhere (#9070)
  master/internal/api_agent_test.go
  master/internal/api_agents.go
  master/pkg/model/agent.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: add /health endpoint
  master/internal/core.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/resource_managers_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/multirm/multirm.go
  master/internal/rm/multirm/multirm_intg_test.go
  master/internal/rm/resource_manager_iface.go
  master/pkg/model/health.go
Due: go-fmt-import, gofumpt, golangci-lint

stream gen undo
  harness/determined/common/streams/wire.py
  webui/react/src/services/stream/wire.ts
Due: web-js-lint-check

finished
  docs/release-notes/health-check.rst
  harness/determined/common/api/bindings.py
  harness/determined/common/streams/wire.py
  master/internal/core.go
  master/internal/core_intg_test.go
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/stream/wire.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

fix lint
  master/internal/core_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

DOCS
  docs/release-notes/health-check.rst
Due: none

python for dev cluster
  .circleci/real_config.yml
Due: none

add health check
  proto/scripts/swagger.py
Due: none

pip install
  .circleci/real_config.yml
Due: none
