Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

it thinks an object is a dict instead of namespace
  model_hub/model_hub/huggingface/_trial.py
Due: none

fix(oidc): add required groups claim for user group sync w/ Okta (#1153)
  master/internal/plugin/oidc/service.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: bump version: 0.26.5-rc2 -> 0.26.5-rc3
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

aws done
  master/pkg/checkpoints/s3/s3checkpoints.go
Due: go-fmt-import, gofumpt, golangci-lint

check error
  master/pkg/checkpoints/s3/s3checkpoints.go
Due: go-fmt-import, gofumpt, golangci-lint

test: add more Go db tests to internal/db (#8553)
  master/cmd/cover-regex/cover_regex.go
  master/internal/command/command.go
  master/internal/db/database.go
  master/internal/db/postgres_agent.go
  master/internal/db/postgres_agent_intg_test.go
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
  master/internal/db/postgres_snapshots.go
  master/internal/db/postgres_tasks.go
  master/internal/db/postgres_tasks_intg_test.go
  master/internal/db/postgres_test_utils.go
Due: go-fmt-import, gofumpt, golangci-lint

refactor ModelVersionHeader
  webui/react/src/components/UseNotebookModalComponent.module.scss
  webui/react/src/components/UseNotebookModalComponent.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
Due: web-js-lint-check

refactor WorkspaceQuickSearch
  webui/react/src/pages/WorkspaceDetails/WorkspaceQuickSearch.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceQuickSearchModalComponent.module.scss
  webui/react/src/pages/WorkspaceDetails/WorkspaceQuickSearchModalComponent.tsx
Due: web-js-lint-check

remove workspace and project error
  webui/react/src/components/ExperimentContinueModal.tsx
Due: web-js-lint-check

feat: streaming updates checkpoints (#8474)
  master/internal/stream/authz_basic_impl.go
  master/internal/stream/authz_iface.go
  master/internal/stream/checkpoints.go
  master/internal/stream/system.go
  master/internal/stream/system_intg_test.go
  master/internal/stream/test_util.go
  master/static/migrations/20231126215150_add-checkpoints-trigger.tx.down.sql
  master/static/migrations/20231126215150_add-checkpoints-trigger.tx.up.sql
  master/stream.py
  master/test/streamdata/stream_data.go
  master/test/streamdata/stream_trials.sql
Due: go-fmt-import, gofumpt, golangci-lint

docs: add release notes for 0.26.5
  docs/release-notes.rst
  docs/release-notes/8488-tqdm.rst
  docs/release-notes/fix-log-policies-match-itself.rst
  docs/release-notes/oidc-pachyderm-env-vars.rst
  docs/release-notes/oidc-sync-groups.rst
Due: none

add intg test for exp
  master/internal/stream/system_intg_test.go
  master/internal/stream/test_util.go
  master/test/streamdata/stream_data.go
  master/test/streamdata/stream_trials.sql
Due: go-fmt-import, gofumpt, golangci-lint

refactor intg test and fix bugs
  master/internal/stream/system_intg_test.go
  master/internal/stream/test_util.go
  master/static/migrations/20231126215150_add-checkpoints-trigger.tx.up.sql
  master/test/streamdata/stream_data.go
Due: go-fmt-import, gofumpt, golangci-lint

fixing checkpoint intg test
  master/internal/stream/system_intg_test.go
  master/stream.py
  master/test/streamdata/stream_data.go
Due: go-fmt-import, gofumpt, golangci-lint

vanishing release notes
  docs/release-notes.rst
Due: none

Apply suggestions from code review
  docs/release-notes.rst
Due: none

fmt
  docs/release-notes.rst
Due: none

address feedback and fix tests
  master/internal/stream/system_intg_test.go
  master/test/streamdata/stream_data.go
  master/test/streamdata/stream_data.sql
Due: go-fmt-import, gofumpt, golangci-lint

docs: add release notes for 0.26.5 (#8564)
  docs/release-notes.rst
  docs/release-notes/8488-tqdm.rst
  docs/release-notes/fix-log-policies-match-itself.rst
Due: none

chore: bump version: 0.26.5-rc3 -> 0.26.5
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

Add chart '0.26.5' due to release
  determined-helm-chart_0.26.5.tgz
  index.yaml
Due: none

make setup function more extensible
  master/internal/stream/system_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: bump version: 0.26.5 -> 0.26.6
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

Add chart '0.26.6' due to release
  determined-helm-chart_0.26.6.tgz
  index.yaml
Due: none

remove build dependency on get-deps we don't do this for other
  webui/react/Makefile
Due: none

add auto truncation for full commit hashes given to lore-version
  harness/determined/deploy/aws/cli.py
Due: none

Revert "SEP: avoid setting up playwright in production environment"
  webui/react/Makefile
Due: none

fix: prevent workspace list race condition (#8524)
  webui/react/src/pages/WorkspaceList.tsx
Due: web-js-lint-check

fixes
  harness/determined/cli/task.py
  master/internal/api_generic_tasks.go
  master/pkg/tasks/task_generic.go
  proto/src/determined/api/v1/task.proto
Due: go-fmt-import, gofumpt, golangci-lint

docs: Fix workspaces projects left nav
  docs/manage/workspaces.rst
Due: none

refactor cluster historical usage
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/pages/Cluster/ClusterHistoricalUsage.tsx
  webui/react/src/pages/Cluster/ClusterHistoricalUsageCsvModalComponent.tsx
Due: web-js-lint-check, web-misc-lint-check

docs: Fix workspaces projects left nav (#8565)
  docs/manage/workspaces.rst
Due: none

renaming
  webui/react/src/components/TaskList.tsx
  webui/react/src/pages/Cluster/ClusterOverview.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpHeatMaps.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpScatterPlots.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceQuickSearch.tsx
Due: web-js-lint-check

hparams, data_config to namespace
  model_hub/model_hub/mmdetection/_trial.py
Due: none

cast namespace to dict for a mmdet function
  model_hub/model_hub/mmdetection/_trial.py
Due: none

test: store test results for `test-e2e-gke`. (#8560)
  .circleci/real_config.yml
Due: none

Create a genai docs test
  docs/genai-llm/_index.rst
  docs/genai-llm/create-dataset.rst
  docs/genai-llm/evaluate.rst
  docs/genai-llm/finetune.rst
  docs/genai-llm/initialize.rst
  docs/genai-llm/open-jupyterlab.rst
  docs/genai-llm/run-prompt.rst
  docs/genai-llm/shutdown.rst
Due: none

add pages to index
  docs/genai-llm/_index.rst
  docs/genai-llm/create-dataset.rst
  docs/genai-llm/evaluate.rst
  docs/genai-llm/finetune.rst
  docs/genai-llm/initialize.rst
  docs/genai-llm/open-jupyterlab.rst
  docs/genai-llm/run-prompt.rst
  docs/genai-llm/shutdown.rst
  docs/index.rst
Due: none

format and content updates
  docs/genai-llm/_index.rst
  docs/genai-llm/open-jupyterlab.rst
Due: none
