Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

fix: replace TODO with ctx for deleteTensorboard (#8332)
  master/internal/api_experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

lint
  e2e_tests/tests/experiment/test_delete.py
Due: none

cleanup TODO
  master/internal/trial.go
Due: go-fmt-import, gofumpt, golangci-lint

remove TODO
  e2e_tests/tests/cluster/test_log_policies.py
Due: none

lint
  master/internal/trial.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: ft trial slot capacity check [DET-9897]
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/trial.go
Due: go-fmt-import, gofumpt, golangci-lint

lint and bugfix
  e2e_tests/tests/cluster/test_log_policies.py
  master/internal/trial.go
Due: go-fmt-import, gofumpt, golangci-lint

Optimize
  master/internal/trial.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: ft trial slot capacity check [DET-9897]
  master/internal/api_command.go
  master/internal/experiment.go
  master/internal/logpattern/logpattern.go
  master/internal/mocks/rm.go
  master/internal/rm/actorrm/actor_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/resource_manager_iface.go
  master/internal/sproto/agent_resource_manager.go
  master/internal/sproto/resource_pool.go
  master/internal/trial.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: ft trial slot capacity check [DET-9897]
  e2e_tests/tests/cluster/test_log_policies.py
  master/internal/logpattern/logpattern.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/trial.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: ft trial slot capacity check [DET-9897]
  master/internal/api_command.go
  master/internal/experiment.go
  master/internal/logpattern/logpattern.go
  master/internal/mocks/rm.go
  master/internal/rm/actorrm/actor_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/resource_manager_iface.go
  master/internal/sproto/agent_resource_manager.go
  master/internal/trial.go
Due: go-fmt-import, gofumpt, golangci-lint

Address comments
  e2e_tests/tests/cluster/test_log_policies.py
  master/internal/trial.go
Due: go-fmt-import, gofumpt, golangci-lint

release note fmt
  docs/release-notes/remote-was-able-to-login.rst
Due: none

fix: patched remote users were able to login with password
  master/internal/api_auth.go
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

add release note
  docs/release-notes/remote-was-able-to-login.rst
Due: none

feedback
  docs/release-notes/remote-was-able-to-login.rst
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

docs: fix linting failure
  docs/insert-version-url.py
Due: none

echo login
  master/internal/user/service.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: ft slot capacity check for each trial [DET-9897] (#8213)
  e2e_tests/tests/cluster/test_log_policies.py
  master/internal/api_command.go
  master/internal/experiment.go
  master/internal/logpattern/logpattern.go
  master/internal/mocks/rm.go
  master/internal/rm/actorrm/actor_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/resource_manager_iface.go
  master/internal/sproto/agent_resource_manager.go
  master/internal/sproto/resource_pool.go
  master/internal/trial.go
Due: go-fmt-import, gofumpt, golangci-lint

docs: log policies (#8302)
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  docs/reference/training/experiment-config-reference.rst
  docs/release-notes/log-policies.rst
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
  master/pkg/model/task_container_defaults.go
  master/pkg/model/task_container_defaults_test.go
Due: go-fmt-import, gofumpt, golangci-lint

docs: fix linting failure (#8351)
  docs/insert-version-url.py
Due: none

fix imports
  harness/tests/experiment/fixtures/pytorch_amp/apex_amp_model_def.py
  harness/tests/experiment/fixtures/pytorch_amp/auto_amp_model_def.py
  harness/tests/experiment/fixtures/pytorch_amp/manual_amp_model_def.py
Due: none

fix test
  e2e_tests/tests/cluster/test_exp_continue.py
Due: none

fix pytorch_amp test
  harness/tests/experiment/fixtures/pytorch_amp/apex_amp.yaml
  harness/tests/experiment/fixtures/pytorch_amp/apex_amp_distributed.yaml
  harness/tests/experiment/fixtures/pytorch_amp/apex_amp_model_def.py
  harness/tests/experiment/fixtures/pytorch_amp/auto_amp.yaml
  harness/tests/experiment/fixtures/pytorch_amp/auto_amp_distributed.yaml
  harness/tests/experiment/fixtures/pytorch_amp/auto_amp_model_def.py
  harness/tests/experiment/fixtures/pytorch_amp/manual_amp.yaml
  harness/tests/experiment/fixtures/pytorch_amp/manual_amp_distributed.yaml
  harness/tests/experiment/fixtures/pytorch_amp/manual_amp_model_def.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Due: none

increase wait time for delettion
  e2e_tests/tests/experiment/test_delete.py
Due: none

additional cleanup
  webui/react/scripts/make-screenshot-diff.mjs
Due: web-js-lint-check

chore: DesignKit has moved to hew repo
  webui/react/.unimportedrc.json
  webui/react/Makefile
  webui/react/design/index.html
  webui/react/design/index.tsx
  webui/react/playwright.config.ts
  webui/react/scripts/designkit-screenshot.mjs
  webui/react/src/components/PageHeader/PageHeader.tsx
  webui/react/src/pages/DesignKit.module.scss
  webui/react/src/pages/DesignKit.tsx
  webui/react/tsconfig.json
  webui/react/vite.config.mts
Due: web-js-lint-check, web-misc-lint-check

remove devServerRedirects
  webui/react/vite.config.mts
Due: web-js-lint-check

remove from ci scripts
  .circleci/real_config.yml
Due: none

restore playwright.config
  webui/react/playwright.config.ts
Due: web-js-lint-check

follow recc to remove make-github-comment
  webui/react/scripts/make-github-comment.mjs
Due: web-js-lint-check

fmt
  harness/tests/experiment/fixtures/pytorch_amp/manual_amp_model_def.py
  harness/tests/experiment/pytorch/test_examples.py
Due: none

fix: Allow SAML and OIDC logins to work differently [WEB-1797] (#8308)
  harness/determined/common/api/bindings.py
  proto/pkg/apiv1/master.pb.go
  proto/src/determined/api/v1/master.proto
  webui/react/src/pages/SignIn.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/stores/determinedInfo.tsx
Due: web-js-lint-check

fix(experiments): transient errors shouldn't leave trial hung
  master/internal/trial.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: properly interpret flag values (#8326)
  harness/determined/deploy/gcp/cli.py
Due: none

chore: stop committing protos
  proto/Makefile
  proto/pkg/agentv1/package.go
  proto/pkg/apiv1/package.go
  proto/pkg/checkpointv1/package.go
  proto/pkg/commandv1/package.go
  proto/pkg/commonv1/package.go
  proto/pkg/containerv1/package.go
  proto/pkg/devicev1/package.go
  proto/pkg/experimentv1/package.go
  proto/pkg/groupv1/package.go
  proto/pkg/jobv1/package.go
  proto/pkg/logv1/package.go
  proto/pkg/masterv1/package.go
  proto/pkg/metricv1/package.go
  proto/pkg/modelv1/package.go
  proto/pkg/notebookv1/package.go
  proto/pkg/projectv1/package.go
  proto/pkg/rbacv1/package.go
  proto/pkg/resourcepoolv1/package.go
  proto/pkg/shellv1/package.go
  proto/pkg/taskv1/package.go
  proto/pkg/templatev1/package.go
  proto/pkg/tensorboardv1/package.go
  proto/pkg/trialv1/package.go
  proto/pkg/userv1/package.go
  proto/pkg/utilv1/package.go
  proto/pkg/webhookv1/package.go
  proto/pkg/workspacev1/package.go
Due: none

add back in pkg file
  proto/.gitignore
  proto/pkg/agentv1/package.go
  proto/pkg/apiv1/package.go
  proto/pkg/checkpointv1/package.go
  proto/pkg/commandv1/package.go
  proto/pkg/commonv1/package.go
  proto/pkg/containerv1/package.go
  proto/pkg/devicev1/package.go
  proto/pkg/experimentv1/package.go
  proto/pkg/groupv1/package.go
  proto/pkg/jobv1/package.go
  proto/pkg/logv1/package.go
  proto/pkg/masterv1/package.go
  proto/pkg/metricv1/package.go
  proto/pkg/modelv1/package.go
  proto/pkg/notebookv1/package.go
  proto/pkg/projectv1/package.go
  proto/pkg/rbacv1/package.go
  proto/pkg/resourcepoolv1/package.go
  proto/pkg/shellv1/package.go
  proto/pkg/taskv1/package.go
  proto/pkg/templatev1/package.go
  proto/pkg/tensorboardv1/package.go
  proto/pkg/trialv1/package.go
  proto/pkg/userv1/package.go
  proto/pkg/utilv1/package.go
  proto/pkg/webhookv1/package.go
  proto/pkg/workspacev1/package.go
Due: none

Also modify the template template.
  harness/determined/deploy/aws/injector/master.yaml.tmpl
Due: none

Also add lore template
  harness/determined/deploy/aws/templates/lore.yaml
Due: none
