Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

bad entrypoints
  examples/computer_vision/iris_tf_keras/adaptive.yaml
  examples/computer_vision/iris_tf_keras/const.yaml
  examples/computer_vision/iris_tf_keras/distributed.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_cancelable.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_high_priority.yaml
Due: none

fix keras configs and add timeout to gke reattach
  e2e_tests/tests/cluster/test_master_restart.py
  examples/computer_vision/iris_tf_keras/adaptive.yaml
  examples/computer_vision/iris_tf_keras/const.yaml
  examples/computer_vision/iris_tf_keras/distributed.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_cancelable.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_high_priority.yaml
Due: none

docs rewrites
  docs/manage/troubleshooting.rst
  docs/release-notes/framework-splitting.rst
Due: none

forgot some variables
  .circleci/real_config.yml
  e2e_tests/tests/config.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  harness/tests/fixtures/checkpoint.json
  master/pkg/schemas/expconf/const.go
  schemas/test_cases/v0/experiment.yaml
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Due: web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

images in keras example
  examples/computer_vision/iris_tf_keras/adaptive.yaml
  examples/computer_vision/iris_tf_keras/const.yaml
  examples/computer_vision/iris_tf_keras/distributed.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_cancelable.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_high_priority.yaml
Due: none

4
  helm/charts/determined/values.yaml
Due: none

update docs
  docs/manage/troubleshooting.rst
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/model-dev-guide/prepare-container/set-environment-images.rst
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
  docs/reference/job-config-reference.rst
  docs/release-notes/framework-splitting.rst
  docs/tutorials/quickstart-mdldev.rst
Due: none

chore: print an error log when JSON-serializing fails
  harness/determined/util.py
Due: none

bad rebase
  docs/model-dev-guide/prepare-container/custom-env.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/singularity.rst
Due: none

weird new indexing behavior
  examples/diffusion/textual_inversion_stable_diffusion/detsd/trainer.py
Due: none

debugging
  harness/determined/core/_train.py
  harness/determined/util.py
Due: none

fixes
  harness/determined/keras/_tf_keras_trial.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
Due: none

more fixes
  examples/computer_vision/iris_tf_keras/adaptive.yaml
  examples/computer_vision/iris_tf_keras/const.yaml
  examples/computer_vision/iris_tf_keras/distributed.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_cancelable.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_high_priority.yaml
  harness/determined/keras/_tf_keras_trial.py
Due: none

pytorch test using tf2 image, tf2 tests not overriding properly
  e2e_tests/tests/config.py
  e2e_tests/tests/nightly/test_distributed.py
Due: none

gpu profiling bug
  harness/determined/core/_profiler.py
  harness/determined/core/_train.py
  harness/determined/util.py
Due: none

fixes
  master/internal/api_project.go
Due: go-fmt-import, gofumpt, golangci-lint

cast elsewhere
  harness/determined/core/_profiler.py
Due: none

formatting
  master/internal/rm/kubernetesrm/spec.go
  master/internal/rm/kubernetesrm/spec_test.go
Due: go-fmt-import, gofumpt, golangci-lint

docs: Add FSDP to deepspeed
  docs/model-dev-guide/api-guides/apis-howto/deepspeed/deepspeed.rst
Due: none

spacing
  docs/model-dev-guide/api-guides/apis-howto/deepspeed/deepspeed.rst
Due: none

incorporate feedback
  master/internal/rm/kubernetesrm/spec.go
  master/internal/rm/kubernetesrm/spec_test.go
Due: go-fmt-import, gofumpt, golangci-lint

docs: Add FSDP to deepspeed (#9182)
  docs/model-dev-guide/api-guides/apis-howto/deepspeed/deepspeed.rst
Due: none

fix lint/fmt errors
  master/internal/rm/kubernetesrm/spec_test.go
Due: go-fmt-import, gofumpt, golangci-lint

docs: deprecation notice for agentrm features (#9344)
  docs/release-notes/feature-clean-up.rst
Due: none

reworking this, hopefully no more flakes
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/kubernetesrm/resource_pool_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

undoing extra changes
  master/internal/rm/kubernetesrm/resource_pool.go
Due: go-fmt-import, gofumpt, golangci-lint

return this
  webui/react/src/e2e/fixtures/auth.fixture.ts
  webui/react/src/e2e/fixtures/user.fixture.ts
  webui/react/src/e2e/models/ant/Dropdown.ts
  webui/react/src/e2e/models/ant/Popover.ts
  webui/react/src/e2e/models/ant/Select.ts
  webui/react/src/e2e/models/pages/Admin/UserManagement.ts
  webui/react/src/e2e/tests/experimentList.spec.ts
  webui/react/src/e2e/tests/navigation.spec.ts
  webui/react/src/e2e/tests/projectsWorkspaces.spec.ts
  webui/react/src/e2e/tests/userManagement.spec.ts
Due: web-js-lint-check

dropdowns look good
  webui/react/src/e2e/models/ant/Tabs.ts
  webui/react/src/e2e/models/components/ColumnPickerMenu.ts
  webui/react/src/e2e/models/components/FilterForm/TableFilter.ts
  webui/react/src/e2e/models/components/FilterForm/components/ConjunctionContainer.ts
  webui/react/src/e2e/models/components/FilterForm/components/FilterGroup.ts
  webui/react/src/e2e/models/components/MultiSortMenu.ts
  webui/react/src/e2e/models/components/OptionsMenu.ts
  webui/react/src/e2e/models/components/TableActionBar.ts
  webui/react/src/e2e/models/pages/Admin/index.ts
  webui/react/src/e2e/models/pages/ProjectDetails.ts
  webui/react/src/e2e/tests/userManagement.spec.ts
Due: web-js-lint-check

use /tmp/test-results dir for consistency
  .circleci/real_config.yml
  harness/Makefile
Due: none

test: page model refactor for dropdown and select components [INFENG-694] (#9362)
  webui/react/src/e2e/fixtures/auth.fixture.ts
  webui/react/src/e2e/fixtures/user.fixture.ts
  webui/react/src/e2e/models/BaseComponent.ts
  webui/react/src/e2e/models/ant/Dropdown.ts
  webui/react/src/e2e/models/ant/Modal.ts
  webui/react/src/e2e/models/ant/Notification.ts
  webui/react/src/e2e/models/ant/Pagination.ts
  webui/react/src/e2e/models/ant/Popover.ts
  webui/react/src/e2e/models/ant/Select.ts
  webui/react/src/e2e/models/ant/Tabs.ts
  webui/react/src/e2e/models/components/ChangeUserStatusModal.ts
  webui/react/src/e2e/models/components/ExperimentActionDropdown.ts
  webui/react/src/e2e/models/components/F_ExperiementList.ts
  webui/react/src/e2e/models/components/NavigationSideBar.ts
  webui/react/src/e2e/models/components/Table/InteractiveTable.ts
  webui/react/src/e2e/models/components/WorkspaceActionDropdown.ts
  webui/react/src/e2e/models/components/WorkspacesList.ts
  webui/react/src/e2e/models/hew/Card.ts
  webui/react/src/e2e/models/hew/DataGrid.ts
  webui/react/src/e2e/models/hew/Dropdown.ts
  webui/react/src/e2e/models/hew/Modal.ts
  webui/react/src/e2e/models/hew/Pagination.ts
  webui/react/src/e2e/models/hew/Pivot.ts
  webui/react/src/e2e/models/hew/Select.ts
  webui/react/src/e2e/models/hew/SplitPane.ts
  webui/react/src/e2e/models/hew/Toast.ts
  webui/react/src/e2e/models/pages/Admin/UserManagement.ts
  webui/react/src/e2e/tests/experimentList.spec.ts
  webui/react/src/e2e/tests/navigation.spec.ts
  webui/react/src/e2e/tests/projectsWorkspaces.spec.ts
  webui/react/src/e2e/tests/userManagement.spec.ts
Due: web-js-lint-check

chore: remove test suite whose marks match no tests (#9363)
  .circleci/real_config.yml
Due: none

no level id
  webui/react/src/components/FilterForm/components/FilterGroup.tsx
Due: web-js-lint-check

this is fine
  webui/react/src/e2e/models/README.md
Due: web-misc-lint-check

fix: redirect on sso login
  webui/react/src/globalStorage.ts
  webui/react/src/pages/SignIn.tsx
Due: web-js-lint-check

ensure name and task id are printed out
  e2e_tests/tests/command/command.py
Due: none

merge resolution leftover bits
  harness/Makefile
Due: none

WIP
  e2e_tests/tests/command/generic.py
Due: none

hamid's feedback
  master/internal/rm/kubernetesrm/pods.go
  tools/k8s/launch-minikube-with-gateway.sh
Due: go-fmt-import, gofumpt, golangci-lint

combine build function into one
  master/internal/db/postgres_trial.go
Due: go-fmt-import, gofumpt, golangci-lint

another attempt
  master/internal/rm/kubernetesrm/resource_pool_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint
