Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint
  require_serial: true

refactor: Improve code readability by formatting lines in experimentList.spec.ts.
  webui/react/src/e2e/tests/experimentList.spec.ts
Due: web-js-lint-check

Add chart '1.3.0-dev8 0.15.3 7.0.19 5.41.4 4.0.15 0.2.16 25.8.2 1.7.0 5.15.2 4.24.0 2.4.2 6.15.3' due to release
  aioli-helm-chart_1.3.0-dev8.tgz
  index.yaml
Due: none

change workspace-name back to workspace
  harness/determined/cli/config_policies.py
Due: none

fix json tests to take json
  e2e_tests/tests/cluster/test_config_policies.py
Due: none

Introducing Determined Guru on Gurubase.io
  README.md
Due: none

grammer fix
  README.md
Due: none

chore: clarify version overrides during helm installs CM-582: in-review
  docs/reference/deploy/helm-config-reference.rst
Due: none

check group name
  master/internal/api_runs.go
Due: go-fmt-import, gofumpt, golangci-lint

test: Add test for filtering user by Role Id
  master/internal/api_user_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

add filter and sort
  master/internal/api_runs.go
Due: go-fmt-import, gofumpt, golangci-lint

change workspace back to workspace name
  e2e_tests/tests/cluster/test_config_policies.py
  harness/determined/cli/config_policies.py
Due: none

feat: update ConfigPolicies with docs link [CM-558] (#10055)
  webui/react/src/components/ConfigPolicies.tsx
  webui/react/src/pages/ConfigPoliciesPage.tsx
Due: web-js-lint-check

update name and docs
  docs/release-notes/ssh-crypto-system.rst
  master/internal/config/config.go
  master/pkg/ssh/ssh.go
  master/pkg/ssh/ssh_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix sort add count
  master/internal/api_runs.go
  proto/pkg/runv1/run.pb.go
  proto/src/determined/run/v1/run.proto
Due: go-fmt-import, gofumpt, golangci-lint

chore: remove e2e_slurm_preemption test series
  .circleci/real_config.yml
  e2e_tests/pytest.ini
  e2e_tests/tests/cluster/test_slurm.py
  e2e_tests/tests/conftest.py
  examples/computer_vision/iris_tf_keras/iris_tf_keras_cancelable.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_high_priority.yaml
  examples/legacy/computer_vision/cifar10_pytorch/cifar10_pytorch_cancelable.yaml
  examples/legacy/computer_vision/cifar10_pytorch/cifar10_pytorch_high_priority.yaml
  harness/tests/launch/test_launch.py
Due: none

safer isDev
  webui/react/src/components/VersionChecker.tsx
Due: web-js-lint-check

add pagination
  master/internal/api_runs.go
Due: go-fmt-import, gofumpt, golangci-lint

docs: Describe arbitrary metadata logging
  docs/reference/experiment-config-reference.rst
  docs/tools/webui-if.rst
  docs/tutorials/_index.rst
  docs/tutorials/metadata-logging.rst
  docs/tutorials/quickstart-mdldev.rst
Due: none

resolve review comments
  docs/reference/experiment-config-reference.rst
  docs/tools/webui-if.rst
  docs/tutorials/metadata-logging.rst
Due: none

update tutorial
  docs/assets/images/webui-runs-metadata-filter.png
  docs/get-started/webui-qs.rst
  docs/tutorials/_index.rst
  docs/tutorials/metadata-logging.rst
Due: none

chore: update CLI commands to work with global APIs (#10089)
  e2e_tests/tests/cluster/test_config_policies.py
  e2e_tests/tests/fixtures/config_policies/valid_experiment.json
  e2e_tests/tests/fixtures/config_policies/valid_experiment.yaml
  e2e_tests/tests/fixtures/config_policies/valid_ntsc.json
  e2e_tests/tests/fixtures/config_policies/valid_ntsc.yaml
  harness/determined/cli/config_policies.py
Due: none

Add chart '1.2.0-rc3 7.0.19 5.41.4 0.2.16 4.0.15 25.8.2 1.7.0 5.15.2 4.24.0 2.4.2 6.15.3 0.15.3' due to release
  aioli-helm-chart_1.2.0-rc3.tgz
  index.yaml
Due: none

docs: Describe arbitrary metadata logging (#10073)
  docs/assets/images/webui-runs-metadata-filter.png
  docs/get-started/webui-qs.rst
  docs/reference/experiment-config-reference.rst
  docs/tools/webui-if.rst
  docs/tutorials/_index.rst
  docs/tutorials/metadata-logging.rst
  docs/tutorials/quickstart-mdldev.rst
Due: none

chore: remove e2e_slurm_preemption test series (#10053)
  .circleci/real_config.yml
  e2e_tests/pytest.ini
  e2e_tests/tests/cluster/test_slurm.py
  e2e_tests/tests/conftest.py
  examples/computer_vision/iris_tf_keras/iris_tf_keras_cancelable.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_high_priority.yaml
  examples/legacy/computer_vision/cifar10_pytorch/cifar10_pytorch_cancelable.yaml
  examples/legacy/computer_vision/cifar10_pytorch/cifar10_pytorch_high_priority.yaml
  harness/tests/launch/test_launch.py
Due: none

lint
  master/internal/api_user_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

refactor: Update data-test attributes and improve selectors.
  webui/react/src/components/ExperimentMoveModal.tsx
  webui/react/src/e2e/models/components/ExperimentMoveModal.ts
  webui/react/src/e2e/tests/experimentList.spec.ts
Due: web-js-lint-check

add comments
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
Due: web-js-lint-check

chore: add SDK functionality for SSO Improvements
  harness/determined/cli/token.py
  harness/determined/common/api/authentication.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/token.py
Due: none

refactor: Simplify experiment move actions in e2e test.
  webui/react/src/e2e/tests/experimentList.spec.ts
Due: web-js-lint-check

linting
  harness/determined/exec/harness.py
  harness/determined/pytorch/__init__.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/_util.py
  harness/determined/pytorch/deepspeed/_deepspeed_context.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
  harness/determined/pytorch/deepspeed/_mpu.py
  harness/determined/pytorch/deepspeed/_trainer.py
  harness/tests/experiment/deepspeed_utils.py
  harness/tests/experiment/pytorch/test_deepspeed_trial.py
Due: none

Revert "docs: Describe arbitrary metadata logging (#10073)"
  docs/assets/images/webui-runs-metadata-filter.png
  docs/get-started/webui-qs.rst
  docs/reference/experiment-config-reference.rst
  docs/tools/webui-if.rst
  docs/tutorials/_index.rst
  docs/tutorials/metadata-logging.rst
  docs/tutorials/quickstart-mdldev.rst
Due: none

fix
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
Due: web-js-lint-check

fix: support multi-type in flat run table
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
  webui/react/src/utils/flatRun.ts
Due: web-js-lint-check, web-misc-lint-check

fix: adjust types
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/Searches/columns.ts
  webui/react/src/pages/F_ExpList/expListColumns.ts
  webui/react/src/pages/FlatRuns/columns.ts
Due: web-js-lint-check, web-misc-lint-check

feat: det.keras.DeterminedCallback (#10075)
  docs/model-dev-guide/api-guides/apis-howto/api-core-ug-basic.rst
  docs/model-dev-guide/api-guides/apis-howto/api-keras-ug.rst
  docs/model-dev-guide/create-experiment.rst
  docs/model-dev-guide/debug-models.rst
  docs/model-dev-guide/dtrain/reproducibility.rst
  docs/model-dev-guide/profiling.rst
  docs/reference/experiment-config-reference.rst
  docs/reference/training/api-core-reference.rst
  docs/reference/training/api-det-reference.rst
  docs/reference/training/api-keras-reference.rst
  docs/tools/tensorboard.rst
  examples/computer_vision/iris_tf_keras/adaptive.yaml
  examples/computer_vision/iris_tf_keras/const.yaml
  examples/computer_vision/iris_tf_keras/distributed.yaml
  examples/computer_vision/iris_tf_keras/model_def.py
  examples/computer_vision/iris_tf_keras/train.py
  harness/determined/core/_distributed.py
  harness/determined/keras/__init__.py
  harness/determined/keras/_callback.py
  harness/determined/keras/_load.py
  harness/determined/keras/_tensorboard_callback.py
  harness/determined/keras/_tf_keras_trial.py
  harness/determined/keras/callbacks.py
  harness/determined/launch/tensorflow.py
  harness/tests/experiment/keras/test_callback.py
  harness/tests/experiment/keras/train.py
  harness/tests/launch/test_tensorflow.py
Due: none

chore: Remove max_length from WebUI (#10038)
  webui/react/src/components/CompareHyperparameters.test.mock.tsx
  webui/react/src/components/ComparisonView.test.mock.tsx
  webui/react/src/components/ExperimentContinueModal.module.scss
  webui/react/src/components/ExperimentContinueModal.tsx
  webui/react/src/components/ExperimentCreateModal.tsx
  webui/react/src/components/HyperparameterSearchModal.tsx
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/pages/Dashboard.test.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.mock.ts
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.test.tsx
  webui/react/src/types.ts
  webui/react/src/utils/experiment.test.ts
  webui/react/src/utils/experiment.ts
  webui/react/src/utils/tests/generateTestData.ts
Due: web-js-lint-check, web-misc-lint-check

chore: remove searcher context from DetCallback (#10083)
  docs/model-dev-guide/hyperparameter/search-methods/hp-adaptive-asha.rst
  docs/reference/experiment-config-reference.rst
  docs/reference/training/_index.rst
  docs/reference/training/api-transformers-reference.rst
  e2e_tests/tests/config.py
  e2e_tests/tests/fixtures/hpc/embedded-single-quote.yaml
  examples/hf_trainer_api/hf_image_classification/adaptive.yaml
  examples/hf_trainer_api/hf_image_classification/const.yaml
  examples/hf_trainer_api/hf_image_classification/const_epochs.yaml
  examples/hf_trainer_api/hf_image_classification/deepspeed.yaml
  examples/hf_trainer_api/hf_image_classification/distributed.yaml
  examples/hf_trainer_api/hf_language_modeling/adaptive.yaml
  examples/hf_trainer_api/hf_language_modeling/const.yaml
  examples/hf_trainer_api/hf_language_modeling/const_epochs.yaml
  examples/hf_trainer_api/hf_language_modeling/deepspeed.yaml
  examples/hf_trainer_api/hf_language_modeling/distributed.yaml
  harness/determined/transformers/_hf_callback.py
Due: none

chore: refactor max length out of pytorch trials (#10091)
  docs/model-dev-guide/api-guides/apis-howto/api-pytorch-ug.rst
  examples/tutorials/mnist_pytorch/adaptive.yaml
  examples/tutorials/mnist_pytorch/train.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/_trainer.py
Due: none

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
