Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint
  require_serial: true

rename generic to class
  webui/react/src/e2e/models/components/Table/InteractiveTable.ts
Due: web-js-lint-check

chore: add shared cluster tagging flag to bucket
  .circleci/real_config.yml
  helm/charts/determined/templates/db-deployment.yaml
  helm/charts/determined/templates/master-deployment.yaml
  helm/charts/determined/values.yaml
Due: none

fix
  docs/setup-cluster/aws/install-on-aws.rst
  harness/determined/deploy/aws/deployment_types/base.py
Due: none

chore: set addSharedClusterTag to true for shared cluster setup ci
  .circleci/real_config.yml
Due: none

lint fix
  harness/determined/deploy/aws/deployment_types/base.py
Due: none

feat: Create MoveRun endpoint (#9001)
  harness/determined/common/api/bindings.py
  master/internal/api_runs.go
  master/internal/api_runs_intg_test.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/run.pb.go
  proto/pkg/runv1/run.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/run.proto
  proto/src/determined/run/v1/run.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

feat: det deploy aws adds tags to dynamic agents [RM-140] (#9106)
  docs/release-notes/tag-to-dynamic-agents.rst
  docs/setup-cluster/aws/install-on-aws.rst
  harness/determined/deploy/aws/deployment_types/base.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
Due: none

test: Jcom/infeng 455/default selector instance prop (#9096)
  webui/react/src/e2e/models/BaseComponent.ts
  webui/react/src/e2e/models/components/AddUsersToGroupsModal.ts
  webui/react/src/e2e/models/components/ChangeUserStatusModal.ts
  webui/react/src/e2e/models/components/CreateUserModal.ts
  webui/react/src/e2e/models/components/DeterminedAuth.ts
  webui/react/src/e2e/models/components/Navigation.ts
  webui/react/src/e2e/models/components/SetUserRolesModal.ts
  webui/react/src/e2e/models/components/SkeletonSection.ts
  webui/react/src/e2e/models/components/Table/InteractiveTable.ts
  webui/react/src/e2e/models/components/Table/SkeletonTable.ts
  webui/react/src/e2e/models/hew/Dropdown.ts
  webui/react/src/e2e/models/hew/Modal.ts
  webui/react/src/e2e/models/hew/Pivot.ts
  webui/react/src/e2e/models/hew/Toast.ts
  webui/react/src/e2e/models/pages/Admin/UserManagement.ts
  webui/react/src/e2e/models/utils/error.ts
Due: web-js-lint-check

test: user-page-models (#9084)
  webui/react/src/components/AddUsersToGroupsModal.tsx
  webui/react/src/components/ChangeUserStatusModal.tsx
  webui/react/src/components/CreateUserModal.tsx
  webui/react/src/components/Navigation.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/SetUserRolesModal.tsx
  webui/react/src/components/SkeletonSection.tsx
  webui/react/src/components/Table/InteractiveTable.tsx
  webui/react/src/components/Table/SkeletonTable.tsx
  webui/react/src/e2e/README.md
  webui/react/src/e2e/fixtures/auth.fixture.ts
  webui/react/src/e2e/fixtures/dev.fixture.ts
  webui/react/src/e2e/models/BaseComponent.ts
  webui/react/src/e2e/models/BasePage.ts
  webui/react/src/e2e/models/README.md
  webui/react/src/e2e/models/components/AddUsersToGroupsModal.ts
  webui/react/src/e2e/models/components/ChangeUserStatusModal.ts
  webui/react/src/e2e/models/components/CreateUserModal.ts
  webui/react/src/e2e/models/components/DeterminedAuth.ts
  webui/react/src/e2e/models/components/Navigation.ts
  webui/react/src/e2e/models/components/NavigationSideBar.ts
  webui/react/src/e2e/models/components/SetUserRolesModal.ts
  webui/react/src/e2e/models/components/SkeletonSection.ts
  webui/react/src/e2e/models/components/Table/InteractiveTable.ts
  webui/react/src/e2e/models/components/Table/SkeletonTable.ts
  webui/react/src/e2e/models/hew/Dropdown.ts
  webui/react/src/e2e/models/hew/Modal.ts
  webui/react/src/e2e/models/hew/Pivot.ts
  webui/react/src/e2e/models/hew/Toast.ts
  webui/react/src/e2e/models/pages/Admin/UserManagement.ts
  webui/react/src/e2e/models/pages/Admin/index.ts
  webui/react/src/e2e/models/pages/SignIn.ts
  webui/react/src/e2e/models/utils/error.ts
  webui/react/src/e2e/tests/auth.spec.ts
  webui/react/src/e2e/tests/userManagement.spec.ts
  webui/react/src/pages/Admin/UserManagement.tsx
Due: web-js-lint-check, web-misc-lint-check

refactor: added spaces to ends in deployment charts
  helm/charts/determined/templates/db-deployment.yaml
  helm/charts/determined/templates/master-deployment.yaml
Due: none

fixes
  master/internal/stream/model_versions.go
Due: go-fmt-import, gofumpt, golangci-lint

fix module imports for check_password_complexity
  harness/determined/common/api/__init__.py
  harness/determined/common/api/authentication.py
  harness/determined/common/experimental/determined.py
Due: none

fix: integration tests with users that have short passwords
  master/internal/api_experiment_intg_test.go
  master/internal/api_user_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

in cli test, expect SystemExit on validation failure since it is a cli invocation
  harness/tests/cli/test_user.py
Due: none

update password complexity check: require a number
  master/internal/user/passwords.go
Due: go-fmt-import, gofumpt, golangci-lint

more python test fixes
  e2e_tests/tests/cluster/test_users.py
  harness/tests/cli/test_user.py
  master/internal/api_experiment_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: require non-empty password in all endpoints that can update a user password
  master/internal/api_experiment_intg_test.go
  master/internal/api_user.go
  master/internal/user/passwords.go
  master/internal/user/passwords_intg_test.go
  master/internal/user/service.go
  master/pkg/model/user.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: cli created passwords cannot be blank either
  harness/determined/common/api/authentication.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/user.py
Due: none

fix: unit test for cli change-password
  harness/tests/cli/test_user.py
Due: none

fix password generation for e2e tests?
  e2e_tests/tests/api_utils.py
Due: none

fix: allow ResolveResourcePool call in TestDeleteExperimentsFiltered -- might revert this but want to see what else fails
  master/internal/api_experiment_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: cli test passwords
  e2e_tests/tests/cluster/test_users.py
  harness/tests/cli/test_user.py
Due: none

backend password evaluation more closely matches frontend
  master/internal/api_user.go
  master/internal/user/passwords.go
  master/internal/user/passwords_intg_test.go
  master/internal/user/service.go
Due: go-fmt-import, gofumpt, golangci-lint

fix password generation for e2e tests?
  e2e_tests/tests/cluster/test_users.py
Due: none

fix go integration tests?
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

add attention block
  docs/setup-cluster/mldes/_index.rst
Due: none

make suggested updates
  docs/setup-cluster/_index.rst
  docs/setup-cluster/mldes/_index.rst
Due: none

change dashes to underlines
  docs/setup-cluster/mldes/_index.rst
Due: none

feat: Add model version streaming (#9029)
  e2e_tests/tests/streaming/test_client.py
  harness/determined/common/streams/_client.py
  harness/determined/common/streams/wire.py
  master/Makefile
  master/cmd/stream-gen/main.go
  master/internal/stream/authz_basic_impl.go
  master/internal/stream/authz_iface.go
  master/internal/stream/messages.go
  master/internal/stream/model_versions.go
  master/internal/stream/models.go
  master/internal/stream/projects.go
  master/internal/stream/publisher.go
  master/internal/stream/subscription.go
  master/internal/stream/system_intg_test.go
  master/internal/stream/test_util.go
  master/internal/stream/util.go
  master/static/migrations/20240328144809_add-model-versions-trigger.tx.down.sql
  master/static/migrations/20240328144809_add-model-versions-trigger.tx.up.sql
  webui/react/src/services/stream/index.ts
  webui/react/src/services/stream/wire.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

update attention block
  docs/setup-cluster/mldes/_index.rst
Due: none

try test with fixed project id
  master/internal/api_experiment_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

pr template more changes
  .github/pull_request_template.md
Due: none

docs: add release notes for 0.30.0 (#9103)
  docs/release-notes.rst
  docs/release-notes/profiling-v2.rst
Due: none

chore: bump version: 0.30.0-dev0 -> 0.30.1-dev0
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

chore: add docs dropdown link for new version
  docs/_static/version-switcher/versions.json
Due: none

add more GCP resource deletion
  .circleci/real_config.yml
Due: none

move job into nightly
  .circleci/real_config.yml
Due: none

chore: add nightly gke cluster cleanup job
  .circleci/real_config.yml
Due: none

change name and move tests to e2e workflow temporarily
  .circleci/real_config.yml
Due: none

change google project id
  .circleci/real_config.yml
Due: none

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
