Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system

fix: modal theme color (#6117)
  webui/react/src/components/ThemeProvider.tsx
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.module.scss
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
  webui/react/src/shared/hooks/useModal/useModal.stories.module.scss
Due: web-js-lint-check

remove filter from select component names
  webui/react/src/components/DatePicker.module.scss
  webui/react/src/components/DatePicker.tsx
  webui/react/src/components/HpSelect.module.scss
  webui/react/src/components/HpSelect.tsx
  webui/react/src/components/MetricSelect.tsx
  webui/react/src/components/ScaleSelect.tsx
  webui/react/src/components/UserSelect.tsx
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/pages/Cluster/ClusterHistoricalUsageFilters.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/ExperimentVisualizationFilters.tsx
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
  webui/react/src/pages/TrialsComparison/Metrics/useMetricView.tsx
Due: web-js-lint-check

feat: add det.import_from_path
  harness/determined/__init__.py
  harness/determined/_import.py
  harness/mypy.ini
  harness/tests/fixtures/import_from_path/a/data.py
  harness/tests/fixtures/import_from_path/a/model_def.py
  harness/tests/fixtures/import_from_path/b/data.py
  harness/tests/fixtures/import_from_path/b/model_def.py
  harness/tests/fixtures/import_from_path/c/data.py
  harness/tests/fixtures/import_from_path/c/model_def.py
  harness/tests/test_imports.py
Due: none

fix loading story?
  harness/determined/pytorch/_load.py
Due: none

condense imports
  webui/react/src/components/PaginatedNotesCard.tsx
Due: web-js-lint-check

remove -1 as a valid max tag option
  webui/react/src/components/MetricSelect.tsx
  webui/react/src/components/kit/Select.tsx
  webui/react/src/pages/DesignKit.tsx
Due: web-js-lint-check

remove maxtag count from metricselect logic
  webui/react/src/components/MetricSelect.tsx
Due: web-js-lint-check

fix: add bgColor in trial comparison table
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.module.scss
Due: none

remove unneeded type
  webui/react/src/components/kit/Select.tsx
Due: web-js-lint-check

update tagcount and placeholder logic
  webui/react/src/components/kit/Select.tsx
Due: web-js-lint-check

add tunnel auth
  docs/interfaces/proxy-ports.rst
  harness/determined/cli/proxy.py
  harness/determined/cli/tunnel.py
  master/internal/api_auth.go
Due: none

fix tests
  e2e_tests/tests/cluster/test_proxy.py
Due: none

fix keyboard interrupt handling
  harness/determined/cli/tunnel.py
Due: none

review comment, pre-merge rebase
  harness/determined/cli/proxy.py
Due: none

simplify conditional
  webui/react/src/components/kit/Select.tsx
Due: web-js-lint-check

simplify logic
  webui/react/src/components/kit/Select.tsx
Due: web-js-lint-check

fix: add bgColor in trial comparison table (#6119)
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.module.scss
Due: none

set maxTagCountValue
  webui/react/src/components/kit/Select.tsx
Due: web-js-lint-check

expand unit tests coverage
  e2e_tests/tests/experiment/test_pytorch.py
Due: none

test: jest v29
  webui/react/Makefile
  webui/react/jest.config.json
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/Table/ResponsiveTable.test.tsx
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.test.tsx
Due: web-js-lint-check, web-misc-lint-check

chore: uninstall unused packages
  webui/react/package-lock.json
  webui/react/package.json
Due: web-misc-lint-check

chore: remove unused files
  webui/react/Makefile
  webui/react/craco.config.js
  webui/react/jest.config.js
  webui/react/jest.setup.ts
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/shared/configs/craco.config.js
  webui/react/tsconfig.json
Due: web-js-lint-check, web-misc-lint-check

test: move to jest
  webui/react/jest.config.json
  webui/react/jest.setup.ts
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/pages/ExperimentDetails/CodeViewer/CodeViewer.module.scss
  webui/react/src/pages/ExperimentDetails/CodeViewer/CodeViewer.tsx
  webui/react/src/pages/ExperimentDetails/CodeViewer/index.scss
  webui/react/src/shared/utils/routes.test.ts
  webui/react/tsconfig.json
Due: web-js-lint-check, web-misc-lint-check

chore: install necessary packages
  webui/react/package-lock.json
  webui/react/package.json
Due: web-misc-lint-check

ci: limit max worker
  webui/react/Makefile
Due: none

update Selectvalua and Option imports
  webui/react/src/components/HpSelect.tsx
  webui/react/src/components/PaginatedNotesCard.tsx
  webui/react/src/components/ScaleSelect.tsx
  webui/react/src/components/UserSelect.tsx
  webui/react/src/components/kit/LineChart/XAxisFilter.tsx
  webui/react/src/components/kit/Select.test.tsx
  webui/react/src/components/kit/Select.tsx
  webui/react/src/hooks/useModal/Experiment/useModalExperimentMove.tsx
  webui/react/src/pages/Cluster/ClusterHistoricalUsageFilters.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/ExperimentVisualizationFilters.tsx
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/SystemMetricChartFilters.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.tsx
  webui/react/src/pages/WorkspaceList.tsx
Due: web-js-lint-check

removed redundant variation
  webui/react/src/pages/DesignKit.tsx
Due: web-js-lint-check

fix: browser console warnings
  webui/react/src/hooks/useModal/Checkpoint/useCheckpointFlow.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
Due: web-js-lint-check

fix: remove spread operator
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.tsx
Due: web-js-lint-check

fix: browser console warnings (#6122)
  webui/react/src/hooks/useModal/Checkpoint/useCheckpointFlow.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
Due: web-js-lint-check

docs review
  docs/interfaces/proxy-ports.rst
  examples/features/ports/README.md
Due: none

fix: harness linting
  harness/determined/pytorch/_pytorch_context.py
  harness/determined/util.py
  harness/tests/storage/util.py
Due: none

fix: skip linter warning for deprecation warning
  cli/determined_cli/__init__.py
Due: none

chore: UIKit Pivot renaming
  webui/react/src/components/DynamicTabs.tsx
  webui/react/src/components/kit/Pivot.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
Due: web-js-lint-check

minor edit
  docs/training/apis-howto/api-pytorch-trainer-ug.rst
Due: none

feat: display workspace name in ProjectCard
  webui/react/src/components/ProjectCard.module.scss
  webui/react/src/components/ProjectCard.tsx
Due: web-js-lint-check

test slakc alerts
  .circleci/config.yml
Due: none

user id
  .circleci/config.yml
Due: none

Path conditions:
  web-js-lint-check: any of: ^webui/react/src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
