Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint
  require_serial: true

fix(scheduler): tolerate missing groups in priority scheduling by skipping them (#7947)
  master/internal/rm/tasklist/job.go
Due: go-fmt-import, gofumpt, golangci-lint

docs: quick fix for version dropdown
  docs/_static/version-switcher/versions.json
Due: none

feat: Support filter by status and role for users
  harness/determined/common/api/bindings.py
  master/internal/api_user.go
  proto/pkg/apiv1/user.pb.go
  proto/src/determined/api/v1/user.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

fix: use summary metric's migration caused nulls
  master/internal/db/postgres_trial.go
  master/static/migrations/20230817155037_fix-summary-nulls.tx.down.sql
  master/static/migrations/20230817155037_fix-summary-nulls.tx.up.sql
Due: go-fmt-import, gofumpt, golangci-lint

update unit test
  harness/tests/determined/common/experimental/test_determined.py
Due: none

docs: quick fix for version dropdown (#7952)
  docs/_static/version-switcher/versions.json
Due: none

fix: update `modified_at` by insert in user table
  master/static/migrations/20230920130838_add-update-modified-at-in-user-table-by-insert.tx.down.sql
  master/static/migrations/20230920130838_add-update-modified-at-in-user-table-by-insert.tx.up.sql
Due: none

fix: minor changes
  master/static/migrations/20230920130838_add-update-modified-at-in-user-table-by-insert.tx.down.sql
  master/static/migrations/20230920130838_add-update-modified-at-in-user-table-by-insert.tx.up.sql
Due: none

change editable
  harness/determined/common/api/bindings.py
  master/internal/api_experiment_intg_test.go
  master/internal/api_tensorboard.go
  master/internal/experiment/bulk_action.go
  proto/pkg/apiv1/experiment.pb.go
  proto/src/determined/api/v1/experiment.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

fix
  master/internal/db/postgres_trial.go
Due: go-fmt-import, gofumpt, golangci-lint

fixed use jsonb
  master/internal/db/postgres_trial.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: return value properly
  master/static/migrations/20230920130838_add-update-modified-at-in-user-table-by-insert.tx.down.sql
  master/static/migrations/20230920130838_add-update-modified-at-in-user-table-by-insert.tx.up.sql
Due: none

test pagination for list_experiments
  harness/tests/determined/common/experimental/test_determined.py
Due: none

update test
  harness/tests/determined/common/experimental/test_determined.py
Due: none

Better read_paginated
  harness/determined/common/api/_util.py
Due: none

fix(experiments): don't transition experiment to "" state on crash
  master/internal/experiment.go
  master/pkg/model/experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: handle nil actor message and nil actor errors in agent RM
  master/internal/rm/agentrm/agent_resource_manager.go
Due: go-fmt-import, gofumpt, golangci-lint

remove stray character
  docs/integrations/prometheus/prometheus.rst
Due: none

chore: bump version: 0.26.0-rc0 -> 0.26.0-rc1
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

fix(db): handle erroneous nulls from the summary metric migration (#7954)
  master/internal/db/postgres_trial.go
  master/static/migrations/20230817155037_fix-summary-nulls.tx.down.sql
  master/static/migrations/20230817155037_fix-summary-nulls.tx.up.sql
Due: go-fmt-import, gofumpt, golangci-lint

move migration to top
  master/static/migrations/20230921104851_fix-summary-nulls.tx.down.sql
  master/static/migrations/20230921104851_fix-summary-nulls.tx.up.sql
Due: none

fix(experiments): don't transition experiment to "" state on crash (#7956)
  master/internal/experiment.go
  master/pkg/model/experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

fix(allocation): allocation lifetimes should contain resource lifetimes (#7944)
  master/internal/rm/actorrm/actor_resource_manager.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/kubernetesrm/resource_pool.go
Due: go-fmt-import, gofumpt, golangci-lint

rename test
  harness/tests/determined/common/experimental/test_determined.py
Due: none

fix(db): handle erroneous nulls from the summary metric migration (#7958)
  master/internal/db/postgres_trial.go
  master/static/migrations/20230921104851_fix-summary-nulls.tx.down.sql
  master/static/migrations/20230921104851_fix-summary-nulls.tx.up.sql
Due: go-fmt-import, gofumpt, golangci-lint

add role id
  harness/determined/common/api/bindings.py
  proto/pkg/apiv1/user.pb.go
  proto/src/determined/api/v1/user.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check

fix: mitigate user settings race conditions (#7905)
  webui/react/src/components/UserSettings.test.tsx
  webui/react/src/components/UserSettings.tsx
  webui/react/src/stores/userSettings.tsx
  webui/react/src/stores/users.tsx
Due: web-js-lint-check

test: fix a broken test
  harness/tests/determined/common/experimental/test_workspace.py
Due: none

fix: singularity agent env variable
  agent/pkg/singularity/singularity.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: singularity agent env variable (#7960)
  agent/pkg/singularity/singularity.go
Due: go-fmt-import, gofumpt, golangci-lint

remove roleId and fix sql
  harness/determined/common/api/bindings.py
  master/internal/api_user.go
  proto/pkg/apiv1/user.pb.go
  proto/src/determined/api/v1/user.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

intg test
  master/internal/api_user_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: return searcher_metric_value as-is
  master/internal/api_experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: return searcher_metric_value as-is (#7961)
  master/internal/api_experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

reverrt chart thing
  helm/charts/determined/templates/master-config.yaml
Due: none

chore: max_slots_per_pod can be per resource pool
  docs/reference/deploy/config/master-config-reference.rst
  docs/release-notes/max-slots-per-pod-per-rp.rst
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
  master/internal/config/config.go
  master/internal/config/config_test.go
  master/internal/config/resource_manager_config.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/pkg/model/task_container_defaults.go
Due: go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
