Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

docs: add instructions on deploying determined via HPE MLDES [SAAS-1877] (#9105)
  docs/setup-cluster/_index.rst
  docs/setup-cluster/mldes/_index.rst
Due: none

remove log_retention_days from tasks table
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/checkpoint_gc.go
  master/internal/command/command.go
  master/internal/db/postgres_tasks.go
  master/internal/experiment/bulk_action.go
  master/internal/logretention/logretention.go
  master/internal/populate_metrics.go
  master/internal/trial.go
  master/pkg/model/task.go
  master/static/migrations/20240404205758_remove-task-log-retention.tx.down.sql
  master/static/migrations/20240404205758_remove-task-log-retention.tx.up.sql
Due: go-fmt-import, gofumpt, golangci-lint

add and edit tests
  harness/determined/common/api/bindings.py
  master/internal/api_experiment_intg_test.go
  master/internal/api_logretention_intg_test.go
  master/internal/api_trials.go
  master/internal/api_trials_intg_test.go
  master/internal/logretention/logretention.go
  proto/pkg/runv1/run.pb.go
  proto/src/determined/run/v1/run.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

fix: fix regression caused by join on trials view
  harness/determined/common/api/bindings.py
  master/internal/api_experiment_intg_test.go
  master/internal/api_trials.go
  master/internal/experiment/bulk_action.go
  master/pkg/model/experiment.go
  master/static/migrations/20240403070639_fix-trials-view.tx.down.sql
  master/static/migrations/20240403070639_fix-trials-view.tx.up.sql
  proto/pkg/runv1/run.pb.go
  proto/src/determined/run/v1/run.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

new workspace modal and revert config change
  webui/react/playwright.config.ts
  webui/react/src/e2e/models/components/ModelRegistryPage.ts
  webui/react/src/e2e/models/components/WorkspaceDetails.ts
  webui/react/src/e2e/models/components/WorkspacesList.ts
  webui/react/src/e2e/models/pages/Workspaces.ts
  webui/react/src/e2e/tests/projectsWorkspaces.spec.ts
  webui/react/src/pages/WorkspaceList.tsx
Due: web-js-lint-check

chore: update github PR template [INFENG-600] (#9098)
  .github/pull_request_template.md
Due: none

another pr template change
  .github/pull_request_template.md
Due: none

chore: PR template again [INFENG-600] (#9118)
  .github/pull_request_template.md
Due: none

fix filering
  e2e_tests/tests/run/test_api.py
  harness/determined/common/api/bindings.py
  master/internal/api_runs.go
  proto/pkg/apiv1/run.pb.go
  proto/src/determined/api/v1/run.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

fixes
  webui/react/src/components/Searches/Searches.tsx
Due: web-js-lint-check

feat: create Searches view (#9089)
  webui/react/src/components/ColumnPickerMenu.module.scss
  webui/react/src/components/ColumnPickerMenu.tsx
  webui/react/src/components/DynamicTabs.tsx
  webui/react/src/components/Searches/Searches.module.scss
  webui/react/src/components/Searches/Searches.settings.ts
  webui/react/src/components/Searches/Searches.tsx
  webui/react/src/components/Searches/columns.ts
  webui/react/src/components/TableActionBar.tsx
  webui/react/src/hooks/useFeature.ts
  webui/react/src/pages/F_ExpList/utils.ts
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/utils/datetime.ts
Due: web-js-lint-check

fix: fix regression caused by join on trials view (#9091)
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_logretention_intg_test.go
  master/internal/api_trials.go
  master/internal/api_trials_intg_test.go
  master/internal/checkpoint_gc.go
  master/internal/command/command.go
  master/internal/db/postgres_tasks.go
  master/internal/experiment/bulk_action.go
  master/internal/logretention/logretention.go
  master/internal/populate_metrics.go
  master/internal/trial.go
  master/pkg/model/experiment.go
  master/pkg/model/task.go
  master/static/migrations/20240403070639_fix-trials-view.tx.down.sql
  master/static/migrations/20240403070639_fix-trials-view.tx.up.sql
  master/static/migrations/20240404205758_remove-task-log-retention.tx.down.sql
  master/static/migrations/20240404205758_remove-task-log-retention.tx.up.sql
Due: go-fmt-import, gofumpt, golangci-lint

big initial commit
  webui/react/src/components/DynamicTabs.tsx
  webui/react/src/components/TableActionBar.tsx
  webui/react/src/e2e/fixtures/dev.fixture.ts
  webui/react/src/e2e/models/BaseComponent.ts
  webui/react/src/e2e/models/components/ComparisonView.ts
  webui/react/src/e2e/models/components/DynamicTabs.ts
  webui/react/src/e2e/models/components/ExperimentActionDropdown.ts
  webui/react/src/e2e/models/components/F_ExperiementList.ts
  webui/react/src/e2e/models/components/Table/InteractiveTable.ts
  webui/react/src/e2e/models/components/TableActionBar.ts
  webui/react/src/e2e/models/hew/DataGrid.ts
  webui/react/src/e2e/models/hew/Pagination.ts
  webui/react/src/e2e/models/hew/SplitPane.ts
  webui/react/src/e2e/models/pages/Admin/UserManagement.ts
  webui/react/src/e2e/models/pages/Admin/index.ts
  webui/react/src/e2e/models/pages/ExperimentList.ts
  webui/react/src/e2e/models/pages/ProjectDetails.ts
  webui/react/src/e2e/tests/experiment-list.spec.ts
Due: web-js-lint-check

fix: unlock mutex for experiment ResourcePool() [RM-152]
  master/internal/experiment_job_service.go
  master/internal/experiment_job_service_test.go
Due: go-fmt-import, gofumpt, golangci-lint

edits
  docs/release-notes/experiment-deadlock.rst
  master/.golangci.yml
  master/internal/api_project_intg_test.go
  master/internal/experiment_job_service_test.go
Due: go-fmt-import, gofumpt, golangci-lint

editing regexp
  master/.golangci.yml
Due: none

undoing extra changes
  master/internal/api_project_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: set the default data vol to be a docker volume instead of a mount
  tools/devcluster.yaml
  tools/k8s/devcluster.yaml
Due: none

chore: OSS -> EE mass migration
  master/static/migrations/20240401231937_oss-to-ee-catch-up.tx.down.sql
  master/static/migrations/20240401231937_oss-to-ee-catch-up.tx.up.sql
Due: none

move migration to top
  master/static/migrations/20240401231937_oss-to-ee-catch-up.tx.down.sql
  master/static/migrations/20240407235703_oss-to-ee-catch-up.tx.down.sql
  master/static/migrations/20240407235703_oss-to-ee-catch-up.tx.up.sql
Due: none

update release note
  docs/release-notes/experiment-deadlock.rst
Due: none

add delete
  harness/determined/common/api/bindings.py
  master/internal/api_runs.go
  proto/pkg/apiv1/run.pb.go
  proto/src/determined/api/v1/run.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

docs: add Helm docs for multirm
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
Due: none

feedback
  docs/reference/deploy/helm-config-reference.rst
Due: none

add example to values
  helm/charts/determined/values.yaml
Due: none

uncommit
  helm/charts/determined/values.yaml
Due: none

docs: add helm doc updates (#9122)
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
  helm/charts/determined/values.yaml
Due: none

tara's edits
  docs/release-notes/experiment-deadlock.rst
Due: none

docs: add a python sdk example for log following. (#8981)
  docs/reference/python-sdk/example-workflows.rst
Due: none

add test
  e2e_tests/tests/run/test_api.py
  master/internal/api_runs.go
  proto/pkg/apiv1/run.pb.go
Due: go-fmt-import, gofumpt, golangci-lint

fixing lint
  master/internal/api_project_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: unlock mutex for experiment ResourcePool() [RM-152] (#9119)
  docs/release-notes/experiment-deadlock.rst
  master/.golangci.yml
  master/internal/api_project_intg_test.go
  master/internal/experiment_job_service.go
  master/internal/experiment_job_service_test.go
Due: go-fmt-import, gofumpt, golangci-lint

lint
  e2e_tests/tests/run/test_api.py
  proto/src/determined/api/v1/api.proto
Due: none

feat: helm deploys with a password (#9113)
  docs/reference/deploy/helm-config-reference.rst
  docs/release-notes/helm-requires-user-password.rst
  helm/charts/determined/scripts/k8s-password-change.py
  helm/charts/determined/templates/change-password.yaml
  helm/charts/determined/templates/master-config.yaml
Due: none

big datagrid commit
  webui/react/src/e2e/models/BaseComponent.ts
  webui/react/src/e2e/models/BasePage.ts
  webui/react/src/e2e/models/components/DynamicTabs.ts
  webui/react/src/e2e/models/components/ExperimentActionDropdown.ts
  webui/react/src/e2e/models/components/F_ExperiementList.ts
  webui/react/src/e2e/models/components/Table/InteractiveTable.ts
  webui/react/src/e2e/models/components/TableActionBar.ts
  webui/react/src/e2e/models/hew/DataGrid.ts
  webui/react/src/e2e/models/hew/SplitPane.ts
  webui/react/src/e2e/models/pages/ProjectDetails.ts
  webui/react/src/e2e/tests/experiment-list.spec.ts
  webui/react/src/pages/ExperimentList.tsx
Due: web-js-lint-check

WIP working backend
  harness/determined/cli/master.py
  master/internal/api_master.go
  master/pkg/model/maintenance_message.go
  master/static/migrations/20240111103557_server-maintain-message.tx.down.sql
  master/static/migrations/20240111103557_server-maintain-message.tx.up.sql
Due: go-fmt-import, gofumpt, golangci-lint

pause run
  harness/determined/common/api/bindings.py
  master/internal/api_runs.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/run.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/run.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

tests
  e2e_tests/tests/run/__init__.py
  e2e_tests/tests/run/test_api.py
  master/internal/api_runs.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: reduce time and reliability of tests
  master/internal/api_logretention_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint
