Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint
  require_serial: true

feat: allow k8srm to connect with a kubeconfig (#8953)
  master/internal/config/resource_manager_config.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/pods_test.go
  tools/k8s/README.md
  tools/k8s/devcluster.yaml
  tools/k8s/fetch-creds.sh
  tools/k8s/my-service-account.yaml
Due: go-fmt-import, gofumpt, golangci-lint

chore: add type ResourcePoolName string (#8978)
  master/internal/api_command.go
  master/internal/api_experiment.go
  master/internal/api_generic_tasks.go
  master/internal/api_job.go
  master/internal/api_resourcepool.go
  master/internal/api_resourcepool_intg_test.go
  master/internal/api_user_intg_test.go
  master/internal/checkpoint_gc.go
  master/internal/checkpoint_gc_test.go
  master/internal/experiment.go
  master/internal/job/jobservice/jobservice.go
  master/internal/restore.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/multirm/multirm.go
  master/internal/rm/multirm/multirm_intg_test.go
  master/internal/rm/resource_manager_iface.go
  master/internal/spec_util.go
  master/internal/spec_util_intg_test.go
  master/internal/sproto/jobs.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: Bumpenvs for NGC+ images (#8975)
  .circleci/real_config.yml
  docs/release-notes/ngc-images.rst
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/singularity.rst
  docs/setup-cluster/slurm/slurm-requirements.rst
  e2e_tests/tests/config.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  harness/tests/fixtures/checkpoint.json
  helm/charts/determined/values.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  tools/scripts/update-bumpenvs-yaml.py
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
Due: web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

test: add e2e_tests for multirm k8s [RM-11] (#8926)
  .circleci/devcluster/multi-k8s.devcluster.yaml
  .circleci/real_config.yml
  e2e_tests/pytest.ini
  e2e_tests/tests/cluster/test_multi_k8s.py
  e2e_tests/tests/cluster/utils.py
  e2e_tests/tests/conftest.py
  master/internal/config/resource_manager_config.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/pods.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: bump version: 0.29.0-dev0 -> 0.29.1-dev0
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

fix: stopping states are not handled in restore properly [RM-69] (#8958)
  .circleci/devcluster/double-reattach.devcluster.yaml
  docs/release-notes/reattach-stopping.rst
  e2e_tests/tests/cluster/test_master_restart.py
  master/internal/config/config.go
  master/internal/db/postgres_experiments.go
  master/internal/experiment.go
  master/internal/restore.go
  master/internal/task/allocation_service.go
  master/internal/task/allocation_service_test.go
  master/internal/task/preemptible/preemptible.go
  master/internal/trial.go
Due: go-fmt-import, gofumpt, golangci-lint

docs: add release notes for 0.29.0 (#8955)
  docs/release-notes.rst
  docs/release-notes/7940-socket-error.rst
  docs/release-notes/8437-auth-refactor.rst
  docs/release-notes/8851-force-default-passwords.rst
  docs/release-notes/log-level-config.rst
Due: none

chore: remove panics from rm initialization (#8983)
  master/internal/core.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/resource_managers_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: add docs dropdown link for new version
  docs/_static/version-switcher/versions.json
Due: none

fix: nil deref in ReadPreemptionStatus (#8979)
  master/internal/config/config.go
  master/internal/config/config_test.go
  master/internal/experiment_job_service.go
Due: go-fmt-import, gofumpt, golangci-lint

refactor: consolidate experiment list selection state (#8860)
  webui/react/src/components/ExperimentMoveModal.tsx
  webui/react/src/hooks/useTypedParams.test.tsx
  webui/react/src/hooks/useTypedParams.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.settings.ts
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/utils/asValueObject.ts
  webui/react/src/utils/observable.ts
Due: web-js-lint-check

feat: add model streaming (#8973)
  e2e_tests/tests/streaming/test_client.py
  harness/determined/common/streams/_client.py
  harness/determined/common/streams/wire.py
  master/cmd/stream-gen/main.go
  master/internal/stream/authz_basic_impl.go
  master/internal/stream/authz_iface.go
  master/internal/stream/messages.go
  master/internal/stream/models.go
  master/internal/stream/projects.go
  master/internal/stream/publisher.go
  master/internal/stream/subscription.go
  master/internal/stream/system_intg_test.go
  master/internal/stream/test_util.go
  master/internal/stream/util.go
  master/static/migrations/20240313113450_add-models-trigger.tx.down.sql
  master/static/migrations/20240313113450_add-models-trigger.tx.up.sql
Due: go-fmt-import, gofumpt, golangci-lint

fix: escape regex in `ProjectDeleteModal` (#8998)
  webui/react/src/components/ProjectDeleteModal.tsx
Due: web-js-lint-check

ci: test-perf uses determined version from github (#9019)
  .circleci/real_config.yml
Due: none

ci: DRY skip logic and clarity on step name (#9002)
  .circleci/real_config.yml
Due: none

fix: improved textcell performance for novels (#8986)
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/utils.ts
Due: web-js-lint-check

chore: reassign ml-sys CODEOWNERship to model-dev (#9000)
  .github/CODEOWNERS
Due: none

docs: add release notes for 0.29.1 (#9014)
  docs/release-notes.rst
  docs/release-notes/ngc-images.rst
  docs/release-notes/reattach-stopping.rst
Due: none

chore: ban http.Transport & http.Client; add cleanhttp (#8991)
  master/.golangci.yml
  master/internal/elastic/elastic.go
  master/internal/rm/kubernetesrm/mock_client_test.go
  master/internal/webhooks/api_webhook.go
  master/internal/webhooks/shipper.go
Due: go-fmt-import, gofumpt, golangci-lint

docs: Update Deploy on GCP (#8985)
  docs/setup-cluster/gcp/_index.rst
Due: none

test: document ui e2e with backend test instructions for local (#9005)
  webui/react/package.json
  webui/react/playwright.config.ts
  webui/react/src/e2e/README.md
  webui/react/src/e2e/fixtures/global-fixtures.ts
  webui/react/src/e2e/tests/auth.spec.ts
  webui/react/src/e2e/tests/navigation.spec.ts
Due: web-js-lint-check, web-misc-lint-check

fix: remove error text in continue trial modal (#8923)
  webui/react/src/components/ExperimentContinueModal.tsx
  webui/react/src/components/ExperimentCreateModal.tsx
Due: web-js-lint-check

feat: Add multi RM name to K8s (#8993)
  webui/react/src/components/ResourcePoolCard.tsx
Due: web-js-lint-check

chore: change GKE version (#8989)
  .circleci/real_config.yml
Due: none

chore: warn about det deploy det-version mistmach (#8994)
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/errors.py
  harness/determined/deploy/gcp/cli.py
  harness/determined/deploy/gke/cli.py
  harness/determined/deploy/local/cli.py
Due: none

chore: limit code coverage report to files in src; omit generated files (#9003)
  webui/react/vite.config.mts
Due: web-js-lint-check

chore: bump version: 0.29.1-dev0 -> 0.29.2-dev0
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

docs: add EditorRestricted role release note (#9007)
  docs/manage/security/rbac.rst
  docs/release-notes/editor-restricted-role.rst
Due: none

ci: Djanicek/infraeng 487/circle test runner (#8977)
  .circleci/real_config.yml
Due: none

docs: add EditorRestricted role to rbac docs (#8984)
  docs/manage/security/rbac.rst
Due: none

feat: SearchFlatRuns api call for flat runs table support (#8852)
  harness/determined/common/api/bindings.py
  master/internal/api_runs.go
  master/internal/api_runs_intg_test.go
  master/internal/experiment_filter.go
  performance/src/api_performance_tests.ts
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/run.pb.go
  proto/pkg/projectv1/project.pb.go
  proto/pkg/runv1/run.pb.go
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/run.proto
  proto/src/determined/project/v1/project.proto
  proto/src/determined/run/v1/run.proto
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/ioTypes.ts
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

chore: logins return Sessions (#8883)
  .circleci/scripts/wait_for_perf_migration_upload_results.py
  e2e_tests/tests/api_utils.py
  e2e_tests/tests/deploy/test_local.py
  harness/determined/cli/_util.py
  harness/determined/cli/tunnel.py
  harness/determined/cli/user.py
  harness/determined/common/api/__init__.py
  harness/determined/common/api/_session.py
  harness/determined/common/api/authentication.py
  harness/determined/common/experimental/determined.py
  harness/determined/core/_context.py
  harness/determined/deploy/healthcheck.py
  harness/determined/exec/gc_checkpoints.py
  harness/determined/exec/launch.py
  harness/determined/exec/prep_container.py
  harness/determined/experimental/core_v2/_core_context_v2.py
  harness/determined/launch/deepspeed.py
  harness/determined/launch/horovod.py
  harness/tests/checkpoints/test_checkpoint.py
  harness/tests/cli/test_auth.py
  harness/tests/cli/test_experiment.py
  harness/tests/determined/common/experimental/test_checkpoint.py
  harness/tests/determined/common/experimental/test_determined.py
  harness/tests/determined/common/experimental/test_experiment.py
  harness/tests/determined/common/experimental/test_model.py
  harness/tests/determined/common/experimental/test_project.py
  harness/tests/determined/common/experimental/test_resource_pool.py
  harness/tests/determined/common/experimental/test_trial.py
  harness/tests/determined/common/experimental/test_workspace.py
  harness/tests/launch/test_deepspeed.py
  harness/tests/launch/test_horovod.py
  master/static/srv/check_idle.py
  master/static/srv/check_ready_logs.py
Due: none

fix: Experiment.await_first_trial exits when Experiment is terminal (#9022)
  harness/determined/common/experimental/experiment.py
  harness/tests/determined/common/experimental/test_experiment.py
Due: none

database stores maintenace messages, api returns
  master/static/migrations/20231215103902_server-maintain-message.tx.down.sql
  master/static/migrations/20231215103902_server-maintain-message.tx.up.sql
  master/static/srv/get_maintenance_messages.sql
Due: none

insert maintenance messages
  master/static/srv/insert_maintenance_message.sql
Due: none

clear/delete maintenance messages
  master/internal/api_master.go
  master/static/srv/delete_maintenance_message.sql
  proto/src/determined/api/v1/master.proto
Due: go-fmt-import, gofumpt, golangci-lint

indefinite ending messages by default
  master/static/migrations/20231215103902_server-maintain-message.tx.up.sql
  master/static/srv/get_maintenance_messages.sql
Due: none

New schema to test
  master/static/migrations/20231215103902_server-maintain-message.tx.up.sql
  master/static/migrations/20240321125714_server-maintain-message.tx.down.sql
  master/static/migrations/20240321125714_server-maintain-message.tx.up.sql
Due: none

mocks working with failing redirect
  webui/.gitignore
  webui/react/Makefile
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/playwright.config.ts
  webui/react/run-mocked-playwright.sh
  webui/react/src/e2e/mocks/proxy-always.json
  webui/react/src/e2e/mocks/proxy-once.json
  webui/react/src/e2e/mocks/saved-imposters.json
Due: web-js-lint-check, web-misc-lint-check

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
