Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

timeout increase
  e2e_tests/tests/cluster/test_master_restart.py
Due: none

sleep fix
  e2e_tests/tests/cluster/test_master_restart.py
Due: none

migration bump to top
  master/static/migrations/20230927100920_ntsc-model-def.tx.down.sql
  master/static/migrations/20230927100920_ntsc-model-def.tx.up.sql
Due: none

fix: report searcher progress according to reporting period (#8006)
  harness/determined/pytorch/_pytorch_trial.py
  harness/tests/experiment/pytorch/test_pytorch_trial.py
Due: none

feat: commands download user files at startup so k8s can support larger context directories [DET-8830] (#7889)
  docs/release-notes/k8s-context-size-limit.rst
  e2e_tests/tests/cluster/test_master_restart.py
  e2e_tests/tests/command/test_run.py
  harness/determined/common/api/bindings.py
  harness/determined/exec/prep_container.py
  master/internal/api_command.go
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_notebook.go
  master/internal/api_shell.go
  master/internal/api_tensorboard.go
  master/internal/command/command.go
  master/internal/command/command_intg_test.go
  master/internal/command/command_manager.go
  master/internal/command/notebook_manager.go
  master/internal/command/shell_manager.go
  master/internal/command/tensorboard_manager.go
  master/internal/db/postgres_tasks.go
  master/pkg/model/task.go
  master/pkg/tasks/task_command.go
  master/static/migrations/20230927100920_ntsc-model-def.tx.down.sql
  master/static/migrations/20230927100920_ntsc-model-def.tx.up.sql
  master/static/srv/command-entrypoint.sh
  master/static/srv/entrypoint.sh
  master/static/srv/notebook-entrypoint.sh
  master/static/srv/shell-entrypoint.sh
  master/static/srv/tensorboard-entrypoint.sh
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/task.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/task.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

set default user name and password in master config
  master/internal/config/config.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: fix sorting in GetUsers endpoint (#8001)
  master/internal/api_user.go
Due: go-fmt-import, gofumpt, golangci-lint

useInputEscape
  webui/react/src/components/kit/Input.tsx
  webui/react/src/components/kit/InputNumber.tsx
  webui/react/src/components/kit/Select.tsx
  webui/react/src/components/kit/internal/useInputEscape.ts
Due: web-js-lint-check

Logger
  webui/react/src/components/kit/internal/Logger.ts
Due: web-js-lint-check

InputShortcut
  webui/react/src/components/JupyterLabButton.tsx
  webui/react/src/components/JupyterLabGlobal.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/UserSettings.settings.ts
  webui/react/src/components/UserSettings.tsx
  webui/react/src/components/kit/InputShortcut.tsx
  webui/react/src/omnibar/Omnibar.tsx
  webui/react/src/pages/DesignKit.tsx
Due: web-js-lint-check

LineChart 2, Avatar
  webui/react/src/components/Avatar/Avatar.tsx
  webui/react/src/components/Avatar/index.ts
  webui/react/src/components/AvatarCard/AvatarCard.module.scss
  webui/react/src/components/AvatarCard/AvatarCard.test.tsx
  webui/react/src/components/AvatarCard/AvatarCard.tsx
  webui/react/src/components/AvatarCard/index.ts
  webui/react/src/components/Table/Table.tsx
  webui/react/src/components/UserAvatar.test.tsx
  webui/react/src/components/UserAvatar.tsx
  webui/react/src/components/UserBadge.tsx
  webui/react/src/components/kit/Avatar.module.scss
  webui/react/src/components/kit/Avatar.test.tsx
  webui/react/src/components/kit/Avatar.tsx
  webui/react/src/components/kit/Facepile.module.scss
  webui/react/src/components/kit/Facepile.tsx
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/components/kit/internal/Avatar/Avatar.module.scss
  webui/react/src/components/kit/internal/Avatar/Avatar.test.tsx
  webui/react/src/components/kit/internal/Avatar/index.ts
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
  webui/react/src/pages/ModelDetails/ModelHeader.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceCard.tsx
Due: web-js-lint-check

Card fix
  webui/react/src/components/kit/Card.tsx
Due: web-js-lint-check

Avatar tweaks
  webui/react/src/components/kit/Avatar.test.tsx
  webui/react/src/components/kit/Avatar.tsx
  webui/react/src/pages/DesignKit.tsx
Due: web-js-lint-check

LineChart 1
  webui/react/src/components/kit/LineChart/XAxisFilter.tsx
  webui/react/src/components/kit/internal/UPlot/SyncProvider.tsx
  webui/react/src/components/kit/internal/UPlot/UPlotChart.tsx
  webui/react/src/components/kit/internal/functions.ts
  webui/react/src/components/kit/internal/types.ts
  webui/react/src/hooks/useMetricNames.ts
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
  webui/react/src/pages/F_ExpList/CompareMetrics.tsx
  webui/react/src/pages/F_ExpList/CompareParallelCoordinates.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/SystemMetricChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/ThroughputMetricChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/TimingMetricChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/types.ts
  webui/react/src/pages/TrialDetails/Profiles/useFetchProfilerMetrics.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsMetrics.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
  webui/react/src/types.ts
Due: web-js-lint-check

delete utils/shortcut
  webui/react/src/utils/shortcut.ts
Due: web-js-lint-check

Link
  webui/react/src/components/JupyterLabModal.tsx
  webui/react/src/components/ProjectCard.tsx
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/components/kit/Card.tsx
  webui/react/src/components/kit/LogViewer/LogViewer.tsx
  webui/react/src/components/kit/Modal.tsx
  webui/react/src/components/kit/Tags.tsx
  webui/react/src/components/kit/internal/Link.module.scss
  webui/react/src/components/kit/internal/Link.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceCard.tsx
Due: web-js-lint-check

UserAvatar import cleanup
  webui/react/src/components/UserAvatar.test.tsx
  webui/react/src/components/UserAvatar.tsx
Due: web-js-lint-check

fix: align default markdown font-family to theme [WEB-617]
  webui/react/src/components/Markdown.module.scss
  webui/react/src/components/kit/internal/Markdown.module.scss
Due: none

testing out adding errgroup
  harness/determined/exec/gc_checkpoints.py
  master/internal/api_experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: tensorboard deletion & checkpoint gc when det e delete [DET-9844][v2]
  harness/determined/exec/gc_checkpoints.py
  master/internal/api_experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

fixed context errors
  harness/determined/exec/gc_checkpoints.py
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

undoing change
  harness/determined/exec/gc_checkpoints.py
Due: none

adding release note
  docs/release-notes/delete-tensorboards.rst
Due: none

fixing docs and e2e?
  docs/release-notes/delete-tensorboards.rst
  e2e_tests/tests/cluster/test_checkpoints.py
Due: none

removing todo comment
  master/internal/api_experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

undoing a change
  e2e_tests/tests/cluster/test_checkpoints.py
  master/internal/api_experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

undoing intg test change
  master/internal/api_experiment_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: `make -C proto gen-buf-image`
  proto/buf.image.bin
Due: none

feat: add `last seen` column in user management table (#7991)
  harness/determined/common/api/bindings.py
  master/internal/api_user.go
  master/pkg/model/user.go
  proto/buf.image.bin
  proto/pkg/apiv1/user.pb.go
  proto/pkg/userv1/user.pb.go
  proto/src/determined/api/v1/user.proto
  proto/src/determined/user/v1/user.proto
  webui/react/src/pages/Admin/UserManagement.module.scss
  webui/react/src/pages/Admin/UserManagement.settings.ts
  webui/react/src/pages/Admin/UserManagement.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

fix: regular integer spacing of ticks
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/pages/TrialDetails/TrialChart.tsx
Due: web-js-lint-check

eslint fix
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/pages/TrialDetails/TrialChart.tsx
Due: web-js-lint-check

feat: add styling for multiple input errors
  webui/react/src/components/kit/Input.scss
  webui/react/src/components/kit/Input.tsx
Due: web-js-lint-check

feat: add styling for multiple input errors
  webui/react/src/components/kit/Input.scss
Due: none

restore examples check, remove tests from examples format
  examples/Makefile
Due: none

fix: update the import
  webui/react/src/components/kit/Input.tsx
Due: web-js-lint-check

adding exp id to log
  master/internal/api_experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

Revert "ci: disable docs review action [skip ci] (#7982)"
  .github/workflows/doc-review.yml
Due: none

ci: assign docs team on docs PRs [skip ci]
  .github/workflows/doc-review.yml
Due: none

add defaultPassword to mater-config.yaml
  helm/charts/determined/templates/master-config.yaml
  master/cmd/determined-master/init.go
  master/internal/config/config.go
Due: go-fmt-import, gofumpt, golangci-lint
