Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

cleanup
  docs/setup-cluster/k8s/internal-task-gateway.rst
Due: none

chore: cleanup notebook proxy feature branch (#9512)
  docs/setup-cluster/k8s/install-on-kubernetes.rst
  docs/setup-cluster/k8s/internal-task-gateway.rst
  master/Makefile
  master/internal/config/resource_manager_config.go
  master/internal/rm/kubernetesrm/gateway_service.go
  master/internal/rm/kubernetesrm/job.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/mock_client_test.go
  master/internal/rm/kubernetesrm/spec.go
  master/internal/rm/kubernetesrm/spec_test.go
  master/pkg/check/check_string.go
  master/pkg/check/check_test.go
  tools/k8s/gateways/contour-provisioner.yaml
  tools/k8s/launch-minikube-with-gateway.sh
Due: go-fmt-import, gofumpt, golangci-lint

fix: allow doesnotcontains filters on hyperparameter column (#8842)
  master/internal/api_experiment_intg_test.go
  master/internal/experiment_filter.go
Due: go-fmt-import, gofumpt, golangci-lint

Move mock to test file
  webui/react/src/components/ComparisonView.test.mock.tsx
  webui/react/src/components/ComparisonView.test.tsx
Due: web-js-lint-check

chore: bump migration
  master/static/migrations/20240613095741_add-arbitrary-metadata-table.tx.up.sql
Due: none

feat: add delete namespace bindings cli and api endpoints
  e2e_tests/tests/cluster/test_workspace_org.py
  harness/determined/cli/workspace.py
  harness/determined/common/api/bindings.py
  master/internal/api_workspace.go
  master/internal/api_workspace_intg_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/workspace.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/workspace.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

try this for stable?
  webui/react/src/e2e/tests/experimentList.spec.ts
Due: web-js-lint-check

revert
  master/internal/api_runs.go
  master/internal/experiment_filter.go
Due: go-fmt-import, gofumpt, golangci-lint

add run_id index
  master/static/migrations/20240610092648_add-run-hparam-index.tx.up.sql
Due: none

test: preparing a homework assignment [TESTENG-3] (#9510)
  webui/react/playwright.config.ts
  webui/react/src/e2e/fixtures/api.auth.fixture.ts
  webui/react/src/e2e/fixtures/api.user.fixture.ts
  webui/react/src/e2e/fixtures/global-fixtures.ts
  webui/react/src/e2e/models/BaseComponent.ts
  webui/react/src/e2e/models/ant/Dropdown.ts
  webui/react/src/e2e/models/ant/Popover.ts
  webui/react/src/e2e/models/components/FilterForm/components/FilterGroup.ts
  webui/react/src/e2e/models/hew/DataGrid.ts
  webui/react/src/e2e/tests/experimentList.spec.ts
  webui/react/src/e2e/tests/userManagement.spec.ts
  webui/react/src/e2e/utils/naming.ts
Due: web-js-lint-check

feat: add arbitrary metadata GET/POST endpoints (#9130)
  harness/determined/common/api/bindings.py
  harness/determined/core/_train.py
  master/internal/api_experiment.go
  master/internal/api_runs.go
  master/internal/api_runs_intg_test.go
  master/internal/db/postgres_runs.go
  master/internal/db/postgres_trial.go
  master/internal/run/postgres_run_intg_test.go
  master/internal/run/runs.go
  master/internal/run/runs_test.go
  master/pkg/model/experiment.go
  master/pkg/model/run.go
  master/static/migrations/20240613095741_add-arbitrary-metadata-table.tx.up.sql
  master/static/srv/proto_get_trials_plus.sql
  master/static/views_and_triggers/runs.sql
  master/static/views_and_triggers/up/metrics.sql
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/run.pb.go
  proto/pkg/runv1/run.pb.go
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/run.proto
  proto/src/determined/run/v1/run.proto
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

feat: flat runs comparison view [ET-190] (#9477)
  webui/react/src/components/CompareHeatMaps.tsx
  webui/react/src/components/CompareHyperparameters.test.tsx
  webui/react/src/components/CompareHyperparameters.tsx
  webui/react/src/components/CompareMetrics.tsx
  webui/react/src/components/CompareParallelCoordinates.tsx
  webui/react/src/components/CompareScatterPlots.tsx
  webui/react/src/components/ComparisonView.test.mock.tsx
  webui/react/src/components/ComparisonView.test.tsx
  webui/react/src/components/ComparisonView.tsx
  webui/react/src/hooks/useMetrics.ts
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsMetrics.tsx
  webui/react/src/utils/run.test.ts
  webui/react/src/utils/run.ts
  webui/react/src/utils/tests/generateTestData.ts
Due: web-js-lint-check

protect against case with resource pool using round-robin
  master/internal/config/config.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/scheduler.go
  master/internal/rm/agentrm/scheduler_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: partially scheduled k8s jobs show as queued
  master/internal/rm/kubernetesrm/job.go
  master/internal/rm/kubernetesrm/resource_pool_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

format
  master/internal/rm/agentrm/scheduler.go
Due: go-fmt-import, gofumpt, golangci-lint

update perf test
  performance/src/api_performance_tests.ts
Due: none

remove tableViewMode
  webui/react/src/components/OptionsMenu.settings.ts
Due: web-js-lint-check

add test enforcing deprecation of round robin resource pool
  master/internal/rm/agentrm/scheduler_test.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: cli displays warning messages when logging in with a weak password
  harness/determined/cli/user.py
  harness/determined/common/api/authentication.py
Due: none

lint
  master/internal/experiment_filter.go
Due: go-fmt-import, gofumpt, golangci-lint

lint migrations
  master/static/migrations/20240613152622_add-run-hparam-index.tx.up.sql
Due: none

feat: webui displays a warning if password complexity requirements are not met
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/types.ts
  webui/react/src/utils/user.ts
Due: web-js-lint-check

* Replace sys.exit(-1) with raise.
  docs/gen-versions.py
Due: none

test changes
  .circleci/real_config.yml
  master/internal/rm/kubernetesrm/jobs_test.go
Due: go-fmt-import, gofumpt, golangci-lint

remove isPagedView
  webui/react/src/components/Searches/Searches.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Due: web-js-lint-check

fix: partially scheduled k8s jobs should display as queued (#9468)
  master/internal/rm/kubernetesrm/job.go
  master/internal/rm/kubernetesrm/resource_pool_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fmt
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Due: web-js-lint-check

docs: FSDP example
  docs/model-dev-guide/api-guides/apis-howto/deepspeed/deepspeed.rst
Due: none

fix: historical allocations not appearing
  master/static/srv/update_aggregated_allocation.sql
Due: none

* Clarify commit argument help string.
  docs/gen-versions.py
Due: none

docs: Fix broken links
  docs/model-dev-guide/dtrain/dtrain-introduction.rst
  docs/model-dev-guide/hyperparameter/search-methods/_index.rst
  docs/release-notes.rst
  docs/setup-cluster/slurm/slurm-known-issues.rst
  docs/tutorials/pachyderm-cat-dog.rst
Due: none

docs: Fix broken links (#9523)
  docs/model-dev-guide/dtrain/dtrain-introduction.rst
  docs/model-dev-guide/hyperparameter/search-methods/_index.rst
  docs/release-notes.rst
  docs/setup-cluster/slurm/slurm-known-issues.rst
  docs/tutorials/pachyderm-cat-dog.rst
Due: none

Add chart '1.0.1-dev2 0.15.3 7.0.19 5.41.4 0.2.16 4.0.15 25.8.2 1.7.0 5.15.2 4.24.0 2.4.2 6.15.3' due to release
  aioli-helm-chart_1.0.1-dev2.tgz
  index.yaml
Due: none

chore: remove unnecessary todo comment
  master/internal/run/runs_test.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: allow empty run metadata fields to allow for metadata deletes
  master/internal/api_runs.go
  master/internal/db/postgres_runs.go
  master/internal/run/runs.go
  master/internal/run/runs_test.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: add nil & empty metadta test cases
  master/internal/api_runs_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: skip webhook regex matching for exp config (#9511)
  e2e_tests/tests/cluster/test_webhooks.py
  master/internal/logpattern/logpattern.go
  master/internal/webhooks/postgres_webhook.go
Due: go-fmt-import, gofumpt, golangci-lint

fix after merge
  proto/pkg/runv1/run.pb.go
Due: none

ts fix
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check

feat: support node selectors for Kubernetes resource pools
  docs/release-notes/feature-node-selectors.rst
  docs/setup-cluster/k8s/custom-pod-specs.rst
  docs/setup-cluster/k8s/install-on-kubernetes.rst
  go.mod
  go.sum
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/jobs_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/kubernetesrm/resource_pool.go
Due: go-fmt-import, gofumpt, golangci-lint
