Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

signal allocation on exit
  master/internal/trial.go
Due: go-fmt-import, gofumpt, golangci-lint

call exit on UserInitiatedEarlyExit
  master/internal/trial.go
Due: go-fmt-import, gofumpt, golangci-lint

update test
  master/internal/trial_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

run allocation onExit async
  master/internal/task/allocation_service.go
Due: go-fmt-import, gofumpt, golangci-lint

cleanup
  master/internal/trial.go
Due: go-fmt-import, gofumpt, golangci-lint

debug
  master/internal/experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

cleanup
  master/internal/experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

early duplicate op check
  master/internal/experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

cleanup
  master/internal/experiment.go
  master/internal/trial.go
Due: go-fmt-import, gofumpt, golangci-lint

signal allocation on exit (if has allocationId)
  master/internal/trial.go
Due: go-fmt-import, gofumpt, golangci-lint

logging
  master/internal/core.go
  master/internal/restore.go
  master/internal/trial.go
  master/test/testutils/fixtures.go
Due: go-fmt-import, gofumpt, golangci-lint

continue on experiment op error
  master/internal/experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

fixup trial api
  master/internal/api_trials.go
  master/internal/experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

fixup
  master/internal/trial.go
Due: go-fmt-import, gofumpt, golangci-lint

use parent for trial
  master/internal/experiment.go
  master/internal/trial.go
Due: go-fmt-import, gofumpt, golangci-lint

send trialReportEarlyExit
  master/internal/experiment.go
  master/internal/trial.go
Due: go-fmt-import, gofumpt, golangci-lint

no actor tell in trial
  master/internal/experiment.go
  master/internal/restore.go
  master/internal/trial.go
  master/internal/trial_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fixup
  master/internal/experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

fixup
  master/internal/experiment.go
  master/internal/trial.go
  master/internal/trial_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fixup trial api
  master/internal/experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

trial.Exit on AllocationExitedCallback
  master/internal/trial.go
Due: go-fmt-import, gofumpt, golangci-lint

chore(build): bump up Makefile requireed go version to 1.21 since determined/master now requires it
  Makefile
Due: none

chore: bump version: 0.25.0-rc5 -> 0.25.0-rc6
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

change `core_context.utils` to be `core_context.experimental` instead
  docs/model-dev-guide/api-guides/batch-processing/batch-process-api-ug.rst
  examples/computer_vision/cifar10_pytorch/inference_example.py
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/model.py
  harness/determined/core/__init__.py
  harness/determined/core/_context.py
  harness/determined/core/_utils.py
Due: none

audit npm packages
  performance/junit.xml
  performance/package-lock.json
Due: none

remove xml file
  performance/junit.xml
Due: none

add default cluster url
  performance/junit.xml
  performance/src/load_tests.ts
Due: none

chore: use Message for no data in ComparisonView (#7654)
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
  webui/react/src/pages/F_ExpList/CompareParallelCoordinates.tsx
Due: web-js-lint-check

added k6-summary to repo
  performance/src/load_tests.ts
  performance/src/utils/k6-summary.js
Due: none

add average load test
  performance/src/load_tests.ts
Due: none

revert
  master/internal/core.go
  master/internal/task/allocation_service.go
Due: go-fmt-import, gofumpt, golangci-lint

refactor: update table selection changes to standard event handler pattern
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Due: web-js-lint-check

chore: update previous selection anchor even after any type of click
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Due: web-js-lint-check

refactor: update column changes to standard event handler pattern
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
Due: web-js-lint-check

chore: sort component props alphabetically to make it easier to update going forward
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/components/ExperimentMoveModal.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/pages/F_ExpList/glide-table/contextMenu.tsx
Due: web-js-lint-check
