Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

feat: add streamline intg test model and add checks for most types (#8552)
  master/internal/stream/system_intg_test.go
  master/internal/stream/test_util.go
  master/static/migrations/20231126215150_add-checkpoints-trigger.tx.up.sql
  master/stream.py
  master/test/streamdata/stream_data.go
  master/test/streamdata/stream_data.sql
Due: go-fmt-import, gofumpt, golangci-lint

chore: bump google.golang.org/grpc from 1.40.0 to 1.56.3 in /proto
  go.mod
  go.sum
Due: none

chore: upgrade docker/docker to 24.0.7+incompatible
  go.mod
Due: none

ci: make backend own codeowner of go.mod / go.sum
  .github/CODEOWNERS
Due: none

docs: add release notes for 0.26.5 (#8564)
  docs/release-notes.rst
  docs/release-notes/8488-tqdm.rst
  docs/release-notes/fix-log-policies-match-itself.rst
Due: none

chore: bump version: 0.26.5-dev0 -> 0.26.6-dev0
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

CODEOWNER?
  go.mod
Due: none

chore: add release note for 0.26.6
  docs/release-notes.rst
Due: none

modify
  .github/CODEOWNERS
Due: none

revert
  go.mod
Due: none

fix: replaced deprecated references, types.AuthConfig and dcontainer.ContainerWaitOKBody*
  agent/pkg/docker/docker.go
  agent/pkg/docker/docker_credential_store.go
  agent/pkg/docker/docker_test.go
  agent/pkg/podman/podman.go
  agent/pkg/singularity/singularity.go
  agent/pkg/singularity/singularity_api_test.go
  master/internal/config/config_test.go
  master/pkg/cproto/spec.go
  master/pkg/model/environment_config.go
  master/pkg/model/experiment_config_test.go
  master/pkg/model/task_container_defaults.go
  master/pkg/model/task_container_defaults_test.go
  master/pkg/schemas/expconf/environment_config.go
  master/pkg/schemas/expconf/zgen_environment_config_v0.go
Due: go-fmt-import, gofumpt, golangci-lint

traceback for hparams
  model_hub/model_hub/mmdetection/_trial.py
Due: none

hide workspace modal when not visible
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/pages/WorkspaceDetails/WorkspaceQuickSearch.tsx
Due: web-js-lint-check, web-misc-lint-check

use bun for query
  master/internal/api_generic_tasks.go
  master/pkg/tasks/task_generic.go
Due: go-fmt-import, gofumpt, golangci-lint

make onClose prop optional
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
Due: web-js-lint-check

change close modals
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
  webui/react/src/pages/JobQueue/ManageJob.tsx
Due: web-js-lint-check

types
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/DynamicTabs.tsx
  webui/react/src/components/ExperimentStopModal.tsx
  webui/react/src/components/FilterForm/components/FilterField.tsx
  webui/react/src/components/HpSelect.tsx
  webui/react/src/components/Markdown.tsx
  webui/react/src/components/MetricSelect.tsx
  webui/react/src/components/ProjectMoveModal.tsx
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.tsx
  webui/react/src/pages/Admin/index.tsx
  webui/react/src/pages/Cluster.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentMultiTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/ResourcePool/ResourcepoolDetail.tsx
  webui/react/src/pages/TrialDetails.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
Due: web-js-lint-check, web-misc-lint-check

Toggle
  webui/react/package-lock.json
  webui/react/src/components/CreateUserModal.tsx
  webui/react/src/components/WorkspaceCreateModal.tsx
Due: web-js-lint-check, web-misc-lint-check

SEP: avoid setting up playwright in production environment
  webui/react/Makefile
Due: none

use get.
  webui/react/src/routes/utils.ts
Due: web-js-lint-check

feat: conditionally add genai to the sidebar
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/routes/utils.ts
Due: web-js-lint-check

add GAS feature flag
  harness/determined/deploy/aws/injector/master.yaml.tmpl
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
Due: none

avoid dynamic checks. go based off of featureswitches
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/routes/utils.ts
Due: web-js-lint-check

check for GAS feature switch
  webui/react/src/routes/utils.ts
Due: web-js-lint-check

define the feature switch in web
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/hooks/useFeature.ts
Due: web-js-lint-check

ci: make backend own codeowner of go.mod / go.sum (#8568)
  .github/CODEOWNERS
Due: none

chore: Port smaller Antd.Modals to standard Hew Modal (#8567)
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/GalleryModal.module.scss
  webui/react/src/components/GalleryModalComponent.tsx
  webui/react/src/components/ResourcePoolDetailsModalComponent.tsx
  webui/react/src/components/TaskList.module.scss
  webui/react/src/components/TaskList.tsx
  webui/react/src/components/TaskListModalComponent.module.scss
  webui/react/src/components/TaskListModalComponent.tsx
  webui/react/src/components/TextEditorModal.module.scss
  webui/react/src/components/TextEditorModal.tsx
  webui/react/src/components/UseNotebookModalComponent.module.scss
  webui/react/src/components/UseNotebookModalComponent.tsx
  webui/react/src/pages/Cluster/ClusterHistoricalUsage.tsx
  webui/react/src/pages/Cluster/ClusterHistoricalUsageCsvModalComponent.tsx
  webui/react/src/pages/Cluster/ClusterOverview.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpHeatMaps.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpScatterPlots.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
  webui/react/src/pages/ExperimentDetails/TrialsComparisonModal.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/JobQueue/ManageJob.tsx
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceQuickSearch.tsx
  webui/react/src/pages/WorkspaceDetails/WorkspaceQuickSearchModalComponent.module.scss
  webui/react/src/pages/WorkspaceDetails/WorkspaceQuickSearchModalComponent.tsx
Due: web-js-lint-check, web-misc-lint-check

strict unmarshall
  master/internal/api_generic_tasks.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: include cluster name in stack deletion confirmation
  harness/determined/deploy/aws/cli.py
Due: none

remove version existance assertion
  harness/determined/deploy/aws/cli.py
Due: none

flip the check for readability
  harness/determined/deploy/aws/cli.py
Due: none

Revert "flip the check for readability"
  harness/determined/deploy/aws/cli.py
Due: none

take out default value for lore version
  harness/determined/deploy/aws/cli.py
Due: none

rename var name casing?
  webui/react/src/components/NavigationSideBar.tsx
Due: web-js-lint-check

add a warning when truncating a full git commit hash
  harness/determined/deploy/aws/cli.py
Due: none

add project streaming update go and migration
  master/internal/stream/authz_basic_impl.go
  master/internal/stream/authz_iface.go
  master/internal/stream/projects.go
  master/internal/stream/system.go
  master/static/migrations/20231211011129_add-projects-trigger.tx.down.sql
  master/static/migrations/20231211011129_add-projects-trigger.tx.up.sql
Due: go-fmt-import, gofumpt, golangci-lint

chore: run to checkpoint migration (#8535)
  master/internal/api_checkpoint_intg_test.go
  master/internal/api_trials.go
  master/internal/api_trials_intg_test.go
  master/internal/core_checkpoint_intg_test.go
  master/internal/db/postgres_checkpoints_intg_test.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_model_intg_test.go
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/run/postgres_run_intg_test.go
  master/pkg/model/experiment.go
  master/static/migrations/20231204141901_run-checkpoints.tx.down.sql
  master/static/migrations/20231204141901_run-checkpoints.tx.up.sql
  master/test/integration/api/api_checkpoints_test.go
  master/test/olddata/pre_run_trials.go
Due: go-fmt-import, gofumpt, golangci-lint

run id task id migration start
  master/static/migrations/20231204112957_run_id_task_id.tx.down.sql
  master/static/migrations/20231204112957_run_id_task_id.tx.up.sql
Due: none

migration done
  master/internal/api_experiment.go
  master/internal/api_trials_intg_test.go
  master/internal/db/postgres_checkpoints.go
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_tasks.go
  master/internal/db/postgres_trial.go
  master/internal/experiment.go
  master/internal/trial.go
  master/pkg/model/experiment.go
  master/static/migrations/20231204112957_run_id_task_id.tx.down.sql
  master/static/migrations/20231204112957_run_id_task_id.tx.up.sql
  master/static/srv/get_raw_allocation.sql
  master/static/srv/proto_get_trials_plus.sql
  master/static/srv/update_aggregated_allocation.sql
Due: go-fmt-import, gofumpt, golangci-lint
