Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

remove testing example
  examples/features/unmanaged/det_simple.py
Due: none

correction after testing
  agent/internal/agent.go
  docs/.redirects/redirects.json
  docs/release-notes/deprecate-containerRuntime.rst
Due: go-fmt-import, gofumpt, golangci-lint

docs: Update remote users auto redirect
  docs/manage/users-remote.rst
Due: none

typing
  harness/determined/experimental/core_v2/_core_v2.py
Due: none

linting
  model_hub/model_hub/huggingface/_trial.py
  model_hub/model_hub/mmdetection/_trial.py
Due: none

fix: for safari
  webui/react/src/components/HyperparameterSearchModal.module.scss
Due: none

fix
  harness/determined/experimental/core_v2/_core_v2.py
Due: none

docs: Deprecate model hub library docs
  docs/model-hub-library/_index.rst
Due: none

revision
  docs/manage/users-remote.rst
Due: none

docs: Update remote users auto redirect (#9623)
  docs/manage/users-remote.rst
Due: none

Deprecate docs
  docs/model-hub-library/_index.rst
Due: none

feat: obfuscate data.secrets if present in experiment config
  master/internal/api_experiment.go
  master/internal/authz/obfuscate.go
  master/internal/authz/obfuscate_test.go
Due: go-fmt-import, gofumpt, golangci-lint

docs: explain how experiment config obfuscation works
  docs/reference/experiment-config-reference.rst
  docs/release-notes/secret-experiment-config.rst
Due: none

feat: switch from m5.large to m6i.large
  .circleci/real_config.yml
  docs/get-started/architecture/introduction.rst
  docs/release-notes/m6i.rst
  docs/setup-cluster/aws/install-on-aws.rst
  harness/determined/deploy/aws/gen_vcpu_mapping.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/aws/vcpu_mapping.yaml
  master/internal/config/provconfig/aws_config.go
Due: go-fmt-import, gofumpt, golangci-lint

fix the option reference to -w
  tools/slurm/scripts/slurmcluster.sh
Due: none

take out nightly as an exception
  .circleci/scripts/job_level_alerts.py
Due: none

chore: skip the wait for nightlies
  .circleci/scripts/job_level_alerts.py
Due: none

add support for timeouts
  .circleci/scripts/job_level_alerts.py
Due: none

Revert "lower the timeout to test. run on all branches"
  .circleci/real_config.yml
  .circleci/scripts/job_level_alerts.py
Due: none

lower the timeout to test. run on all branches
  .circleci/real_config.yml
  .circleci/scripts/job_level_alerts.py
Due: none

Add chart '1.0.1-dev21 6.15.3 0.15.3 7.0.19 5.41.4 0.2.16 4.0.15 25.8.2 4.24.0 2.4.2 1.7.0 5.15.2' due to release
  aioli-helm-chart_1.0.1-dev21.tgz
  index.yaml
Due: none

more lint fixes and API metadata correction
  harness/determined/cli/workspace.py
  helm/charts/determined/templates/master-permissions.yaml
  master/internal/api_workspace.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: set cli pwd warning go to stderr (#9536)
  harness/determined/cli/user.py
  harness/determined/common/api/authentication.py
Due: none

fix: API requests with single RM and recover from panic during unauthorized autocreate (#9573)
  harness/determined/cli/workspace.py
  helm/charts/determined/templates/master-permissions.yaml
  master/internal/api_workspace.go
Due: go-fmt-import, gofumpt, golangci-lint

release note
  docs/release-notes/detached-mode-config-improvement.md
  docs/release-notes/detached-mode-config-improvement.rst
Due: none

also obfuscate originalconfig
  master/internal/authz/obfuscate.go
  master/internal/authz/obfuscate_test.go
Due: go-fmt-import, gofumpt, golangci-lint

download button
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.tsx
Due: web-js-lint-check

fmt
  webui/react/src/pages/TrialDetails/TrialDetailsOverview.tsx
Due: web-js-lint-check

fix dup name
  webui/react/src/components/HyperparameterSearchModal.tsx
Due: web-js-lint-check

fix: overflow in hyperparameter modal (#9626)
  webui/react/src/components/HyperparameterSearchModal.module.scss
Due: none

Add chart '1.0.1-dev22 0.15.3 7.0.19 5.41.4 0.2.16 4.0.15 25.8.2 5.15.2 4.24.0 2.4.2 1.7.0 6.15.3' due to release
  aioli-helm-chart_1.0.1-dev22.tgz
  index.yaml
Due: none

fix: unit tests and fixes for generateNamespaceName
  master/internal/api_workspace.go
  master/internal/api_workspace_test.go
Due: go-fmt-import, gofumpt, golangci-lint

doc fmt
  docs/release-notes/detached-mode-config-improvement.rst
Due: none

add test
  master/internal/api_project_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

add info in release note
  docs/release-notes/deprecate-containerRuntime.rst
Due: none

nit fmt
  docs/release-notes/deprecate-containerRuntime.rst
Due: none

feat: switch `det deploy aws` and CI from `m5.large` to `m6i.large` (#9636)
  .circleci/real_config.yml
  docs/get-started/architecture/introduction.rst
  docs/release-notes/m6i.rst
  docs/setup-cluster/aws/install-on-aws.rst
  harness/determined/deploy/aws/gen_vcpu_mapping.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/aws/vcpu_mapping.yaml
  master/internal/config/provconfig/aws_config.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: ensure generated names are valid k8s namespace names
  master/internal/api_workspace.go
  master/internal/api_workspace_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: more intuitive parameter order
  master/internal/api_workspace.go
  master/internal/api_workspace_test.go
Due: go-fmt-import, gofumpt, golangci-lint

Update docs/release-notes/secret-experiment-config.rst
  docs/release-notes/secret-experiment-config.rst
Due: none
