Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint

chore: reload only when explicit
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/model.py
Due: none

edit README
  examples/features/torch_batch_process/batch_inference/generate_embedding/README.md
Due: none

chore: Expose trial state to Trial
  harness/determined/common/experimental/trial.py
Due: none

test: Test new Trial state hydration.
  harness/tests/determined/common/experimental/test_determined.py
Due: none

section divider, spacing
  webui/react/src/components/Section.module.scss
  webui/react/src/pages/Settings/SettingsAccount.tsx
Due: web-js-lint-check

Better error message when downloading a checkpoint without state.
  harness/determined/common/experimental/checkpoint/_checkpoint.py
Due: none

Try again to fix unit test memory usage.
  examples/computer_vision/cifar10_tf_keras/model_def.py
Due: none

fmt
  webui/react/src/components/Section.module.scss
  webui/react/src/pages/Settings/SettingsAccount.tsx
Due: web-js-lint-check

update test expectation for what method gets called and logged
  harness/tests/experiment/pytorch/test_examples.py
Due: none

InlineForm for password
  webui/react/src/components/PasswordChangeModal.test.tsx
  webui/react/src/components/PasswordChangeModal.tsx
  webui/react/src/components/kit/InlineForm.module.scss
  webui/react/src/pages/Settings/SettingsAccount.test.tsx
  webui/react/src/pages/Settings/SettingsAccount.tsx
Due: web-js-lint-check

chore: add release notes for notebook tls
  docs/release-notes/6735-add-tls-to-notebooks.rst
Due: none

test: tests for Workspace constructor
  harness/tests/determined/common/experimental/test_workspace.py
  harness/tests/fixtures/api_responses.py
  harness/tests/fixtures/workspace.json
Due: none

fix docstring for constructor
  harness/determined/common/experimental/workspace.py
Due: none

chore: add generic metrics support to harness (#7407)
  e2e_tests/tests/fixtures/custom_searcher/model_coreapi.py
  harness/determined/common/declarative_argparse.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/trial.py
  harness/determined/common/util.py
  harness/determined/core/_train.py
  harness/determined/experimental/client.py
  harness/tests/experiment/pytorch/test_examples.py
Due: none

linting
  docs/release-notes/6735-add-tls-to-notebooks.rst
Due: none

chore: support workspace names in addition to ids
  master/internal/api_resourcepool.go
  master/internal/workspace/postgres_workspace.go
Due: go-fmt-import, gofumpt, golangci-lint

remove duplicates from lists
  master/internal/api_resourcepool.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: userSettings store should function correctly when useSettings is active
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/hooks/useSettings.ts
  webui/react/src/utils/observable.ts
Due: web-js-lint-check, web-misc-lint-check

fix typo
  master/internal/workspace/postgres_workspace.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: label default compute and default aux pools differently
  webui/react/src/components/ResourcePoolCard.tsx
Due: web-js-lint-check

NavigationSideBar
  webui/react/src/components/NavigationSideBar.tsx
Due: web-js-lint-check

WIP
  master/internal/rm/kubernetesrm/spec.go
Due: go-fmt-import, gofumpt, golangci-lint

format README.md
  examples/features/torch_batch_process/batch_inference/generate_embedding/README.md
Due: none

WIP
  docs/release-notes/9355-allow-security-context
  master/internal/rm/kubernetesrm/spec.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: Workspace as an object in the SDK. (#7387)
  harness/determined/common/experimental/workspace.py
  harness/tests/determined/common/experimental/test_workspace.py
  harness/tests/fixtures/api_responses.py
  harness/tests/fixtures/workspace.json
Due: none

checkpoint migration
  master/static/migrations/20230703141926_migrate-checkpointv1.tx.down.sql
  master/static/migrations/20230703141926_migrate-checkpointv1.tx.up.sql
Due: none

unhack queries to account for v1 slowness
  master/internal/api_checkpoint.go
  master/internal/api_experiment.go
  master/internal/db/postgres_checkpoints.go
  master/internal/db/postgres_experiments.go
  master/pkg/model/experiment.go
  master/static/srv/get_model_versions.sql
  master/static/srv/get_raw_allocation.sql
  master/static/srv/proto_get_trials_plus.sql
  master/static/srv/update_checkpoint_metadata.sql
Due: go-fmt-import, gofumpt, golangci-lint

intg tests passing
  master/internal/api_checkpoint_intg_test.go
  master/static/migrations/20230703141926_migrate-checkpointv1.tx.up.sql
Due: go-fmt-import, gofumpt, golangci-lint

db tests working
  master/internal/db/postgres_checkpoints_intg_test.go
  master/static/srv/proto_get_trials_plus.sql
Due: go-fmt-import, gofumpt, golangci-lint

Changed
  master/static/migrations/20230706165057_migrate-checkpointv1.tx.down.sql
  master/static/migrations/20230706165057_migrate-checkpointv1.tx.up.sql
Due: none

started fixing tests
  master/internal/db/postgres_checkpoints.go
  master/internal/db/postgres_experiments.go
  master/static/srv/get_model_versions.sql
Due: go-fmt-import, gofumpt, golangci-lint

backport this commit to checkpoints
  master/static/migrations/20230706165057_migrate-checkpointv1.tx.down.sql
  master/static/migrations/20230706165057_migrate-checkpointv1.tx.up.sql
Due: none

bump
  master/static/migrations/20230710120538_migrate-checkpointv1.tx.down.sql
  master/static/migrations/20230710120538_migrate-checkpointv1.tx.up.sql
Due: none

feedback
  master/static/migrations/20230710120538_migrate-checkpointv1.tx.down.sql
  master/static/migrations/20230710120538_migrate-checkpointv1.tx.up.sql
Due: none

clean up
  master/internal/api_experiment.go
  master/static/migrations/20230710120538_migrate-checkpointv1.tx.down.sql
  master/static/migrations/20230710120538_migrate-checkpointv1.tx.up.sql
  master/static/srv/proto_get_trials_plus.sql
Due: go-fmt-import, gofumpt, golangci-lint

try to get end time more correct
  master/static/migrations/20230710120538_migrate-checkpointv1.tx.up.sql
Due: none

to left joins + fix get_raw_allocations
  master/static/migrations/20230710120538_migrate-checkpointv1.tx.up.sql
  master/static/srv/get_raw_allocation.sql
Due: none

raw allocation bug fix
  master/static/srv/get_raw_allocation.sql
Due: none

fixed
  master/static/srv/get_raw_allocation.sql
Due: none

bump to top
  master/static/migrations/20230718141429_migrate-checkpointv1.tx.down.sql
  master/static/migrations/20230718141429_migrate-checkpointv1.tx.up.sql
Due: none

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
