Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint
  require_serial: true

reset makeFile
  master/Makefile
Due: none

Begin to add dry-run functionality to CircleCI
  .circleci/real_config.yml
  Makefile
  agent/.goreleaser_dryrun.yml
  agent/Makefile
  harness/Makefile
  helm/.goreleaser_dryrun.yml
  helm/Makefile
  master/.goreleaser_dryrun.yml
  master/Makefile
  model_hub/Makefile
Due: none

fix auth test pt2
  master/internal/api_trials_intg_test.go
  master/internal/db/postgres_experiments.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: adding backport github action
  .github/workflows/backport.yaml
Due: none

add get experiments test
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_experiments_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: replace rawsource attribute with node call directly due to Docutil 2.0 removal
  docs/rebrand-docs.py
Due: none

Fix showing default version name
  webui/react/src/pages/ModelVersionDetails/ModelVersionHeader.tsx
Due: web-js-lint-check

chore: add release notes for PR 9822
  docs/release-notes/updated-user-roles-slot-caps.rst
Due: none

docs: Minor docs enhancements
  docs/tools/webui-if.rst
Due: none

update release notes
  docs/release-notes/rocm-mi300x.rst
Due: none

fmt
  docs/tools/webui-if.rst
Due: none

docs: Minor docs enhancements (#9836)
  docs/tools/webui-if.rst
Due: none

missing -
  helm/charts/determined/templates/master-config.yaml
Due: none

another -
  helm/charts/determined/templates/master-config.yaml
Due: none

remove an end
  helm/charts/determined/templates/master-config.yaml
Due: none

Update master/internal/db/setup.go
  master/internal/db/setup.go
Due: go-fmt-import, gofumpt, golangci-lint

address comments
  docs/release-notes/updated-user-roles-slot-caps.rst
Due: none

change port for connection
  .circleci/devcluster/multi-resource-pools.devcluster.yaml
Due: none

feat: add EOL notice regarding Aurora V1 & Postgres 12 along with Master Log warnings for Postgres <=12 [CM-413] [CM-416] (#9832)
  docs/release-notes/aurora-upcoming-unsupport.rst
  master/internal/db/setup.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: replace rawsource attribute with node directly, due to removal of rawsource in Docutil 2.0 (#9838)
  docs/rebrand-docs.py
Due: none

chore: bump version: 0.36.0-rc0 -> 0.36.0-rc1
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

feat: Add `report_progress` to `TrainContext` (#9826)
  docs/model-dev-guide/api-guides/apis-howto/api-core-ug-basic.rst
  examples/features/unmanaged/1_singleton.py
  examples/features/unmanaged/2_checkpoints.py
  examples/tutorials/core_api/1_metrics.py
  examples/tutorials/core_api/2_checkpoints.py
  harness/determined/common/api/bindings.py
  harness/determined/core/_searcher.py
  harness/determined/core/_train.py
  master/internal/api_trials.go
  master/internal/db/postgres_experiments.go
  master/internal/experiment.go
  master/internal/experiment/experiment_iface.go
  master/internal/trials/postgres_trials.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/trial.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

* Make dryrun parameter a singleton list to satisfy CircleCI's matrix stuff.
  .circleci/real_config.yml
Due: none

fix: experiment single trial tabs don't scroll on load (#9831)
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.module.scss
Due: web-js-lint-check

* Add dryrun parameter to publish-helm-gh CircleCI step.
  .circleci/real_config.yml
  helm/Makefile
Due: none

* Make dryrun paramter a singleton list in publish-python-package invocation.
  .circleci/real_config.yml
Due: none

* Add dryrun paramter declaration to publish-helm-gh job.
  .circleci/real_config.yml
Due: none

* Typo: recat -> react
  .circleci/real_config.yml
Due: none

* Update helm/Makefile to use .goreleaser_dryrun.yml config for release-gh-dryrun.
  helm/.goreleaser_dryrun.yml
  helm/Makefile
Due: none

* Update version.sh to add a -t flag that will output the git tag as the version string (with a leading 'v') instead of the version string itself (without the leading 'v').
  helm/Makefile
  version.sh
Due: none

Add chart '1.2.0-dev0+4ea751cf 5.41.4 4.0.15 0.2.16 25.8.2 5.15.2 4.24.0 2.4.2 1.7.0 6.15.3 0.15.3 7.0.19' due to release
  aioli-helm-chart_1.2.0-dev0+4ea751cf.tgz
  index.yaml
Due: none

Update docs/release-notes/updated-user-roles-slot-caps.rst
  docs/release-notes/updated-user-roles-slot-caps.rst
Due: none

* Add builds.id and builds.binary keys for master .goreleaser_dryrun.yml config to avoid a build failure due to inconsistently-named binaries.
  master/.goreleaser_dryrun.yml
Due: none

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
