Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

fix: Filter value resets when switching column types [WEB-1949] (#8731)
  webui/react/src/components/FilterForm/components/FilterField.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
Due: web-js-lint-check

lint + test fixes
  harness/determined/cli/task.py
  master/internal/spec_util_intg_test.go
  master/pkg/schemas/zgen_schemas.go
  proto/pkg/apiv1/task.pb.go
  proto/src/determined/api/v1/task.proto
  schemas/expconf/v0/resources.json
  schemas/test_cases/v0/defaults.yaml
  schemas/test_cases/v0/experiment.yaml
Due: go-fmt-import, gofumpt, golangci-lint

fix: python requirements for pytest and moto
  harness/tests/requirements/requirements-harness.txt
Due: none

fix: python requirements for pytest and moto (#8769)
  harness/tests/requirements/requirements-harness.txt
Due: none

docs: Replace basic quickstart
  docs/get-started/webui-qs.rst
  docs/tutorials/_index.rst
  docs/tutorials/pytorch-mnist-local-qs.rst
  docs/tutorials/pytorch-mnist-tutorial.rst
Due: none

add redirect
  docs/.redirects/redirects.json
Due: none

docs: Replace basic quickstart (#8770)
  docs/.redirects/redirects.json
  docs/get-started/webui-qs.rst
  docs/tutorials/_index.rst
  docs/tutorials/pytorch-mnist-local-qs.rst
  docs/tutorials/pytorch-mnist-tutorial.rst
Due: none

fixes
  harness/determined/cli/task.py
  harness/determined/common/api/bindings.py
  master/internal/api_generic_intg_test.go
  master/internal/api_generic_tasks.go
  master/internal/db/postgres_tasks.go
  master/internal/spec_util_intg_test.go
  master/static/migrations/20240126103654_generic-task-migrations.tx.up.sql
  master/static/srv/get_task.sql
  proto/pkg/apiv1/task.pb.go
  proto/pkg/taskv1/task.pb.go
  proto/src/determined/api/v1/task.proto
  proto/src/determined/task/v1/task.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

no pause in task.py
  harness/determined/cli/task.py
Due: none

ci: retry git fetch for early stopping checks
  .circleci/real_config.yml
Due: none

go lint
  master/internal/api_generic_tasks.go
  master/internal/db/postgres_tasks.go
Due: go-fmt-import, gofumpt, golangci-lint

Do not import model_hub test requirements
  requirements.txt
Due: none

include model_hub as additional requirements file
  .circleci/real_config.yml
Due: none

chore: use vite-plugin-svg-to-jsx
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/vite-plugin-svg-to-jsx.ts
  webui/react/vite.config.mts
Due: web-js-lint-check, web-misc-lint-check

try allowing multiple additional requirements files
  .circleci/real_config.yml
Due: none

use variable in for loop
  .circleci/real_config.yml
Due: none

ci: retry git fetch for early stopping checks (#6318)
  .circleci/real_config.yml
Due: none

add e2e test for generic tasks
  e2e_tests/tests/task/__init__.py
  e2e_tests/tests/task/test_generic_tasks.py
Due: none

docs: Add mention of RPMs to on-prem _index.rst
  docs/setup-cluster/on-prem/_index.rst
Due: none

isort test
  e2e_tests/tests/task/test_generic_tasks.py
Due: none

fix: Text filter on ProjectMoveModal
  webui/react/src/components/ProjectMoveModal.tsx
Due: web-js-lint-check

test: do not import model_hub test requirements (#8771)
  .circleci/real_config.yml
  requirements.txt
Due: none

fix: allocation average time queued broken
  e2e_tests/tests/cluster/test_master_restart.py
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  master/pkg/model/task.go
Due: go-fmt-import, gofumpt, golangci-lint

lint
  e2e_tests/tests/cluster/test_master_restart.py
Due: none

chore: use vite-plugin-svg-to-jsx package (#8772)
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/vite-plugin-svg-to-jsx.ts
  webui/react/vite.config.mts
Due: web-js-lint-check, web-misc-lint-check

fix test
  e2e_tests/tests/task/test_generic_tasks.py
  harness/determined/common/api/bindings.py
  proto/pkg/apiv1/task.pb.go
  proto/src/determined/api/v1/task.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check

fix: Text filter on ProjectMoveModal (#8775)
  webui/react/src/components/ProjectMoveModal.tsx
Due: web-js-lint-check

docs: update dependency version in contributing readme
  CONTRIBUTING.md
Due: none

docs: update dependency version in contributing readme (#8776)
  CONTRIBUTING.md
Due: none

docs: Update oidc and saml docs
  docs/reference/deploy/master-config-reference.rst
  docs/release-notes.rst
Due: none

revision
  docs/reference/deploy/master-config-reference.rst
Due: none

docs: Update oidc and saml docs (#8777)
  docs/reference/deploy/master-config-reference.rst
  docs/release-notes.rst
Due: none

chore: lock api state for backward compatibility check
  proto/buf.image.bin
Due: none

chore: lock published urls to preserve redirects
  docs/.redirects/all_published_urls_ever.json
Due: none

chore: bump version: 0.27.2-dev0 -> 0.27.2-rc0
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

rerun
  .circleci/real_config.yml
Due: none

psql
  .circleci/real_config.yml
Due: none

deploy db flow
  .circleci/real_config.yml
Due: none

test skip case
  .circleci/real_config.yml
  .circleci/scripts/wait_for_perf_migration_upload_results.py
Due: none
