Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

No manipulation on sort args
  harness/determined/cli/workspace.py
Due: none

docs: document prometheus auth
  docs/integrations/prometheus/prometheus.rst
Due: none

fix: minor changes
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Due: web-js-lint-check

fix: api_command.go does not merge map values when overrides TaskContainerDefaults [FE-114]
  master/pkg/model/environment_config.go
Due: go-fmt-import, gofumpt, golangci-lint

Comment change, as per Bradley's review comments
  master/pkg/model/environment_config.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: update docs ownership per discussion [INFENG-225] [skip ci] (#7907)
  .github/CODEOWNERS
Due: none

fix: api_command.go does not merge map values when overrides TaskContainerDefaults [FE-114] (#7887)
  master/pkg/model/environment_config.go
Due: go-fmt-import, gofumpt, golangci-lint

fix(cli): det model describe should call GET /model not GET /models
  docs/release-notes/describe-model.rst
  harness/determined/cli/model.py
Due: none

feat: Add instance flavor and size arguments for det deploy aws
  harness/determined/deploy/aws/deployment_types/base.py
  harness/determined/deploy/aws/templates/simple-rds.yaml
Due: none

update two api endpoints
  performance/src/api_performance_tests.ts
Due: none

feat: Add projects to the SDK (#7584)
  harness/determined/cli/workspace.py
  harness/determined/common/experimental/experiment.py
  harness/determined/common/experimental/project.py
  harness/determined/common/experimental/workspace.py
  harness/tests/determined/common/experimental/test_project.py
  harness/tests/fixtures/api_responses.py
  harness/tests/fixtures/project.json
Due: none

add aws cli args and change db class naming
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/aws/constants.py
  harness/determined/deploy/aws/deployment_types/base.py
  harness/determined/deploy/aws/templates/simple-rds.yaml
Due: none

add DB_SIZE cf constant
  harness/determined/deploy/aws/constants.py
Due: none

add cli args
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/aws/constants.py
Due: none

feat: Add workspaces to the SDK client (#7883)
  harness/determined/common/experimental/determined.py
  harness/determined/experimental/client.py
Due: none

added more help messaging
  harness/determined/deploy/aws/cli.py
Due: none

feat: Add performance tests for endpoints used in the WebUI initial load [WEB-1459] (#7906)
  performance/src/api_performance_tests.ts
  performance/src/utils/helpers.ts
  performance/src/utils/k6-summary.js
  performance/src/utils/types.ts
Due: none

fmt
  docs/integrations/prometheus/prometheus.rst
Due: none

fixes
  master/internal/db/postgres_tasks_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

add a mark
  e2e_tests/tests/nightly/test_distributed.py
Due: none

refactor: reduce leaking go routine while watching permissions
  master/internal/authz/permission_change_error.go
  master/internal/stream/authz_basic_impl.go
  master/internal/stream/authz_iface.go
  master/internal/stream/system.go
Due: go-fmt-import, gofumpt, golangci-lint

refactor: removed unnecessary activeSockets and corrected basic authz
  master/internal/stream/authz_basic_impl.go
  master/internal/stream/system.go
Due: go-fmt-import, gofumpt, golangci-lint

docs: Improve model dev guide
  docs/architecture/introduction.rst
Due: none

docs: Clarify weighted fare-share scheduling policy
  docs/architecture/introduction.rst
Due: none

refactor: moved permissionChangeLoop with publishLoop
  master/internal/stream/system.go
Due: go-fmt-import, gofumpt, golangci-lint

docs: Clarify weighted fair-share scheduling policy (#7913)
  docs/architecture/introduction.rst
Due: none

chore: clean up event listeners
  master/internal/stream/system.go
Due: go-fmt-import, gofumpt, golangci-lint

fix(cli): det model describe should call GET /model not GET /models (#7912)
  docs/release-notes/describe-model.rst
  harness/determined/cli/model.py
Due: none

docs: Update launcher version to 3.3.8 for consistency with docs (#7915)
  docs/setup-cluster/deploy-cluster/slurm/overview.rst
Due: none

chore: Improve failure diagnostics in shell test [FE-216]
  e2e_tests/tests/command/test_shell.py
Due: none

chore: incl comments for class, enum, and api calls definitions
  bindings/generate_bindings_py.py
  bindings/swagger_parser.py
  harness/determined/common/api/bindings.py
  proto/patches/api.json
  proto/pkg/apiv1/api.pb.go
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check

chore: track dead code [WEB-258] (#7924)
  webui/react/.eslintrc.js
  webui/react/.unimportedrc.json
  webui/react/design/index.tsx
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/ActionSheet.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/vite.config.mts
Due: web-js-lint-check, web-misc-lint-check

docs: Add another top nav link
  docs/_templates/toggle-primary-sidebar.html
Due: none

fix: closes all streamers when a publisher fails in publish loop
  master/internal/stream/system.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: removed comment about closing invalid streamers
  master/internal/stream/system.go
Due: go-fmt-import, gofumpt, golangci-lint

docs: Add another top nav link (#7933)
  docs/_templates/toggle-primary-sidebar.html
Due: none

refactor: css in docs
  docs/assets/styles/determined.css
Due: none

refactor: remove uncessary variable from TrialMakePermissionFilter
  master/internal/stream/trials.go
Due: go-fmt-import, gofumpt, golangci-lint

regen proto
  proto/pkg/apiv1/api.pb.go
Due: none
