Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check

.pre-commit-config.yaml:

---
# docs: https://pre-commit.com/#creating-new-hooks
repos:
  - repo: local
    hooks:
      - id: web-js-lint-check
        name: Web JS Lint Check
        entry: ./pre-commit/web_lint_check.py js
        language: system
        files: '^webui/react/src/'
        types_or: [javascript, jsx, ts, tsx]
        stages:
          - commit
      - id: web-css-lint-check
        name: Web CSS Lint Check
        entry: ./pre-commit/web_lint_check.py css
        language: system
        files: '^webui/react/src/'
        types_or: [css, less, scss]
        stages:
          - commit
      - id: web-misc-lint-check
        name: Web Misc Lint Check
        entry: ./pre-commit/web_lint_check.py misc
        language: system
        files: '^webui/react/'
        types_or: [markdown, json]
        stages:
          - commit
      - id: shell-fmt-docker
        name: shfmt
        description: Format shell scripts with shfmt
        entry: mvdan/shfmt:v3
        language: docker_image
        exclude: ^(webui/react/src/services/api-ts-sdk/)
        types:
          - file
          - shell
        exclude_types:
          - zsh
        args: [-w, -s, -l, -i, '4', -ci, -bn]
        stages:
          - commit
      - id: local-checks
        name: Run local checks
        description: run all local checks and format based on the directories changed.
        stages:
          - push
        entry: ./pre-commit/check.py
        require_serial: true
        language: python


  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.28.0
    hooks:
      - id: yamllint
        files: >
          (?x)^(
          .github/
          | .pre-commit-config.yaml
          )$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.19.2
    hooks:
      - id: check-dependabot
      - id: check-github-actions
      - id: check-github-workflows

  - repo: https://github.com/psf/black
    rev: 21.7b0
    hooks:
      - id: black
        # known issue fixed in a newer version:
        # https://github.com/psf/black/issues/2964#issuecomment-1080974737
        additional_dependencies: ['click==8.0.4']
        exclude: ^(harness/determined/common/api/bindings.py)

  # - repo: https://github.com/jumanjihouse/pre-commit-hooks
  #   rev: 3.0.0
  #   hooks:
  #     - id: markdownlint  # Configure in .mdlrc
  #       exclude: >
  #         (?x)^(
  #         examples/.*
  #         | model_hub/examples/.*
  #         | (webui/react/src/shared/)?\.github/.*template\.md
  #         | docs/release-notes/README\.md
  #         )$
  #     - id: markdownlint
  #       name: special markdown lint for templates (skip header & blank lines)
  #       args:
  #         - --rules
  #         - ~MD002,~MD041,~MD012
  #       files: >
  #         (?x)^(
  #         (webui/react/src/shared/)?.github/.*template\.md
  #         )$
  #     - id: markdownlint
  #       # bug in markdownlint handling ul inside of ol :/
  #       # https://github.com/markdownlint/markdownlint/issues/313
  #       name: special markdown lint for release notes (bullet indentation)
  #       args:
  #         - --rules
  #         - ~MD007
  #       files: ^docs/release-notes/README\.md$
  #     # - id: git-check
  #     # - id: git-dirty

await validateFields
  webui/react/src/hooks/useModal/Experiment/useModalExperimentCreate.tsx
Due: web-js-lint-check

docs: added k8s docs and rbac edits
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/install-on-kubernetes.rst
  docs/cluster-setup-guide/security/rbac.rst
  docs/reference/reference-deploy/config/helm-config-reference.rst
Due: none

fix: don't print ':' when err msg is empty
  master/internal/sproto/resources.go
Due: none

fix: Continue Trial flow does not take the new `max_length` (#6168)
  webui/react/src/hooks/useModal/Experiment/useModalExperimentCreate.tsx
  webui/react/src/pages/JobQueue/ManageJob.tsx
Due: web-js-lint-check

fix: pass workspace ID when creating tensor board from WebUI [WEB-1019] (#6186)
  docs/release-notes/rbac-ntsc-mr.rst
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/ProjectDetails.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHeader.tsx
  webui/react/src/pages/TrialsComparison/Actions/useTrialActions.tsx
  webui/react/src/pages/TrialsComparison/Actions/utils.ts
  webui/react/src/pages/TrialsComparison/TrialsComparison.tsx
  webui/react/src/services/types.ts
Due: web-js-lint-check

fix: don't print ':' when err msg is empty (#6190)
  master/internal/sproto/resources.go
Due: none

fix: remove get-deps-bindings target from top level makefile
  Makefile
Due: none

fix: exp move modal (#6183)
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/hooks/useModal/Experiment/useModalExperimentMove.module.scss
  webui/react/src/hooks/useModal/Experiment/useModalExperimentMove.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
Due: web-js-lint-check

fix: add `archived` param and simplify query (#6175)
  master/internal/api_project.go
Due: none

fix: remove get-deps-bindings target from top level makefile (#6191)
  Makefile
Due: none

chore: bumpenvs reflecting tf27 not having pytorch (#6182)
  .circleci/config.yml
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/singularity.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-slurm/slurm-requirements.rst
  docs/training/apis-howto/overview.rst
  e2e_tests/tests/config.py
  examples/computer_vision/unets_tf_keras/const.yaml
  examples/computer_vision/unets_tf_keras/distributed.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_3_cpu_offload.yaml
  examples/deepspeed/cifar10_cpu_offloading/zero_no_offload.yaml
  examples/deepspeed/cifar10_moe/moe.yaml
  examples/deepspeed/cifar10_moe/zero_stages.yaml
  examples/deepspeed/gpt_neox/Dockerfile
  examples/deepspeed/pipeline_parallelism/distributed.yaml
  examples/graphs/proteins_pytorch_geometric/adaptive.yaml
  examples/graphs/proteins_pytorch_geometric/const.yaml
  examples/graphs/proteins_pytorch_geometric/distributed.yaml
  harness/determined/common/schemas/expconf/_v0.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/determined/deploy/gcp/constants.py
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-estimator/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-keras/metadata.json
  harness/tests/experiment/fixtures/ancient-checkpoints/0.17.6-pytorch/metadata.json
  helm/charts/determined/templates/master-config.yaml
  master/internal/config/provconfig/aws_config.go
  master/internal/config/provconfig/gcp_config.go
  master/pkg/schemas/expconf/const.go
  master/pkg/schemas/expconf/legacy_test.go
  model_hub/Makefile
  schemas/test_cases/v0/experiment.yaml
  tools/scripts/bumpenvs.yaml
  webui/react/src/fixtures/responses/experiment-details/non-scalar-metrics-4078.json
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/fixtures/responses/trial-details/old-trial-config-noop-adaptive.json
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.mock.ts
Due: web-js-lint-check, web-misc-lint-check

fix: modified historical task allocation endpoint to instead aggregate allocations
  e2e_tests/tests/experiment/test_allocation_csv.py
  master/internal/core.go
  webui/react/src/pages/Cluster/ClusterHistoricalUsageCsvModal.tsx
Due: web-js-lint-check

refactor: use generic Go set type in more places (#6179)
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/pod_test.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/request_queue.go
  master/internal/rm/kubernetesrm/spec.go
  master/pkg/set/set.go
Due: none

fix: modified historical task allocation endpoint to instead aggregate allocations (#6184)
  e2e_tests/tests/experiment/test_allocation_csv.py
  master/internal/core.go
  webui/react/src/pages/Cluster/ClusterHistoricalUsageCsvModal.tsx
Due: web-js-lint-check

fix: support mixed CPU/GPU k8s quotas
  master/internal/rm/kubernetesrm/pods.go
Due: none

Update docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/install-on-kubernetes.rst
  docs/cluster-setup-guide/deploy-cluster/sysadmin-deploy-on-k8s/install-on-kubernetes.rst
Due: none

Update docs/cluster-setup-guide/security/rbac.rst
  docs/cluster-setup-guide/security/rbac.rst
Due: none

Update docs/reference/reference-deploy/config/helm-config-reference.rst
  docs/reference/reference-deploy/config/helm-config-reference.rst
Due: none

fix: adding exit reason to tensorboard allocation signal
  master/internal/task/idle_timeout.go
Due: none

fix: support mixed CPU/GPU k8s quotas (#6195)
  master/internal/rm/kubernetesrm/pods.go
Due: none

fix: username case sensitive issue
  master/internal/user/postgres_users.go
Due: none

fix: adding exit reason to tensorboard allocation signal (#6150)
  master/internal/task/idle_timeout.go
Due: none
