Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

mock for tests, use errorboundary
  webui/react/src/components/CheckpointModalTrigger.test.tsx
  webui/react/src/components/ResourcePoolCard.test.tsx
  webui/react/src/components/Table/ResponsiveTable.test.tsx
  webui/react/src/components/kit/LogViewer/LogViewer.test.tsx
  webui/react/src/components/kit/Tags.test.tsx
  webui/react/src/ee/SamlAuth.test.ts
  webui/react/src/hooks/useFeature.test.tsx
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpoint.test.tsx
  webui/react/src/hooks/useModal/Columns/useModalColumnsCustomize.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalDeleteGroup.test.tsx
  webui/react/src/hooks/useSettings.test.tsx
  webui/react/src/index.tsx
  webui/react/src/pages/Cluster/ClusterOverallStats.test.tsx
  webui/react/src/pages/Cluster/utils.test.ts
  webui/react/src/pages/InteractiveTask.test.tsx
  webui/react/src/pages/Settings/Settings.test.tsx
  webui/react/src/routes/utils.test.ts
  webui/react/src/services/apiConfig.test.ts
  webui/react/src/shared/utils/routes.test.ts
  webui/react/src/utils/browser.test.ts
  webui/react/src/utils/error.ts
  webui/react/src/utils/job.test.ts
  webui/react/src/utils/wait.test.ts
Due: web-js-lint-check

scratch
  webui/react/src/components/Logo.tsx
  webui/react/src/hooks/useRouteTracker.ts
  webui/react/src/routes/utils.test.ts
  webui/react/src/routes/utils.ts
  webui/react/src/shared/routes/history.ts
  webui/react/src/shared/utils/routes.test.ts
  webui/react/src/shared/utils/routes.ts
Due: web-js-lint-check

route tracker work
  webui/react/src/hooks/useRouteTracker.ts
  webui/react/src/index.tsx
Due: web-js-lint-check

chore: react-router work
  webui/react/src/components/CheckpointModalTrigger.test.tsx
  webui/react/src/components/NotesCard.tsx
  webui/react/src/components/ThemeToggle.test.tsx
  webui/react/src/ee/SamlAuth.ts
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.test.tsx
  webui/react/src/hooks/useRouteTracker.ts
  webui/react/src/hooks/useSettings.test.tsx
  webui/react/src/index.tsx
  webui/react/src/pages/ExperimentDetails/CodeViewer/CodeViewer.test.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.tsx
  webui/react/src/pages/Settings/Settings.test.tsx
  webui/react/src/pages/Settings/UserManagement.test.tsx
  webui/react/src/shared/utils/routes.test.ts
  webui/react/src/shared/utils/routes.ts
Due: web-js-lint-check

data router
  webui/react/src/index.tsx
Due: web-js-lint-check

vi.mock in setupTests
  webui/react/src/__mocks__/router.tsx
  webui/react/src/ee/SamlAuth.ts
  webui/react/src/setupTests.ts
Due: web-js-lint-check

rebase
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.tsx
Due: web-js-lint-check

wip
  webui/react/src/components/NotesCard.tsx
  webui/react/src/router.tsx
Due: web-js-lint-check

use spyOn
  webui/react/src/shared/utils/routes.test.ts
Due: web-js-lint-check

remove useBlocker comment from NotesCard
  webui/react/src/components/NotesCard.tsx
Due: web-js-lint-check

mocks, tests, error bounds
  webui/react/src/__mocks__/router.tsx
  webui/react/src/components/CheckpointModalTrigger.test.tsx
  webui/react/src/components/ResourcePoolCard.test.tsx
  webui/react/src/components/Table/ResponsiveTable.test.tsx
  webui/react/src/components/kit/LogViewer/LogViewer.test.tsx
  webui/react/src/components/kit/Tags.test.tsx
  webui/react/src/ee/SamlAuth.test.ts
  webui/react/src/hooks/useFeature.test.tsx
  webui/react/src/hooks/useModal/Checkpoint/useModalCheckpoint.test.tsx
  webui/react/src/hooks/useModal/Columns/useModalColumnsCustomize.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.test.tsx
  webui/react/src/hooks/useModal/UserSettings/useModalDeleteGroup.test.tsx
  webui/react/src/hooks/useSettings.test.tsx
  webui/react/src/pages/Cluster/ClusterOverallStats.test.tsx
  webui/react/src/pages/Cluster/utils.test.ts
  webui/react/src/pages/InteractiveTask.test.tsx
  webui/react/src/pages/Settings/Settings.test.tsx
  webui/react/src/router.tsx
  webui/react/src/routes/utils.test.ts
  webui/react/src/services/apiConfig.test.ts
  webui/react/src/shared/utils/routes.test.ts
  webui/react/src/utils/browser.test.ts
  webui/react/src/utils/error.ts
  webui/react/src/utils/job.test.ts
  webui/react/src/utils/wait.test.ts
Due: web-js-lint-check

wip
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/NotesCard.tsx
  webui/react/src/router.tsx
Due: web-js-lint-check, web-misc-lint-check

useBlocker functioning, avoid error boundary
  webui/react/src/components/NotesCard.tsx
  webui/react/src/router.tsx
  webui/react/src/utils/error.ts
Due: web-js-lint-check

remove pin functionality from move experiment
  webui/react/src/hooks/useModal/Experiment/useModalExperimentMove.tsx
  webui/react/src/hooks/useSettingsProvider.tsx
  webui/react/src/pages/ExperimentList.tsx
Due: web-js-lint-check

re-enable trackPage
  webui/react/src/hooks/useRouteTracker.ts
Due: web-js-lint-check

chore: Update max_concurrent_trials to have a default value of 16
  docs/reference/reference-training/experiment-config-reference.rst
  e2e_tests/tests/fixtures/custom_searcher/searchers.py
  examples/custom_search_method/asha_search_method/asha.py
  harness/determined/common/schemas/expconf/_gen.py
  harness/tests/search_methods.py
  master/pkg/schemas/zgen_schemas.go
  schemas/expconf/v0/searcher-adaptive-asha.json
  schemas/expconf/v0/searcher-async-halving.json
  schemas/expconf/v0/searcher-grid.json
  schemas/expconf/v0/searcher-random.json
  schemas/test_cases/v0/defaults.yaml
  webui/react/src/fixtures/responses/experiment-details/set-a.json
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.mock.ts
  webui/react/src/storybook/shared/generateTestData.ts
Due: web-js-lint-check, web-misc-lint-check

handle add user
  webui/react/src/hooks/useModal/UserSettings/useModalCreateUser.tsx
  webui/react/src/pages/Settings/UserManagement.tsx
  webui/react/src/stores/users.tsx
Due: web-js-lint-check

feat: show unique HPs for Custom Searcher trials on experiment table [MLG-343] (#6192)
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpTrialTable.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.test.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
Due: web-js-lint-check

initialize tbd_writer in PyTorchTrialContext. Add method to yield tbd_writer for user.
  harness/determined/pytorch/_pytorch_context.py
Due: none

change TorchWriter to behave like pytorch SummaryWriter
  harness/determined/tensorboard/metric_writers/pytorch.py
Due: none

use writer only when user requires it
  harness/determined/pytorch/_pytorch_context.py
Due: none

add unit test for writer yield method
  harness/tests/experiment/pytorch/test_pytorch_context.py
Due: none

fix linting
  harness/determined/tensorboard/metric_writers/pytorch.py
  harness/tests/experiment/pytorch/test_pytorch_context.py
Due: none

set default log_dir at runtime
  harness/determined/tensorboard/metric_writers/pytorch.py
Due: none

fix linting
  harness/determined/pytorch/_pytorch_context.py
  harness/determined/tensorboard/metric_writers/pytorch.py
  harness/tests/experiment/pytorch/test_pytorch_context.py
Due: none

fix linting
  harness/determined/tensorboard/metric_writers/pytorch.py
Due: none

fix import
  harness/determined/pytorch/_pytorch_context.py
Due: none

create DeprecationWarning
  harness/determined/tensorboard/metric_writers/pytorch.py
Due: none

add comment for mypy ignore
  harness/determined/tensorboard/metric_writers/pytorch.py
Due: none

refactor create_metric_writer
  harness/determined/_trial_controller.py
  harness/determined/estimator/_estimator_trial.py
  harness/determined/keras/_tf_keras_trial.py
Due: none

change writer name, use new path function
  harness/determined/pytorch/_pytorch_context.py
  harness/tests/experiment/pytorch/test_pytorch_context.py
Due: none

move TorchWriter to pytorch directory
  harness/determined/pytorch/_pytorch_context.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
  harness/determined/pytorch/lightning/_adapter.py
  harness/determined/pytorch/tensorboard_writer.py
  harness/determined/tensorboard/base.py
  harness/tests/tensorboard/test_torch_writer.py
Due: none

fix flaking
  harness/determined/tensorboard/metric_writers/pytorch.py
Due: none

remove shouldPush
  webui/react/src/components/Table/InteractiveTable.tsx
  webui/react/src/components/TaskList.tsx
  webui/react/src/hooks/useSettings.ts
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/ModelDetails.tsx
  webui/react/src/pages/ModelRegistry.tsx
  webui/react/src/pages/TrialsComparison/Collections/useTrialCollections.tsx
  webui/react/src/pages/WebhookList.tsx
Due: web-js-lint-check

remove comment
  webui/react/src/hooks/useSettings.ts
Due: web-js-lint-check

Replace BatchMetricWriter in pytorch_trial
  harness/determined/estimator/_estimator_trial.py
  harness/determined/pytorch/_pytorch_context.py
  harness/determined/pytorch/_pytorch_trial.py
Due: none

remove unused function
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
Due: none

replace BatchMetricWriter in deepspeed_trial
  harness/determined/pytorch/deepspeed/_deepspeed_context.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
Due: none

Path conditions:
  web-js-lint-check: any of: ^webui/react/src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
