Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint
  require_serial: true

chore: bump coverage target
  codecov.yml
Due: none

chore: fix config policy unmarshal tests CM-502
  master/internal/configpolicy/utils_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix CI
  master/internal/configpolicy/postgres_task_config_policy.go
  master/internal/configpolicy/postgres_task_config_policy_intg_test.go
  master/internal/db/postgres_test_utils.go
  master/pkg/schemas/expconf/experiment_config.go
  master/static/migrations/20240829000038_add-task-config-policy-table.tx.up.sql
Due: go-fmt-import, gofumpt, golangci-lint

chore: create config policies table and add NTSC CRUD operations (#9915)
  master/internal/configpolicy/postgres_task_config_policy.go
  master/internal/configpolicy/postgres_task_config_policy_intg_test.go
  master/internal/configpolicy/task_config_policy.go
  master/internal/configpolicy/utils.go
  master/internal/configpolicy/utils_test.go
  master/pkg/model/task_config_policy.go
  master/pkg/schemas/expconf/experiment_config.go
  master/static/migrations/20240829000038_add-task-config-policy-table.tx.up.sql
Due: go-fmt-import, gofumpt, golangci-lint

chore: update test log pattern webhook cache
  e2e_tests/tests/cluster/test_webhooks.py
Due: none

build: INFENG-848: Fix gen-versions.py (#9908)
  docs/Makefile
  docs/exclude-versions.txt
  docs/gen-versions.py
  docs/gen-versions.sh
Due: none

fix: move validation dataloader check in PyTorchTrial
  harness/determined/pytorch/_pytorch_trial.py
Due: none

make fmt
  docs/model-dev-guide/api-guides/apis-howto/api-core-ug-basic.rst
  docs/release-notes/deprecate-searchercontext.rst
Due: none

chore: update test log pattern webhook cache (#9922)
  e2e_tests/tests/cluster/test_webhooks.py
Due: none

chore: fix config policy unmarshal tests
  master/internal/configpolicy/utils_test.go
Due: go-fmt-import, gofumpt, golangci-lint

ensure there is an archived experiment
  webui/react/src/e2e/tests/experimentList.spec.ts
Due: web-js-lint-check

chore: fix config policy unmarshal tests (#9924)
  master/internal/configpolicy/utils_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: update huggingface example
  examples/hf_trainer_api/hf_image_classification/image_classification.py
Due: none

mased on comments
  harness/determined/common/api/bindings.py
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
  master/internal/user/authz_basic_impl.go
  master/internal/user/authz_iface.go
  master/internal/user/authz_permissive.go
  master/internal/user/authz_rbac.go
  master/internal/user/postgres_users.go
  master/internal/user/postgres_users_intg_test.go
  master/pkg/model/user.go
  master/static/migrations/20240910200238_alter-user-session-add-long-lived-token-info.tx.up.sql
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/user.pb.go
  proto/pkg/userv1/user.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/user.proto
  proto/src/determined/user/v1/user.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

add css files
  webui/react/src/pages/ResourcePool/ClusterTopology.module.scss
  webui/react/src/pages/ResourcePool/ClusterTopology.tsx
  webui/react/src/pages/ResourcePool/TrialTopology.module.scss
  webui/react/src/pages/ResourcePool/TrialTopology.tsx
Due: web-js-lint-check

fix: move validation dataloader check in PyTorchTrial [MD-515] (#9923)
  harness/determined/pytorch/_pytorch_trial.py
Due: none

fix: Refactor sorting logic in WorkspaceProjects for filtering projects (#9903)
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.tsx
Due: web-js-lint-check

fix: update huggingface example (#9925)
  examples/hf_trainer_api/hf_image_classification/image_classification.py
Due: none

chore: reassign RM code to CM in CODEOWNERS
  .github/CODEOWNERS
Due: none

Project List
  webui/react/src/e2e/models/components/ProjectCard.ts
  webui/react/src/e2e/models/pages/WorkspaceDetails/WorkspaceProjects.ts
  webui/react/src/e2e/tests/projectsWorkspaces.spec.ts
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.tsx
Due: web-js-lint-check

split projects and workspaces tests
  webui/react/src/e2e/tests/projects.spec.ts
  webui/react/src/e2e/tests/workspaces.spec.ts
Due: web-js-lint-check

Add chart '1.2.0-dev22 0.15.3 7.0.19 5.41.4 0.2.16 4.0.15 25.8.2 2.4.2 1.7.0 5.15.2 4.24.0 6.15.3' due to release
  aioli-helm-chart_1.2.0-dev22.tgz
  index.yaml
Due: none

safeName
  webui/react/src/e2e/tests/projects.spec.ts
Due: web-js-lint-check

fix: flaky workspace test
  webui/react/src/e2e/tests/projectsWorkspaces.spec.ts
Due: web-js-lint-check

View Toggle tests
  webui/react/src/e2e/tests/projects.spec.ts
  webui/react/src/e2e/tests/workspaces.spec.ts
Due: web-js-lint-check

fix: flaky workspace test (#9931)
  webui/react/src/e2e/tests/projectsWorkspaces.spec.ts
Due: web-js-lint-check

feat: add GET API for config policies
  master/internal/api_config_policies.go
  master/internal/configpolicy/postgres_task_config_policy_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: update log_retention_days when master starts/upgrades; todo add logs & documentation
  master/internal/core.go
  master/internal/logretention/logretention.go
Due: go-fmt-import, gofumpt, golangci-lint

edits
  docs/reference/experiment-config-reference.rst
  master/internal/logretention/logretention.go
Due: go-fmt-import, gofumpt, golangci-lint

stray change
  master/internal/logretention/logretention.go
Due: go-fmt-import, gofumpt, golangci-lint

docs fmt
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
  docs/release-notes/fix-master-log-retention-days.rst
Due: none

Add filterScenario
  webui/react/src/e2e/tests/experimentList.spec.ts
Due: web-js-lint-check

Use newWorkspace
  webui/react/src/e2e/tests/experimentList.spec.ts
Due: web-js-lint-check

Fix command
  webui/react/src/e2e/tests/experimentList.spec.ts
Due: web-js-lint-check

ci: increase timeout for k8s intg tests
  master/internal/rm/kubernetesrm/resource_pool_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

docs edits
  docs/reference/deploy/master-config-reference.rst
  docs/release-notes/fix-master-log-retention-days.rst
Due: none

ci: increase timeout for k8s intg tests (#9929)
  master/internal/rm/kubernetesrm/resource_pool_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: update LogRetentionDays from master config when master starts/upgrades (#9930)
  docs/reference/deploy/master-config-reference.rst
  docs/reference/experiment-config-reference.rst
  docs/release-notes/fix-master-log-retention-days.rst
  master/internal/core.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: reassign RM code to CM in CODEOWNERS (#9926)
  .github/CODEOWNERS
Due: none

edits; trying to attach fake/nonexistent gpu to agent2 now
  tools/devcluster.yaml
Due: none

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
