Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

use best trials only
  master/internal/api_project.go
Due: go-fmt-import, gofumpt, golangci-lint

Update webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Due: web-js-lint-check

modify workspace sql to pick up default pools
  master/internal/api_workspace.go
  master/pkg/model/workspace.go
  master/static/srv/get_workspaces.sql
Due: go-fmt-import, gofumpt, golangci-lint

chore: minor cleanup
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Due: web-js-lint-check

chore: calculate cell size for each custom cell type
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/checkboxCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/experimentStateCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/linkCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/tagsCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/userAvatarCell.tsx
Due: web-js-lint-check

fix: Trials use their own trial state enum [DET-9639] (#7354)
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/experiment/test_custom_searcher.py
  harness/determined/cli/proxy.py
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_trials.go
  proto/buf.image.bin
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

ci: fix some bugs in tracking of cherry-picked PRs
  tools/scripts/track-pr
Due: none

fix: use DEFAULT_COLUMNS in GroupManagement table
  webui/react/src/pages/Settings/GroupManagement.tsx
Due: web-js-lint-check

feat: add training metrics to columns api (#7320)
  master/internal/api_project.go
  webui/react/src/ioTypes.ts
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/utils/data.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

cleanup comments
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_metrics.go
Due: go-fmt-import, gofumpt, golangci-lint

scope down metricType arg to isValidation
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/db/postgres_trial_metrics.go
  master/internal/db/postgres_trial_metrics_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: Metrics reporting no data
  webui/react/src/hooks/useMetricNames.ts
  webui/react/src/pages/TrialDetails/TrialChart.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
  webui/react/src/services/types.ts
Due: web-js-lint-check

fmt
  webui/react/src/pages/Settings/GroupManagement.tsx
Due: web-js-lint-check

fix: use DEFAULT_COLUMNS in GroupManagement table (#7366)
  webui/react/src/pages/Settings/GroupManagement.tsx
Due: web-js-lint-check

Clarify not found err msg
  e2e_tests/tests/command/test_notebook.py
  master/internal/core.go
Due: go-fmt-import, gofumpt, golangci-lint

bring over proxy test to oss
  e2e_tests/tests/command/test_notebook.py
  harness/determined/common/api/__init__.py
  harness/determined/common/api/_util.py
Due: none

remove conf.make_master_url
  e2e_tests/tests/command/test_notebook.py
Due: none

simplify make_url test
  harness/tests/common/test_api.py
Due: none

add a test showcasing the old make_url forgiving bad path merges
  harness/determined/common/api/request.py
  harness/tests/common/test_api.py
Due: none

add breaking test case
  harness/tests/common/test_api.py
Due: none

revert the default to old implementation
  harness/determined/common/api/request.py
  harness/tests/common/test_api.py
Due: none

make the old make_url function deprecated
  harness/determined/common/api/request.py
Due: none

catchall logging
  master/internal/core.go
Due: go-fmt-import, gofumpt, golangci-lint

add return type
  e2e_tests/tests/command/test_notebook.py
Due: none

lower log level
  master/internal/core.go
Due: go-fmt-import, gofumpt, golangci-lint

or.. let it fallback to the old implementation
  harness/determined/common/api/request.py
  harness/tests/common/test_api.py
Due: none

make it clear that `det dev curl PATH` arg does not support absolute URLs
  harness/determined/cli/dev.py
Due: none

selectively migrate usecases to new make_url
  harness/determined/cli/dev.py
Due: none

explicitly disallow absolute suffixes in make_url_new
  harness/determined/common/api/request.py
Due: none

update make_url_new impl to be the original + fallback
  harness/determined/common/api/request.py
  harness/tests/common/test_api.py
Due: none

use det custom json encoder in print_json
  harness/determined/cli/render.py
Due: none

fix: table column copy change
  master/internal/api_project.go
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

feat: rp-workspace db migration (#6978)
  master/static/migrations/20230525143842_add-rp-workspace-bindings.tx.down.sql
  master/static/migrations/20230525143842_add-rp-workspace-bindings.tx.up.sql
Due: none

feat: Add Proto Messages [DET-9518] (#6981)
  proto/pkg/resourcepoolv1/resourcepool.pb.go
  proto/src/determined/resourcepool/v1/resourcepool.proto
Due: none

feat: add api endpoints for rp-workspace mapping [DET-9540] (#6982)
  proto/buf.image.bin
  proto/pkg/resourcepoolv1/resourcepool.pb.go
  proto/src/determined/resourcepool/v1/resourcepool.proto
Due: none

feat: unbind rp workspace binding handler + db helper (#7011)
  master/internal/api_resourcepool.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/mocks/workspace_authz_iface.go
  master/internal/workspace/authz_basic_impl.go
  master/internal/workspace/authz_iface.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: overwrrite bindings endpoint [DET-9548] (#7036)
  master/internal/api_resourcepool.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/mocks/workspace_authz_iface.go
  master/internal/workspace/authz_basic_impl.go
  master/internal/workspace/authz_iface.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: add testing function stubs (#7037)
  master/internal/api_resourcepool_intg_test.go
  master/internal/api_workspace_intg_test.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: create and cleanup mock workspace (#7066)
  master/internal/api_resourcepool.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/db/postgres_test_utils.go
Due: go-fmt-import, gofumpt, golangci-lint
