Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

Add overwrite API
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
  master/internal/db/postgres_users.go
  master/internal/mocks/user_authz_iface.go
  master/internal/user/authz_basic_impl.go
  master/internal/user/authz_iface.go
  proto/pkg/apiv1/user.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/user.proto
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

Overwrite code
  webui/react/src/stores/userSettings.tsx
Due: web-js-lint-check

Fix clearing settings
  master/internal/api_user.go
  webui/react/src/components/kit/Modal.tsx
  webui/react/src/components/kit/useConfirm.tsx
  webui/react/src/pages/Dashboard.tsx
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

API work
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
  proto/pkg/apiv1/user.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/user.proto
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/stores/userSettings.tsx
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

Fix updating
  webui/react/src/components/UserSettingsModal.tsx
  webui/react/src/stores/userSettings.tsx
Due: web-js-lint-check

Use util
  webui/react/src/services/apiConfig.ts
Due: web-js-lint-check

Update the internal map
  webui/react/src/components/UserSettingsModal.tsx
  webui/react/src/stores/userSettings.tsx
Due: web-js-lint-check

Update API impl
  master/internal/api_user.go
  master/internal/db/postgres_users.go
  master/internal/mocks/user_authz_iface.go
  master/internal/user/authz_basic_impl.go
  master/internal/user/authz_iface.go
  webui/react/src/stores/userSettings.tsx
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

loading fix
  webui/react/src/components/UserSettingsModal.tsx
Due: web-js-lint-check

Add parsing error
  webui/react/src/components/UserSettingsModal.tsx
Due: web-js-lint-check

Remove overwrite api
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
  master/internal/db/postgres_users.go
  master/internal/mocks/user_authz_iface.go
  master/internal/user/authz_basic_impl.go
  master/internal/user/authz_iface.go
  proto/pkg/apiv1/user.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/user.proto
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
  webui/react/src/stores/userSettings.tsx
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

Error handling
  webui/react/src/stores/userSettings.tsx
Due: web-js-lint-check

Regen after rebase
  proto/pkg/apiv1/api.pb.go
Due: none

Add release note
  docs/release-notes/7377-edit-user-settings.rst
  master/internal/api_user.go
Due: go-fmt-import, gofumpt, golangci-lint

Regen after rebase
  proto/buf.image.bin
Due: none

Address PR
  master/internal/api_user.go
  webui/react/src/pages/Dashboard.tsx
  webui/react/src/stores/userSettings.tsx
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

Regen after rebase
  harness/determined/common/api/bindings.py
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check

feat: Add Bert embedding torch_batch_process example (#7402)
  e2e_tests/tests/nightly/test_distributed.py
  examples/features/torch_batch_process_embeddings/README.md
  examples/features/torch_batch_process_embeddings/bert_embedding_generation.py
  examples/features/torch_batch_process_embeddings/distributed.yaml
  examples/features/torch_batch_process_embeddings/requirements.txt
  examples/features/torch_batch_process_embeddings/startup-hook.sh
Due: none

fix: Correctly sequence updates in useSettings bridge code (#7423)
  webui/react/src/hooks/useSettings.ts
Due: web-js-lint-check

support for model versions
  harness/determined/common/api/bindings.py
  harness/determined/determined.code-workspace
  master/internal/api_checkpoint.go
  master/internal/api_model.go
  master/internal/api_trials_intg_test.go
  master/internal/core_checkpoint.go
  master/internal/trials/api_trial_source_info.go
  master/static/migrations/20230712112149_trial_source_info.tx.down.sql
  master/static/migrations/20230712112149_trial_source_info.tx.up.sql
  proto/buf.image.bin
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

chore: cache and reload in Python SDK [MLG-549] (#6853)
  harness/determined/common/experimental/checkpoint/_checkpoint.py
  harness/determined/common/experimental/model.py
Due: none

bad merge
  harness/determined/common/experimental/model.py
Due: none

fix rebaes
  harness/determined/common/experimental/checkpoint/_checkpoint.py
Due: none

support microsecond timestamps
  harness/determined/common/util.py
  harness/tests/determined/common/experimental/test_trial.py
Due: none

docstring
  harness/determined/common/util.py
Due: none

move the migration
  master/static/migrations/20230719153319_trial_source_info.tx.down.sql
  master/static/migrations/20230719153319_trial_source_info.tx.up.sql
Due: none

Update batch size, remove tf1 image version of test.
  e2e_tests/tests/experiment/test_tf_keras.py
  examples/computer_vision/cifar10_tf_keras/const.yaml
Due: none

update sql comment
  master/static/migrations/20230719153319_trial_source_info.tx.up.sql
Due: none

fix checkpoint test
  master/internal/api_checkpoint_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

pr comments
  harness/determined/common/util.py
  harness/tests/determined/common/experimental/test_trial.py
Due: none

chore: support microseconds in SDK log filter timestamps (#7425)
  harness/determined/common/util.py
  harness/tests/determined/common/experimental/test_trial.py
Due: none

first draft work
  master/internal/mocks/event_interface.go
  master/internal/rm/kubernetesrm/events.go
  master/internal/rm/kubernetesrm/informer_intg_test.go
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/preemptions.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: agent provisioner refactor (#7287)
  master/internal/rm/agentrm/provisioner/agentsetup/agent_setup.go
  master/internal/rm/agentrm/provisioner/agentsetup/agent_setup_test.go
  master/internal/rm/agentrm/provisioner/aws/aws.go
  master/internal/rm/agentrm/provisioner/aws/aws_spot.go
  master/internal/rm/agentrm/provisioner/aws/aws_spot_collections.go
  master/internal/rm/agentrm/provisioner/aws_spot_legacy.go
  master/internal/rm/agentrm/provisioner/gcp/gcp.go
  master/internal/rm/agentrm/provisioner/gcp/gcp_operation_tracker.go
  master/internal/rm/agentrm/provisioner/provisioner.go
  master/internal/rm/agentrm/provisioner/provisioner_test.go
  master/internal/rm/agentrm/provisioner/scaledecider/scale_decider.go
  master/internal/rm/agentrm/provisioner/scaledecider/scale_decider_test.go
  master/internal/rm/agentrm/provisioner/setup.go
  master/internal/rm/agentrm/resource_pool.go
Due: go-fmt-import, gofumpt, golangci-lint

no search over contiguous gradients
  harness/determined/pytorch/dsat/_defaults.py
Due: none

ci: fix e2e tests for tf keras cifar10 example (#7422)
  e2e_tests/tests/experiment/test_tf_keras.py
  examples/computer_vision/cifar10_tf_keras/const.yaml
  examples/computer_vision/cifar10_tf_keras/model_def.py
Due: none

Migrate buttons to settings drawer
  webui/react/src/components/UserSettings.tsx
  webui/react/src/components/UserSettingsModal.tsx
  webui/react/src/pages/Dashboard.tsx
Due: web-js-lint-check

Remove divider
  webui/react/src/components/UserSettings.tsx
Due: web-js-lint-check

second draft
  master/internal/rm/kubernetesrm/events.go
  master/internal/rm/kubernetesrm/informer_intg_test.go
  master/internal/rm/kubernetesrm/preemptions.go
Due: go-fmt-import, gofumpt, golangci-lint

Fix checks
  master/internal/mocks/user_authz_iface.go
  webui/react/src/components/UserSettings.test.tsx
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

chore: migrate to singularity --nvccli [DET-9081] (#7337)
  agent/pkg/singularity/singularity.go
  master/static/srv/singularity-entrypoint-wrapper.sh
Due: go-fmt-import, gofumpt, golangci-lint
