Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

shorten workflow
  .circleci/real_config.yml
  helm/charts/determined/templates/master-service.yaml
  helm/charts/determined/values.yaml
  master/.goreleaser_sharedcluster.yml
  master/Makefile
Due: none

chore: helm for multirm kubeconfig_path (#9015)
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/templates/master-deployment.yaml
Due: none

fix indent
  helm/charts/determined/templates/master-config.yaml
Due: none

fix lint
  .circleci/real_config.yml
Due: none

add context to setup-shared-cluster
  .circleci/real_config.yml
Due: none

fix firewall config and master host
  .circleci/real_config.yml
Due: none

chore: helm for multirm kubeconfig_path (#9033)
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/templates/master-deployment.yaml
Due: none

mock setup in makefile
  webui/react/Makefile
  webui/react/src/e2e/mocks/proxy-once.json
Due: web-misc-lint-check

locator stuff working i think
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/e2e/models/BaseComponent.ts
  webui/react/src/e2e/models/BasePage.ts
  webui/react/src/e2e/models/components/DeterminedAuth.ts
Due: web-js-lint-check

ayoo got it all working
  webui/react/src/e2e/fixtures/auth.fixture.ts
Due: web-js-lint-check

change google project id
  .circleci/real_config.yml
Due: none

test: playwright config and browser usability (#9024)
  webui/react/playwright.config.ts
  webui/react/src/e2e/README.md
  webui/react/vite.config.mts
Due: web-js-lint-check, web-misc-lint-check

more auth cahnges before i pull main back in
  webui/react/src/e2e/fixtures/auth.fixture.ts
  webui/react/src/e2e/tests/auth.spec.ts
Due: web-js-lint-check

height fix
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.module.scss
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Due: web-js-lint-check

fix: change profiler docs url
  webui/react/src/pages/TrialDetails/TrialDetailsProfiles.tsx
Due: web-js-lint-check

fix: don't reset tensorboard EventWriters
  harness/determined/tensorboard/metric_writers/callback.py
  harness/tests/tensorboard/test_metric_writers.py
Due: none

fix: use FixedSizeList for column picker to fix jitter (#8628)
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.module.scss
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.tsx
Due: web-js-lint-check

test: make compute_stats have a min tolerance of 3 seconds (#8691)
  e2e_tests/tests/nightly/compute_stats.py
Due: none

fix: docs version switcher [MLG-1524] (#8692)
  docs/requirements.txt
Due: none

feat: set jupyter notebook file browser root to `/`. (#8678)
  docs/release-notes/jupyter-root.rst
  master/static/srv/notebook-entrypoint.sh
Due: none

chore: update helm image path to use main branch (#8686)
  helm/charts/determined/Chart.yaml
Due: none

feat: add health check for genai deployments (#8613)
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/aws/deployment_types/vpc.py
  harness/determined/deploy/healthcheck.py
Due: none

chore: improve error message for continuing a completed hp search [DET-10041] (#8636)
  e2e_tests/tests/cluster/test_exp_continue.py
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: Trial APIs `--local` should respect `.detignore`. [MLG-1352] (#8683)
  harness/determined/common/context.py
  harness/determined/common/detignore.py
  harness/determined/common/v1file_utils.py
  harness/determined/util.py
  harness/tests/filetree.py
  harness/tests/test_imports.py
  harness/tests/test_util.py
Due: none

fix: break out stopping... states from stopped states in webui (#8672)
  webui/react/src/components/ExperimentIcons.tsx
Due: web-js-lint-check

fix: Remove out of place spinner at dashboard page (#8668)
  webui/react/src/pages/Dashboard.tsx
Due: web-js-lint-check

fix: update helm chart for new logo (#8675)
  helm/charts/determined/Chart.yaml
Due: none

feat: Truncate and pad cell values in glide table [WEB-1778] (#8665)
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/textCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/index.tsx
Due: web-js-lint-check

fix: HP ScatterPlots scrollbar (#8682)
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpScatterPlots.module.scss
Due: none

fix: update hf trainer api example (#8685)
  examples/hf_trainer_api/hf_image_classification/image_classification.py
Due: none

fix: add zmq heartbeat in DistributedContext [MLG-1133] (#8681)
  harness/determined/ipc.py
Due: none

fix: Workspace icons display redundant tooltips [WEB-1912] (#8677)
  webui/react/src/components/ModelRegistry.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/Table/Table.tsx
Due: web-js-lint-check

feat: helm option to mount shared_fs checkpoints to master (#8741)
  docs/release-notes/master-mount.rst
  helm/charts/determined/templates/master-deployment.yaml
  helm/charts/determined/values.yaml
Due: none

fix: compress data from API for the page load performance improvement (#8720)
  master/internal/core.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: Add a modal to enable/disable Agents [WEB-1718] (#8721)
  webui/react/src/components/ManageNodesModal.module.scss
  webui/react/src/components/ManageNodesModal.tsx
  webui/react/src/pages/ResourcePool/ResourcepoolDetail.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Due: web-js-lint-check

docs: Update docs to pass linter (#8705)
  docs/setup-cluster/on-prem/options/wsl.rst
  docs/setup-cluster/on-prem/requirements.rst
  docs/tutorials/quickstart-mdldev.rst
Due: none

chore: update github path in docker docs (#8687)
  docs/setup-cluster/on-prem/options/docker.rst
Due: none

refactor: remove antd App component [WEB-1922] (#8713)
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/App.tsx
  webui/react/src/components/ExperimentCreateModal.test.tsx
  webui/react/src/components/UserSettings.test.tsx
Due: web-js-lint-check, web-misc-lint-check

fix: use Hew dropdown on FilterGroup [WEB-1938] (#8715)
  webui/react/src/components/FilterForm/TableFilter.tsx
  webui/react/src/components/FilterForm/components/FilterGroup.tsx
Due: web-js-lint-check
