Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint

fix: proto user always has false remote
  docs/release-notes/list-user-remote.rst
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix
  master/internal/api_user_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

train_batch_size and divisible_by tests
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_utils.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Due: none

feat: Compare icon reflects status
  webui/react/src/components/kit/Icon.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
Due: web-js-lint-check

chore: update based on PR review
  webui/react/src/pages/F_ExpList/ComparisonView.module.scss
Due: none

bug fixes
  harness/determined/pytorch/dsat/_dsat_search_method.py
Due: none

fetch multiple experiments
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/experiment.py
  harness/tests/determined/common/experimental/test_determined.py
  harness/tests/fixtures/api_responses.py
  harness/tests/fixtures/experiments.json
Due: none

feat: Pin column when compare
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
Due: web-js-lint-check

fix
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.tsx
Due: web-js-lint-check

chore: sort resource pools based on pool name
  webui/react/src/stores/cluster.tsx
Due: web-js-lint-check

feat: update resource pool picker in jupyterlab modal to be searchable
  webui/react/src/components/JupyterLabModal.tsx
Due: web-js-lint-check

style: apply hover color for selected table rows (#7429)
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/utils.ts
Due: web-js-lint-check

feat: Compare icon reflects status (#7443)
  webui/react/src/components/kit/Icon.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
Due: web-js-lint-check

docstrings
  harness/determined/common/experimental/determined.py
  harness/tests/determined/common/experimental/test_determined.py
  harness/tests/fixtures/api_responses.py
Due: none

feat: master audit logging should log failed requests at `Info` level. (#7434)
  master/internal/audit.go
Due: go-fmt-import, gofumpt, golangci-lint

use wonky metric and group names
  examples/tutorials/core_api/11_generic_metrics.py
Due: none

change dataset size:
  examples/features/torch_batch_process_embeddings/bert_embedding_generation.py
Due: none

move rpauthz to rm
  master/internal/api_resourcepool.go
  master/internal/rm/authz_basic_impl.go
  master/internal/rm/authz_iface.go
Due: go-fmt-import, gofumpt, golangci-lint

Update master/internal/api_resourcepool.go
  master/internal/api_resourcepool.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: add rbac to rp-workspace mapping (#7436)
  master/internal/api_resourcepool.go
  master/internal/db/postgres_rp_workspace_bindings.go
  master/internal/db/postgres_rp_workspace_bindings_intg_test.go
  master/internal/rm/authz_basic_impl.go
  master/internal/rm/authz_iface.go
Due: go-fmt-import, gofumpt, golangci-lint

refactoring rounding methods
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_utils.py
Due: none

refactor args sanity checking
  harness/determined/pytorch/dsat/__main__.py
  harness/determined/pytorch/dsat/_utils.py
Due: none

add search_range_factor everywhere and refactorings
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_utils.py
Due: none

trust remote code fixes
  examples/hf_trainer_api/hf_image_classification/image_classification.py
Due: none

fix _Test class bug
  harness/determined/pytorch/dsat/_dsat_search_method.py
Due: none

10/20 start/end step defaults, and throughput
  harness/determined/pytorch/dsat/_defaults.py
Due: none

cleanup
  harness/determined/pytorch/dsat/_dsat_search_method.py
Due: none

fix: update get agents call for agent disable all (#7441)
  harness/determined/cli/agent.py
Due: none

chore: podspec-capability-bugfix
  master/internal/rm/kubernetesrm/spec.go
Due: go-fmt-import, gofumpt, golangci-lint

refactor GetUnboundRPs
  master/internal/db/postgres_rp_workspace_bindings.go
Due: go-fmt-import, gofumpt, golangci-lint

add get all workspaces function
  master/internal/workspace/postgres_workspace.go
Due: go-fmt-import, gofumpt, golangci-lint

refactor rm authz interface
  master/internal/api_resourcepool.go
  master/internal/rm/authz_basic_impl.go
  master/internal/rm/authz_iface.go
Due: go-fmt-import, gofumpt, golangci-lint

refactor get_random_zero_optim_config
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/determined/pytorch/dsat/_utils.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Due: none

prevent eslint and prettier from disagreeing
  webui/react/.eslintrc.js
Due: web-js-lint-check

claire review
  webui/react/src/hooks/useFeature.ts
Due: web-js-lint-check

docs: update aria labelling for sidebar toggles and toctree groups (#7381)
  docs/_templates/search-field.html
  docs/requirements.txt
Due: none

align featureSettingsConfig type and variable
  webui/react/src/components/UserSettings.tsx
  webui/react/src/hooks/useFeature.ts
Due: web-js-lint-check

fix missed rename
  webui/react/src/components/UserSettings.tsx
Due: web-js-lint-check

feat: Merge data and row height menus in explist v2 (#7405)
  webui/react/src/assets/images/infinite-scroll.svg
  webui/react/src/components/UserSettings.tsx
  webui/react/src/components/kit/Icon.test.tsx
  webui/react/src/components/kit/Icon.tsx
  webui/react/src/pages/F_ExpList/glide-table/OptionsMenu.module.scss
  webui/react/src/pages/F_ExpList/glide-table/OptionsMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/RowHeightMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.module.scss
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
Due: web-js-lint-check

asha resample hps optimization
  harness/determined/pytorch/dsat/_dsat_search_method.py
  harness/tests/experiment/pytorch/test_deepspeed_autotuning.py
Due: none

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
