Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

update test
  master/internal/spec_util_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

Update master/internal/spec_util.go
  master/internal/spec_util.go
Due: go-fmt-import, gofumpt, golangci-lint

add nit changes
  master/internal/api_command.go
  master/internal/spec_util.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: Enable multi-trial "retry" for errored/cancelled exp
  webui/react/src/constants/states.ts
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
  webui/react/src/utils/experiment.ts
Due: web-js-lint-check

fix test
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.tsx
Due: web-js-lint-check

slots per task -> slots
  master/internal/api_generic_tasks.go
Due: go-fmt-import, gofumpt, golangci-lint

remove slots per task
  master/pkg/model/experiment_config.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: hide hyperparameter search for unmanaged multi tiral experiments
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHeader.tsx
Due: web-js-lint-check

updated migrations
  master/static/migrations/20231127110554_trial-to-run-view.tx.down.sql
  master/static/migrations/20231127110554_trial-to-run-view.tx.up.sql
  master/static/migrations/20231129123059_run-trial-v2-create.tx.down.sql
  master/static/migrations/20231129123059_run-trial-v2-create.tx.up.sql
Due: none

starting trials v2
  master/internal/db/postgres_trial.go
  master/pkg/model/experiment.go
  master/static/migrations/20231128100932_run-trial-v2-create.tx.down.sql
  master/static/migrations/20231128100932_run-trial-v2-create.tx.up.sql
Due: go-fmt-import, gofumpt, golangci-lint

got intg test passing
  master/internal/db/postgres_trial.go
  master/static/migrations/20231128100932_run-trial-v2-create.tx.down.sql
  master/static/migrations/20231128100932_run-trial-v2-create.tx.up.sql
Due: go-fmt-import, gofumpt, golangci-lint

chore: run migration moving trials to view and rename
  master/static/migrations/20231127110554_trial-to-run-view.tx.down.sql
  master/static/migrations/20231127110554_trial-to-run-view.tx.up.sql
Due: none

fix runner state
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

lint
  master/pkg/model/experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

runner state update
  master/internal/db/postgres_trial.go
Due: go-fmt-import, gofumpt, golangci-lint

unit test fix
  master/pkg/model/experiment_test.go
Due: go-fmt-import, gofumpt, golangci-lint

more slots updates
  master/pkg/model/generic_task_config.go
Due: go-fmt-import, gofumpt, golangci-lint

final slots changes
  master/pkg/model/generic_task_config.go
  master/pkg/schemas/expconf/experiment_config.go
  master/pkg/schemas/expconf/zgen_resources_config_v0.go
Due: go-fmt-import, gofumpt, golangci-lint

remove uneeded comments
  master/static/migrations/20231129123059_run-trial-v2-create.tx.up.sql
Due: none

fix: Update Trial Download Error Message (#8398)
  harness/determined/cli/trial.py
Due: none

feat: hide hyperparameter search for unmanaged multi tiral experiments (#8497)
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsHeader.tsx
Due: web-js-lint-check

fix
  webui/react/src/utils/experiment.ts
Due: web-js-lint-check

create onallocationexit function
  master/internal/api_generic_tasks.go
Due: go-fmt-import, gofumpt, golangci-lint

refactor: use strings instead of complex structs for testing
  master/internal/stream/system_intg_test.go
  master/internal/stream/test_util.go
  master/test/streamdata/stream_data.go
Due: go-fmt-import, gofumpt, golangci-lint

passing CI?
  README.md
Due: none

Revert "fix: Update Trial Download Error Message (#8398)"
  harness/determined/cli/trial.py
Due: none

chore: add waitgroups to group membership test
  master/internal/usergroup/group_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

adding elementsMatch
  master/internal/usergroup/group_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: Enable multi-trial "retry" for errored/cancelled exp (#8495)
  webui/react/src/constants/states.ts
  webui/react/src/pages/ExperimentDetails/ExperimentDetails.test.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
  webui/react/src/utils/experiment.ts
Due: web-js-lint-check

feat: Update the Continue Single trial experiment workflow
  webui/react/src/components/ExperimentCreateModal.tsx
  webui/react/src/components/PageHeaderFoldable.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
Due: web-js-lint-check

move spec util functions from apiServer to Master
  master/internal/api_command.go
  master/internal/api_generic_tasks.go
  master/internal/spec_util.go
  master/internal/spec_util_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: take out submodule update cmd (#8502)
  webui/react/Makefile
Due: none

fix: fetch projects after archive/unarchive
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.tsx
Due: web-js-lint-check

re-enable CI metrics upload
  .circleci/real_config.yml
  .circleci/scripts/upload_test_results.py
Due: none

don't store artifacts
  .circleci/real_config.yml
Due: none

remove automated-bumpenvs.sh
  tools/scripts/automated-bumpenvs.sh
Due: none

chore: re-enable CI metrics upload (#8506)
  .circleci/real_config.yml
  .circleci/scripts/upload_test_results.py
Due: none

fix: Overwrite omnibar antd modal with Hew standard modal [WEB-1830] (#8476)
  webui/react/src/components/HelpModal.tsx
  webui/react/src/omnibar/Omnibar.tsx
  webui/react/src/omnibar/tree-extension/trees/actions.tsx
  webui/react/src/omnibar/tree-extension/trees/index.ts
Due: web-js-lint-check

created continue experiment modal
  webui/react/src/components/ExperimentContinueModal.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/services/types.ts
Due: web-js-lint-check

fix: improve an error message for token invalidation (#1144)
  master/pkg/model/user.go
Due: go-fmt-import, gofumpt, golangci-lint
