Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint
  require_serial: true

reenable pagination
  master/internal/api_agents.go
Due: go-fmt-import, gofumpt, golangci-lint

no need to nil check as well
  master/internal/api_agents.go
Due: go-fmt-import, gofumpt, golangci-lint

no summary flag
  harness/determined/common/api/bindings.py
  proto/pkg/apiv1/agent.pb.go
  proto/src/determined/api/v1/agent.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check

add a test for summarizer
  master/internal/api_agent_test.go
  proto/pkg/apiv1/api.pb.go
Due: go-fmt-import, gofumpt, golangci-lint

new stats
  harness/determined/common/api/bindings.py
  master/internal/api_agents.go
  proto/pkg/agentv1/agent.pb.go
  proto/src/determined/agent/v1/agent.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

note for topology
  webui/react/src/pages/ResourcePool/Topology.tsx
Due: web-js-lint-check

fmt
  proto/src/determined/agent/v1/agent.proto
Due: none

impelement and use exclude_containers
  harness/determined/common/api/bindings.py
  master/internal/api_agents.go
  proto/pkg/apiv1/agent.pb.go
  proto/pkg/apiv1/api.pb.go
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

squash
  harness/determined/common/api/bindings.py
  master/internal/api_agents.go
  master/internal/rm/resource_manager_iface.go
  proto/pkg/agentv1/agent.pb.go
  proto/pkg/apiv1/agent.pb.go
  proto/pkg/apiv1/api.pb.go
  proto/src/determined/agent/v1/agent.proto
  proto/src/determined/api/v1/agent.proto
  webui/react/src/pages/ResourcePool/Topology.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
  webui/react/src/stores/cluster.tsx
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

expose a way to togggle requesting slots
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
  webui/react/src/stores/cluster.tsx
Due: web-js-lint-check

disable topology view for > MAX_USABLE_NODES
  webui/react/src/pages/ResourcePool/Topology.tsx
Due: web-js-lint-check

also add option to exclude containers?
  proto/src/determined/api/v1/agent.proto
Due: none

fmt
  master/internal/api_agent_test.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: mark db-dependent tests as needing to run in integration (#9041)
  master/internal/api_master_intg_test.go
  master/internal/rm/agentrm/agent_test.go
  master/internal/storage/service_intg_test.go
  master/internal/telemetry/telemetry_test.go
Due: go-fmt-import, gofumpt, golangci-lint

docs: better docs for profiling in determined [MD-252] (#9011)
  docs/.redirects/redirects.json
  docs/get-started/architecture/introduction.rst
  docs/model-dev-guide/api-guides/apis-howto/api-core-ug.rst
  docs/model-dev-guide/api-guides/apis-howto/api-keras-ug.rst
  docs/model-dev-guide/api-guides/apis-howto/api-pytorch-ug.rst
  docs/model-dev-guide/api-guides/apis-howto/deepspeed/deepspeed.rst
  docs/model-dev-guide/dtrain/_index.rst
  docs/model-dev-guide/dtrain/optimize-training.rst
  docs/model-dev-guide/profiling.rst
  docs/reference/experiment-config-reference.rst
Due: none

chore: add unit tests for profiler avg method
  harness/determined/core/_profiler.py
  harness/tests/core/test_profiler.py
Due: none

Backend support for persisting profiling/system metrics to (#8884)
  master/internal/api_checkpoint_intg_test.go
  master/internal/api_trials_intg_test.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_model_intg_test.go
  master/internal/db/postgres_test_utils.go
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
  master/internal/db/postgres_trial_metrics.go
  master/internal/populate_metrics.go
  master/pkg/model/metrics.go
  master/static/migrations/20240229114929_generic-metrics-nullable-batches.tx.down.sql
  master/static/migrations/20240229114929_generic-metrics-nullable-batches.tx.up.sql
  master/static/migrations/20240229114949_generic-metrics-text-partition-type.tx.down.sql
  master/static/migrations/20240229114949_generic-metrics-text-partition-type.tx.up.sql
  master/static/migrations/20240229115000_generic-metrics-profiling-partition.tx.down.sql
  master/static/migrations/20240229115000_generic-metrics-profiling-partition.tx.up.sql
  master/test/integration/api/api_checkpoints_test.go
  master/test/integration/api/api_trials_test.go
  proto/buf.image.bin
  proto/pkg/apiv1/experiment.pb.go
  proto/src/determined/api/v1/experiment.proto
  proto/src/determined/trial/v1/trial.proto
Due: go-fmt-import, gofumpt, golangci-lint

feat: implement profiler in Core API [MD-10] [MD-302] (#8964)
  e2e_tests/tests/conftest.py
  e2e_tests/tests/experiment/record_profiling.py
  e2e_tests/tests/experiment/test_launch.py
  e2e_tests/tests/experiment/test_tf_keras.py
  harness/determined/_trial_controller.py
  harness/determined/core/__init__.py
  harness/determined/core/_context.py
  harness/determined/core/_profiler.py
  harness/determined/exec/harness.py
  harness/determined/keras/_tf_keras_trial.py
  harness/determined/keras/callbacks.py
  harness/determined/profiler.py
  harness/determined/pytorch/_pytorch_context.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/_trainer.py
  harness/determined/pytorch/deepspeed/_deepspeed_context.py
  harness/determined/pytorch/deepspeed/_deepspeed_trial.py
  harness/tests/experiment/pytorch_utils.py
Due: none

feat: migrate existing profiler metrics to generic metrics [MD-300] [MD-301] (#8970)
  master/internal/api_trials.go
  master/internal/db/database.go
  master/internal/db/postgres_trial_profiler_metrics.go
  master/static/migrations/20240308104759_trial-profiler-metrics-migration.tx.down.sql
  master/static/migrations/20240308104759_trial-profiler-metrics-migration.tx.up.sql
  master/static/srv/get_trial_available_series.sql
  master/test/integration/api/api_trials_test.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: remove throughput and timing metrics views on web UI (#8992)
  webui/react/src/pages/TrialDetails/Profiles/Charts/ThroughputMetricChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/TimingMetricChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/Profiler.tsx
Due: web-js-lint-check

chore: aggregate system profiling metrics (#8995)
  harness/determined/core/_profiler.py
Due: none

docs: Describe editorrestricted
  docs/manage/security/rbac.rst
Due: none

docs: Describe editorrestricted (#9049)
  docs/manage/security/rbac.rst
Due: none

refactor: DET-9976 remove agentID type from agentrm (#9040)
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/agent_model.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/agent_state.go
  master/internal/rm/agentrm/agent_state_test.go
  master/internal/rm/agentrm/agents.go
  master/internal/rm/agentrm/fair_share.go
  master/internal/rm/agentrm/fitting.go
  master/internal/rm/agentrm/fitting_test.go
  master/internal/rm/agentrm/priority.go
  master/internal/rm/agentrm/priority_test.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/agentrm/resource_pool_test.go
  master/internal/rm/agentrm/resources.go
  master/internal/rm/agentrm/round_robin.go
  master/internal/rm/agentrm/scheduler_test.go
  master/internal/rm/agentrm/summaries.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: add command det model delete (#9039)
  e2e_tests/tests/cluster/test_model_registry.py
  harness/determined/cli/model.py
Due: none

fixes
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Due: web-js-lint-check

fix: docs lint
  docs/manage/security/rbac.rst
Due: none

docs: add Helm docs for multirm
  docs/reference/deploy/helm-config-reference.rst
  docs/reference/deploy/master-config-reference.rst
Due: none

fix: docs lint (#9052)
  docs/manage/security/rbac.rst
Due: none

fix test
  webui/react/src/components/JupyterLabModal.test.tsx
Due: web-js-lint-check

add streamig model version
  harness/determined/common/streams/wire.py
  master/internal/stream/messages.go
  master/internal/stream/model_versions.go
  master/internal/stream/subscription.go
  master/static/migrations/20240320132823_add-model-versions-trigger.tx.down.sql
  master/static/migrations/20240320132823_add-model-versions-trigger.tx.up.sql
Due: go-fmt-import, gofumpt, golangci-lint

py client and test
  e2e_tests/tests/streaming/test_client.py
  harness/determined/common/streams/_client.py
Due: none

fmt
  e2e_tests/tests/streaming/test_client.py
Due: none

add intg tests
  master/internal/stream/model_versions.go
  master/internal/stream/system_intg_test.go
  master/internal/stream/test_util.go
Due: go-fmt-import, gofumpt, golangci-lint

code gen
  webui/react/src/services/stream/index.ts
  webui/react/src/services/stream/wire.ts
Due: web-js-lint-check

wip
  master/internal/stream/authz_basic_impl.go
  master/internal/stream/authz_iface.go
  master/internal/stream/messages.go
  master/internal/stream/model_versions.go
  master/internal/stream/publisher.go
  master/internal/stream/subscription.go
Due: go-fmt-import, gofumpt, golangci-lint

add comment
  e2e_tests/tests/streaming/test_client.py
Due: none

fix bun db types
  harness/determined/common/streams/wire.py
  master/cmd/stream-gen/main.go
  master/internal/stream/model_versions.go
  master/internal/stream/models.go
  master/internal/stream/projects.go
Due: go-fmt-import, gofumpt, golangci-lint

Revert "docs: add documentation for multirm (#9016)"
  docs/reference/deploy/master-config-reference.rst
  docs/release-notes/multirm-for-k8s.rst
Due: none

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
