Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint
  require_serial: true

ci: add missing default value
  .circleci/real_config.yml
Due: none

fix team tag name on docs
  docs/deploy/main.tf
Due: none

chore: speculative refactor of the profiler metrics
  harness/determined/core/_profiler.py
Due: none

ci: tag CI-deployed resources (#9043)
  .circleci/real_config.yml
  docs/deploy/Makefile
  docs/deploy/cdn.tf
  docs/deploy/main.tf
  docs/deploy/s3.tf
Due: none

switch to list of strings
  harness/determined/common/api/bindings.py
  master/internal/api_agents.go
  proto/pkg/agentv1/agent.pb.go
  proto/src/determined/agent/v1/agent.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

inform about exact disabled slots
  harness/determined/common/api/bindings.py
  proto/pkg/agentv1/agent.pb.go
  proto/src/determined/agent/v1/agent.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check

index via enum names instead of int values
  master/internal/api_agents.go
  proto/pkg/agentv1/agent.pb.go
  proto/src/determined/agent/v1/agent.proto
Due: go-fmt-import, gofumpt, golangci-lint

implement it
  master/internal/api_agents.go
Due: go-fmt-import, gofumpt, golangci-lint

experiment move logic
  master/internal/api_runs.go
  master/internal/api_runs_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

remove user not found check
  master/internal/api_runs.go
Due: go-fmt-import, gofumpt, golangci-lint

update test
  master/internal/api_runs_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

data-test -> data-test-component
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/e2e/models/README.md
  webui/react/src/e2e/models/components/DeterminedAuth.ts
  webui/react/src/e2e/tests/auth.spec.ts
Due: web-js-lint-check, web-misc-lint-check

WIP: scratch commit
  webui/react/src/e2e/models/BaseComponent.ts
  webui/react/src/e2e/models/components/DeterminedAuth.ts
  webui/react/src/e2e/models/utils/error.ts
Due: web-js-lint-check

no freeze
  webui/react/src/e2e/models/BaseComponent.ts
Due: web-js-lint-check

option to move multitrial
  harness/determined/common/api/bindings.py
  master/internal/api_runs.go
  master/internal/api_runs_intg_test.go
  proto/pkg/apiv1/run.pb.go
  proto/src/determined/api/v1/run.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

change cli delete to style consistent with other commands [pr feedback]
  harness/determined/cli/model.py
Due: none

use override instead of class creation
  webui/react/src/e2e/models/BaseComponent.ts
  webui/react/src/e2e/models/components/DeterminedAuth.ts
  webui/react/src/e2e/models/utils/error.ts
Due: web-js-lint-check

smoothScroll props
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
Due: web-js-lint-check

remove unused var
  webui/react/src/e2e/tests/auth.spec.ts
Due: web-js-lint-check

custom-renderers exports
  webui/react/src/pages/F_ExpList/expListColumns.ts
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/userAvatarCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/index.tsx
Due: web-js-lint-check

removed deleted exp columns
  master/internal/api_runs.go
Due: go-fmt-import, gofumpt, golangci-lint

fix test equal order
  master/internal/api_runs_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

login fixture redirect condition
  webui/react/src/e2e/fixtures/auth.fixture.ts
Due: web-js-lint-check

feat: Use filtered resource pool when creating notebook
  webui/react/src/components/JupyterLabModal.tsx
  webui/react/src/stores/workspaces.tsx
Due: web-js-lint-check

disable pool selection when ws empty
  webui/react/src/components/JupyterLabModal.tsx
Due: web-js-lint-check

Revert "docs: add EditorRestricted role release note (#9007)"
  docs/manage/security/rbac.rst
  docs/release-notes/editor-restricted-role.rst
Due: none

linting
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/e2e/fixtures/auth.fixture.ts
  webui/react/src/e2e/models/BaseComponent.ts
  webui/react/src/e2e/models/BasePage.ts
  webui/react/src/e2e/models/components/DeterminedAuth.ts
  webui/react/src/e2e/models/components/Page.ts
  webui/react/src/e2e/models/pages/SignIn.ts
  webui/react/src/e2e/models/utils/error.ts
  webui/react/src/e2e/tests/auth.spec.ts
Due: web-js-lint-check

fix: move experiement SQL error
  master/internal/experiment/bulk_action.go
Due: go-fmt-import, gofumpt, golangci-lint

linting
  webui/react/.eslintrc.js
  webui/react/src/e2e/models/BaseComponent.ts
Due: web-js-lint-check

expect import
  webui/react/src/e2e/fixtures/auth.fixture.ts
Due: web-js-lint-check

linting lol
  webui/react/src/e2e/fixtures/auth.fixture.ts
Due: web-js-lint-check

gotta run prettier too :rolling eyes emoji
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/e2e/fixtures/auth.fixture.ts
  webui/react/src/e2e/models/BaseComponent.ts
  webui/react/src/e2e/models/BasePage.ts
  webui/react/src/e2e/models/README.md
  webui/react/src/e2e/models/components/DeterminedAuth.ts
  webui/react/src/e2e/models/utils/error.ts
  webui/react/src/e2e/tests/auth.spec.ts
Due: web-js-lint-check, web-misc-lint-check

test: Jcom/infeng 454/sign in tests (#9013)
  webui/react/.eslintrc.js
  webui/react/playwright.config.ts
  webui/react/src/components/DeterminedAuth.tsx
  webui/react/src/e2e/README.md
  webui/react/src/e2e/docs/images/loactor-autocomplete.png
  webui/react/src/e2e/docs/images/page-model-autocomplete.png
  webui/react/src/e2e/fixtures/auth.fixture.ts
  webui/react/src/e2e/models/BaseComponent.ts
  webui/react/src/e2e/models/BasePage.ts
  webui/react/src/e2e/models/README.md
  webui/react/src/e2e/models/components/DeterminedAuth.ts
  webui/react/src/e2e/models/components/Page.ts
  webui/react/src/e2e/models/pages/SignIn.ts
  webui/react/src/e2e/models/utils/error.ts
  webui/react/src/e2e/tests/auth.spec.ts
Due: web-js-lint-check, web-misc-lint-check

Revert "docs: add EditorRestricted role release note (#9007)" (#9046)
  docs/manage/security/rbac.rst
  docs/release-notes/editor-restricted-role.rst
Due: none

test: add intg test cases
  master/internal/api_experiment_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

WIP: predicate injeciton for login
  webui/react/Makefile
  webui/react/run-mocked-playwright.sh
  webui/react/src/e2e/mocks/predicate-generator.js
Due: web-js-lint-check

fix: typo
  master/internal/api_experiment_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: move experiment SQL error (#9042)
  master/internal/api_experiment_intg_test.go
  master/internal/experiment/bulk_action.go
Due: go-fmt-import, gofumpt, golangci-lint

not sure why this keeps flipflopping
  proto/pkg/apiv1/api.pb.go
Due: none

simplify initializing the stats
  master/internal/api_agents.go
Due: go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
