Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint
  require_serial: true

move tutorials
  examples/legacy/tutorials/core_api/0_start.py
  examples/legacy/tutorials/core_api/0_start.yaml
  examples/legacy/tutorials/core_api/1_metrics.py
  examples/legacy/tutorials/core_api/1_metrics.yaml
  examples/legacy/tutorials/core_api/2_checkpoints.py
  examples/legacy/tutorials/core_api/2_checkpoints.yaml
  examples/legacy/tutorials/core_api/3_hpsearch.py
  examples/legacy/tutorials/core_api/3_hpsearch.yaml
  examples/legacy/tutorials/core_api/4_distributed.py
  examples/legacy/tutorials/core_api/4_distributed.yaml
  examples/legacy/tutorials/core_api/README.md
  examples/legacy/tutorials/fashion_mnist_tf_keras/README.md
  examples/legacy/tutorials/fashion_mnist_tf_keras/adaptive.yaml
  examples/legacy/tutorials/fashion_mnist_tf_keras/const.yaml
  examples/legacy/tutorials/fashion_mnist_tf_keras/data.py
  examples/legacy/tutorials/fashion_mnist_tf_keras/distributed.yaml
  examples/legacy/tutorials/fashion_mnist_tf_keras/model_def.py
Due: none

remove tutorials from ci
  e2e_tests/tests/experiment/test_core.py
  e2e_tests/tests/experiment/test_profiling.py
  e2e_tests/tests/experiment/test_tf_keras.py
  e2e_tests/tests/nightly/test_convergence.py
  e2e_tests/tests/nightly/test_distributed.py
Due: none

fix: enable RP bindings management for workspace admins (#7834)
  webui/react/src/hooks/usePermissions.ts
Due: web-js-lint-check

remove from readme file
  examples/README.md
Due: none

chore: bump version: 0.25.1-rc1 -> 0.25.1-rc2
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

remove references to tutorial from docs
  docs/example-solutions/examples.rst
  docs/model-dev-guide/api-guides/apis-howto/api-keras-ug.rst
Due: none

initial trial pr from stoksc
  master/internal/api_experiment.go
  master/internal/api_trials.go
  master/internal/experiment.go
  master/internal/restore.go
  master/internal/restore_test.go
  master/internal/task/allocation_service.go
  master/internal/trial.go
  master/internal/trial_intg_test.go
  master/pkg/actor/actors/test_actor.go
  master/test/testutils/fixtures.go
Due: go-fmt-import, gofumpt, golangci-lint

update from comments
  master/internal/experiment.go
  master/internal/trial.go
Due: go-fmt-import, gofumpt, golangci-lint

wip
  master/internal/experiment.go
  master/internal/restore.go
  master/pkg/searcher/searcher.go
Due: go-fmt-import, gofumpt, golangci-lint

cleanup
  master/internal/trial_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

wip
  master/internal/experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

cleanup
  master/internal/experiment.go
  master/internal/restore.go
Due: go-fmt-import, gofumpt, golangci-lint

refactor trialCreationSent to avoid snapshotAndSave
  master/internal/experiment.go
  master/internal/restore.go
  master/internal/trial.go
  master/internal/trial_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

cleanup
  master/internal/experiment.go
  master/internal/restore.go
  master/pkg/searcher/searcher.go
Due: go-fmt-import, gofumpt, golangci-lint

progress
  e2e_tests/tests/cluster/managed_cluster_k8s.py
  e2e_tests/tests/cluster/test_master_restart.py
  helm/charts/determined/templates/master-permissions.yaml
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/pods.go
Due: go-fmt-import, gofumpt, golangci-lint

main implementation
  helm/charts/determined/templates/master-permissions.yaml
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/spec.go
Due: go-fmt-import, gofumpt, golangci-lint

release note + unit test
  docs/release-notes/agent-disable.rst
  master/internal/rm/kubernetesrm/spec_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fmt
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/spec.go
Due: go-fmt-import, gofumpt, golangci-lint

remove tf-mnist-tutorial.rst
  docs/tutorials/index.rst
  docs/tutorials/tf-mnist-tutorial.rst
Due: none

undo changes to enrich_trial_logs.py
  master/static/srv/enrich_task_logs.py
Due: none

master pod patch
  master/internal/rm/kubernetesrm/pods.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: add new API endpoint to get and post accelerator data (#7723)
  harness/determined/common/api/bindings.py
  master/internal/api_tasks.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/task.pb.go
  proto/pkg/apiv1/trial.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/task.proto
  proto/src/determined/api/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

edit release note
  docs/release-notes/float-epochs.rst
Due: none

feat: enable display of metrics with floating point epoch [MLG-857] (#7829)
  docs/release-notes/float-epochs.rst
  harness/determined/common/api/bindings.py
  master/internal/api_trials_intg_test.go
  master/internal/db/postgres_experiments.go
  master/internal/trials/postgres_trials.go
  proto/buf.image.bin
  proto/pkg/apiv1/experiment.pb.go
  proto/src/determined/api/v1/experiment.proto
Due: go-fmt-import, gofumpt, golangci-lint

edit release note
  docs/release-notes/metrics-overwrites.rst
Due: none

feat: allow metrics with duplicate keys and the same value [MLG-890]. (#7820)
  docs/release-notes/metrics-overwrites.rst
  master/go.mod
  master/internal/db/postgres_trial_intg_test.go
  master/internal/db/postgres_trial_metrics.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: error message for `det agent [enable|disable]`.
  harness/determined/cli/agent.py
Due: none

remove extraneous comment
  examples/computer_vision/cifar10_pytorch/inference_example.py
Due: none

feat: expose `externalExperimentId` and `externalTrialId`
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_project.go
  master/internal/experiment_filter.go
  proto/pkg/experimentv1/experiment.pb.go
  proto/src/determined/experiment/v1/experiment.proto
  webui/react/src/pages/F_ExpList/glide-table/columns.ts
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

remove workflow and fix linting
  e2e_tests/tests/nightly/test_distributed.py
  examples/tests/test_official.py
Due: none

ci: switch to curl fail instead of bash checking
  .circleci/config.yml
Due: none

curl fail the old way
  .circleci/config.yml
Due: none

update the built objects
  harness/determined/common/api/bindings.py
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check

move the migration
  master/static/migrations/20230908153131_trial_source_info_unique.tx.down.sql
  master/static/migrations/20230908153131_trial_source_info_unique.tx.up.sql
Due: none

feature: Allow passing in swagger json as an argument
  bindings/generate_bindings_py.py
  bindings/generate_bindings_ts.py
Due: none

update the docs for the new API
  docs/model-dev-guide/api-guides/batch-processing/batch-process-api-ug.rst
Due: none

fmt tag
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/linkCell.tsx
Due: web-js-lint-check

use setPartial
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/ExperimentVisualizationFilters.tsx
  webui/react/src/pages/F_ExpList/CompareParallelCoordinates.tsx
  webui/react/src/pages/TrialDetails/MultiTrialDetailsHyperparameters.tsx
Due: web-js-lint-check

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
