Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint
  require_serial: true

chore: crash cluster given RM crash (#7621)
  master/internal/root.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: show external jobs on the resource pool page (#7666)
  webui/react/src/components/kit/Icon.tsx
  webui/react/src/pages/JobQueue/JobQueue.table.tsx
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/styles/icons.scss
  webui/react/src/utils/job.ts
Due: web-js-lint-check

chore: update determined cli to handle timestamp format for external jobs (#7668)
  harness/determined/cli/job.py
  harness/determined/common/util.py
Due: none

improvement
  master/internal/api_trials_intg_test.go
  master/internal/experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: changing x axis type should reset any current custom zoom (#7728)
  webui/react/src/components/kit/internal/UPlot/SyncProvider.tsx
Due: web-js-lint-check

fix: allow zeroes for user agent id and group agent id
  webui/react/src/components/ConfigureAgentModal.tsx
Due: web-js-lint-check

docs: Add user guides to the Documentation section (#7721)
  README.md
Due: none

fix: backfilled tasks weren't seen as trial tasks (#7729)
  docs/release-notes/trial-logs-failing.rst
  master/internal/api_trials_intg_test.go
  master/internal/experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

alternate type cast of __new__
  harness/determined/common/experimental/determined.py
Due: none

chore: make workspace label pluralizable
  webui/react/src/components/ResourcePoolCard.tsx
Due: web-js-lint-check

chore: New constructor for Determined objects using existing session. (#7663)
  harness/determined/common/experimental/determined.py
Due: none

fix: move "Default" label to the left to avoid interfering with overflow menu button on rp card
  webui/react/src/components/ResourcePoolCard.module.scss
  webui/react/src/components/ResourcePoolCard.tsx
Due: web-js-lint-check

fix failing e2e_cpu tests
  harness/determined/common/util.py
Due: none

fix e2e tests
  harness/determined/cli/job.py
Due: none

various updates
  performance/README.md
  performance/dist/tests.js
  performance/dist/tests.js.map
  performance/docs/ts-js-k6.png
  performance/docs/use-this-template-button.png
  performance/src/load_tests.ts
  performance/src/tests.ts
  performance/webpack.config.js
Due: none

fix: fix failing e2e_cpu tests (#7734)
  harness/determined/cli/job.py
  harness/determined/common/util.py
Due: none

fix(cli): not found errors should retain useful context
  harness/determined/common/api/request.py
Due: none

chore: corrected formatting
  master/internal/rm/kubernetesrm/pods.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: allow NodeInformer to fail with permission error [DET-9772]
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/pods.go
Due: go-fmt-import, gofumpt, golangci-lint

refactor: adjusted node informer perm failure warning message
  master/internal/rm/kubernetesrm/pods.go
Due: go-fmt-import, gofumpt, golangci-lint

refactor: correct error check & conditional formatting
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/pods.go
Due: go-fmt-import, gofumpt, golangci-lint

refactor: use switch/case instead of if/elseif
  master/internal/rm/kubernetesrm/pods.go
Due: go-fmt-import, gofumpt, golangci-lint

fix(cli): not found errors should retain useful context (#7733)
  harness/determined/common/api/request.py
Due: none

fix: allow NodeInformer to fail with permission error [DET-9772] (#7703)
  master/internal/rm/kubernetesrm/pods.go
Due: go-fmt-import, gofumpt, golangci-lint

addressing feedback
  master/internal/config/resource_manager_config.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/agent_state.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
Due: go-fmt-import, gofumpt, golangci-lint

refactor no default RP case
  master/internal/config/resource_manager_config.go
Due: go-fmt-import, gofumpt, golangci-lint

restore previous logic and pass test
  master/internal/config/resource_manager_config.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: update metric label to show full group string
  webui/react/src/utils/metric.test.ts
  webui/react/src/utils/metric.ts
Due: web-js-lint-check

chore: update line chart to report full metric group name
  webui/react/src/components/kit/LineChart.tsx
Due: web-js-lint-check

fix: handle empty group for metric badge tag
  webui/react/src/components/MetricBadgeTag.tsx
Due: web-js-lint-check

fix: update trial metrics hook to organize by metric groups
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
Due: web-js-lint-check

chore: handle no metric group for metricToStr
  webui/react/src/utils/metric.ts
Due: web-js-lint-check

chore: add note on how metric group can be undefined
  webui/react/src/components/MetricBadgeTag.tsx
  webui/react/src/utils/metric.ts
Due: web-js-lint-check

chore: add a new assertion method to check command exit status and report any errors
  e2e_tests/tests/cluster/test_agent_disable.py
  e2e_tests/tests/cluster/test_agent_restart.py
  e2e_tests/tests/cluster/test_master_restart.py
  e2e_tests/tests/cluster/test_priority_scheduler.py
  e2e_tests/tests/cluster/utils.py
Due: none

fix: proxy tunnel server should use `SO_REUSEADDR`.
  e2e_tests/tests/cluster/test_proxy.py
  e2e_tests/tests/experiment/test_unmanaged.py
  e2e_tests/tests/requirements.txt
  examples/features/ports/ray_job.py
  examples/features/ports/ray_launcher.py
  harness/determined/cli/proxy.py
Due: none

fix: allow deletion of workspaces when case-insensitive matches exist
  harness/determined/common/api/bindings.py
  master/internal/api_workspace.go
  master/static/srv/get_workspaces.sql
  proto/pkg/apiv1/workspace.pb.go
  proto/src/determined/api/v1/workspace.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
