Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

fix: update test
  webui/react/src/utils/data.test.ts
Due: web-js-lint-check

feat: remove dependency and add config file for the swc
  webui/react/.swcrc
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/utils/data.test.ts
  webui/react/src/utils/data.ts
Due: web-js-lint-check, web-misc-lint-check

chore: change the return type to any
  webui/react/src/utils/data.ts
Due: web-js-lint-check

fix: properly clear out the settings from the database [WEB-1559] (#7636)
  webui/react/src/hooks/useSettings.ts
  webui/react/src/stores/userSettings.tsx
Due: web-js-lint-check

adding InitMockTelemetry tmp
  master/internal/api_experiment_intg_test.go
  master/internal/rm/agentrm/provisioner/provisioner_test.go
  master/internal/task/allocation_intg_test.go
  master/internal/telemetry/telemetry.go
  master/internal/telemetry/telemetry_test.go
  master/test/integration/api/api_checkpoints_test.go
Due: go-fmt-import, gofumpt, golangci-lint

force allgather_bucket_size and other rands even
  harness/determined/pytorch/dsat/_dsat_search_method.py
Due: none

fix: alphabetical binding workspaces and search copy change [WEB-1552, WEB-1553] (#7633)
  webui/react/src/components/ResourcePoolBindingModal.tsx
  webui/react/src/components/Transfer.tsx
  webui/react/src/stores/workspaces.tsx
  webui/react/src/utils/sort.ts
Due: web-js-lint-check

chore: bump version: 0.24.0-rc2 -> 0.24.0-rc3
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/examples/huggingface/language-modeling/clm_config.yaml
  model_hub/examples/huggingface/language-modeling/mlm_config.yaml
  model_hub/examples/huggingface/language-modeling/plm_config.yaml
  model_hub/examples/huggingface/multiple-choice/swag_config.yaml
  model_hub/examples/huggingface/question-answering/squad.yaml
  model_hub/examples/huggingface/question-answering/squad_beam_search.yaml
  model_hub/examples/huggingface/question-answering/squad_distributed.yaml
  model_hub/examples/huggingface/question-answering/squad_v2.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_albert.yaml
  model_hub/examples/huggingface/question-answering/squad_v2_beam_search.yaml
  model_hub/examples/huggingface/text-classification/glue_config.yaml
  model_hub/examples/huggingface/text-classification/xnli_config.yaml
  model_hub/examples/huggingface/token-classification/ner_config.yaml
  model_hub/examples/mmdetection/fasterrcnn.yaml
  model_hub/examples/mmdetection/hydra/configs/config.yaml
  model_hub/examples/mmdetection/maskrcnn.yaml
  model_hub/examples/mmdetection/panoptic_fpn.yaml
  model_hub/examples/mmdetection/yolov3.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

chore: remove unused parseFloat for decoding string metric values
  webui/react/src/services/decoder.ts
Due: web-js-lint-check

fix: select component width
  webui/react/src/components/FilterForm/components/FilterField.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/ExperimentVisualizationFilters.tsx
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
Due: web-js-lint-check

docs: fix epoch metrics article
  docs/articles/viewing-epoch-based-metrics.rst
Due: none

chore: remove unused parseFloat for decoding string metric values (#7641)
  webui/react/src/services/decoder.ts
Due: web-js-lint-check

chore: Hide action menu for default resource pools
  webui/react/src/components/ResourcePoolCard.module.scss
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/pages/Clusters/ClustersOverview.tsx
Due: web-js-lint-check

remove eslint extra package
  webui/react/.eslintrc.js
  webui/react/package-lock.json
  webui/react/package.json
Due: web-js-lint-check, web-misc-lint-check

apply suggested rule
  webui/react/.eslintrc.js
  webui/react/src/pages/TrialDetails/TrialChart.tsx
Due: web-js-lint-check

avoid introducing duplicate imports
  webui/react/src/components/UPlot/UPlotScatter.tsx
  webui/react/src/components/UPlot/UPlotScatter/UPlotScatter.utils.ts
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/ExperimentVisualizationFilters.tsx
Due: web-js-lint-check

chore: use eslint rule to avoid relative imports through parent [WEB-1496] (#7637)
  webui/react/.eslintrc.js
  webui/react/src/components/ActionDropdown/ActionDropdown.tsx
  webui/react/src/components/AvatarCard/AvatarCard.tsx
  webui/react/src/components/BatchActionConfirmModal.test.tsx
  webui/react/src/components/BatchActionConfirmModal.tsx
  webui/react/src/components/PageHeader/PageHeader.tsx
  webui/react/src/components/ScaleSelect.tsx
  webui/react/src/components/Table/SkeletonTable.tsx
  webui/react/src/components/UPlot/UPlotScatter.tsx
  webui/react/src/components/UPlot/UPlotScatter/UPlotScatter.utils.ts
  webui/react/src/components/UPlot/UPlotScatter/useScatterPointTooltipPlugin.ts
  webui/react/src/components/kit/LogViewer/LogViewer.tsx
  webui/react/src/hooks/useModal/useModal.tsx
  webui/react/src/pages/Clusters/ClustersOverview.tsx
  webui/react/src/pages/Clusters/ClustersQueuedChart.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentSingleTrialTabs.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/ExperimentVisualizationFilters.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/LearningCurve.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/F_ExpList/glide-table/ColumnPickerMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/GlideTable.tsx
  webui/react/src/pages/F_ExpList/glide-table/OptionsMenu.tsx
  webui/react/src/pages/F_ExpList/glide-table/TableActionBar.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/checkboxCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/experimentStateCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/loadingCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/progressCell.tsx
  webui/react/src/pages/F_ExpList/glide-table/custom-renderers/cells/tagsCell.tsx
  webui/react/src/pages/InteractiveTask.test.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/SystemMetricChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/SystemMetricChartFilters.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/ThroughputMetricChart.tsx
  webui/react/src/pages/TrialDetails/Profiles/Charts/TimingMetricChart.tsx
  webui/react/src/pages/TrialDetails/TrialChart.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsLogs.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsWorkloads.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/stores/contexts/UI.tsx
Due: web-js-lint-check

content update
  webui/react/src/components/ResourcePoolCard.tsx
Due: web-js-lint-check

another draft
  master/internal/api_experiment_intg_test.go
  master/internal/core.go
  master/internal/experiment.go
  master/internal/restore.go
  master/internal/rm/agentrm/provisioner/provisioner_test.go
  master/internal/task/allocation_intg_test.go
  master/internal/telemetry/reports.go
  master/internal/telemetry/telemetry.go
  master/internal/telemetry/telemetry_test.go
  master/test/integration/api/api_checkpoints_test.go
Due: go-fmt-import, gofumpt, golangci-lint

undoing extraneous change
  master/internal/rm/agentrm/provisioner/provisioner_test.go
Due: go-fmt-import, gofumpt, golangci-lint

logic updates
  webui/react/src/components/ResourcePoolCard.tsx
Due: web-js-lint-check

feat: add download code method for Python SDK experiment [MLG-838]
  harness/determined/common/experimental/experiment.py
  harness/tests/determined/common/experimental/test_experiment.py
Due: none

use regexp in parse metrics name
  master/internal/api_project.go
  master/internal/experiment_filter.go
  master/static/srv/calculate-full-trial-summary-metrics.sql
Due: go-fmt-import, gofumpt, golangci-lint

fix: select component width (#7640)
  webui/react/src/components/FilterForm/components/FilterField.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/ExperimentVisualizationFilters.tsx
  webui/react/src/pages/F_ExpList/glide-table/MultiSortMenu.tsx
Due: web-js-lint-check

renamed telemeteractor to DefaultTelemeter and Telemetry struct to Telemeter
  master/internal/telemetry/reports.go
  master/internal/telemetry/telemetry.go
  master/internal/telemetry/telemetry_test.go
Due: go-fmt-import, gofumpt, golangci-lint

remove superfluous pip install
  .github/workflows/lint-python.yml
Due: none

feat: remove .rc file, remove old clone fn and used structuredClone as direct substitute
  webui/react/.swcrc
  webui/react/src/components/ExperimentCreateModal.tsx
  webui/react/src/components/HpSelect.tsx
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/components/ResourcePoolDetails.tsx
  webui/react/src/hooks/useModal/HyperparameterSearch/useModalHyperparameterSearch.tsx
  webui/react/src/pages/Admin/GroupManagement.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpHeatMaps.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/ResourcepoolDetail.tsx
  webui/react/src/pages/TrialDetails/Profiles/useFetchProfilerMetrics.tsx
  webui/react/src/stores/cluster.tsx
  webui/react/src/utils/chart.ts
  webui/react/src/utils/data.test.ts
  webui/react/src/utils/data.ts
  webui/react/src/utils/experiment.ts
  webui/react/src/utils/routes.ts
Due: web-js-lint-check

restore sum in summary metrics
  master/internal/db/postgres_trial.go
  master/internal/db/postgres_trial_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

Changes for PBS
  agent/internal/detect/nvidia.go
  agent/internal/detect/nvidia_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: default pools editable and submittable
  master/internal/api_workspace.go
  master/internal/mocks/workspace_authz_iface.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/workspace/authz_basic_impl.go
  master/internal/workspace/authz_iface.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: Project deletion should trigger update of workspace projects list
  webui/react/src/components/ProjectActionDropdown.tsx
Due: web-js-lint-check

include onClose action for moving project
  webui/react/src/components/ProjectMoveModal.tsx
Due: web-js-lint-check

onDelete
  webui/react/src/components/ProjectActionDropdown.tsx
  webui/react/src/components/ProjectCard.tsx
Due: web-js-lint-check

Work on some names
  agent/internal/detect/nvidia.go
  agent/internal/detect/nvidia_test.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: Show Tooltip instead of actions for Default Resource Pools [WEB-1554] (#7644)
  webui/react/src/components/ResourcePoolCard.module.scss
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/pages/Clusters/ClustersOverview.tsx
Due: web-js-lint-check

ci: indicate GHA run URL when reporting a cherry-pick conflict
  .github/workflows/track-prs-for-release.yml
  tools/scripts/track-pr
Due: none

feat: add polyfill back
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/App.tsx
Due: web-js-lint-check, web-misc-lint-check

ci: indicate GHA run URL when reporting a cherry-pick conflict (#7635)
  .github/workflows/track-prs-for-release.yml
  tools/scripts/track-pr
Due: none
