Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

go to flake8 6.0.0
  .pre-commit-config.yaml
  requirements.txt
Due: none

fix tests for internal.trial
  master/internal/api_trials.go
  master/internal/trial.go
  master/internal/trial_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fmt
  master/internal/task/allocation.go
  master/internal/task/allocation_service.go
Due: go-fmt-import, gofumpt, golangci-lint

various test fixes
  master/internal/rm/agentrm/mock_test.go
  master/internal/rm/agentrm/priority.go
  master/internal/rm/agentrm/resource_pool_test.go
  master/internal/rm/agentrm/scheduler_test.go
Due: go-fmt-import, gofumpt, golangci-lint

resurrect GetContainerResourcesState, etc
  master/internal/command/command.go
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/mock_test.go
  master/internal/rm/rmevents/rmevents.go
  master/internal/rm/rmevents/service.go
  master/internal/sproto/task.go
  master/internal/sproto/task_actor.go
  master/internal/task/allgather.go
  master/internal/task/allocation_service.go
  master/internal/task/allocationservice/allocationservice.go
  master/internal/task/idle/watcher_test.go
  master/internal/task/tproto/tproto.go
Due: go-fmt-import, gofumpt, golangci-lint

fix tests for package task
  master/internal/task/allocation_intg_test.go
  master/internal/task/rendezvous.go
  master/internal/task/rendezvous_test.go
Due: go-fmt-import, gofumpt, golangci-lint

add fill out allocation service
  master/internal/api_tasks.go
  master/internal/api_trials.go
  master/internal/checkpoint_gc.go
  master/internal/command/command.go
  master/internal/core.go
  master/internal/task/allgather.go
  master/internal/task/allocation.go
  master/internal/task/allocation_map.go
  master/internal/task/allocation_service.go
  master/internal/trial.go
Due: go-fmt-import, gofumpt, golangci-lint

linting
  master/internal/api_trials.go
  master/internal/task/allocation.go
  master/internal/task/allocation_service.go
Due: go-fmt-import, gofumpt, golangci-lint

tmp
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/agent_state.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/kubernetesrm/pod.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
Due: go-fmt-import, gofumpt, golangci-lint

remove GetResourcesContainerState hack (verified, purpose changed from orig pr, no longer needed
  master/internal/rm/agentrm/agent.go
  master/internal/task/allocation_service.go
  master/internal/task/allocationservice/allocationservice.go
Due: go-fmt-import, gofumpt, golangci-lint

ckpt
  master/Makefile
  master/internal/checkpoint_gc.go
  master/internal/command/command.go
  master/internal/command/summary.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/allocation_service.go
  master/internal/trial.go
Due: go-fmt-import, gofumpt, golangci-lint

move back to queue
  master/internal/rm/rmevents/rmevents.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
Due: go-fmt-import, gofumpt, golangci-lint

various changes
  master/internal/command/command.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/allocation_service.go
  master/internal/task/tproto/tproto.go
  master/internal/trial.go
  master/internal/trial_test.go
Due: go-fmt-import, gofumpt, golangci-lint

ckpt
  master/Makefile
  master/internal/mocks/allocationmocks/allocation_service.go
  master/internal/mocks/rm.go
  master/internal/rm/kubernetesrm/pod_test.go
  master/internal/rm/rmevents/rmevents.go
  master/internal/rm/tasklist/task_list_test.go
  master/internal/sproto/task.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/allocation_service.go
  master/internal/task/allocation_service_iface.go
  master/internal/trial.go
  master/internal/trial_test.go
Due: go-fmt-import, gofumpt, golangci-lint

tmp
  master/internal/rm/rmevents/rmevents_test.go
Due: go-fmt-import, gofumpt, golangci-lint

lintetc
  master/internal/command/command.go
Due: go-fmt-import, gofumpt, golangci-lint

ckpt
  master/internal/api_workspace.go
  master/internal/command/command.go
  master/internal/rm/agentrm/priority.go
  master/internal/rm/agentrm/round_robin.go
  master/internal/rm/rmevents/rmevents.go
  master/internal/rm/tasklist/task_list_test.go
  master/internal/sproto/task.go
  master/internal/task/allocation_service_iface.go
  master/internal/trial.go
Due: go-fmt-import, gofumpt, golangci-lint

tmp
  master/internal/checkpoint_gc.go
  master/internal/command/command.go
  master/internal/core.go
  master/internal/mocks/allocationmocks/allocation_service.go
  master/internal/rm/rmevents/rmevents_test.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/allocation_service.go
  master/internal/task/allocation_service_iface.go
Due: go-fmt-import, gofumpt, golangci-lint

golandstuff
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/allocation_service.go
Due: go-fmt-import, gofumpt, golangci-lint

selfreview
  master/internal/api_trials.go
  master/internal/checkpoint_gc.go
  master/internal/command/command.go
  master/internal/core.go
  master/internal/rm/actorrm/actor_resource_manager.go
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/agent_state.go
  master/internal/rm/agentrm/priority.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/agentrm/round_robin.go
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/rmevents/rmevents_test.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  master/internal/task/allocation_service.go
  master/internal/task/allocation_service_iface.go
  master/internal/trial.go
Due: go-fmt-import, gofumpt, golangci-lint

fixtests
  master/internal/command/command_manager.go
  master/internal/command/notebook_manager.go
  master/internal/command/shell_manager.go
  master/internal/command/tensorboard_manager.go
  master/internal/rm/agentrm/resources.go
  master/internal/task/allocation.go
  master/pkg/tasks/task_command.go
  master/pkg/tasks/task_gc.go
  master/pkg/tasks/task_trial.go
Due: go-fmt-import, gofumpt, golangci-lint

tmp
  master/Makefile
  master/internal/api_trials.go
  master/internal/rm/agentrm/resources.go
  master/internal/rm/rmevents/rmevents.go
  master/internal/rm/rmevents/rmevents_test.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  master/internal/trial.go
Due: go-fmt-import, gofumpt, golangci-lint

rendezvousstuff
  master/internal/api_trials.go
  master/internal/task/allocation.go
  master/internal/task/allocation_service.go
  master/internal/task/allocation_service_iface.go
Due: go-fmt-import, gofumpt, golangci-lint

agreewitherik
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/allocation_service.go
Due: go-fmt-import, gofumpt, golangci-lint

lintetc
  master/internal/mocks/allocationmocks/allocation_service.go
Due: go-fmt-import, gofumpt, golangci-lint

invert who emits release event
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/rmevents/rmevents_test.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
Due: go-fmt-import, gofumpt, golangci-lint

downgrade to flake8 5.0.4
  .pre-commit-config.yaml
  requirements.txt
Due: none

make sync comments more obvious
  .pre-commit-config.yaml
Due: none

Limit scope of helper method.
  harness/determined/common/experimental/workspace.py
Due: none

chore: bump up flake8 to 3.9.2 (#7389)
  requirements.txt
Due: none

ckpt
  master/internal/api_trials.go
  master/internal/checkpoint_gc.go
  master/internal/command/command.go
  master/internal/experiment.go
  master/internal/restore.go
  master/internal/sproto/task.go
  master/internal/task/allocation.go
  master/internal/task/allocation_intg_test.go
  master/internal/task/allocation_service.go
  master/internal/task/allocation_service_iface.go
  master/internal/trial.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: add update master config API end point with RBACK and CLI command (#7318)
  docs/release-notes/patch_master_config.rst
  harness/determined/cli/master.py
  harness/determined/common/api/bindings.py
  master/internal/api_master.go
  master/internal/cluster/authz_basic_impl.go
  master/internal/cluster/authz_iface.go
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/master.pb.go
  proto/pkg/masterv1/master.pb.go
  proto/pkg/rbacv1/rbac.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/master.proto
  proto/src/determined/master/v1/master.proto
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

format
  examples/features/torch_batch_process/batch_inference/generate_embedding/bert_embedding_generation.py
  examples/features/torch_batch_process/batch_inference/generate_embedding/config.yaml
  examples/features/torch_batch_process/batch_inference/generate_embedding/requirements.txt
Due: none

fix: rbac filter on columns API (#7386)
  master/internal/api_project.go
Due: go-fmt-import, gofumpt, golangci-lint

test
  webui/react/src/e2e/navigation.spec.ts
Due: web-js-lint-check

feat:allow-pachyderm-notebook-extension
  master/internal/rm/kubernetesrm/spec.go
  master/pkg/model/environment_config.go
Due: go-fmt-import, gofumpt, golangci-lint

Fix tests
  webui/react/src/components/kit/Icon.test.tsx
Due: web-js-lint-check

feat: allow-pachyderm-notebook-extension
  master/internal/rm/kubernetesrm/spec.go
Due: go-fmt-import, gofumpt, golangci-lint
