Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

ci(aws): fix RDS connections (#7475)
  harness/determined/deploy/aws/injector/master.yaml.tmpl
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
Due: none

fix: compare panel resize
  webui/react/src/components/SplitPane.tsx
Due: web-js-lint-check

bump requests in install_python.sh
  .circleci/config.yml
Due: none

requests pin second attempt
  .circleci/config.yml
Due: none

pin requests elsewhere
  .circleci/config.yml
Due: none

change install order
  .circleci/config.yml
Due: none

just bump conda instead
  .circleci/config.yml
Due: none

replace md5 with sha256
  .circleci/config.yml
Due: none

ci: Conda bump (#7479)
  .circleci/config.yml
Due: none

second draft
  master/internal/mocks/config_map_iface.go
  master/internal/rm/kubernetesrm/request_queue_test.go
Due: go-fmt-import, gofumpt, golangci-lint

second draft
  master/internal/mocks/config_map_iface.go
  master/internal/rm/kubernetesrm/mock_client_test.go
  master/internal/rm/kubernetesrm/pod_test.go
  master/internal/rm/kubernetesrm/request_queue_test.go
Due: go-fmt-import, gofumpt, golangci-lint

more work
  master/internal/rm/kubernetesrm/request_queue_test.go
Due: go-fmt-import, gofumpt, golangci-lint

first draft
  master/internal/mocks/round_trip_interface.go
  master/internal/rm/kubernetesrm/mock_client_test.go
  master/internal/rm/kubernetesrm/pod_test.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: Update launcher docs PBS section to reflect that job_history_enable must be set to true in order for the launcher to surface job information correctly
  docs/setup-cluster/deploy-cluster/slurm/slurm-requirements.rst
Due: none

apply make fmt
  docs/setup-cluster/workspaces-rpools.rst
Due: none

docs: Add RP to Workspaces user guide
  docs/setup-cluster/workspaces-rpools.rst
  docs/setup-cluster/workspaces.rst
Due: none

fix: grammar and formatting
  docs/setup-cluster/deploy-cluster/slurm/slurm-requirements.rst
Due: none

fix: added period
  docs/setup-cluster/deploy-cluster/slurm/slurm-requirements.rst
Due: none

fix: changed the added requirement to be first bullet to reflect importance
  docs/setup-cluster/deploy-cluster/slurm/slurm-requirements.rst
Due: none

fix: semantics
  docs/setup-cluster/deploy-cluster/slurm/slurm-requirements.rst
Due: none

update to match demo
  docs/setup-cluster/workspaces-rpools.rst
Due: none

fix: grammarly run through and get rid of unnecessary sudo
  docs/setup-cluster/deploy-cluster/slurm/slurm-requirements.rst
Due: none

fix: rename `checkoutCount` to `checkpoints`
  webui/react/src/pages/ExperimentList.settings.ts
  webui/react/src/pages/ExperimentList.tsx
Due: web-js-lint-check

docs: Add torch batch process example
  docs/model-dev-guide/batch-processing/batch-process-api-ug.rst
Due: none

fix: get rid of verification step
  docs/setup-cluster/deploy-cluster/slurm/slurm-requirements.rst
Due: none

fix: reformatted change to be more succinct
  docs/setup-cluster/deploy-cluster/slurm/slurm-requirements.rst
Due: none

fix: rename `checkoutCount` to `checkpoints` (#7481)
  webui/react/src/pages/ExperimentList.settings.ts
  webui/react/src/pages/ExperimentList.tsx
Due: web-js-lint-check

fix: only let cluster admins manage resource pool bindings [WEB-1476]
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/ResourcepoolDetail.tsx
Due: web-js-lint-check

fix: chart tooltip overflow
  webui/react/src/components/kit/internal/UPlot/UPlotChart/tooltipsPlugin.ts
Due: web-js-lint-check

fix: workspace ids not merging properly
  master/internal/api_resourcepool.go
Due: go-fmt-import, gofumpt, golangci-lint

docs: Add torch batch process example (#7482)
  docs/model-dev-guide/batch-processing/batch-process-api-ug.rst
Due: none

chore: added PBS known issues section
  docs/setup-cluster/deploy-cluster/slurm/slurm-known-issues.rst
Due: none

fix: semantics
  docs/setup-cluster/deploy-cluster/slurm/slurm-known-issues.rst
Due: none

update the migration
  master/static/migrations/20230726131253_trial_source_info.tx.down.sql
  master/static/migrations/20230726131253_trial_source_info.tx.up.sql
Due: none

fix: only let cluster admins manage resource pool bindings [WEB-1476] (#7483)
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/ResourcepoolDetail.tsx
Due: web-js-lint-check

fix: ChartGrid styling
  webui/react/src/components/kit/LineChart.module.scss
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/pages/F_ExpList/CompareMetrics.tsx
Due: web-js-lint-check

finished taking out podInterface in request_queue, TODO pod_test
  master/internal/rm/kubernetesrm/pod_test.go
  master/internal/rm/kubernetesrm/request_queue_test.go
Due: go-fmt-import, gofumpt, golangci-lint
