Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint
  require_serial: true

Rearrange code
  webui/react/src/components/JupyterLabModal2.tsx
Due: web-js-lint-check

chore: cli describe workspaces no longer also lists projects
  harness/determined/cli/workspace.py
Due: none

chore: bumped otel/.../otlptrace & otlptracegrpc to match otel version (v1.18.0)
  go.mod
  go.sum
Due: none

chore: updates json indexing for request errors
  harness/determined/common/api/request.py
Due: none

docs: Fix mmdetection readme link
  docs/reference/model-hub/mmdetection-api.rst
Due: none

docs: Fix mmdetection readme link (#8607)
  docs/reference/model-hub/mmdetection-api.rst
Due: none

ci: entirely remove mmdetection test runs
  .circleci/real_config.yml
Due: none

fix: update experiment hp search param quoting
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: update experiment hp search param quoting (#8620)
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: fix a typo in RRI (#8612)
  master/internal/sproto/task.go
Due: go-fmt-import, gofumpt, golangci-lint

docs: Mention examples in the git readme
  README.md
Due: none

ci: fix test split for skipped tests
  .circleci/real_config.yml
Due: none

chore: update hew to 0.6.20
  webui/react/package-lock.json
  webui/react/package.json
Due: web-misc-lint-check

ci: fix test split for skipped tests (#8624)
  .circleci/real_config.yml
Due: none

chore: update hew to 0.6.20 (#8625)
  webui/react/package-lock.json
  webui/react/package.json
Due: web-misc-lint-check

docs: Document scim display name attribute
  docs/manage/security/scim.rst
  docs/manage/users-remote.rst
  docs/reference/deploy/master-config-reference.rst
Due: none

bump
  master/static/migrations/20231214105113_delete-trials-aug-view.tx.down.sql
  master/static/migrations/20231214105113_delete-trials-aug-view.tx.up.sql
Due: none

bump to top
  master/static/migrations/20240102114252_delete-trials-aug-view.tx.down.sql
  master/static/migrations/20240102114252_delete-trials-aug-view.tx.up.sql
Due: none

chore: delete unused trials_augmented_view
  master/static/migrations/20231213111518_delete-trials-aug-view.tx.down.sql
  master/static/migrations/20231213111518_delete-trials-aug-view.tx.up.sql
Due: none

chore: delete unused trials_augmented_view (#8588)
  master/static/migrations/20240102114252_delete-trials-aug-view.tx.down.sql
  master/static/migrations/20240102114252_delete-trials-aug-view.tx.up.sql
Due: none

fix: metric prefix can overwrite group
  webui/react/src/pages/TrialDetails/TrialDetailsMetrics.tsx
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
Due: web-js-lint-check

db tests pass
  master/internal/db/postgres_checkpoints.go
  master/internal/db/postgres_experiments.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_trial.go
  master/static/migrations/20231212130811_run_collections.tx.down.sql
  master/static/migrations/20231212130811_run_collections.tx.up.sql
Due: go-fmt-import, gofumpt, golangci-lint

fix: check if loading before saying no workspaces / no projects
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.tsx
  webui/react/src/pages/WorkspaceList.tsx
Due: web-js-lint-check

fix: os.uname() not found on windows
  docs/integrations/ide/vscode.rst
  harness/determined/cli/shell.py
Due: none

feat(cli/deploy): add db snapshot flag for simple-rds
  harness/determined/deploy/aws/cli.py
  harness/determined/deploy/aws/constants.py
  harness/determined/deploy/aws/deployment_types/simple.py
  harness/determined/deploy/aws/templates/simple-rds.yaml
Due: none

docs(release-notes): add entry for new db-snapshot flag
  docs/release-notes/db-snapshot-flag.rst
Due: none

fix(cli/deploy): specify ARN requirement of snapshot flag
  harness/determined/deploy/aws/cli.py
Due: none

fix(cli/deploy): use correct default for default snapshot
  harness/determined/deploy/aws/cli.py
Due: none

feat(cli/deploy): error when specifying snapshot for non-rds deployment
  harness/determined/deploy/aws/cli.py
Due: none

ci(performance): use latest versions for CLI and deployment (#8525)
  .github/workflows/performance-tests.yml
Due: none

ci(performance): recomment pull-request test trigger
  .github/workflows/performance-tests.yml
Due: none

Update docs/release-notes/db-snapshot-flag.rst
  docs/release-notes/db-snapshot-flag.rst
Due: none

Update harness/determined/deploy/aws/cli.py
  harness/determined/deploy/aws/cli.py
Due: none

docs(release-notes): fix formatting for db-snapshot flag entry
  docs/release-notes/db-snapshot-flag.rst
Due: none

add kill task
  harness/determined/cli/task.py
  harness/determined/common/api/bindings.py
  master/internal/api_generic_tasks.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/taskv1/task.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/task/v1/task.proto
Due: go-fmt-import, gofumpt, golangci-lint

internal tests passing
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_tasks_intg_test.go
  master/internal/api_trials_intg_test.go
  master/internal/experiment/bulk_action.go
  master/pkg/model/experiment.go
  master/pkg/model/experiment_test.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: cli describe workspaces no longer also lists projects (#8609)
  harness/determined/cli/workspace.py
Due: none

fix intg tests
  master/internal/trials/postgres_trials.go
  master/internal/trials/postgres_trials_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: os.uname() not found on windows (#8629)
  docs/integrations/ide/vscode.rst
  harness/determined/cli/shell.py
Due: none

chore: added release note for breaking CLI experiment creation change
  docs/release-notes/allow-empty-model-definitions.rst
Due: none

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
