Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

old version
  helm/charts/determined/templates/master-config.yaml
  master/.golangci.yml
  master/cmd/determined-master/root.go
  master/cmd/determined-master/root_test.go
  master/internal/api_user_intg_test.go
  master/internal/config/config.go
  master/internal/config/config_test.go
  master/internal/config/resource_config.go
  master/internal/config/resource_config_test.go
  master/internal/config/resource_manager_config_v0.go
  master/internal/config/resource_manager_config_v1.go
  master/internal/core.go
  master/internal/experiment.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager_intg_test.go
  master/internal/rm/agentrm/agents.go
  master/internal/rm/agentrm/resource_managers_test.go
  master/internal/rm/agentrm/scheduler_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/setup.go
  master/internal/spec_util.go
Due: go-fmt-import, gofumpt, golangci-lint

Revert "old version"
  helm/charts/determined/templates/master-config.yaml
  master/.golangci.yml
  master/cmd/determined-master/root.go
  master/cmd/determined-master/root_test.go
  master/internal/api_user_intg_test.go
  master/internal/config/config.go
  master/internal/config/config_test.go
  master/internal/config/resource_config.go
  master/internal/config/resource_config_test.go
  master/internal/config/resource_manager_config.go
  master/internal/config/resource_manager_config_v0.go
  master/internal/core.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager_intg_test.go
  master/internal/rm/agentrm/agents.go
  master/internal/rm/agentrm/resource_managers_test.go
  master/internal/rm/agentrm/scheduler_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/setup.go
  master/internal/spec_util.go
Due: go-fmt-import, gofumpt, golangci-lint

feedback
  master/internal/config/config.go
  master/internal/config/config_test.go
  master/internal/config/resource_config.go
  master/internal/config/resource_config_test.go
  master/internal/config/resource_manager_config.go
  master/internal/core.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: config updates for multirm
  helm/charts/determined/templates/master-config.yaml
  master/cmd/determined-master/root_test.go
  master/internal/api_user_intg_test.go
  master/internal/config/config.go
  master/internal/config/config_test.go
  master/internal/config/resource_config.go
  master/internal/config/resource_config_test.go
  master/internal/config/resource_manager_config.go
  master/internal/core.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager_intg_test.go
  master/internal/rm/agentrm/agents.go
  master/internal/rm/agentrm/resource_managers_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/setup.go
  master/internal/spec_util.go
Due: go-fmt-import, gofumpt, golangci-lint

update printable test
  master/internal/config/config.go
  master/internal/config/config_test.go
Due: go-fmt-import, gofumpt, golangci-lint

refactor: transition to launching devcluster in CI node and using shared cluster for RM
  .circleci/devcluster/shared-cluster.devcluster.yaml
  .circleci/real_config.yml
Due: none

chore: add allocation info for cluster ui [DET-10018] (#8616)
  harness/determined/common/api/bindings.py
  master/internal/rm/agentrm/agent_state.go
  master/internal/rm/agentrm/resources.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/pod_test.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/sproto/agent_resource_manager.go
  master/pkg/device/device.go
  master/pkg/model/agent.go
  master/pkg/model/task.go
  proto/buf.image.bin
  proto/pkg/containerv1/container.pb.go
  proto/src/determined/container/v1/container.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

chore: add allocation info for cluster ui [DET-10018] (#8616) (#8876)
  harness/determined/common/api/bindings.py
  master/internal/rm/agentrm/agent_state.go
  master/internal/rm/agentrm/resources.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/pod_test.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/sproto/agent_resource_manager.go
  master/pkg/device/device.go
  master/pkg/model/agent.go
  master/pkg/model/task.go
  proto/buf.image.bin
  proto/pkg/containerv1/container.pb.go
  proto/src/determined/container/v1/container.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

fix query and update to flatruns
  harness/determined/common/api/bindings.py
  master/internal/api_runs.go
  master/internal/api_runs_intg_test.go
  master/internal/experiment_filter.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/run.pb.go
  proto/pkg/trialv1/trial.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/run.proto
  proto/src/determined/trial/v1/trial.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

chore: master config updates for multirm [RM-3, RM-4, RM-5, RM-7, RM-29] (#8831)
  helm/charts/determined/templates/master-config.yaml
  master/cmd/determined-master/root_test.go
  master/internal/api_user_intg_test.go
  master/internal/config/config.go
  master/internal/config/config_test.go
  master/internal/config/resource_config.go
  master/internal/config/resource_config_test.go
  master/internal/config/resource_manager_config.go
  master/internal/core.go
  master/internal/experiment.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager_intg_test.go
  master/internal/rm/agentrm/agents.go
  master/internal/rm/agentrm/resource_managers_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/setup.go
  master/internal/spec_util.go
Due: go-fmt-import, gofumpt, golangci-lint

whitelist
  docs/conf.py
Due: none

remove test comments
  .circleci/real_config.yml
Due: none

chore: api's default retry now session's default retry (#8872)
  e2e_tests/tests/api_utils.py
  harness/determined/cli/_util.py
  harness/determined/common/api/__init__.py
  harness/determined/common/api/_session.py
  harness/determined/common/api/_util.py
  harness/determined/common/api/authentication.py
  harness/determined/common/experimental/determined.py
Due: none

docs: add link checker utility (#8738)
  .circleci/real_config.yml
  docs/Makefile
  docs/conf.py
  docs/setup-cluster/on-prem/options/wsl.rst
Due: none

rebase edits?
  master/internal/restore.go
  master/internal/rm/resource_manager_iface.go
Due: go-fmt-import, gofumpt, golangci-lint

docs: Add llm blog link to home page (#8874)
  docs/index.rst
  docs/model-dev-guide/api-guides/batch-process-api-ug.rst
  docs/model-dev-guide/dtrain/reproducibility.rst
  docs/model-dev-guide/hyperparameter/search-methods/hp-adaptive-asha.rst
Due: none

rm code owners
  .github/CODEOWNERS
Due: none

ci: fix e2e tests in ee
  e2e_tests/tests/cluster/test_rbac.py
Due: none

Apply suggestions from code review
  .github/CODEOWNERS
Due: none

ci: fix e2e tests in ee (#8880)
  e2e_tests/tests/cluster/test_rbac.py
Due: none

ci: more e2e test fixes
  e2e_tests/tests/api_utils.py
Due: none

ci: more e2e test fixes (#8881)
  e2e_tests/tests/api_utils.py
Due: none

rm: have agent.HandleWebsocketConnection return error if socket id is already taken, instead of stopping the agent with a matching id
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/agents.go
Due: go-fmt-import, gofumpt, golangci-lint

fix(?) release notes formatting for linter
  docs/release-notes/7940-socket-error.rst
Due: none

capture and raise new error from handling websocket connections when agent does not yet exist
  master/internal/rm/agentrm/agents.go
Due: go-fmt-import, gofumpt, golangci-lint

add release notes
  docs/release-notes/7940-socket-error.rst
Due: none

edit and rstfmt release note
  docs/release-notes/7940-socket-error.rst
Due: none

attempt again to fix rst lint issues
  docs/release-notes/7940-socket-error.rst
Due: none

fix: move e2e_tests changes for slurm from EE to OSS
  e2e_tests/tests/cluster/test_slurm.py
  e2e_tests/tests/experiment/experiment.py
  examples/computer_vision/iris_tf_keras/iris_tf_keras_cancelable.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_high_priority.yaml
Due: none

chore: add trigger to abort checkpoint deletion
  master/internal/checkpoints/postgres_checkpoints_intg_test.go
  master/internal/db/postgres_experiments_intg_test.go
  master/static/migrations/20240222102938_add-trigger-for-checkpoint-delete.tx.down.sql
  master/static/migrations/20240222102938_add-trigger-for-checkpoint-delete.tx.up.sql
Due: go-fmt-import, gofumpt, golangci-lint

refactor: run postgres using binary instead of docker
  .circleci/devcluster/shared-cluster.devcluster.yaml
  .circleci/real_config.yml
  tools/kubernetes/devcluster.tpl.yaml
Due: none

fix: move e2e_tests changes for slurm test from EE to OSS
  e2e_tests/tests/cluster/test_slurm.py
  e2e_tests/tests/experiment/experiment.py
  examples/computer_vision/iris_tf_keras/iris_tf_keras_cancelable.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_high_priority.yaml
Due: none

chore: add in apt-get update
  .circleci/real_config.yml
Due: none

chore: run pg cluster as root
  .circleci/real_config.yml
Due: none

restoring DeleteJob bc I'm not going to touch it in multirm
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_user_intg_test.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/resource_manager_iface.go
  master/internal/sproto/jobs.go
Due: go-fmt-import, gofumpt, golangci-lint

minor fixes
  examples/computer_vision/iris_tf_keras/iris_tf_keras_cancelable.yaml
  examples/computer_vision/iris_tf_keras/iris_tf_keras_high_priority.yaml
Due: none

fix linting
  e2e_tests/tests/experiment/experiment.py
Due: none

fix lint
  master/internal/checkpoints/postgres_checkpoints_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: add missing check for external sessions on exp launch (#8859)
  master/internal/api_experiment.go
  master/internal/core_experiment.go
Due: go-fmt-import, gofumpt, golangci-lint
