Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

fix: use selected checkpoints when registering (#8739)
  webui/react/src/components/RegisterCheckpointModal.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.tsx
Due: web-js-lint-check

hew
  webui/react/package-lock.json
  webui/react/package.json
Due: web-misc-lint-check

feat: expconf flag to force scheduling on a single node/container/pod
  e2e_tests/tests/cluster/test_resource_manager.py
  master/internal/core_experiment.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/trial.go
  master/pkg/model/command_config.go
  master/pkg/model/compat.go
  master/pkg/model/experiment_config.go
  master/pkg/schemas/expconf/experiment_config.go
  master/pkg/schemas/expconf/zgen_resources_config_v0.go
  master/pkg/schemas/zgen_schemas.go
  schemas/expconf/v0/resources.json
  schemas/test_cases/v0/defaults.yaml
Due: go-fmt-import, gofumpt, golangci-lint

switch to server
  docs/release-notes/master-mount.rst
  helm/charts/determined/templates/master-deployment.yaml
  helm/charts/determined/values.yaml
Due: none

test fixes
  docs/release-notes/command-capacity.rst
  e2e_tests/tests/command/test_run.py
  master/internal/rm/agentrm/resource_managers_test.go
  schemas/test_cases/v0/experiment.yaml
Due: go-fmt-import, gofumpt, golangci-lint

test fixes
  e2e_tests/tests/command/test_run.py
Due: none

add docs
  docs/reference/training/experiment-config-reference.rst
Due: none

make -C docs fmt
  docs/release-notes/master-mount.rst
Due: none

mount shared_fs to /determined_shared_fs
  helm/charts/determined/templates/master-deployment.yaml
Due: none

remove dots from swagger definitions (#1056)
  proto/scripts/swagger.py
Due: none

feat: helm option to mount shared_fs checkpoints to master (#8741)
  docs/release-notes/master-mount.rst
  helm/charts/determined/templates/master-deployment.yaml
  helm/charts/determined/values.yaml
Due: none

fix: pagination fix in model detail page
  webui/react/src/pages/ModelDetails.tsx
Due: web-js-lint-check

fix: pagination fix in model detail page (#8744)
  webui/react/src/pages/ModelDetails.tsx
Due: web-js-lint-check

refactor: split system.go into subscription and publisher files
  master/internal/stream/messages.go
  master/internal/stream/projects.go
  master/internal/stream/publisher.go
  master/internal/stream/socketlike.go
  master/internal/stream/subscription.go
  master/internal/stream/supervisor.go
  master/internal/stream/system.go
  master/internal/stream/system_intg_test.go
  master/internal/stream/test_util.go
  master/internal/stream/util.go
  master/internal/stream/utils.go
  master/pkg/stream/stream.go
Due: go-fmt-import, gofumpt, golangci-lint

docs: add release notes for 0.27.1
  docs/release-notes.rst
  docs/release-notes/db-snapshot-flag.rst
  docs/release-notes/jupyter-root.rst
  docs/release-notes/master-mount.rst
Due: none

chore: import missing EE helm chart change [ci skip]
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
Due: none

add slurm caveat
  docs/reference/training/experiment-config-reference.rst
Due: none

feat: Add a modal to enable/disable Agents [WEB-1718] (#8721)
  webui/react/src/components/ManageNodesModal.module.scss
  webui/react/src/components/ManageNodesModal.tsx
  webui/react/src/pages/ResourcePool/ResourcepoolDetail.tsx
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Due: web-js-lint-check

refactor: changed PreparableMessage to MarshallableMessage with more restrictions
  master/internal/stream/messages.go
  master/internal/stream/projects.go
  master/internal/stream/publisher.go
  master/internal/stream/subscription.go
  master/internal/stream/test_util.go
  master/pkg/stream/stream.go
  master/pkg/stream/stream_test.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: `make devcluster` to rebuild bindings before harness and webui.
  tools/devcluster.yaml
Due: none

doCs
  tools/devcluster.yaml
Due: none

mnemonic
  tools/devcluster.yaml
Due: none

chore: `make devcluster` to rebuild bindings before harness and webui. (#8748)
  tools/devcluster.yaml
Due: none

chore: add since check in project filter and updated knownset comment
  master/internal/stream/messages.go
  master/internal/stream/projects.go
Due: go-fmt-import, gofumpt, golangci-lint

Update docs/release-notes.rst
  docs/release-notes.rst
Due: none

make -C docs fmt
  docs/release-notes.rst
Due: none

Add chart '0.0.1-dev7 0.15.3 7.0.19 5.41.4 4.0.15 0.2.16 25.8.2 2.4.2 1.7.0 5.15.2 4.24.0 6.15.3' due to release
  aioli-helm-chart_0.0.1-dev7.tgz
  index.yaml
Due: none

chore: add build tags to test_util
  master/internal/stream/test_util.go
Due: go-fmt-import, gofumpt, golangci-lint

docs: add release notes for 0.27.1 (#8746)
  docs/release-notes.rst
  docs/release-notes/db-snapshot-flag.rst
  docs/release-notes/jupyter-root.rst
  docs/release-notes/master-mount.rst
Due: none

chore: bump version: 0.27.1-rc1 -> 0.27.1
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

Add chart '0.27.1' due to release
  determined-helm-chart_0.27.1.tgz
  index.yaml
Due: none

refactor: implement project startup process following established design
  master/internal/stream/projects.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: updated comment regarding tmf.Since to spec.Since
  master/internal/stream/projects.go
Due: go-fmt-import, gofumpt, golangci-lint
