Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint
  require_serial: true

Temporarily disable GitHub Actions credentials.
  .github/workflows/start-minor-release.yml
Due: none

chore: lock published urls to preserve redirects
  docs/.redirects/all_published_urls_ever.json
Due: none

release note
  docs/release-notes/deepspeed-trainer.rst
Due: none

test: rbac config [TESTENG-108] (#10032)
  .circleci/devcluster/react-rbac.devcluster.yaml
  .circleci/real_config.yml
  webui/react/src/e2e/fixtures/api.roles.fixture.ts
  webui/react/src/e2e/fixtures/auth.fixture.ts
  webui/react/src/e2e/fixtures/global-fixtures.ts
  webui/react/src/e2e/fixtures/user.fixture.ts
  webui/react/src/e2e/models/pages/DefaultRoute.ts
  webui/react/src/e2e/tests/auth.spec.ts
  webui/react/src/e2e/tests/navigation.spec.ts
  webui/react/src/e2e/utils/rbac.ts
Due: web-js-lint-check

Restore start release action credential.
  .github/workflows/start-minor-release.yml
Due: none

Add chart '1.3.0-dev12+7c9e9e43 0.15.3 7.0.19 5.41.4 0.2.16 4.0.15 25.8.2 2.4.2 1.7.0 5.15.2 4.24.0 6.15.3' due to release
  aioli-helm-chart_1.3.0-dev12+7c9e9e43.tgz
  index.yaml
Due: none

feat: Add ExperimentMoveModal component and update ExperimentActionDropdown with move modal integration.
  webui/react/src/e2e/models/components/ExperimentActionDropdown.ts
  webui/react/src/e2e/models/components/ExperimentMoveModal.ts
  webui/react/src/e2e/tests/experimentList.spec.ts
Due: web-js-lint-check

refactor(e2e): Remove unused V1Workspace import and clean up test code.
  webui/react/src/e2e/tests/experimentList.spec.ts
Due: web-js-lint-check

refactor: Improve code readability by formatting lines in experimentList.spec.ts.
  webui/react/src/e2e/tests/experimentList.spec.ts
Due: web-js-lint-check

refactor: Add destinationWorkspace to move experiment function.
  webui/react/src/e2e/tests/experimentList.spec.ts
Due: web-js-lint-check

lint
  webui/react/src/e2e/tests/experimentList.spec.ts
Due: web-js-lint-check

feat: Update move experiment test with correct workspace and project names.
  webui/react/src/e2e/tests/experimentList.spec.ts
Due: web-js-lint-check

refactor: Update data-test attributes and improve selectors.
  webui/react/src/components/ExperimentMoveModal.tsx
  webui/react/src/e2e/models/components/ExperimentMoveModal.ts
  webui/react/src/e2e/tests/experimentList.spec.ts
Due: web-js-lint-check

refactor: Simplify experiment move actions in e2e test.
  webui/react/src/e2e/tests/experimentList.spec.ts
Due: web-js-lint-check

chore: fix assertion
  webui/react/src/e2e/tests/experimentList.spec.ts
Due: web-js-lint-check

Add chart '1.3.0-dev12+cf2692fc 5.41.4 0.2.16 4.0.15 25.8.2 4.24.0 2.4.2 1.7.0 5.15.2 6.15.3 0.15.3 7.0.19' due to release
  aioli-helm-chart_1.3.0-dev12+cf2692fc.tgz
  index.yaml
Due: none

add more tests and correct PATCH exp logic to fix tests
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/configpolicy/postgres_task_config_policy.go
  master/internal/configpolicy/postgres_task_config_policy_intg_test.go
  master/internal/configpolicy/utils.go
  master/internal/configpolicy/utils_test.go
  master/internal/experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

debug get command
  e2e_tests/tests/cluster/managed_slurm_cluster.py
  e2e_tests/tests/cluster/test_master_restart.py
Due: none

verify no test cross-chatter
  e2e_tests/tests/cluster/test_master_restart.py
Due: none

debug
  tools/slurm/scripts/slurmcluster.sh
Due: none

set env vars and try managedCluster
  e2e_tests/tests/cluster/managed_cluster_k8s.py
  e2e_tests/tests/cluster/managed_slurm_cluster.py
  e2e_tests/tests/cluster/test_master_restart.py
  tools/slurm/scripts/slurmcluster.sh
Due: none

more debug
  .circleci/real_config.yml
  e2e_tests/tests/cluster/managed_slurm_cluster.py
  tools/slurm/scripts/slurmcluster.sh
Due: none

don't catch output for debug
  .circleci/real_config.yml
Due: none

get things passing again
  e2e_tests/tests/cluster/managed_slurm_cluster.py
Due: none

revert other functional changes
  e2e_tests/tests/cluster/managed_slurm_cluster.py
Due: none

Add chart '0.38.0-rc0' due to release
  determined-helm-chart_0.38.0-rc0.tgz
  index.yaml
Due: none

sort
  master/internal/api_user.go
  webui/react/src/e2e/models/pages/Admin/UserManagement.ts
  webui/react/src/e2e/tests/userManagement.spec.ts
  webui/react/src/pages/Admin/UserManagement.tsx
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

collect log and fix debug code
  .circleci/real_config.yml
  e2e_tests/tests/cluster/managed_slurm_cluster.py
Due: none

foreground devcluster run
  e2e_tests/tests/cluster/test_master_restart.py
  tools/slurm/scripts/slurmcluster.sh
Due: none

background devcluster
  .circleci/real_config.yml
  tools/slurm/scripts/slurmcluster.sh
Due: none

wait for devcluster
  tools/slurm/scripts/slurmcluster.sh
Due: none

Use proper paramter interpolation syntax.
  .circleci/real_config.yml
Due: none

Only use one when block.
  .circleci/real_config.yml
Due: none

Remove list.
  .circleci/real_config.yml
Due: none

build: INFENG-942: Conditionally bypass build-react job checks (#10145)
  .circleci/real_config.yml
Due: none

Add chart '0.38.0-rc2' due to release
  determined-helm-chart_0.38.0-rc2.tgz
  index.yaml
Due: none

Set prerelease: auto in both Helm GoReleaser configs. GoReleaser will make intelligent decisions based on the tag and avoid setting release candidate Helm chart releases as "latest".
  helm/.goreleaser.yml
  helm/.goreleaser_ee.yml
Due: none

fix svc hostname
  master/internal/rm/kubernetesrm/jobs.go
Due: go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
