Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

started db_code
  master/static/db_code/README.md
  master/static/db_code/checkpoints.sql
Due: none

chore: log health check failures in master logs
  master/internal/core.go
  master/internal/rm/dispatcherrm/dispatcher_resource_manager.go
  master/internal/rm/kubernetesrm/pods.go
Due: go-fmt-import, gofumpt, golangci-lint

add comment
  harness/determined/common/api/_session.py
Due: none

fix: proto build shouldn't run if source files are unchanged (#9290)
  proto/Makefile
Due: none

fix test
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: log health check failures in master logs (#9291)
  master/internal/core.go
  master/internal/rm/dispatcherrm/dispatcher_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/kubernetesrm/pods.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: dependabot upgrade grpc/go-jose/net [RM-66] (#9280)
  go.mod
  go.sum
  harness/determined/common/api/_session.py
  master/internal/audit.go
Due: go-fmt-import, gofumpt, golangci-lint

add more test and refactor
  master/internal/templates/api.go
  master/internal/templates/api_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fixes on runs and searches views
  webui/react/src/components/Searches/Searches.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Due: web-js-lint-check

test: skip a `useTypedParams` test case due to flakiness (#9287)
  webui/react/src/hooks/useTypedParams.test.tsx
Due: web-js-lint-check

fix: Bulk Action bug (#9255)
  e2e_tests/tests/cluster/test_job_queue.py
  e2e_tests/tests/cluster/test_log_policies.py
  e2e_tests/tests/cluster/test_master_restart.py
  e2e_tests/tests/experiment/experiment.py
  e2e_tests/tests/experiment/test_api.py
  e2e_tests/tests/experiment/test_noop.py
  e2e_tests/tests/experiment/test_pending_hpc.py
  harness/determined/common/api/bindings.py
  master/internal/api_experiment.go
  master/internal/api_experiment_intg_test.go
  master/internal/api_runs.go
  master/internal/core.go
  master/internal/experiment/bulk_action.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/experiment.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/experiment.proto
  webui/react/src/components/ExperimentActionDropdown.tsx
  webui/react/src/components/ExperimentMoveModal.tsx
  webui/react/src/components/ExperimentRetainLogsModal.tsx
  webui/react/src/components/OptionsMenu.tsx
  webui/react/src/components/Searches/Searches.tsx
  webui/react/src/components/TableActionBar.tsx
  webui/react/src/components/UserSettings.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentDetailsHeader.tsx
  webui/react/src/pages/ExperimentList.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

wip:mock testing
  webui/react/package-lock.json
  webui/react/run-mocked-playwright.sh
  webui/react/src/e2e/mocks/user-mock.js
  webui/react/src/e2e/mocks/zz-saved-imposters.json
Due: web-js-lint-check, web-misc-lint-check

chore: bump version: 0.32.0-rc5 -> 0.32.0-rc6
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

docs: update "install on k8s" guide to use helm repo instead of tarball.
  docs/setup-cluster/k8s/install-on-kubernetes.rst
Due: none

[RM-133] docs: Dashboard Improvements after dogfooding
  tools/observability/api-dash.json
  tools/observability/resource-utilization-dash.json
Due: none

address review comments
  docs/setup-cluster/k8s/install-on-kubernetes.rst
Due: none

loading state and tests
  webui/react/src/components/CompareHeatMaps.tsx
  webui/react/src/components/CompareHyperparameters.test.tsx
  webui/react/src/components/CompareHyperparameters.tsx
  webui/react/src/components/CompareParallelCoordinates.tsx
  webui/react/src/components/CompareScatterPlots.tsx
  webui/react/src/components/ParallelCoordinates.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpHeatMaps.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpScatterPlots.tsx
Due: web-js-lint-check

feat: support filter in run table
  webui/react/src/pages/FlatRuns/FlatRuns.settings.ts
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Due: web-js-lint-check

feat: add filter dropdown menu in header
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Due: web-js-lint-check

fix: feedback
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Due: web-js-lint-check

feat: support banned column
  webui/react/src/components/FilterForm/TableFilter.tsx
  webui/react/src/components/TableActionBar.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Due: web-js-lint-check

fixup! fix: feedback
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Due: web-js-lint-check

docs: update Chart.yaml [ci skip]
  helm/charts/determined/Chart.yaml
Due: none

docs: Update Chart.yaml [ci skip] (#9298)
  helm/charts/determined/Chart.yaml
Due: none

test: experiement list tests [INFENG-457]
  .circleci/real_config.yml
  webui/react/playwright.config.ts
  webui/react/src/e2e/models/components/F_ExperiementList.ts
  webui/react/src/e2e/models/hew/Message.ts
  webui/react/src/e2e/models/hew/Nameplate.ts
  webui/react/src/e2e/tests/experimentList.spec.ts
Due: web-js-lint-check

ci: circleci slack alerts should go to #ci-bots
  .circleci/real_config.yml
Due: none

add unit test
  harness/tests/tensorboard/test_base.py
Due: none

try master 8082
  .circleci/real_config.yml
  webui/react/src/e2e/tests/experimentList.spec.ts
Due: web-js-lint-check

did most of it
  master/cmd/determined-master/migrate.go
  master/internal/config/config.go
  master/internal/db/database.go
  master/internal/db/migrations.go
  master/internal/db/postgres_test_utils.go
  master/internal/db/setup.go
  master/static/db_code/README.md
  master/static/db_code/checkpoints.sql
  master/static/db_code/metrics.sql
  master/static/db_code/model.sql
  master/static/db_code/project.sql
  master/static/db_code/users.sql
  master/static/db_code/util.sql
  master/static/migrations/20240502203516_database-code.tx.down.sql
  master/static/migrations/20240502203516_database-code.tx.up.sql
  master/static/srv/proto_get_trial_ids_for_experiment.sql
  master/static/srv/proto_get_trial_workloads.sql
  master/static/srv/proto_get_trials_plus.sql
Due: go-fmt-import, gofumpt, golangci-lint

lint
  master/internal/db/migrations.go
  master/static/migrations/20240502203516_database-code.tx.up.sql
Due: go-fmt-import, gofumpt, golangci-lint

flipepd priority
  master/internal/db/migrations.go
  master/static/migrations/20240502203516_database-code.tx.up.sql
Due: go-fmt-import, gofumpt, golangci-lint

switch to session level lock
  master/internal/db/migrations.go
Due: go-fmt-import, gofumpt, golangci-lint

fixed
  master/internal/db/migrations.go
  master/internal/db/postgres.go
  master/static/migrations/20240502203516_database-code.tx.up.sql
Due: go-fmt-import, gofumpt, golangci-lint

update the changes
  docs/reference/deploy/_index.rst
  docs/setup-cluster/checklists/k8s-versions.rst
Due: none

ci: circleci slack alerts should go to #ci-bots (#9300)
  .circleci/real_config.yml
Due: none

feat: Update workspace for templates server side (#9272)
  harness/determined/common/api/bindings.py
  master/internal/templates/api.go
  master/internal/templates/api_intg_test.go
  proto/pkg/apiv1/api.pb.go
  proto/src/determined/api/v1/api.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

view template modal
  webui/react/src/pages/Templates/TemplateViewModal.tsx
  webui/react/src/pages/Templates/TemplatesList.settings.ts
  webui/react/src/pages/Templates/TemplatesList.tsx
  webui/react/src/pages/Templates/TemplatesPage.tsx
  webui/react/src/pages/WorkspaceDetails.tsx
  webui/react/src/services/types.ts
Due: web-js-lint-check

create table for templates
  webui/react/src/components/Table/Table.tsx
  webui/react/src/pages/Templates/TemplateCreateModal.tsx
  webui/react/src/pages/Templates/TemplatesList.settings.ts
  webui/react/src/pages/Templates/TemplatesList.tsx
  webui/react/src/pages/Templates/TemplatesPage.tsx
  webui/react/src/services/decoder.ts
  webui/react/src/types.ts
Due: web-js-lint-check

test:revert runner size
  .circleci/real_config.yml
Due: none
