Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint
  require_serial: true

chore: refactor access tokens CLI commands (#10012)
  harness/determined/cli/user.py
  harness/determined/common/api/bindings.py
  harness/determined/common/experimental/determined.py
  harness/determined/common/experimental/user.py
  harness/determined/experimental/client.py
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
  master/internal/user/authz_basic_impl.go
  master/internal/user/authz_iface.go
  master/internal/user/authz_permissive.go
  master/internal/user/authz_rbac.go
  master/internal/user/postgres_users.go
  master/internal/user/postgres_users_intg_test.go
  proto/pkg/apiv1/user.pb.go
  proto/src/determined/api/v1/user.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

Add chart '1.3.0-dev0 6.15.3 0.15.3 7.0.19 5.41.4 0.2.16 4.0.15 25.8.2 1.7.0 5.15.2 4.24.0 2.4.2' due to release
  aioli-helm-chart_1.3.0-dev0.tgz
  index.yaml
Due: none

Add chart '1.2.0-rc0 7.0.19 5.41.4 0.2.16 4.0.15 25.8.2 1.7.0 5.15.2 4.24.0 2.4.2 6.15.3 0.15.3' due to release
  aioli-helm-chart_1.2.0-rc0.tgz
  index.yaml
Due: none

structure
  webui/react/src/e2e/tests/userManagement.spec.ts
Due: web-js-lint-check

docs: revise postgres permission setup instructions. (#10039)
  docs/setup-cluster/checklists/postgresql.rst
  docs/setup-cluster/on-prem/options/linux-packages.rst
Due: none

chore: attend to PR comments
  webui/react/src/e2e/tests/projects.spec.ts
Due: web-js-lint-check

final edits
  master/internal/api_config_policies.go
  master/internal/api_config_policies_intg_test.go
  master/internal/configpolicy/utils.go
Due: go-fmt-import, gofumpt, golangci-lint

remove todo
  master/internal/configpolicy/utils.go
Due: go-fmt-import, gofumpt, golangci-lint

test: add e2e tests to the "move project" functionality on the "List View" (#10037)
  webui/react/src/e2e/models/components/Table/InteractiveTable.ts
  webui/react/src/e2e/models/pages/WorkspaceDetails/WorkspaceProjects.ts
  webui/react/src/e2e/tests/projects.spec.ts
  webui/react/src/pages/WorkspaceDetails/WorkspaceProjects.tsx
Due: web-js-lint-check

release doc
  docs/release-notes/log-search-improvement.rst
Due: none

role assignment
  webui/react/src/e2e/fixtures/api.roles.fixture.ts
  webui/react/src/e2e/fixtures/global-fixtures.ts
Due: web-js-lint-check

fixing e2e test
  master/internal/configpolicy/utils.go
Due: go-fmt-import, gofumpt, golangci-lint

fixing tests
  master/internal/configpolicy/utils_test.go
Due: go-fmt-import, gofumpt, golangci-lint

ci: deflake test_disable_agent_zero_slots
  e2e_tests/tests/cluster/test_agent_disable.py
Due: none

chore: validate global, admin input against task config policies & constraints (#10028)
  master/internal/api_config_policies.go
  master/internal/api_config_policies_intg_test.go
  master/internal/api_user_intg_test.go
  master/internal/configpolicy/postgres_task_config_policy.go
  master/internal/configpolicy/utils.go
  master/internal/configpolicy/utils_test.go
Due: go-fmt-import, gofumpt, golangci-lint

ci: deflake test_disable_agent_zero_slots (#10040)
  e2e_tests/tests/cluster/test_agent_disable.py
Due: none

chore: un-nest CLIs, APIs, permissions and DB layer
  harness/determined/cli/token.py
  harness/determined/cli/user.py
  harness/determined/common/api/bindings.py
  master/.mockery.yaml
  master/internal/api_token.go
  master/internal/api_token_intg_test.go
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
  master/internal/token/authz_basic_impl.go
  master/internal/token/authz_iface.go
  master/internal/token/authz_permissive.go
  master/internal/token/authz_rbac.go
  master/internal/token/postgres_token.go
  master/internal/token/postgres_token_intg_test.go
  master/internal/user/authz_basic_impl.go
  master/internal/user/authz_iface.go
  master/internal/user/authz_permissive.go
  master/internal/user/authz_rbac.go
  master/internal/user/postgres_users.go
  master/internal/user/postgres_users_intg_test.go
  proto/buf.image.bin
  proto/patches/api.json
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/token.pb.go
  proto/pkg/apiv1/user.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/token.proto
  proto/src/determined/api/v1/user.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

chore: remove e2e_slurm_misconfigured series tests (#10023)
  .circleci/real_config.yml
  e2e_tests/pytest.ini
  e2e_tests/tests/cluster/test_slurm.py
  e2e_tests/tests/conftest.py
  master/pkg/tasks/dispatcher_task.go
  tools/slurm/README.md
Due: go-fmt-import, gofumpt, golangci-lint

chore: make user_id in POST API mandatory field
  harness/determined/common/api/bindings.py
  proto/pkg/apiv1/token.pb.go
  proto/src/determined/api/v1/token.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check

chore: changes per merge with main
  master/static/migrations/20241010174718_alter-user-session-add-access-token-info.tx.up.sql
  master/static/migrations/20241010175001_add-access-token-rbac-permissions.tx.up.sql
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
Due: none

chore: minor changes
  harness/determined/cli/cli.py
  harness/determined/cli/token.py
  master/internal/token/postgres_token_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: ci errors
  harness/determined/cli/token.py
Due: none

fix: fix to test-go error
  harness/determined/cli/token.py
Due: none

fix: ci error fix
  master/static/migrations/20241010174718_alter-user-session-add-access-token-info.tx.up.sql
  master/static/migrations/20241010175001_add-access-token-rbac-permissions.tx.up.sql
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
Due: none

Add chart '1.3.0-dev1 0.15.3 7.0.19 5.41.4 0.2.16 4.0.15 25.8.2 1.7.0 5.15.2 4.24.0 2.4.2 6.15.3' due to release
  aioli-helm-chart_1.3.0-dev1.tgz
  index.yaml
Due: none

fmt
  docs/release-notes/log-search-improvement.rst
Due: none

I think I'm correctly reading from version file now
  .circleci/real_config.yml
  .circleci/supported_versions.txt
Due: none

chore: change error code back
  master/internal/api_experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

replacing w anchors
  .circleci/real_config.yml
Due: none

tmp
  .circleci/real_config.yml
Due: none

moving to jobs
  .circleci/real_config.yml
Due: none

adding image
  .circleci/real_config.yml
Due: none

adding escape
  .circleci/real_config.yml
Due: none

chore: un-nest CLIs, APIs, permissions and DB layer (#10041)
  harness/determined/cli/cli.py
  harness/determined/cli/token.py
  harness/determined/cli/user.py
  harness/determined/common/api/bindings.py
  master/.mockery.yaml
  master/internal/api_token.go
  master/internal/api_token_intg_test.go
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
  master/internal/token/authz_basic_impl.go
  master/internal/token/authz_iface.go
  master/internal/token/authz_permissive.go
  master/internal/token/authz_rbac.go
  master/internal/token/postgres_token.go
  master/internal/token/postgres_token_intg_test.go
  master/internal/user/authz_basic_impl.go
  master/internal/user/authz_iface.go
  master/internal/user/authz_permissive.go
  master/internal/user/authz_rbac.go
  master/internal/user/postgres_users.go
  master/internal/user/postgres_users_intg_test.go
  master/static/migrations/20241010174718_alter-user-session-add-access-token-info.tx.up.sql
  master/static/migrations/20241010175001_add-access-token-rbac-permissions.tx.up.sql
  proto/buf.image.bin
  proto/patches/api.json
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/token.pb.go
  proto/pkg/apiv1/user.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/token.proto
  proto/src/determined/api/v1/user.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

removing yaml_file
  .circleci/real_config.yml
Due: none

chore: default 'resources.priority' earlier in configs to ensure constraints are satisfied
  master/internal/api_command.go
  master/internal/api_generic_tasks.go
  master/internal/config/config.go
  master/internal/core_experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

fixing i hope
  .circleci/real_config.yml
Due: none

chore: remove unwanted part from user.py
  harness/determined/cli/user.py
Due: none

one more
  .circleci/real_config.yml
Due: none

more edits
  .circleci/real_config.yml
Due: none

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
