Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

web-js-lint-check:
  name: Web JS Lint Check
  entry: ./pre-commit/web_lint_check.py js
  language: system
  stages:
  - commit

web-misc-lint-check:
  name: Web Misc Lint Check
  entry: ./pre-commit/web_lint_check.py misc
  language: system
  stages:
  - commit

go-fmt-import:
  name: go import/fmt
  entry: ./pre-commit/run-go-fmt-import.sh
  language: script
  description: Runs `goimport,gofmt`, requires golang

gofumpt:
  name: gofumpt
  entry: ./pre-commit/run-go-gofumpt.sh
  language: script
  description: Runs `gofumpt`, requires github.com/mvdan/gofumpt

golangci-lint:
  name: go golangci-lint
  entry: ./pre-commit/run-golangci-lint.sh
  language: script
  description: Runs `golangci-lint`, install https://github.com/golangci/golangci-lint
  require_serial: true

chore: fix slurm master restart tests
  e2e_tests/tests/config.py
Due: none

oops
  e2e_tests/tests/cluster/test_master_restart.py
Due: none

test fix
  webui/react/src/components/ProjectCard.test.tsx
Due: web-js-lint-check

fmt
  webui/react/src/components/ProjectCard.test.tsx
Due: web-js-lint-check

upgrade jupyter
  tools/scripts/bumpenvs.yaml
  tools/scripts/environments-target.txt
Due: none

docs: Describe master config options
  docs/reference/deploy/master-config-reference.rst
Due: none

feat: Add local Run ID (#9212)
  harness/determined/common/api/bindings.py
  master/internal/api_project.go
  master/internal/api_project_intg_test.go
  master/internal/api_runs.go
  master/internal/api_runs_intg_test.go
  master/internal/api_trials_intg_test.go
  master/internal/db/postgres_trial.go
  master/internal/experiment/bulk_action.go
  master/internal/experiment_filter.go
  master/internal/project/postgres_project.go
  master/pkg/model/experiment.go
  master/static/migrations/20240620135258_add-local-run-id.tx.up.sql
  proto/pkg/runv1/run.pb.go
  proto/src/determined/run/v1/run.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

release note suggestions
  docs/release-notes/deprecate-job-move.rst
Due: none

fix: display runs count in ProjectCard (ET-314) (#9600)
  webui/react/src/components/ProjectCard.test.tsx
  webui/react/src/components/ProjectCard.tsx
  webui/react/src/types.ts
Due: web-js-lint-check

Add Pachyderm data input to ModelVersionDetails and CheckpointModal pages
  webui/react/src/components/CheckpointModal.tsx
  webui/react/src/pages/ModelVersionDetails.tsx
Due: web-js-lint-check

cleanup
  webui/react/src/components/Searches/Searches.test.tsx
Due: web-js-lint-check

feat: remove rp-ns binding and add wksp-ns binding
  .circleci/devcluster/multi-k8s.devcluster.yaml
  docs/reference/deploy/master-config-reference.rst
  docs/release-notes/workspace-namespace-binding.rst
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
  master/internal/config/resource_manager_config.go
  master/internal/config/resource_pool_config.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/kubernetesrm/resource_pool_intg_test.go
  master/internal/workspace/postgres_workspace.go
  master/internal/workspace/postgres_workspace_intg_test.go
  master/static/migrations/20240603093122_add-workspace-namespace-bindings-table.tx.up.sql
  tools/k8s/devcluster.yaml
  tools/k8s/multicluster.yaml
Due: go-fmt-import, gofumpt, golangci-lint

chore: cleanup auto-created namespaces during workspace deletion (#9329)
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/templates/master-deployment.yaml
  helm/charts/determined/values.yaml
  master/internal/api_workspace.go
  master/internal/api_workspace_intg_test.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/dispatcherrm/dispatcher_resource_manager.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/multirm/multirm.go
  master/internal/rm/resource_manager_iface.go
  master/internal/workspace/postgres_workspace_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: add create workspace namespace binding to webui (#9462)
  harness/determined/common/api/bindings.py
  master/internal/api_master.go
  master/internal/api_workspace.go
  master/internal/api_workspace_intg_test.go
  master/internal/config/resource_config.go
  master/internal/config/resource_config_test.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/dispatcherrm/dispatcher_resource_manager.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/multirm/multirm.go
  master/internal/rm/resource_manager_iface.go
  master/internal/workspace/postgres_workspace.go
  master/internal/workspace/postgres_workspace_intg_test.go
  master/static/migrations/20240612140846_add-workspace-namespace-bindings-table.tx.up.sql
  master/static/migrations/20240612141019_add-workspace-namespace-binding-perms.tx.up.sql
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/master.pb.go
  proto/pkg/apiv1/workspace.pb.go
  proto/pkg/workspacev1/workspace.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/master.proto
  proto/src/determined/api/v1/workspace.proto
  proto/src/determined/workspace/v1/workspace.proto
  webui/react/src/components/WorkspaceCreateModal.tsx
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

feat: add auto create namespace (#9328)
  e2e_tests/tests/cluster/test_workspace_org.py
  harness/determined/cli/workspace.py
  master/internal/api_workspace.go
  master/internal/api_workspace_intg_test.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/dispatcherrm/dispatcher_resource_manager.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/multirm/multirm.go
  master/internal/rm/resource_manager_iface.go
  proto/pkg/apiv1/workspace.pb.go
  proto/src/determined/api/v1/workspace.proto
  webui/react/src/types.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

feat: add new Delete Workspace Namespace API Bindings CLI and API endpoint (#9472)
  docs/release-notes/delete-namespace-bindings.rst
  e2e_tests/tests/cluster/test_workspace_org.py
  harness/determined/cli/workspace.py
  master/internal/api_workspace.go
  master/internal/api_workspace_intg_test.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  proto/pkg/apiv1/workspace.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/workspace.proto
Due: go-fmt-import, gofumpt, golangci-lint

refactor: replace namespace with workspace-namespace metadata (#9498)
  harness/determined/cli/workspace.py
  master/internal/api_workspace.go
  master/internal/api_workspace_intg_test.go
  master/internal/rm/kubernetesrm/jobs.go
  master/pkg/model/workspace.go
  proto/pkg/apiv1/workspace.pb.go
  proto/pkg/workspacev1/workspace.pb.go
  proto/src/determined/api/v1/workspace.proto
  proto/src/determined/workspace/v1/workspace.proto
Due: go-fmt-import, gofumpt, golangci-lint

chore: change cluster name in jobService and resourcePool initialization (#9485)
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: fix linter issues
  master/internal/api_workspace_intg_test.go
  master/internal/config/resource_config.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/multirm/multirm_intg_test.go
  master/internal/workspace/postgres_workspace_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: implement API and CLI for set resource quota (#9327)
  e2e_tests/tests/cluster/test_workspace_org.py
  harness/determined/cli/workspace.py
  harness/determined/common/api/bindings.py
  master/internal/api_workspace.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/dispatcherrm/dispatcher_resource_manager.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/multirm/multirm.go
  master/internal/rm/resource_manager_iface.go
  master/internal/workspace/authz_basic_impl.go
  master/internal/workspace/authz_iface.go
  master/internal/workspace/authz_permissive.go
  master/internal/workspace/authz_rbac.go
  master/static/migrations/20240612141019_add-workspace-namespace-binding-perms.tx.up.sql
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/workspace.pb.go
  proto/pkg/rbacv1/rbac.pb.go
  proto/pkg/workspacev1/workspace.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/workspace.proto
  proto/src/determined/rbac/v1/rbac.proto
  proto/src/determined/workspace/v1/workspace.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

move migrations to top
  master/static/migrations/20240702135314_add-workspace-namespace-bindings-table.tx.up.sql
  master/static/migrations/20240702135335_add-workspace-namespace-binding-perms.tx.up.sql
Due: none

build: INFENG-739: remove hardcoded version from Vite config (#9532)
  .bumpversion.cfg
  webui/react/vite.config.mts
Due: web-js-lint-check

chore: deprecate job move within priority group (#9585)
  docs/model-dev-guide/manage-job-queue.rst
  docs/release-notes/deprecate-job-move.rst
  harness/determined/cli/job.py
  master/internal/db/postgres_jobs.go
  master/internal/db/postgres_jobs_intg_test.go
  master/internal/job/jobservice/jobservice.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/resource_pool.go
  master/internal/rm/agentrm/resource_pool_test.go
  master/internal/rm/dispatcherrm/dispatcher_resource_manager.go
  master/internal/rm/kubernetesrm/job.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/multirm/multirm.go
  master/internal/rm/multirm/multirm_intg_test.go
  master/internal/rm/resource_manager_iface.go
  master/internal/rm/tasklist/job.go
  master/internal/sproto/jobs.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: add auto namespace and resource quota inputs to webui
  harness/determined/common/api/bindings.py
  helm/charts/determined/templates/master-permissions.yaml
  master/.mockery.yaml
  master/internal/api_workspace.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/dispatcherrm/dispatcher_resource_manager.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/multirm/multirm.go
  master/internal/rm/resource_manager_iface.go
  master/pkg/model/workspace.go
  master/static/migrations/20240702135314_add-workspace-namespace-bindings-table.tx.up.sql
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/workspace.pb.go
  proto/pkg/workspacev1/workspace.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/workspace.proto
  proto/src/determined/workspace/v1/workspace.proto
  webui/react/src/components/WorkspaceCreateModal.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

first pass
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/JobQueue/ManageJob.tsx
  webui/react/src/utils/job.test.ts
  webui/react/src/utils/job.ts
Due: web-js-lint-check

formatting cleanup
  webui/react/src/pages/JobQueue/JobQueue.tsx
  webui/react/src/pages/JobQueue/ManageJob.tsx
  webui/react/src/utils/job.test.ts
Due: web-js-lint-check

do not collect logs in these tests
  .circleci/real_config.yml
Due: none

take 2
  .circleci/real_config.yml
Due: none

Fix disappearing parallel coordinates lines
  webui/react/src/components/CompareParallelCoordinates.tsx
  webui/react/src/hooks/useMetrics.ts
Due: web-js-lint-check

Fix disappearing lines and errors
  webui/react/src/components/CompareHyperparameters.test.mock.tsx
  webui/react/src/components/CompareHyperparameters.tsx
  webui/react/src/components/CompareParallelCoordinates.tsx
  webui/react/src/components/ComparisonView.test.mock.tsx
  webui/react/src/components/ComparisonView.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentVisualization/HpParallelCoordinates.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
  webui/react/src/types.ts
Due: web-js-lint-check

Fix changing selected metric
  webui/react/src/components/CompareHyperparameters.tsx
  webui/react/src/components/CompareParallelCoordinates.tsx
  webui/react/src/components/ComparisonView.tsx
  webui/react/src/hooks/useMetrics.ts
  webui/react/src/utils/data.ts
Due: web-js-lint-check

Logging for debugging
  webui/react/src/components/CompareHyperparameters.test.tsx
  webui/react/src/components/CompareParallelCoordinates.tsx
Due: web-js-lint-check

Fix test failure
  webui/react/src/components/CompareHyperparameters.test.mock.tsx
  webui/react/src/components/CompareHyperparameters.test.tsx
  webui/react/src/utils/tests/generateTestData.ts
Due: web-js-lint-check

Refine data
  webui/react/src/components/CompareParallelCoordinates.tsx
Due: web-js-lint-check

Add error message test case
  webui/react/src/components/CompareHyperparameters.test.mock.tsx
  webui/react/src/components/CompareHyperparameters.test.tsx
Due: web-js-lint-check

Address PR
  webui/react/src/components/CompareParallelCoordinates.tsx
Due: web-js-lint-check

fmt
  harness/determined/experimental/core_v2/_core_v2.py
Due: none

fix tests
  e2e_tests/tests/fixtures/unmanaged/checkpoint_distributed.py
  examples/features/unmanaged/ray/ray_hp_search.py
Due: none

change examples
  e2e_tests/tests/fixtures/core_api/pytorch_profiler_sync.py
  e2e_tests/tests/fixtures/unmanaged/checkpoint_distributed.py
  e2e_tests/tests/fixtures/unmanaged/checkpointing.py
  e2e_tests/tests/fixtures/unmanaged/error_termination.py
  examples/features/unmanaged/1_singleton.py
  examples/features/unmanaged/2_checkpoints.py
  examples/features/unmanaged/3_torch_distributed.py
  examples/features/unmanaged/advanced/checkpoints_advanced.py
  examples/features/unmanaged/advanced/context_manager.py
  examples/features/unmanaged/ptl/PTL-Demo.ipynb
  examples/features/unmanaged/ray/ray_hp_search_cleanup.py
  harness/determined/lightning/experimental.py
Due: none

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)
