Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

e2e test
  e2e_tests/tests/cluster/test_webhooks.py
  e2e_tests/tests/fixtures/core_api/11_generic_metrics.py
  master/internal/webhooks/api_webhook.go
  master/internal/webhooks/postgres_webhook.go
Due: go-fmt-import, gofumpt, golangci-lint

fix comments
  master/internal/webhooks/postgres_webhook.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: Support RBAC in webhook (#9859)
  e2e_tests/tests/cluster/test_webhooks.py
  harness/determined/common/api/bindings.py
  master/internal/webhooks/api_webhook.go
  master/internal/webhooks/authz_basic_impl.go
  master/internal/webhooks/authz_iface.go
  master/internal/webhooks/authz_permissive.go
  master/internal/webhooks/authz_rbac.go
  master/internal/webhooks/postgres_webhook.go
  master/internal/webhooks/postgres_webhook_intg_test.go
  master/static/migrations/20240821124235_webhooks-rbac.tx.up.sql
  proto/pkg/rbacv1/rbac.pb.go
  proto/src/determined/rbac/v1/rbac.proto
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/WebhookCreateModal.tsx
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/pages/WebhookList.tsx
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

return mock data
  master/internal/api_config_policies.go
Due: go-fmt-import, gofumpt, golangci-lint

test: login redirect with nested route
  webui/react/src/e2e/models/pages/Cluster.ts
  webui/react/src/e2e/tests/auth.spec.ts
Due: web-js-lint-check

use generic for http body
  harness/determined/common/api/bindings.py
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/src/determined/api/v1/api.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check

fixes
  e2e_tests/tests/cluster/test_webhooks.py
  harness/determined/core/_context.py
  master/internal/webhooks/postgres_webhook.go
Due: go-fmt-import, gofumpt, golangci-lint

fix go lint
  master/internal/api_config_policies.go
Due: go-fmt-import, gofumpt, golangci-lint

lint
  master/internal/webhooks/postgres_webhook.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: reject reconnecting agents with different resource pool configuration (#9815)
  .circleci/devcluster/multi-resource-pools.devcluster.yaml
  .circleci/real_config.yml
  agent/cmd/determined-agent/run_test.go
  agent/internal/agent.go
  agent/internal/options/options.go
  agent/internal/options/options_test.go
  docs/get-started/architecture/introduction.rst
  e2e_tests/pytest.ini
  e2e_tests/tests/cluster/conftest.py
  e2e_tests/tests/cluster/managed_cluster.py
  e2e_tests/tests/cluster/test_master_restart.py
  e2e_tests/tests/conftest.py
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/agent_state.go
  master/internal/rm/agentrm/agent_state_test.go
  master/internal/rm/agentrm/resource_managers_test.go
  master/pkg/aproto/master_message.go
Due: go-fmt-import, gofumpt, golangci-lint

* Replace ! -z with -n in version.sh.
  version.sh
Due: none

fix proto lint
  harness/determined/common/api/bindings.py
  proto/buf.image.bin
  proto/pkg/apiv1/config_policies.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/config_policies.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check

more removals
  .github/dependabot.yml
  .github/workflows/lint-python.yml
  e2e_tests/pytest.ini
  e2e_tests/tests/conftest.py
  harness/determined/common/api/analytics.py
  pre-commit/check.py
Due: none

fix: use new ruamel yaml APIs
  examples/tutorials/mnist_pytorch/train.py
Due: none

change logging back to INFO
  examples/tutorials/mnist_pytorch/train.py
Due: none

udpate description after looking at swagger
  harness/determined/common/api/bindings.py
  proto/pkg/apiv1/config_policies.pb.go
  proto/src/determined/api/v1/config_policies.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check

missed some comments
  harness/determined/common/api/bindings.py
  proto/pkg/apiv1/config_policies.pb.go
  proto/src/determined/api/v1/config_policies.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check

fix: prevent out of bounds navigation on new list views (#9875)
  webui/react/src/components/Searches/Searches.tsx
  webui/react/src/pages/F_ExpList/F_ExperimentList.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Due: web-js-lint-check

tabs
  webui/react/src/e2e/models/pages/Cluster.ts
  webui/react/src/e2e/tests/auth.spec.ts
Due: web-js-lint-check

fix: prevent multiple submits in hyperparameter modal
  webui/react/src/components/HyperparameterSearchModal.tsx
Due: web-js-lint-check

fix: use new ruamel yaml APIs (#9882)
  examples/tutorials/mnist_pytorch/train.py
Due: none

remove workspace after test
  e2e_tests/tests/cluster/test_webhooks.py
Due: none

API structure
  harness/determined/common/api/bindings.py
  master/internal/api_user.go
  master/internal/user/postgres_long_lived_tokens.go
  master/internal/user/postgres_long_lived_tokens_intg_test.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/user.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/user.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

lint go corrections
  harness/determined/common/api/bindings.py
  proto/buf.image.bin
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/user.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/user.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check

typo
  master/internal/api_user.go
Due: go-fmt-import, gofumpt, golangci-lint

lint check
  master/internal/api_user.go
  master/internal/user/postgres_long_lived_tokens.go
Due: go-fmt-import, gofumpt, golangci-lint

Add chart '1.2.0-dev12 0.15.3 7.0.19 5.41.4 4.0.15 0.2.16 25.8.2 1.7.0 5.15.2 4.24.0 2.4.2 6.15.3' due to release
  aioli-helm-chart_1.2.0-dev12.tgz
  index.yaml
Due: none

fix: feedback
  webui/react/src/components/RunActionDropdown.tsx
  webui/react/src/pages/FlatRuns/columns.ts
Due: web-js-lint-check

refactor ModelRegistry to use useTypedParams for tableOffset
  webui/react/src/components/ModelRegistry.settings.ts
  webui/react/src/components/ModelRegistry.tsx
  webui/react/src/components/Table/InteractiveTable.tsx
Due: web-js-lint-check

fix: feedback
  webui/react/src/pages/FlatRuns/columns.ts
Due: web-js-lint-check

fix: prevent `hyperparameter search modal` submitting the same request multiple times (#9883)
  webui/react/src/components/HyperparameterSearchModal.tsx
Due: web-js-lint-check

remove workspace
  e2e_tests/tests/cluster/test_webhooks.py
Due: none

fix: show `-` for empty data in run table (#9871)
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/RunActionDropdown.tsx
  webui/react/src/pages/FlatRuns/columns.ts
Due: web-js-lint-check, web-misc-lint-check

chore: create WorkloadType enum and Go config + constraints structs
  master/internal/taskconfigpolicy/task_config_policy.go
  master/pkg/model/task_config_policy.go
  proto/pkg/taskconfigpolicyv1/taskconfigpolicy.pb.go
  proto/src/determined/taskconfigpolicy/v1/taskconfigpolicy.proto
Due: go-fmt-import, gofumpt, golangci-lint

PR review
  webui/react/src/components/ModelRegistry.settings.ts
  webui/react/src/components/ModelRegistry.tsx
  webui/react/src/components/Table/InteractiveTable.tsx
Due: web-js-lint-check

add tests
  master/pkg/model/task_config_policy_test.go
Due: go-fmt-import, gofumpt, golangci-lint

test: hf callback metrics logging fix
  harness/determined/transformers/_hf_callback.py
Due: none

linting
  harness/determined/transformers/_hf_callback.py
Due: none

fix: huggingface callback metric type
  harness/determined/transformers/_hf_callback.py
Due: none

fix: reset Model Registry page number on pageload [ET-640] (#9876)
  webui/react/src/components/ModelRegistry.settings.ts
  webui/react/src/components/ModelRegistry.tsx
Due: web-js-lint-check
