Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

feat: Add display name to user list in cli [MLG-930] (#7901)
  harness/determined/cli/user.py
Due: none

chore: no code owners for auto-generated files
  .github/CODEOWNERS
Due: none

fix: feedback
  .github/CODEOWNERS
Due: none

fix: minor changes
  .github/CODEOWNERS
Due: none

chore: increase Go's max line length to 120
  agent/.golangci.yml
  master/.golangci.yml
Due: none

chore: increase Go's max line length to 120 (#7903)
  agent/.golangci.yml
  master/.golangci.yml
Due: none

use resize event, restore elem.remove, for fewer calls
  webui/react/src/components/kit/internal/useGetCharMeasureInContainer.ts
Due: web-js-lint-check

change to useResize
  webui/react/src/components/kit/internal/useGetCharMeasureInContainer.ts
  webui/react/src/components/kit/internal/useResize.ts
Due: web-js-lint-check

fix: change measure of text containers
  webui/react/src/components/kit/LogViewer/LogViewer.tsx
  webui/react/src/components/kit/internal/useGetCharMeasureInContainer.ts
Due: web-js-lint-check

change dependency calls
  webui/react/src/components/kit/internal/useGetCharMeasureInContainer.ts
Due: web-js-lint-check

chore: no code owners for auto-generated files (#7896)
  .github/CODEOWNERS
Due: none

many test util updates
  performance/src/api_performance_tests.ts
  performance/src/utils/helpers.ts
  performance/src/utils/k6-summary.js
  performance/src/utils/types.ts
Due: none

formatting updates
  performance/src/api_performance_tests.ts
  performance/src/utils/helpers.ts
Due: none

use LogViewer's useResize
  webui/react/src/components/kit/LogViewer/LogViewer.tsx
  webui/react/src/components/kit/internal/useGetCharMeasureInContainer.ts
  webui/react/src/components/kit/internal/useResize.ts
Due: web-js-lint-check

rm change to useResize
  webui/react/src/components/kit/internal/useResize.ts
Due: web-js-lint-check

chore: corrected typo in comment in wheresince
  master/pkg/stream/wheresince.go
Due: go-fmt-import, gofumpt, golangci-lint

code removal
  performance/src/utils/helpers.ts
Due: none

formatting updates
  webui/react/src/hooks/useInputEscape.ts
Due: web-js-lint-check

fix: NTSC use workspace's agent group info
  docs/release-notes/agent-uid-workspaces.rst
  e2e_tests/tests/cluster/test_agent_user_group.py
  master/internal/api_checkpoint.go
  master/internal/api_command.go
  master/internal/api_experiment.go
  master/internal/api_workspace_intg_test.go
  master/internal/experiment.go
  master/internal/user/postgres_agentusergroup.go
  master/internal/workspace/postgres_workspace.go
Due: go-fmt-import, gofumpt, golangci-lint

formatting and handle esc then click events for select components
  webui/react/src/hooks/useInputEscape.ts
Due: web-js-lint-check

replace create with useRef
  webui/react/src/hooks/useInputEscape.ts
Due: web-js-lint-check

simplify return values
  webui/react/src/hooks/useInputEscape.ts
Due: web-js-lint-check

update dependencies
  webui/react/src/hooks/useInputEscape.ts
Due: web-js-lint-check

chore: update docs onership per discussion [INFENG-225] [skip ci]
  .github/CODEOWNERS
Due: none

fix: NTSC use workspace's agent group info (#7892)
  docs/release-notes/agent-uid-workspaces.rst
  e2e_tests/tests/cluster/test_agent_user_group.py
  master/internal/api_checkpoint.go
  master/internal/api_command.go
  master/internal/api_experiment.go
  master/internal/api_workspace_intg_test.go
  master/internal/experiment.go
  master/internal/user/postgres_agentusergroup.go
  master/internal/workspace/postgres_workspace.go
Due: go-fmt-import, gofumpt, golangci-lint

fmt
  webui/react/src/pages/TrialDetails/useTrialMetrics.ts
Due: web-js-lint-check

Revisions
  docs/setup-cluster/deploy-cluster/slurm/singularity.rst
Due: none

added clarification about node differences
  webui/react/src/hooks/useInputEscape.ts
Due: web-js-lint-check

logic updates
  webui/react/src/hooks/useInputEscape.ts
Due: web-js-lint-check

simplify code and add clarifying comment
  webui/react/src/hooks/useInputEscape.ts
Due: web-js-lint-check

chore(actors): remove pkg/actors usage from pods.go (#7658) [DET-9652]
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/message.go
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/pod_test.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/resource_pool.go
Due: go-fmt-import, gofumpt, golangci-lint

added clarifying comment
  webui/react/src/hooks/useInputEscape.ts
Due: web-js-lint-check

restrict logic to only menu inputs
  webui/react/src/hooks/useInputEscape.ts
Due: web-js-lint-check

fix: corrects trial collect on startup bun logic errors and handles experiment and project moves
  master/addtrigger.sql
  master/internal/stream/trials.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: corrected new lines
  master/addtrigger.sql
Due: none

refactor: return ping errors and minor rename
  master/internal/stream/system.go
  master/pkg/stream/stream.go
Due: go-fmt-import, gofumpt, golangci-lint

revert: "chore(actors): remove pkg/actors usage from pods.go (#7658) [DET-9652]"
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/message.go
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/pod_test.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/resource_pool.go
Due: go-fmt-import, gofumpt, golangci-lint

revert: "chore(actors): remove pkg/actors usage from pods.go (#7658) [DET-9652]" (#7908)
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/message.go
  master/internal/rm/kubernetesrm/pod.go
  master/internal/rm/kubernetesrm/pod_test.go
  master/internal/rm/kubernetesrm/pods.go
  master/internal/rm/kubernetesrm/resource_pool.go
Due: go-fmt-import, gofumpt, golangci-lint

updated logic
  webui/react/src/hooks/useInputEscape.ts
Due: web-js-lint-check

update overlay logic
  webui/react/src/hooks/useInputEscape.ts
Due: web-js-lint-check
