Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

filter out empty config values in preview-search cli
  harness/determined/cli/cli.py
  harness/tests/cli/test_cli.py
  harness/tests/cli/util.py
Due: none

remove adaptivemodeptr
  master/pkg/schemas/expconf/searcher_config.go
  master/pkg/searcher/adaptive_asha_test.go
  master/pkg/searcher/simulate_test.go
Due: go-fmt-import, gofumpt, golangci-lint

move if
  master/internal/api_trials.go
Due: go-fmt-import, gofumpt, golangci-lint

remove unused preview endpoint
  master/internal/core.go
  master/internal/core_searcher.go
  master/pkg/searcher/simulate.go
Due: go-fmt-import, gofumpt, golangci-lint

fmt
  harness/determined/cli/cli.py
  harness/determined/common/api/bindings.py
  harness/tests/cli/test_cli.py
  master/pkg/searcher/simulate.go
  master/pkg/searcher/simulate_test.go
  proto/pkg/experimentv1/searcher.pb.go
  proto/src/determined/experiment/v1/searcher.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

auto commit: wip
  master/internal/experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

check
  e2e_tests/tests/config.py
  proto/buf.image.bin
Due: none

comments, etc
  master/internal/experiment.go
  master/internal/restore.go
  master/pkg/searcher/adaptive_asha.go
  master/pkg/searcher/adaptive_asha_test.go
  master/pkg/searcher/asha_stopping.go
  master/pkg/searcher/grid.go
  master/pkg/searcher/random.go
  master/pkg/searcher/search_method.go
  master/pkg/searcher/searcher.go
  master/pkg/searcher/simulate.go
  master/pkg/searcher/tournament.go
  master/pkg/searcher/util_test.go
Due: go-fmt-import, gofumpt, golangci-lint

lint
  proto/buf.image.bin
  proto/pkg/experimentv1/searcher.pb.go
  proto/src/determined/experiment/v1/searcher.proto
Due: none

async-halving docs
  docs/reference/experiment-config-reference.rst
Due: none

auto commit: wip
  master/pkg/searcher/grid_test.go
Due: go-fmt-import, gofumpt, golangci-lint

stop_once
  master/pkg/schemas/expconf/zgen_adaptive_asha_config_v0.go
  master/pkg/schemas/expconf/zgen_async_halving_config_v0.go
  master/pkg/schemas/zgen_schemas.go
  schemas/expconf/v0/searcher-adaptive-asha.json
  schemas/expconf/v0/searcher-async-halving.json
Due: go-fmt-import, gofumpt, golangci-lint

deprecation warnings in master searcher config
  master/pkg/schemas/expconf/searcher_config.go
Due: go-fmt-import, gofumpt, golangci-lint

auto commit: wip
  master/pkg/searcher/tournament_test.go
  master/pkg/searcher/util_test.go
Due: go-fmt-import, gofumpt, golangci-lint

pr comments
  harness/tests/cli/util.py
  master/internal/restore.go
  master/pkg/searcher/operations.go
Due: go-fmt-import, gofumpt, golangci-lint

lint
  harness/tests/cli/test_cli.py
Due: none

linting
  master/internal/api_trials_intg_test.go
  master/internal/db/postgres_experiments_intg_test.go
  master/internal/db/postgres_trial.go
  master/internal/restore.go
  master/internal/trial.go
  master/internal/trial_intg_test.go
  master/pkg/schemas/expconf/searcher_config.go
  master/pkg/searcher/actions.go
  master/pkg/searcher/adaptive_asha.go
  master/pkg/searcher/asha_stopping_test.go
  master/pkg/searcher/grid.go
  master/pkg/searcher/searcher.go
  master/pkg/searcher/simulate.go
  master/pkg/searcher/util_test.go
Due: go-fmt-import, gofumpt, golangci-lint

pr comments
  master/pkg/schemas/expconf/experiment_config.go
  master/pkg/schemas/expconf/searcher_config.go
  master/pkg/searcher/grid.go
  master/pkg/searcher/search_method.go
  master/pkg/searcher/simulate.go
  master/pkg/searcher/tournament.go
Due: go-fmt-import, gofumpt, golangci-lint

test preview-search cli
  harness/determined/cli/cli.py
  harness/tests/cli/test_cli.py
  harness/tests/cli/util.py
Due: none

max length out of pytorch trials
  docs/model-dev-guide/api-guides/apis-howto/api-pytorch-ug.rst
  examples/tutorials/mnist_pytorch/train.py
  harness/determined/pytorch/_pytorch_trial.py
  harness/determined/pytorch/_trainer.py
Due: none

restructuring
  .circleci/real_config.yml
Due: none

debug
  .circleci/real_config.yml
Due: none

fixup: runs apis should not require run_ids if filter is used
  harness/determined/common/api/bindings.py
  proto/pkg/apiv1/run.pb.go
  proto/pkg/apiv1/search.pb.go
  proto/src/determined/api/v1/run.proto
  proto/src/determined/api/v1/search.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check

feat: Improve handling of checked columns in ColumnPickerMenu.
  webui/react/src/components/ColumnPickerMenu.tsx
Due: web-js-lint-check

VersionChecker
  webui/react/src/App.tsx
  webui/react/src/components/VersionChecker.tsx
Due: web-js-lint-check

console warning
  webui/react/src/components/JupyterLabButton.tsx
Due: web-js-lint-check

refactor: remove annotations requiring search ids in bulk action js (ET-241) (#10062)
  harness/determined/common/api/bindings.py
  proto/pkg/apiv1/run.pb.go
  proto/pkg/apiv1/search.pb.go
  proto/src/determined/api/v1/run.proto
  proto/src/determined/api/v1/search.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check

Add select all button and header click
  webui/react/src/components/LoadableCount.tsx
  webui/react/src/components/Searches/Searches.tsx
  webui/react/src/components/TableActionBar.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Due: web-js-lint-check

Selection handling improvement
  webui/react/src/components/LoadableCount.tsx
  webui/react/src/components/TableActionBar.tsx
  webui/react/src/pages/FlatRuns/FlatRuns.tsx
Due: web-js-lint-check

test: make explist e2e sort test more reliable
  webui/react/src/components/MultiSortMenu.tsx
  webui/react/src/e2e/tests/experimentList.spec.ts
Due: web-js-lint-check

wip
  .circleci/real_config.yml
Due: none

fix: nil deref in usage of incomplete experiment config policies
  master/internal/configpolicy/task_config_policy.go
Due: go-fmt-import, gofumpt, golangci-lint

review
  harness/determined/cli/cli.py
  harness/tests/cli/test_cli.py
  harness/tests/cli/util.py
  master/internal/restore.go
  master/pkg/schemas/expconf/searcher_config.go
Due: go-fmt-import, gofumpt, golangci-lint

add license to upgraded cluster
  .circleci/real_config.yml
Due: none

chore: move priority_limit in task constraints
  master/internal/configpolicy/task_config_policy.go
  master/internal/configpolicy/task_config_policy_intg_test.go
  master/internal/configpolicy/utils.go
  master/internal/configpolicy/utils_test.go
  master/pkg/model/task_config_policy.go
Due: go-fmt-import, gofumpt, golangci-lint

fmt
  webui/react/src/components/VersionChecker.tsx
Due: web-js-lint-check
