Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

address comment
  e2e_tests/tests/cluster/test_resource_manager.py
Due: none

chore: add release notes for workspace slot caps WebUi feature and migration APIs
  docs/release-notes/wksp-slot-caps-webui.rst
Due: none

fix: disallow slots in exp config [MD-454] (#9698)
  e2e_tests/tests/cluster/test_proxy.py
  e2e_tests/tests/cluster/test_resource_manager.py
  master/internal/core_experiment.go
  master/pkg/model/experiment_config.go
Due: go-fmt-import, gofumpt, golangci-lint

update test
  webui/react/src/components/ProjectCard.test.tsx
Due: web-js-lint-check

feat: remove rp-ns binding and add wksp-ns binding
  .circleci/devcluster/multi-k8s.devcluster.yaml
  docs/reference/deploy/master-config-reference.rst
  docs/release-notes/workspace-namespace-binding.rst
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/values.yaml
  master/internal/config/resource_manager_config.go
  master/internal/config/resource_pool_config.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/kubernetesrm/resource_pool_intg_test.go
  master/internal/workspace/postgres_workspace.go
  master/internal/workspace/postgres_workspace_intg_test.go
  master/static/migrations/20240603093122_add-workspace-namespace-bindings-table.tx.up.sql
  tools/k8s/devcluster.yaml
  tools/k8s/multicluster.yaml
Due: go-fmt-import, gofumpt, golangci-lint

chore: cleanup auto-created namespaces during workspace deletion (#9329)
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/templates/master-deployment.yaml
  helm/charts/determined/values.yaml
  master/internal/api_workspace.go
  master/internal/api_workspace_intg_test.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/dispatcherrm/dispatcher_resource_manager.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/multirm/multirm.go
  master/internal/rm/resource_manager_iface.go
  master/internal/workspace/postgres_workspace_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: add create workspace namespace binding to webui (#9462)
  harness/determined/common/api/bindings.py
  master/internal/api_master.go
  master/internal/api_workspace.go
  master/internal/api_workspace_intg_test.go
  master/internal/config/resource_config.go
  master/internal/config/resource_config_test.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/dispatcherrm/dispatcher_resource_manager.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/multirm/multirm.go
  master/internal/rm/resource_manager_iface.go
  master/internal/workspace/postgres_workspace.go
  master/internal/workspace/postgres_workspace_intg_test.go
  master/static/migrations/20240612140846_add-workspace-namespace-bindings-table.tx.up.sql
  master/static/migrations/20240612141019_add-workspace-namespace-binding-perms.tx.up.sql
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/master.pb.go
  proto/pkg/apiv1/workspace.pb.go
  proto/pkg/workspacev1/workspace.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/master.proto
  proto/src/determined/api/v1/workspace.proto
  proto/src/determined/workspace/v1/workspace.proto
  webui/react/src/components/WorkspaceCreateModal.tsx
  webui/react/src/hooks/usePermissions.ts
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

chore: fix linter issues
  master/internal/api_workspace_intg_test.go
  master/internal/config/resource_config.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/multirm/multirm_intg_test.go
  master/internal/workspace/postgres_workspace_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: add auto create namespace (#9328)
  e2e_tests/tests/cluster/test_workspace_org.py
  harness/determined/cli/workspace.py
  master/internal/api_workspace.go
  master/internal/api_workspace_intg_test.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/dispatcherrm/dispatcher_resource_manager.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/multirm/multirm.go
  master/internal/rm/resource_manager_iface.go
  proto/pkg/apiv1/workspace.pb.go
  proto/src/determined/api/v1/workspace.proto
  webui/react/src/types.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

feat: add new Delete Workspace Namespace API Bindings CLI and API endpoint (#9472)
  docs/release-notes/delete-namespace-bindings.rst
  e2e_tests/tests/cluster/test_workspace_org.py
  harness/determined/cli/workspace.py
  master/internal/api_workspace.go
  master/internal/api_workspace_intg_test.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  proto/pkg/apiv1/workspace.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/workspace.proto
Due: go-fmt-import, gofumpt, golangci-lint

chore: change cluster name in jobService and resourcePool initialization (#9485)
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
Due: go-fmt-import, gofumpt, golangci-lint

refactor: replace namespace with workspace-namespace metadata (#9498)
  harness/determined/cli/workspace.py
  master/internal/api_workspace.go
  master/internal/api_workspace_intg_test.go
  master/internal/rm/kubernetesrm/jobs.go
  master/pkg/model/workspace.go
  proto/pkg/apiv1/workspace.pb.go
  proto/pkg/workspacev1/workspace.pb.go
  proto/src/determined/api/v1/workspace.proto
  proto/src/determined/workspace/v1/workspace.proto
Due: go-fmt-import, gofumpt, golangci-lint

feat: implement API and CLI for set resource quota (#9327)
  e2e_tests/tests/cluster/test_workspace_org.py
  harness/determined/cli/workspace.py
  harness/determined/common/api/bindings.py
  master/internal/api_workspace.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/dispatcherrm/dispatcher_resource_manager.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/multirm/multirm.go
  master/internal/rm/resource_manager_iface.go
  master/internal/workspace/authz_basic_impl.go
  master/internal/workspace/authz_iface.go
  master/internal/workspace/authz_permissive.go
  master/internal/workspace/authz_rbac.go
  master/static/migrations/20240612141019_add-workspace-namespace-binding-perms.tx.up.sql
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/workspace.pb.go
  proto/pkg/rbacv1/rbac.pb.go
  proto/pkg/workspacev1/workspace.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/workspace.proto
  proto/src/determined/rbac/v1/rbac.proto
  proto/src/determined/workspace/v1/workspace.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

move migrations to top
  master/static/migrations/20240702135314_add-workspace-namespace-bindings-table.tx.up.sql
  master/static/migrations/20240702135335_add-workspace-namespace-binding-perms.tx.up.sql
Due: none

feat: add auto namespace and resource quota inputs to webui (#9542)
  harness/determined/common/api/bindings.py
  helm/charts/determined/templates/master-permissions.yaml
  master/.mockery.yaml
  master/internal/api_workspace.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/dispatcherrm/dispatcher_resource_manager.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/multirm/multirm.go
  master/internal/rm/resource_manager_iface.go
  master/pkg/model/workspace.go
  master/static/migrations/20240702135314_add-workspace-namespace-bindings-table.tx.up.sql
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/workspace.pb.go
  proto/pkg/workspacev1/workspace.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/workspace.proto
  proto/src/determined/workspace/v1/workspace.proto
  webui/react/src/components/WorkspaceCreateModal.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/services/api.ts
  webui/react/src/services/apiConfig.ts
  webui/react/src/services/types.ts
  webui/react/src/types.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

fix: fixed getKubernetesResourceManager error in webui and default ns validation (#9679)
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  webui/react/src/components/WorkspaceCreateModal.tsx
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

fix: API requests with single RM and recover from panic during unauthorized autocreate (#9573)
  harness/determined/cli/workspace.py
  helm/charts/determined/templates/master-permissions.yaml
  master/internal/api_workspace.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: unit tests and fixes for generateNamespaceName (#9640)
  master/internal/api_workspace.go
  master/internal/api_workspace_test.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: allow resource quota input field to be visible at all times (#9643)
  webui/react/src/components/WorkspaceCreateModal.tsx
Due: web-js-lint-check

chore: validate default namespace for kubernetes RM (#9677)
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: add autocreate as true to db when user inputs autocreated ns manually (#9685)
  master/internal/api_workspace.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: change RM Name to cluster name (#9389)
  docs/reference/deploy/master-config-reference.rst
  docs/release-notes/deprecate-name-use-cluster-name.rst
  harness/determined/common/api/bindings.py
  master/internal/api_workspace_intg_test.go
  master/internal/config/config.go
  master/internal/config/config_test.go
  master/internal/config/dispatcher_resource_manager_config.go
  master/internal/config/resource_config.go
  master/internal/config/resource_config_test.go
  master/internal/config/resource_manager_config.go
  master/internal/core.go
  master/internal/core_intg_test.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/agentrm/agent_resource_manager_intg_test.go
  master/internal/rm/agentrm/resource_managers_test.go
  master/internal/rm/dispatcherrm/dispatcher_resource_manager.go
  master/internal/rm/dispatcherrm/dispatcher_resource_manager_test.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/multirm/multirm.go
  master/internal/rm/multirm/multirm_intg_test.go
  master/pkg/model/health.go
  proto/pkg/resourcepoolv1/resourcepool.pb.go
  proto/src/determined/resourcepool/v1/resourcepool.proto
  webui/react/src/components/ResourcePoolCard.tsx
  webui/react/src/services/api-ts-sdk/api.ts
  webui/react/src/stores/cluster.tsx
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

chore: add auto-create namespace & set resource quota test cases for workspace_namespace bindings (#9703)
  e2e_tests/tests/cluster/test_workspace_org.py
  harness/determined/cli/workspace.py
  master/internal/api_workspace.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: CLI set resource quota during workspace create with non-auto-created namespace (#9707)
  harness/determined/cli/workspace.py
Due: none

fix: single RM resource quota no cluster name error (#9705)
  master/internal/api_workspace.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: add single rm k8s testing for workspace slot caps [DET-10424] (#9689)
  .circleci/devcluster/single-k8s.devcluster.yaml
  .circleci/real_config.yml
  e2e_tests/pytest.ini
  e2e_tests/tests/cluster/test_workspace_org.py
  e2e_tests/tests/conftest.py
  harness/determined/cli/workspace.py
Due: none

chore: slot caps small CLI clarity and consistency changes (#9695)
  harness/determined/cli/workspace.py
Due: none

chore: fix lint migrations (#9704)
  master/static/migrations/20240723140701_add-workspace-namespace-bindings-table.tx.up.sql
  master/static/migrations/20240723140721_add-workspace-namespace-binding-perms.tx.up.sql
Due: none

chore: style and wrapup fixes (#9710)
  master/internal/api_workspace.go
  master/internal/db/database.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/multirm/multirm_intg_test.go
  master/internal/workspace/postgres_workspace.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: unit tests for set resource quota perms (#9696)
  master/internal/api_workspace.go
  master/internal/api_workspace_intg_test.go
  master/internal/db/postgres_rbac_intg_test.go
  master/internal/workspace/authz_basic_impl.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: incorrect job state api inconsistency for namespace-bound workspace jobs (#9684)
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/kubernetesrm/request_workers.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: add intg and unit tests for SetResourceQuota (#9672)
  .circleci/real_config.yml
  agent/test/testutils/fixtures.go
  master/internal/api_workspace.go
  master/internal/api_workspace_intg_test.go
  master/internal/license/license.go
  master/internal/rm/agentrm/agents_test.go
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/test/integration/api/api_checkpoints_test.go
  master/test/integration/api/api_trials_test.go
  master/test/integration/api/main_test.go
  master/test/testutils/fixtures/fixtures.go
  master/test/testutils/license.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: saas authz changes for rbac (#9657)
  master/internal/api_user.go
  master/internal/core.go
  master/internal/plugin/scim/service.go
  master/internal/saas/saas.go
  master/internal/saas/saasprovisioner/provisioners.go
  master/internal/user/external_users.go
  master/internal/user/postgres_scim_users.go
  master/internal/user/postgres_scim_users_intg_test.go
  master/internal/user/postgres_users.go
  master/pkg/model/saas.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: add a new API endpoint to bind all unbound workspaces to autocreated namespaces (#9602)
  harness/determined/common/api/bindings.py
  master/internal/api_workspace.go
  master/internal/api_workspace_intg_test.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/workspace.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/workspace.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

chore: longrunning tests to ignore multiRM marked e2e tests (#9514)
  e2e_tests/tests/cluster/test_workspace_org.py
Due: none

move migrations to top
  master/static/migrations/20240724134232_add-workspace-namespace-bindings-table.tx.up.sql
  master/static/migrations/20240724134249_add-workspace-namespace-binding-perms.tx.up.sql
Due: none

fix: remove mark from aws tests
  e2e_tests/tests/cluster/test_workspace_org.py
Due: none

chore: add tests for CreateNamespace and DeleteNamespace in jobs.go (#9712)
  master/internal/rm/kubernetesrm/jobs.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: set rq errors (#9713)
  master/internal/api_workspace.go
Due: go-fmt-import, gofumpt, golangci-lint
