Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

feat: jcom/INFENG-600/PR-template-cleanup
  .github/pull_request_template.md
  .github/workflows/semantic.yml
Due: none

remove the work 'bracketed'
  .github/pull_request_template.md
Due: none

Respond to more feedback
  webui/react/src/components/RegisterCheckpointModal.tsx
  webui/react/src/hooks/useCheckpointFlow.tsx
  webui/react/src/hooks/useFetchModels.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsWorkloads.tsx
Due: web-js-lint-check

fix: prevent checkpoint modals from closing on their own [ET-116] [ET-120] (#9094)
  webui/react/src/components/CheckpointModalTrigger.test.tsx
  webui/react/src/components/CheckpointModalTrigger.tsx
  webui/react/src/components/RegisterCheckpointModal.module.scss
  webui/react/src/components/RegisterCheckpointModal.tsx
  webui/react/src/hooks/useCheckpointFlow.tsx
  webui/react/src/hooks/useFetchModels.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentCheckpoints.tsx
  webui/react/src/pages/ExperimentDetails/ExperimentTrials.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsMetrics.tsx
  webui/react/src/pages/TrialDetails/TrialDetailsWorkloads.tsx
  webui/react/src/pages/TrialDetails/TrialInfoBox.tsx
Due: web-js-lint-check

fix: make sure that the genai helm chart services work across namespaces
  helm/charts/determined/templates/genai/genai-deployment.yaml
Due: none

chore: bump version: 0.30.0-rc4 -> 0.30.0-rc5
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

do impl
  harness/determined/deploy/aws/deployment_types/base.py
  harness/determined/deploy/aws/templates/simple.yaml
Due: none

docs: add release notes for 0.30.0
  docs/release-notes.rst
  docs/release-notes/profiling-v2.rst
Due: none

docs: updates release date to Thursday 4/4
  docs/release-notes.rst
Due: none

feat: INFENG-600 remove single commit legacy validation
  .github/workflows/semantic.yml
Due: none

ci: INFENG-600 remove single commit legacy validation (#9104)
  .github/workflows/semantic.yml
Due: none

no comments
  webui/react/src/e2e/tests/userManagement.spec.ts
Due: web-js-lint-check

fix: make sure that the genai helm chart services work across namespaces (#9102)
  helm/charts/determined/templates/genai/genai-deployment.yaml
Due: none

docs: add instructions on deploying determined via HPE MLDES
  docs/setup-cluster/_index.rst
  docs/setup-cluster/mldes/_index.rst
Due: none

make fmt
  docs/setup-cluster/mldes/_index.rst
Due: none

fixing some typos in Ashton's suggestions
  webui/react/src/e2e/models/components/Table/InteractiveTable.ts
Due: web-js-lint-check

chore: test trial view performance
  master/static/migrations/20240403125627_test-trials-view.tx.down.sql
  master/static/migrations/20240403125627_test-trials-view.tx.up.sql
Due: none

apply to other templates
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
Due: none

docs
  docs/release-notes/tag-to-dynamic-agents.rst
  docs/setup-cluster/aws/install-on-aws.rst
Due: none

chore: upgrade Bun to fix race condition in tests [DET-10193] (#9082)
  go.mod
  go.sum
Due: none

fix: add missing k8s job submission times to allocations (#9028)
  master/internal/db/postgres_tasks.go
  master/internal/db/postgres_tasks_intg_test.go
  master/internal/rm/agentrm/agent.go
  master/internal/rm/agentrm/agent_resource_manager.go
  master/internal/rm/db.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager.go
  master/internal/rm/kubernetesrm/kubernetes_resource_manager_intg_test.go
  master/internal/rm/kubernetesrm/resource_pool.go
  master/internal/rm/tasklist/task_list.go
  master/pkg/model/task.go
Due: go-fmt-import, gofumpt, golangci-lint

formatting
  webui/react/src/e2e/models/components/Table/InteractiveTable.ts
Due: web-js-lint-check

fix tests
  master/internal/api_runs_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

no comment
  webui/react/src/e2e/models/components/Table/InteractiveTable.ts
Due: web-js-lint-check

feat: jcom/INFENG-600/PR-template-cleanup
  .github/pull_request_template.md
Due: none

fixes
  master/internal/api_runs.go
Due: go-fmt-import, gofumpt, golangci-lint

update links
  docs/setup-cluster/mldes/_index.rst
Due: none

feat: Pre-select ws when launching notebook
  webui/react/src/components/JupyterLabModal.tsx
Due: web-js-lint-check

updated api build
  proto/pkg/apiv1/api.pb.go
Due: none

use useAsync
  webui/react/src/components/Searches/Searches.tsx
Due: web-js-lint-check

use at
  webui/react/src/components/JupyterLabModal.tsx
Due: web-js-lint-check

docs: misc review feedback
  docs/release-notes.rst
Due: none

docs: add release notes for 0.30.0 (#9103)
  docs/release-notes.rst
  docs/release-notes/profiling-v2.rst
Due: none

chore: bump version: 0.30.0-rc5 -> 0.30.0
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

Add chart '0.30.0' due to release
  determined-helm-chart_0.30.0.tgz
  index.yaml
Due: none

update -> select
  master/internal/api_runs.go
Due: go-fmt-import, gofumpt, golangci-lint

feat: Pre-select ws when launching notebook (#9109)
  webui/react/src/components/JupyterLabModal.tsx
Due: web-js-lint-check

fix select
  master/internal/api_runs.go
Due: go-fmt-import, gofumpt, golangci-lint
