Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

Import from kit
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/ActionSheet.tsx
  webui/react/src/pages/DesignKit.tsx
Due: web-js-lint-check, web-misc-lint-check

Fix after rebase
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/pages/DesignKit.tsx
Due: web-js-lint-check

Apply Nameplate to NavigationTabbar as well
  webui/react/src/components/ActionSheet.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.module.scss
  webui/react/src/components/NavigationTabbar.tsx
Due: web-js-lint-check

refactor: use Nameplate component in NavigationSidebar [WEB-1057] (#8152)
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/ActionSheet.tsx
  webui/react/src/components/NavigationSideBar.module.scss
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.module.scss
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/pages/DesignKit.tsx
Due: web-js-lint-check, web-misc-lint-check

chore: indirect import for jobs to avoid import cycle
  master/internal/api_experiment.go
  master/internal/api_job.go
  master/internal/command/command.go
  master/internal/command/command_job_service.go
  master/internal/core.go
  master/internal/experiment.go
  master/internal/experiment_job_service.go
  master/internal/job/jobservice/jobservice.go
Due: go-fmt-import, gofumpt, golangci-lint

fix import
  master/internal/api_experiment.go
Due: go-fmt-import, gofumpt, golangci-lint

ci: move config file to new location
  .circleci/real_config.yml
Due: none

ci: modify old config to prep for dynamic loading
  .circleci/real_config.yml
Due: none

ci: add dynamic setup config
  .circleci/config.yml
Due: none

ci: alternate mechanism for running nightly tests (#8221)
  .circleci/config.yml
  .circleci/real_config.yml
Due: none

chore: add back missing commit in Python SDK (#8206)
  harness/determined/common/api/bindings.py
  harness/determined/common/experimental/experiment.py
  harness/tests/determined/common/experimental/test_experiment.py
  master/internal/api_experiment.go
  proto/pkg/apiv1/api.pb.go
  proto/pkg/apiv1/api.pb.gw.go
  proto/pkg/apiv1/experiment.pb.go
  proto/src/determined/api/v1/api.proto
  proto/src/determined/api/v1/experiment.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

chore: indirect import for jobs to avoid import cycle (#8238)
  master/internal/api_experiment.go
  master/internal/api_job.go
  master/internal/command/command.go
  master/internal/command/command_job_service.go
  master/internal/core.go
  master/internal/experiment.go
  master/internal/experiment_job_service.go
  master/internal/job/jobservice/jobservice.go
Due: go-fmt-import, gofumpt, golangci-lint

update det-ui
  webui/react/package-lock.json
  webui/react/package.json
Due: web-misc-lint-check

fmt
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/components/WorkspaceFilter.tsx
Due: web-js-lint-check

fix typo
  webui/react/src/components/WorkspaceFilter.tsx
Due: web-js-lint-check

chore: bump version: 0.26.2-rc3 -> 0.26.2-rc4
  .bumpversion.cfg
  .circleci/config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

chore: update Avatar component in UI kit [WEB-1055, WEB-1734] (#8178)
  webui/react/package-lock.json
  webui/react/package.json
  webui/react/src/components/DynamicIcon.module.scss
  webui/react/src/components/DynamicIcon.tsx
  webui/react/src/components/ModelRegistry.tsx
  webui/react/src/components/NavigationSideBar.tsx
  webui/react/src/components/NavigationTabbar.tsx
  webui/react/src/components/ProjectCard.tsx
  webui/react/src/components/ResourcePoolBindings.tsx
  webui/react/src/components/Table/Table.tsx
  webui/react/src/components/UserAvatar.tsx
  webui/react/src/components/WorkspaceFilter.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/WorkspaceList/WorkspaceCard.tsx
Due: web-js-lint-check, web-misc-lint-check

chore: refactor filterformstore
  webui/react/src/components/FilterForm/components/FilterFormStore.test.ts
  webui/react/src/components/FilterForm/components/FilterFormStore.ts
  webui/react/src/components/FilterForm/components/type.ts
Due: web-js-lint-check

fix: login error message
  webui/react/src/components/DeterminedAuth.tsx
Due: web-js-lint-check

fix imports
  webui/react/src/components/kit/Accordion.test.tsx
  webui/react/src/components/kit/Spinner.test.tsx
Due: web-js-lint-check

formatting
  webui/react/src/components/Badge.tsx
  webui/react/src/components/kit/Accordion.test.tsx
  webui/react/src/components/kit/Avatar.test.tsx
  webui/react/src/components/kit/Avatar.tsx
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/components/kit/Modal.tsx
  webui/react/src/components/kit/Spinner.test.tsx
  webui/react/src/components/kit/Theme/UI.tsx
  webui/react/src/components/kit/Theme/themeUtils.ts
  webui/react/src/components/kit/Theme/themesUtils.test.ts
  webui/react/src/components/kit/internal/UPlot/UPlotChart.tsx
  webui/react/src/hooks/useSettings.test.tsx
  webui/react/src/hooks/useSettingsProvider.tsx
  webui/react/src/pages/TaskLogs.test.tsx
Due: web-js-lint-check

remove unused files
  webui/react/src/components/DynamicIcon.tsx
  webui/react/src/components/Image/Image.test.tsx
  webui/react/src/components/Image/Image.tsx
  webui/react/src/components/UPlot/UPlotChart.tsx
  webui/react/src/components/kit/Accordion.test.tsx
  webui/react/src/components/kit/Avatar.test.tsx
  webui/react/src/components/kit/Avatar.tsx
  webui/react/src/components/kit/CodeEditor.tsx
  webui/react/src/components/kit/Drawer.tsx
  webui/react/src/components/kit/LineChart.tsx
  webui/react/src/components/kit/Modal.tsx
  webui/react/src/components/kit/Select.tsx
  webui/react/src/components/kit/Spinner.test.tsx
  webui/react/src/components/kit/Theme/UI.tsx
  webui/react/src/components/kit/Theme/themeUtils.ts
  webui/react/src/components/kit/Theme/themes.ts
  webui/react/src/components/kit/Theme/themesUtils.test.ts
  webui/react/src/components/kit/Toast.tsx
  webui/react/src/components/kit/internal/CodeMirrorEditor.tsx
  webui/react/src/components/kit/internal/functions.ts
  webui/react/src/components/kit/internal/theme.ts
Due: web-js-lint-check

formatting
  webui/react/src/components/CreateGroupModal.test.tsx
  webui/react/src/components/DeleteGroupModal.test.tsx
  webui/react/src/components/ResourcePoolCard.test.tsx
  webui/react/src/components/UPlot/UPlotScatter.tsx
  webui/react/src/components/kit/internal/UPlot/UPlotChart.tsx
  webui/react/src/hooks/useTheme.ts
  webui/react/src/pages/Cluster/ClusterHistoricalUsageChart.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/pages/TrialDetails/TrialChart.tsx
Due: web-js-lint-check

update imports
  webui/react/src/hooks/useTheme.ts
Due: web-js-lint-check

remove kit directory
  webui/react/src/components/kit/internal/Image/Image.test.tsx
  webui/react/src/components/kit/internal/Image/Image.tsx
  webui/react/src/components/kit/internal/UPlot/UPlotChart.tsx
Due: web-js-lint-check

re-remove DarkLight usage
  webui/react/src/components/Image/Image.test.tsx
  webui/react/src/components/Image/Image.tsx
  webui/react/src/components/UPlot/UPlotChart.tsx
  webui/react/src/components/UserAvatar.tsx
Due: web-js-lint-check

formatting
  webui/react/src/components/UPlot/UPlotScatter.tsx
  webui/react/src/pages/Cluster/ClusterHistoricalUsageChart.tsx
  webui/react/src/pages/TrialDetails/TrialChart.tsx
Due: web-js-lint-check

make the sidecar port configurable
  harness/determined/deploy/aws/templates/simple.yaml
Due: none

fix: GetTasks doesn't respect rbac
  master/internal/api_experiment_intg_test.go
  master/internal/api_project_intg_test.go
  master/internal/api_tasks.go
  master/internal/api_tasks_intg_test.go
  master/internal/api_user_intg_test.go
  master/internal/api_workspace_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: prevent passing login r= param to relayState
  webui/react/src/ee/SamlAuth.test.ts
  webui/react/src/ee/SamlAuth.ts
Due: web-js-lint-check

fix: GetTasks doesn't respect rbac (#8233)
  master/internal/api_experiment_intg_test.go
  master/internal/api_project_intg_test.go
  master/internal/api_tasks.go
  master/internal/api_tasks_intg_test.go
  master/internal/api_user_intg_test.go
  master/internal/api_workspace_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

remove partial updates
  webui/react/src/components/FilterForm/components/FilterFormStore.ts
  webui/react/src/components/FilterForm/components/type.ts
Due: web-js-lint-check

minor fixes
  webui/react/src/components/UserAvatar.test.tsx
  webui/react/src/hooks/useSettingsProvider.tsx
  webui/react/src/pages/DesignKit.tsx
  webui/react/src/stores/index.tsx
Due: web-js-lint-check

chore: move everything in /Clusters into /Cluster
  webui/react/src/pages/Cluster/ClustersOverview.tsx
  webui/react/src/pages/Cluster/ClustersQueuedChart.module.scss
  webui/react/src/pages/Cluster/ClustersQueuedChart.tsx
  webui/react/src/pages/Clusters.tsx
  webui/react/src/pages/ResourcePool/ResourcepoolDetail.tsx
Due: web-js-lint-check

rename clusters files
  webui/react/src/pages/Cluster.tsx
  webui/react/src/pages/Cluster/ClusterOverview.tsx
  webui/react/src/pages/Cluster/ClusterQueuedChart.module.scss
  webui/react/src/pages/Cluster/ClusterQueuedChart.tsx
  webui/react/src/pages/ResourcePool/ResourcepoolDetail.tsx
  webui/react/src/routes/index.tsx
Due: web-js-lint-check

better imports, naming uses Cluster
  webui/react/src/pages/Cluster.tsx
  webui/react/src/pages/Cluster/ClusterOverview.tsx
  webui/react/src/pages/Cluster/ClusterQueuedChart.tsx
  webui/react/src/pages/ResourcePool/ResourcepoolDetail.tsx
  webui/react/src/routes/index.tsx
Due: web-js-lint-check

edit step content
  docs/tutorials/detached-mode/_index.rst
  docs/tutorials/detached-mode/distributed-training-checkpointing.rst
  docs/tutorials/detached-mode/save-load-checkpoints.rst
  docs/tutorials/detached-mode/simple-metrics-reporting.rst
  docs/tutorials/detached-mode/transition-managed-determined.rst
Due: none

docs: Add article for using detached mode
  docs/tutorials/_index.rst
  docs/tutorials/detached-mode/_index.rst
  docs/tutorials/detached-mode/distributed-training-checkpointing.rst
  docs/tutorials/detached-mode/save-load-checkpoints.rst
  docs/tutorials/detached-mode/simple-metrics-reporting.rst
  docs/tutorials/detached-mode/transition-managed-determined.rst
  docs/tutorials/viewing-epoch-based-metrics.rst
Due: none
