Repository determined-ai/determined: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-js-lint-check, web-misc-lint-check, go-fmt-import, gofumpt, golangci-lint

Path conditions:
  web-js-lint-check: any of: ^webui/react/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  web-misc-lint-check: any of: ^webui/react/ and \.(md|markdown|mdown)$, \.json$
  go-fmt-import: any of: \.go$, but not: ^(proto/pkg)
  gofumpt: any of: \.go$, but not: ^(proto/pkg)
  golangci-lint: any of: \.go$, but not: ^(proto/pkg)

Revert doc changes:
  docs/release-notes.rst
Due: none

revert doc changes
  docs/release-notes.rst
Due: none

Revert "adding 0.27 release notes"
  docs/release-notes.rst
Due: none

docs: add release notes for 0.27.0
  docs/release-notes/allow-empty-model-definitions.rst
  docs/release-notes/checkpoint-fs-server-download.rst
Due: none

docs: adding 0.27 release notes
  docs/release-notes.rst
Due: none

fix onallocation and post pause/kill status changes
  master/internal/api_generic_tasks.go
  master/internal/db/postgres_tasks.go
Due: go-fmt-import, gofumpt, golangci-lint

remove old terminate task function
  master/internal/db/postgres_tasks.go
Due: go-fmt-import, gofumpt, golangci-lint

change onallocation
  master/internal/api_generic_tasks.go
  master/internal/db/postgres_tasks.go
Due: go-fmt-import, gofumpt, golangci-lint

review fixes
  .git-blame-ignore-revs
  harness/.flake8
  harness/determined/cli/__init__.py
  harness/determined/cli/cli.py
  harness/determined/cli/command.py
  harness/determined/cli/experiment.py
  harness/determined/cli/notebook.py
  harness/determined/cli/ntsc.py
  harness/determined/cli/remote.py
  harness/determined/cli/shell.py
  harness/determined/cli/task.py
  harness/determined/cli/tensorboard.py
  harness/tests/cli/test_cli.py
Due: none

Update docs/release-notes.rst
  docs/release-notes.rst
Due: none

fix: don't drop active_user on expired tokens [MLG-1494]
  harness/determined/common/api/authentication.py
  harness/tests/cli/test_auth.py
  harness/tests/cli/util.py
  harness/tests/common/api/auth_v0.json
  harness/tests/common/api/test_authentication.py
  harness/tests/common/api/test_certs.py
Due: none

fix: don't drop active_user on expired tokens [MLG-1494] (#8653)
  harness/determined/common/api/authentication.py
  harness/tests/cli/test_auth.py
  harness/tests/cli/util.py
  harness/tests/common/api/auth_v0.json
  harness/tests/common/api/test_authentication.py
  harness/tests/common/api/test_certs.py
Due: none

chore: Add warning to Patch Mast config to specify changes are ephemeral (#8577)
  harness/determined/cli/master.py
  harness/determined/common/api/bindings.py
  master/internal/api_master.go
  proto/buf.image.bin
  proto/pkg/apiv1/master.pb.go
  proto/src/determined/api/v1/master.proto
  webui/react/src/services/api-ts-sdk/api.ts
Due: web-js-lint-check, go-fmt-import, gofumpt, golangci-lint

docs: add release notes for 0.27.0 (#8671)
  docs/release-notes.rst
  docs/release-notes/allow-empty-model-definitions.rst
  docs/release-notes/checkpoint-fs-server-download.rst
Due: none

chore: bump version: 0.27.0-rc4 -> 0.27.0
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

Add chart '0.27.0' due to release
  determined-helm-chart_0.27.0.tgz
  index.yaml
Due: none

chore: add docs dropdown link for new version
  docs/_static/version-switcher/versions.json
Due: none

chore: bump version: 0.27.0-dev0 -> 0.27.1-dev0
  .bumpversion.cfg
  .circleci/real_config.yml
  VERSION
  docs/_static/version-switcher/versions.json
  harness/determined/__version__.py
  harness/determined/deploy/aws/templates/efs.yaml
  harness/determined/deploy/aws/templates/fsx.yaml
  harness/determined/deploy/aws/templates/govcloud.yaml
  harness/determined/deploy/aws/templates/lore.yaml
  harness/determined/deploy/aws/templates/secure.yaml
  harness/determined/deploy/aws/templates/simple-rds.yaml
  harness/determined/deploy/aws/templates/simple.yaml
  harness/setup.py
  helm/charts/determined/Chart.yaml
  model_hub/model_hub/__version__.py
  model_hub/setup.py
  webui/react/vite.config.mts
Due: web-js-lint-check

removing unnecessary variable
  master/internal/api_user_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: delete unused ProjectModel from proto
  proto/buf.image.bin
  proto/pkg/projectv1/project.pb.go
  proto/src/determined/project/v1/project.proto
Due: none

delete sql files
  master/static/migrations/20240110104459_delete-unused-project-model.tx.down.sql
  master/static/migrations/20240110104459_delete-unused-project-model.tx.up.sql
Due: none

chore: reinstate original DuplicateError to postgres_users.go (#8657)
  master/internal/api/error.go
  master/internal/api_user.go
  master/internal/api_user_intg_test.go
  master/internal/user/postgres_users.go
  master/internal/user/postgres_users_intg_test.go
  master/internal/user/service.go
  master/internal/user/service_intg_test.go
Due: go-fmt-import, gofumpt, golangci-lint

chore: retouched master-service.yaml to be more readable
  helm/charts/determined/templates/master-service.yaml
Due: none

fix: minor helm lint error
  helm/charts/determined/templates/master-service.yaml
Due: none

fix: Helm master-service clusterip mngt. openshift
  helm/charts/determined/templates/master-service.yaml
Due: none

lint
  harness/determined/cli/task.py
  master/internal/api_generic_tasks.go
  master/internal/db/postgres_tasks.go
  master/pkg/model/task.go
Due: go-fmt-import, gofumpt, golangci-lint

fix: Helm master-service clusterip mngt. openshift (#8546)
  helm/charts/determined/templates/master-service.yaml
Due: none

add success message
  harness/determined/cli/task.py
Due: none

success message for kill
  harness/determined/cli/task.py
Due: none

chore: delete unused project model (#8673)
  master/static/migrations/20240110104459_delete-unused-project-model.tx.down.sql
  master/static/migrations/20240110104459_delete-unused-project-model.tx.up.sql
  proto/buf.image.bin
  proto/pkg/projectv1/project.pb.go
  proto/src/determined/project/v1/project.proto
Due: none

full upload loop
  docs/deploy/scrape.py
Due: none

linting
  docs/deploy/scrape.py
Due: none

wip for supporting genai deployment in determined
  helm/charts/determined/templates/genai-deployment.yaml
  helm/charts/determined/templates/genai-persistent-volume-claim.yaml
  helm/charts/determined/templates/genai-service.yaml
  helm/charts/determined/templates/master-config.yaml
  helm/charts/determined/templates/master-permissions.yaml
  helm/charts/determined/values.yaml
Due: none

supporting agents
  helm/charts/determined/templates/genai-deployment.yaml
  helm/charts/determined/values.yaml
Due: none

docs: Update Docker Installation Instructions
  docs/setup-cluster/on-prem/requirements.rst
Due: none

docs: Update references to RHEL and CentOS to Enterprise Linux
  docs/setup-cluster/on-prem/options/linux-packages.rst
Due: none

to stderr
  docs/deploy/scrape.py
Due: none
